[2016-06-17 09:56] Joomv commented on #384
Give me 10 minutes.

From: Mike Veeckmans [mailto:notifications@github.com]
Sent: 17 June 2016 10:47
To: joomla/joomla-websites <joomla-websites@noreply.github.com>
Cc: Rowan Hoskyns Abrahall <github@datatonic.net>; Mention <mention@noreply.github.com>
Subject: Re: [joomla/joomla-websites] [jorg] Blog post order (Community/Leadership) (#384)

Assigned #384 <https://github.com/joomla/joomla-website

[2016-06-17 12:00] mbabker commented on #384
They're fixed.

Considering the modules are only showing items from an RSS feed, the source has to have the current content to display.  Unless mod_feed got a lot smarter overnight and supports paginating however far back 6 years has to go 😆

[2016-06-17 12:00] #384 closed

[2016-06-17 12:52] jeckodevelopment commented on #384
Thank you Michael!

[2016-06-17 13:02] jeckodevelopment commented on #382
Width: 492 px
![jorg492](https://cloud.githubusercontent.com/assets/733133/16151197/f9abf9c6-349b-11e6-9f65-444fdf033c54.PNG)

Width: 466px
![jord466](https://cloud.githubusercontent.com/assets/733133/16151212/07ae0424-349c-11e6-9917-e53cd90cc889.PNG)

Menu items displayed in a second row (without background) and buttons issue.
Can we use the method for mobile also for these size?

[2016-06-17 13:03] Sandra97 commented on #382
Are you doing these tests from your laptop?

[2016-06-17 13:05] jeckodevelopment commented on #383
@marijkestuivenberg can you look at this?

[2016-06-17 13:05] jeckodevelopment commented on #382
Desktop PC

[2016-06-17 13:07] Sandra97 commented on #382
On PC, you can do only "tests", it's just a simulation. Responsive display has to be verified from mobile devices, not from a laptop/PC.

[2016-06-17 13:09] jeckodevelopment commented on #382
ok :)

[2016-06-17 13:12] jeckodevelopment opened #385 "[jorg] One page = two different URLs"
The page **Contribute to Joomla!** is accessible from two different URLs, this creates duplicate contents on the website.

Top menu item **Contribute** has the URL: `https://www.joomla.org/contribute-to-joomla.html`
The page is available also from the URL: `https://www.joomla.org/about-joomla/contribute-to-joomla.html`
(a link to this page is also included in this page of OSM: `http://opensourcema

[2016-06-17 13:20] jeckodevelopment opened #386 "[jcomm] Author/Date not needed in "Translations" page"
`https://community.joomla.org/translations/joomla-3-translations.html`

I think that we can hide publishing date and author in the translation blog view.

![jcomm-author](https://cloud.githubusercontent.com/assets/733133/16151747/fa80935e-349e-11e6-9525-9864495c62d4.PNG)

[2016-06-17 13:21] Sandra97 commented on #385
Will see what I can do.

[2016-06-17 13:21] jeckodevelopment commented on #385
Thank you @Sandra97
But, who can update the link at OSM? @marijkestuivenberg ?

[2016-06-17 13:22] Sandra97 commented on #385
I don't know. But don't worry, if I succeed, I'll add a redirection ;)

[2016-06-17 13:23] Radek-Suski commented on #385
@Saurabh1 ??

[2016-06-17 13:24] jeckodevelopment opened #387 "[jcomm] 404 error on "JoomlaSocial" menu item"
If I click on the "JoomlaSocial" menu item (right menu) under the "Connect" page, i receive a 404 error.
URL: `https://community.joomla.org/connect/joomlasocial.html`

[2016-06-17 13:24] mbabker commented on #382
After you downsize the browser you really need to refresh the page.  There are other little quirks (like the JavaScript to handle sizing/sticking the menu bar) that just aren't responsive to someone resizing their browser in every possible direction (and as someone who can barely write JavaScript to save his life and finally started getting LESS when everyone went SCSS, the furthest I go when test

[2016-06-17 13:31] Joomv commented on #387
Fixed and closed.

I had to reimport the content this morning due to some ID issues that I hadn't noticed.  I'm now running a screaming frog scan but I think I've found all the issues that caused.

[2016-06-17 13:31] #387 closed

[2016-06-17 13:35] jeckodevelopment commented on #387
Good job. Thank you!

[2016-06-17 13:35] Sandra97 commented on #385
It's done and https://www.joomla.org/about-joomla/contribute-to-joomla.html redirected to https://www.joomla.org/contribute-to-joomla.html so no 404 from OSM website or from Google.
Closing this issue.
Re-open if needed

[2016-06-17 13:35] #385 closed

[2016-06-17 13:36] jeckodevelopment commented on #387
@Joomv , i think we can hide the author and date also here.

[2016-06-17 13:41] jeckodevelopment commented on #382
I think we can close this issue. Re-open if needed.
Thank you :)

[2016-06-17 13:41] #382 closed

[2016-06-17 13:52] jeckodevelopment opened #388 "[jevnt] Unused column in event list view"
In the following pages, we have an unused column: "_End_"
`https://events.joomla.org/joomladays`
`https://events.joomla.org/user-group-meetings`
`https://events.joomla.org/joomla-conferences`
`https://events.joomla.org/archive`

This because the date of start and end of the event is shown in the "_Start_" column.
Proposal: Why don't we rename it to "_Date_" and hide the "_End_" column?

[2016-06-17 13:53] Radek-Suski commented on #388
I don't know if it make sense to change it now as we are planning to move the events site into community.j.org very soon. I guess @Joomv will probably improve the templates as well

[2016-06-17 14:06] Joomv commented on #387
Done

[2016-06-17 14:06] Joomv commented on #386
Done

[2016-06-17 14:06] #386 closed

[2016-06-17 14:35] jeckodevelopment commented on #388
We can consider it for the next version :)

[2016-06-17 17:19] Joomv commented on #378
I've checked the override - pagination call is identical to core.
I've replaced the file.
I still can't replicate it.

[2016-06-17 17:38] Sandra97 commented on #378
I currently have the issue on this page https://community.joomla.org/blogs.html even if I refresh the page (I tested it with Firefox, Chrome and Edge)
![joomla community leadership blogs 2016-06-17 13-37-49](https://cloud.githubusercontent.com/assets/4682328/16159442/d1c96a5c-3490-11e6-8035-c9c250e5e630.png)

[2016-06-17 17:55] Joomv opened #389 "External Links with 400/500 No Responses in Content"
I have fixed all internal errors.
There remain 147 No Response, 250 4xx Responses and 41 5xx Responses for external links.
I could really do with someone helping with this.

[2016-06-17 18:11] Joomv commented on #378
Can you humour me and try again please. That screenshot shows me that the override I put in the the pagination results has killed that error - I've just put in overrides for start and end too - I am hoping that this gets past this.  It appears to be a caching issue.

[2016-06-17 18:25] MATsxm commented on #378
@Joomv
as @Sandra97 is having fun with Morpheus right now, I checked and everything looks ok to me.
Thanks

[2016-06-17 18:39] Sandra97 commented on #378
I'm back... It's ok now! Thanks.

[2016-06-17 18:53] Sandra97 commented on #389
I'm ready to help!

[2016-06-18 07:47] Cathy15 opened #390 "[joomla.org]"
Hi,
My name is Cathy and I run the website for the Alpha Phi Fraternity. Our website stopped working out of no where when I was updating it and I know I didn't press anything wrong. It seems as if the website is gone! I don't know what to do. This is all that appears when I try to go to the joomla login for the admin.

<img width="500" alt="screen shot 2016-06-18 at 2 54 55 am" src="https://cloud.

[2016-06-18 09:02] #378 closed

[2016-06-18 09:03] zero-24 commented on #378
Looks good to me too. Thanks :+1:

[2016-06-18 09:47] Sandra97 commented on #390
Hi,
This repository is ONLY for reporting issues with the *.joomla.org websites, not the Joomla! CMS.

For user support issues, please go to:
-http://forum.joomla.org/
-https://docs.joomla.org/Main_Page
-https://issues.joomla.org/

Regards,
Thanks

[2016-06-18 09:47] #390 closed

[2016-06-19 22:01] mbabker commented on #168
The GTM code `GTM-NVGP9X` is still resulting in requests to https://www.googletagmanager.com/gtm.js?id=GTM-NVGP9X returning a 404.  Please someone validate that everything is configured correctly and let me know when it is, otherwise I'm just going to remove the code and be done with it.

[2016-06-20 08:56] aDaneInSpain commented on #168
The tag for help.joomla.org now loads correctly. Sorry, I thought it was already published.

[2016-06-20 10:31] Joomv commented on #325
No longer an issue - closing

[2016-06-20 10:31] #325 closed

[2016-06-20 10:32] Joomv commented on #36
@mikeveeckmans Making sure you're aware of this when setting up the new ads and closing

[2016-06-20 10:32] #36 closed

[2016-06-20 10:33] Joomv commented on #389
Sandra is doing a fantastic job of working through these, closing.

[2016-06-20 10:33] #389 closed

[2016-06-20 13:52] genr8r commented on #390
You can also look for a professional Joomla service provider at https://resources.joomla.org

[2016-06-20 14:06] propellerhuvud opened #391 "[jcomm] Old account login removed?"
Hi,
I'm trying to login to the community portal (For translation of docs and upcoming JUG registration).
Now that the login is updated for 2-factor use, It looks like my old account is no longer working.
Can anyone explain what has happened, and what I should do. Can the old account be reactivated, or do I have to create a new account? None of my email addresses works for restoring passwords.

Sin

[2016-06-20 14:26] MATsxm commented on #391
Hello @propellerhuvud
Just FYI, if you want to help in translating the JDocs, you should not login via the Community portal but directly on the Documentation site.
Please see: https://docs.joomla.org/JDOC:Documentation_Translators and welcome aboard!
Regards,

[2016-06-20 14:37] Joomv commented on #391
For the community portal, if you didn't own an article, jug listing or support ticket, your account was not brought over.  Please register again.  Thanks.

[2016-06-20 14:37] #391 closed

[2016-06-20 14:55] propellerhuvud commented on #391
Thank you for the clarification Marc!
I thought the login was centralized after the remake.
I will follow your instruction! :-)

Regards
/Bjarne

_________________
Bjarne Dahlin
Dahlin Studios
Kontor: Brantingsgatan 41
Adress: 115 35 Stockholm, Sweden
Mobil: +46(0)70 845 02 46
E-post: bjarne@dahlinstudios.se
Webb: www.dahlinstudios.se
On 20 Jun 2016, at 16:26, Marc-Antoine Thevenet wrote:

[2016-06-20 15:16] propellerhuvud commented on #391
Thank you for the response Rowan!
I'll fix a new account to register my JUG :-)

Regards
/Bjarne

_________________
Bjarne Dahlin
Dahlin Studios
Kontor: Brantingsgatan 41
Adress: 115 35 Stockholm, Sweden
Mobil: +46(0)70 845 02 46
E-post: bjarne@dahlinstudios.se
Webb: www.dahlinstudios.se
On 20 Jun 2016, at 16:37, Rowan Hoskyns Abrahall wrote:

[2016-06-20 19:23] jeckodevelopment commented on #391
@Joomv should we publish a notice about the "account issue" on CJO?

[2016-06-20 21:41] Joomv commented on #391
It could be worth it – but I don’t actually see an issue here,

The OP in this case was looking to log into the wrong project property anyway (he needed to be in docs.) and didn’t actually own anything historically on the site, therefore his user was not brought across.

Historically this property has had a rather “haphazard” approach to user accounts with above registered permissions and as curre

[2016-06-21 01:08] jeckodevelopment commented on #391
Completely agree with your opinion ;)

[2016-06-22 08:08] brianteeman opened #392 "[jcomm] Meta data and twitter data"
https://community.joomla.org/Translations.html

The metadata is outdated

[2016-06-22 08:45] Joomv commented on #392
I've dealt with this, but I am still waiting on the Translation Team to sort their section out properly.  I believe the issue has been open over 3 months.

[2016-06-22 09:36] brianteeman commented on #392
OK - thanks - it came up while testing a core bug so thought I should
report it. Guess I should have searched first - naughty me

On 22 June 2016 at 09:45, Rowan Hoskyns Abrahall <notifications@github.com>
wrote:

--
Brian Teeman
Co-founder Joomla! and OpenSourceMatters Inc.
http://brian.teeman.net/

[2016-06-22 09:52] Joomv commented on #392
Wasn’t having a pop.  I am more than happy to fix stuff like this if it is found, I was merely lamenting the fact that this section has been neglected by the team responsible for it.

If you find stuff like this on CJO – tag me in it and I’ll sort it.

Rowan.

From: Brian Teeman [mailto:notifications@github.com]
Sent: 22 June 2016 10:36
To: joomla/joomla-websites <joomla-websites@noreply.github.co

[2016-06-22 16:14] RCheesley commented on #358
@genr8r I'm sorry to hear you've had difficulties, please do join the SEO Team Contributors group on Glip, that is the quickest way to get in touch with the SEO team who will be able to help with issues like this going forward.

Ruth

[2016-06-22 18:17] genr8r commented on #358
thanks Ruth.  I think I have everything I need at the moment.  I should have the GTM code in place within the next 48 hours.

[2016-06-22 23:04] mandville commented on #369
most of these are existing profiles that were reported back in January and again in march and is an ongoing issue.eg https://volunteers.joomla.org/joomlers/business-ballance is on the list on this post https://github.com/joomla/joomla-websites/issues/98#issuecomment-217525196
i believe therefore that the site is acting as it should allowin people to easiy register the issue is the administration o

[2016-06-23 12:36] aDaneInSpain commented on #369
GitHub is a great centralized place to create, assign, discuss and resolve issues. I agree that this is not necessarily a technical issue, but it is an issue with the site. Does it bother you that it is created here?

[2016-06-23 19:42] Sandra97 commented on #309
As it seems the Phase 2 will happen the day it will snow in SXM, I have fixed the issues related with external links (No Response - 4xx Responses and 5xx Responses).
Some broken links may still exist, I'll find them as I'm also cleaning the HTML code of the articles and re-checking the links.

[2016-06-24 18:58] genr8r commented on #358
@RCheesley I have the template updated and see that the appropriate GTM is showing up in source. We still have a GA code that is coming in off a plugin that was previously installed. So, that is both a GA code and GTM right now. Am I correct that I should unpublish the GA code so that only the GTM coming in from the template is left?

[2016-06-24 19:14] genr8r commented on #241
Needed a component update for our ticketing system to allow nocaptcha.  I also setup new nocaptcha keys tied to the same admin account for JRD gmail.

[2016-06-24 19:14] #241 closed

[2016-06-24 19:17] genr8r commented on #241
@mbabker I have the latest jorg template installed and the developer for our georadius component indicated there are updates coming no later than August that include https for all googlemaps urls. In the meantime I am hunting down any other http references on the site that might be causing issues.

[2016-06-24 19:24] genr8r commented on #367
@seagul30 thanks for the heads up on this. I have the issue resolved on both forms. Please let me know here if you have any further technical problems.

[2016-06-24 19:24] #367 closed

[2016-06-24 19:30] genr8r commented on #246
@uglyeoin We are between communications coordinators at the moment. I am going to be working hard to get someone new in that role in the next few weeks. When that happens I am going to be making a push for Acy. Would love to have access to your JUG template to work toward a consistent look across Joomla properties and avoid duplicate efforts...

[2016-06-25 00:44] jeckodevelopment commented on #358
@genr8r yes, you should leave only the GTM code coming from the template.
Please remove the GA plugin.

[2016-06-25 00:46] jeckodevelopment commented on #246
@genr8r I agree with you about a consistent look across the Joomla properties.
Please involve @mikeveeckmans and Marketing Team. They can help coming to a common template!

[2016-06-25 12:01] #309 closed

[2016-06-25 12:07] Sandra97 commented on #268
As the new image seems to fit to Twitter requirements, I'm closing this issue.
Re-open if needed

[2016-06-25 12:07] #268 closed

[2016-06-25 12:20] Sandra97 commented on #180
No answer in the last 6 months.
Closing this issue.
Re-open if needed.

[2016-06-25 12:20] #180 closed

[2016-06-25 12:26] Sandra97 commented on #132
After several months, the 404 errors are still here.
- Thanks to correct the 2 links of this paragraph:
"Submit news about Joomla!. We syndicate all Joomla! related news on our news portal. If you have some Joomla! news that you would like to share with the community, please submit your short story, article, announcement or review here."
@mikeveeckmans "I heard CLT say something about this, i'll c

[2016-06-25 17:57] pro2512 opened #393 "tutorials.joomla.com is appearing as may be hacked site in google search results."
tutorials.joomla.com is appearing as may be hacked site in google search results.
http://screencast.com/t/fcJi6G0XMYl
just saw it now and wanted to inform you guys.
Thanks

[2016-06-26 10:29] Sandra97 commented on #383
Closing this issue as it's a duplicate of #132

[2016-06-26 10:29] #383 closed

[2016-06-26 13:01] jeckodevelopment commented on #393
@pro2512 [whatever].joomla.com is not directly managed by the Joomla! Community.
joomla.com and subdomains are managed by Siteground.

@MATsxm how to report issues with joomla.com ?

[2016-06-26 13:16] brianteeman commented on #393
Report to @mveekmans

[2016-06-26 13:38] jeckodevelopment commented on #393
@mikeveeckmans can you please look at this?

[2016-06-26 15:37] pro2512 commented on #393
i wasn,t sure how to report to siteground guys.

[2016-06-26 15:39] MATsxm commented on #393
@Sandra97 also sent a message to our contact... it's sunday :wink:

[2016-06-26 16:30] mikeveeckmans commented on #393
Forwarded also ;-)

[2016-06-26 18:25] genr8r commented on #358
Done deal. I unpublished the plugin for the old analytics tracking code.  Did a quick confirmation on the homepage source that the GTM is pulled in right the top of the <body> per Michael's code in the template and saw no other Google kruft anywhere. Feel free to let me know if there are any more concerns related to analytics and I will chase it down.

[2016-06-26 18:25] #358 closed

[2016-06-26 18:29] genr8r commented on #246
Will do @jeckodevelopment as soon as I have the appropriate personnel lined up on our team for communications. This is my last (currently) outstanding issue for the JRD on github. I am going to leave it open until we have our newsletter items taken care of.  It will likely take a bit as we are only meeting bi-weekly. Feel free to ping me on this if it is sitting too long...

[2016-06-27 11:05] kirilhristov commented on #393
Here is what Google detected as malicious on tutorials.joomla.com (taken from their webmaster tools):
![screen shot 2016-06-27 at 1 52 33 pm](https://cloud.githubusercontent.com/assets/15803386/16377524/3a7416d4-3c6f-11e6-9fae-1bdcde2139e8.png)

We cleaned these files months ago, but I guess Google has an old snapshot.

I've marked these issues as fixed and requested the site to be reviewed by the

[2016-06-27 11:09] Sandra97 commented on #393
Thank you very much @kirilhristov
Closing this issue.
Re-open if needed

[2016-06-27 11:09] #393 closed

[2016-06-27 12:42] jeckodevelopment commented on #246
Thank you @genr8r ;)

[2016-06-27 13:12] rdeutz commented on #326
@jeckodevelopment please stop assigning issue to me, I will check the list later

[2016-06-27 14:21] jeckodevelopment commented on #326
ok Robert! :D
it was just as reminder :P

[2016-06-28 18:25] ahull opened #394 "[jorg]"

[2016-06-28 18:26] #394 closed

[2016-06-29 01:16] abchapel opened #395 "[joomla.org]"
Our previous pastor at Ashville Bible Chapel had set up a site with your company. He has left our church on unpleasant terms and has left the website up with no means for use to update and revise. We either need access to the site or it needs to be terminated. Please advise on how to proceed. Steven K. Sawyer, Ashville Bible Chapel, Corporate President. abchapel@yahoo.com

[2016-06-29 08:00] jeckodevelopment commented on #395
Hi,
This repository is ONLY for reporting issues with the *.joomla.org websites, not the Joomla! CMS.

For user support issues, please go to:
-http://forum.joomla.org/
-https://docs.joomla.org/Main_Page
-https://issues.joomla.org/

Regards,
Thanks

[2016-06-29 08:00] #395 closed

[2016-06-29 10:08] designbengel opened #396 "[joomla.org]"
The Subform Link ist wrong on this site: https://www.joomla.org/announcements/release-news/5660-joomla-3-6-beta-1-released.html
Right link: https://github.com/joomla/joomla-cms/pull/7829

thx for fixing!!!

[2016-06-29 13:16] MATsxm commented on #396
looks already fixed?

[2016-06-29 13:19] MATsxm commented on #396
ok... @wilsonge was Buzz Lightyear on this one :stuck_out_tongue:

[2016-06-29 13:19] #396 closed

[2016-07-01 05:47] sam-suresh opened #397 "[ALL] PHP Version Upgrade on Joomla Sites"
I have requested the host to upgrade PHP version from 5.4.28 (End of Life) to 5.6+.

Please check if your site listed below is compatible with PHP 5.6+

api.joomla.org [OK]
appsserver.joomla.org [OK]
certification.joomla.org [OK]
community.joomla.org
conference.joomla.org
docs.joomla.org
events.joomla.org
exam.joomla.org [OK]
help.joomla.org
joom.la
magazine.joomla.org
opensourcematters.org
resour

[2016-07-01 05:48] sam-suresh commented on #397
certification.joomla.org  - OK
exam.joomla.org  - OK

[2016-07-01 06:34] rdeutz commented on #397
api.joomla.org - is static html - OK
appsserver.joomla.org - doesn't seems an aktive site
ux.joomla.org - is a forward to developer.joomla.org
volunteers.joomla.org - OK

[2016-07-01 10:57] Sandra97 commented on #397
shop.joomla.org is merged to community

[2016-07-01 12:20] mbabker commented on #397
The server CAN NOT be upgraded until `showcase.joomla.org` is migrated off of Joomla 1.5.

[2016-07-01 12:22] SpiritJC commented on #397
tm.joomla.org - OK

[2016-07-01 12:25] mbabker commented on #397
@rdeutz:

That's the install from web's subdomain (the one that's not mapped behind a CDN).

Also, I'm just going to be flat out blunt here.  If there is code on any of our sites that is not Joomla 3 and/or PHP 5.6 compatible today, July 2016, then quite frankly that code deserves to break and whoever is maintaining said sites needs to be looking for a replacement ASAP.  Even the magazine should b

[2016-07-01 12:27] mbabker commented on #397
Also, this has been an outstanding issue on this tracker alone for the last 10 months.  https://github.com/joomla/joomla-websites/issues/127

[2016-07-01 12:38] rdeutz commented on #397
@mbabker oh that site, then it is quite clear what to do next: RUN

[2016-07-02 01:16] sam-suresh commented on #397
Any team working on showcase.joomla.org upgrade?

[2016-07-02 19:12] mandville commented on #369
it seems apparent that the previous mentioned concerns on this website have not been addressed over the last 6/7 months.

https://volunteers.joomla.org/joomlers/nk-shastri
https://volunteers.joomla.org/joomlers/r-f
https://volunteers.joomla.org/joomlers/pranji-p-s
https://volunteers.joomla.org/joomlers/rkdcjfwhvo
https://volunteers.joomla.org/joomlers/s
https://volunteers.joomla.org/joomlers/silen

[2016-07-03 00:04] ozepool opened #398 "[jcomm] - Login issue"
did not receive confirmation email at registration, unable to log on. Secret key?

[2016-07-03 10:46] wilsonge commented on #369
What actually are the volunteer portal rules. I dealt with the first 2 on mandville's list as they were reasonably obvious spam profiles. However https://volunteers.joomla.org/joomlers/pranji-p-s is an empty account and likely not a Joomla volunteer. BUT having said that I can't find any Volunteer portal rules about profile images etc. (maybe I missed it). Do we actually have a policy on this - or

[2016-07-03 11:17] brianteeman commented on #369
You are on holiday. Switch off.

[2016-07-03 20:30] mandville commented on #369
the first paragraph of the FaQ states it regarding member. no "realistic"  rules found regarding avatars etc
is there any input from  https://volunteers.joomla.org/working-groups/volunteers-portal-team
Q: What is a "Joomler"?
**A: Joomlers are volunteers that contribute to the Joomla project.**

[2016-07-04 08:56] jeckodevelopment commented on #369
@wilsonge , there's a rule about profile pictures, you can find it when you try to upload a new profile picture.
![jvols-pic-rules](https://cloud.githubusercontent.com/assets/733133/16555649/0357dba6-41d6-11e6-9d2f-cb7be4aa5f39.PNG)

[2016-07-04 15:26] mbabker opened #399 "Auto Tweet Broken"
Whatever service is set up to handle auto tweets of content posted to various sites (the .org news categories, community site blogs, developer site news) isn't picking up the community site anymore.  Today's post never auto tweeted.

[2016-07-04 17:47] Joomv commented on #399
I will look into this tomorrow, currently about to board a plane.

From: Michael Babker [mailto:notifications@github.com]
Sent: 04 July 2016 16:27
To: joomla/joomla-websites <joomla-websites@noreply.github.com>
Subject: [joomla/joomla-websites] Auto Tweet Broken (#399)

Whatever service is set up to handle auto tweets of content posted to various sites (the .org news categories, community site blo

[2016-07-04 20:28] mandville commented on #369
i would consider that blue box a guidance not a rule.
under that guidance i can upload a picture of a cat/polar bear/voodoo doll
Now if you said "you must upload a picture of yourself, profiles without real people will be removed" is more of a rule.

[2016-07-04 21:32] wilsonge commented on #397
The SEBLOD team have - they had made good progress at JAB. Mike V was the contact there and he's currently on holiday so I guess we need to wait for him to return for progress update

[2016-07-04 22:56] Joomv commented on #397
I will speak to seb in the morning, see where we are at

On Mon, Jul 4, 2016 at 10:32 PM +0100, "George Wilson" <notifications@github.com> wrote:

The SEBLOD team have - they had made good progress at JAB. Mike V was the contact there and he's currently on holiday so I guess we need to wait for him to return for progress update

—
You are receiving this because you are subscribed to this thread.
R

[2016-07-05 09:58] kirilhristov commented on #393
Just to follow up here - everything now seems to be fine. Google's webmaster tools show no security issues for tutorials.joomla.com. The "hacked" label is also gone from Google's index. Thanks for reporting!

![screen shot 2016-07-05 at 12 57 04 pm](https://cloud.githubusercontent.com/assets/15803386/16581021/09792884-42b0-11e6-98cc-765917d39410.png)

[2016-07-05 10:30] jeckodevelopment commented on #393
Thank you @kirilhristov

[2016-07-05 11:46] pro2512 commented on #393
thanks guys.

i was just trying to help

On Tue, Jul 5, 2016 at 3:28 PM, Kiril Hristov <notifications@github.com>
wrote:

[2016-07-05 13:41] sam-suresh commented on #397
At this moment we have upgraded to 5.4.45 from 5.4.28.

[2016-07-06 13:14] brianteeman opened #400 "[jcomm] Facebook share images"
Its a real shame that we are hardcoding the og:image and twittercard image for the entire site when we have such great artwork for the blog posts.

For example try to share https://community.joomla.org/blogs/3062-help-to-spread-the-joomla-3-6-love.html and the share looks like
![08wr](https://cloud.githubusercontent.com/assets/1296369/16618863/71cba87a-4383-11e6-873f-9397de380748.png)

### It woul

[2016-07-06 13:35] mbabker commented on #400
The `og:image` tag uses a default value in the base template if nothing else adds that metadata and the social sharing plugin only scrapes images from the article contents right now.  So if the intro/full image fields are being used to set these images, it's not matching the plugin's parse rules so the custom image never gets used.

https://github.com/joomla-projects/plg_content_joomlarrssb - pull

[2016-07-06 13:36] mbabker commented on #400
Same thing will apply also on the `twitter:image` metadata.  The same scraping logic is used to assign the values for both of those tags.

[2016-07-06 13:56] brianteeman commented on #400
Thanks for the explanation I will see if u can do a pr

[2016-07-06 14:41] yvesh commented on #400
@brianteeman sorry just saw that comment, hope you are not working on it right now. Made a at the repo for it..

[2016-07-06 14:45] brianteeman commented on #400
No problem I'm watching the tennis

[2016-07-06 15:02] Joomv commented on #400
I have a sandbox up and running of CJO if anyone wants to use it for testing, let me know.

[2016-07-06 20:32] wilsonge commented on #397
We also lost APC caching on our sites which took down magazine and events. Please can we do better testing and communication on this than just posting after the event and leaving us to pick up the pieces ;)

[2016-07-07 12:47] KieferToolandMold opened #401 "Website Problems"
To Who it may concern,

Yesterday I reported an issue to Joomla that I was unable to log in to edit my website content, now the whole website is down. Please advise what my next step is to get my website back up and running so I can reach my customer base and so I can edit my content as well. Thank you, the link for my website is www.kiefertool.com

[2016-07-07 12:54] MATsxm commented on #401
Hi,
This repository is ONLY for reporting issues with the *.joomla.org websites, not the Joomla! CMS.

For user support issues, please go to:
-http://forum.joomla.org/
-https://docs.joomla.org/Main_Page
-https://issues.joomla.org/

Regards,
Thanks

[2016-07-07 12:54] #401 closed

[2016-07-07 13:05] KieferToolandMold commented on #401
Thank you for your help.

On Thu, Jul 7, 2016 at 8:54 AM, Marc-Antoine Thevenet <
notifications@github.com> wrote:

--
Thomas Kiefer Jr.
Mechanical Engineer,
Kiefer Tool & Mold
3855 W. 150th St. Cleveland Oh 44111
Ph: (216) 251-0076, Fx: (216) 251-0087, Cell: (440) 227-3186

[2016-07-08 11:30] uglyeoin commented on #246
@genr8r sorry just saw this.  You're welcome to use the template, I got so far as uploading it and trying to test it but the testbed site I was working on couldn't send due to an error.  I'll chase and see if they decided to use it or went elsewhere.  If they're using it then I'll gladly share it, but I'm not 100% sure it will be used.  @mikeveeckmans know's of me, I'll help however I can.

[2016-07-08 14:31] Turar91 opened #402 "[joomla.org]"
Hello, how to change your password and login to the control panel?

[2016-07-08 14:58] MATsxm commented on #402
Hi,
This repository is ONLY for reporting issues with the *.joomla.org websites, not the Joomla! CMS.

For user support issues, please go to:
-http://forum.joomla.org/
-https://docs.joomla.org/Main_Page
-https://issues.joomla.org/

All the answers are on the doc.

Regards,
Thanks

[2016-07-08 14:58] #402 closed

[2016-07-08 18:27] genr8r commented on #246
No worries @uglyeoin I am still trying to get a communications coordinator for our team...
1. find someone to own that process
2. switch over to acymailing (with a marketing team compliant template)
3. communicate more effectively with the overall Joomla community about JRD happenings
As soon as I get step 1 taken care of I will start getting peskier about step 2.

[2016-07-08 19:00] uglyeoin commented on #246
I think we need an email team in general.  I don't think it should be specific to the JRD happenings. I do email marketing for a living, I have been surprised at the lack of comms from Joomla! and I know many others are too.

From what I hear we're not allowed to use the data we already have.  That doesn't mean we cannot use new data that arrives if we change our terms or similar.  It's not like I

[2016-07-08 19:02] brianteeman commented on #246
Pretty much 100% off topic

[2016-07-09 19:40] #392 closed

[2016-07-09 19:48] Joomv commented on #398
Hi,

Sorry for the delayed response, have been travelling.
You registered on the 2nd July. There were several other registrations that day, all of which activated.
Your account has been deleted, please re-register and check your spam folders for the confirmation email.
Thanks.

[2016-07-09 19:48] #398 closed

[2016-07-09 20:01] Joomv commented on #400
These are now being called properly.  There's a duplication issue in the tags, but as this is now being addressed and is almost fixed.  Closing.

[2016-07-09 20:01] #400 closed

[2016-07-11 20:32] uglyeoin opened #403 "[jrescs] Login page can't be found"
I'm trying to log in.  It's not saying that I have failed, it is saying the page cannot be found.  I probably am failing to log in I suppose, if so that is unclear, if I am logging in correctly then I think a redirect is broken.

I am trying to login via the sidebar login on this page.  http://resources.joomla.org/en/jrd-news

[2016-07-11 20:36] genr8r commented on #403
hmmm.  My login takes me to here... http://resources.joomla.org/en/manage-listings

which is our preferred behavior as we want to make it easy for registrants to submit their proposals.  I am going to try registering with a fresh account to make sure it isn't an ACL issue.

[2016-07-11 20:41] genr8r commented on #403
I can't reproduce the issue even with a simple "registered" user??? I am logging in with 3 different accounts.  One of them is a newly registered account, another older "registered" account I keep for testing, and my admin account. No problems on any of the three. I am using the sidebar login from the page that you referenced.  If you have more detail about how you are getting the error, please le

[2016-07-11 20:43] brianteeman commented on #403
Not only does it say page not found but there is an error

 0 Cannot open file for writing log

[2016-07-11 21:27] genr8r commented on #403
??? Cleared site and local cache. Trying plain registered user accts on chrome and FF on OSX. Still can't recreate the problem. Fired it up with and without https.  Any insight on what I am missing? I will drop a note to the rest of the JRD team to see if one of them can reproduce/resolve the item.

[2016-07-11 21:31] brianteeman commented on #403
Try a non existent user ie one that will fail

[2016-07-11 21:34] genr8r commented on #403
We have a winner. I misunderstood the original post as a login problem. I can chase it down now.

[2016-07-11 21:36] brianteeman commented on #403
Well it is a login problem as
1. It's not redirecting to a page with the login failed message
2. The log file isn't writeable

On 11 Jul 2016 10:34 p.m., "Brian Mitchell" <notifications@github.com>
wrote:

[2016-07-12 17:01] genr8r commented on #403
Hi @brianteeman please pardon my lack of clarity. I meant that I initially understood this as an issue with the successful login redirect rather than the failed login redirect. I should have read the first post more carefully. You are correct semantically speaking, that these are both a subset of login problems.

Turns out even after setting proper permissions AND trying to force the correct owner

[2016-07-12 17:01] #403 closed

[2016-07-12 19:28] genr8r opened #404 "Label consistency for issues in this repo"
Just because I like standards...
I have three different (inconsistent) ways to filter for issues related to the Joomla project that I work on (the resources directory). I have [jrescs] and the "Resources" label. I just recently discovered some old unresolved items labeled for our team under [jres].
Internally, our team usually uses JRD.  I can never remember or make sense of jrescs.  I am not sure

[2016-07-12 19:35] mbabker commented on #404
404 Standard Not Found ;-)

On Tuesday, July 12, 2016, Brian Mitchell <notifications@github.com> wrote:

[2016-07-12 19:55] genr8r commented on #404
OK - Realizing only contributors can add labels...
https://github.com/isaacs/github/issues/148
...I am still wondering if we can standardize the [bracketed] suggestions that are auto-populated by the reporting urls in the readme.md

[2016-07-12 19:57] mbabker commented on #404
Personally speaking, I've got no issue changing the code if you'd like something different.  Just make sure I'm aware if it does change because the same shortcodes are used in the `joomla.org` site template to build the "Report an Issue" links in the footer.

[2016-07-13 00:21] jeckodevelopment opened #405 "[jrd] Menu: same name, different targets"
On resources.joomla.org if i click on "Get Listed" top menu item I'll see the page:
`http://resources.joomla.org/en/getting-started-on-the-jrd `

![jres-menutop](https://cloud.githubusercontent.com/assets/733133/16787887/44907846-48a0-11e6-8d18-c081e7acd5ed.PNG)

In this page I've a button and a right-menu item with the same name "Get listed" and the target page is:
`http://resources.joomla.org/en

[2016-07-13 00:28] jeckodevelopment opened #406 "[jrescs] Endless loading at the bottom"
If I go to resources.joomla.org (with or without the HTTPS) I see an endless loading Joomla! clover at the bottom of the page, under the list of categories.

![jres-endless](https://cloud.githubusercontent.com/assets/733133/16788019/687a986c-48a1-11e6-8ce2-435d6a8c1910.PNG)

I guess that there should be the provider map / search filters there.

[2016-07-13 00:32] brianteeman commented on #406
Probably related to

Refused to execute script from '
https://resources.joomla.org/cache/widgetkit/widgetkit-9fcb460d.js' because
its MIME type ('text/html') is not executable, and strict MIME type
checking is enabled.

On 13 July 2016 at 01:28, Luca Marzo <notifications@github.com> wrote:

--
Brian Teeman
Co-founder Joomla! and OpenSourceMatters Inc.
http://brian.teeman.net/

[2016-07-13 00:35] jeckodevelopment opened #407 "[jrescs] Two pages, same features"
The home page of the JRD shows the "**Joomla! Providers by Category**" section and it's very useful.
`https://resources.joomla.org/en/`
But we have also a dedicated page, under the "Providers by Category" top menu item that shows the same list of categories.
`https://resources.joomla.org/en/providers-by-category`

Why do we have the same feature/content in two different pages?

[2016-07-13 00:43] jeckodevelopment opened #408 "[jcomm] Wrong profile image"
On `https://www.joomla.org/` the **Joomla! 3.6 is here** blog post shows as author `Chris Paschen` but it features the picture of Mike Veeckmans.
I guess that @mikeveeckmans wrote the blog post, but maybe there's an issue with the profile association.

![jorg-pic-issue](https://cloud.githubusercontent.com/assets/733133/16788230/6dae36de-48a3-11e6-8a51-812b813bec8a.PNG)

[2016-07-13 00:48] mbabker commented on #408
To be expected.  The layout we're using for the feed module pulls avatars via Gravatar and grabs the email from the RSS feed items.  So if you do author aliases as Joomla supports, it doesn't work quite right if something parses the email address.

The fixes?

1) Create an option in Joomla that lets you alias the email address the same as the name
2) Create an account for Chris on the site and cor

[2016-07-13 11:22] uglyeoin commented on #403
Good work Saeed

[2016-07-13 11:36] coolcat-creations opened #409 "[jorg] Design suggestion for Download Page"
Can we update/pimp the Download page layout a bit?
It´s not the highend solution but maybe a step forward?

I think that´s quite an important page...

I can also throw it in the Designergroup so maybe someone has time to think about it...

![joomla_download](https://cloud.githubusercontent.com/assets/828371/16802031/a5d74d74-48fe-11e6-9690-62ef75e7dd52.jpg)

[2016-07-13 11:44] Sandra97 commented on #409
We can work on it together.

[2016-07-13 12:13] mbabker commented on #409
Unless you get approval from Arvixe, do NOT touch their advertisement banner.  I assume it is what it is for a reason...

[2016-07-13 12:21] Sandra97 commented on #409
Of course not ;) A bit of design improvement ok, we can have a look, but all elements on the page have to say there.

[2016-07-13 12:40] mbabker commented on #409
I just saw the change in the mockup and felt it appropriate to point out that regardless of how ugly and outdated their graphic is it's their advertisement and we probably shouldn't be changing it regardless of how ugly and outdated it is.

[2016-07-14 17:00] bitisGabonica opened #410 "[forum.joomla.org]"
Hello, I tried to sign up for your forums, but I got the following message:

"You have been banned from this board until Thu Jul 14, 2016 5:38 pm.
Please contact the Board Administrator for more information.
Reason given for ban: Found in the Stop Forum Spam database
A ban has been issued on your IP address."

I don't know why I was banned for spamming? I think I might have posted a couple of unin

[2016-07-14 17:26] jeckodevelopment commented on #410
Hello,
please submit your Unban request using this form: https://community.joomla.org/helpdesk/forum-un-ban-request.html

[2016-07-17 12:25] #360 closed

[2016-07-19 11:56] davidemessia opened #413 "[jorg]Error in the page: https://www.joomla.org/announcements.htm"
Hi,
the page: "https://www.joomla.org/announcements.html"
with windows 7 on Chrome - Version 51.0.2704.106 m
shows the error message:

Notice: unserialize(): Error at offset 28633 of 28639 bytes in /home/joomla/public_html/libraries/joomla/cache/controller/view.php on line 63

[2016-07-19 12:01] MATsxm commented on #413
@davidemessia
Should be ok now. thanks
Closing, reopen if needed

[2016-07-19 12:01] #413 closed

[2016-07-19 13:31] davidemessia commented on #413
ok thanks a lot
Davide

On Tue, Jul 19, 2016 at 2:01 PM, Marc-Antoine Thevenet <
notifications@github.com> wrote:

[2016-07-20 16:25] genr8r commented on #406
This issue is resolved

[2016-07-20 16:25] #406 closed

[2016-07-20 17:20] genr8r commented on #407
Thanks you for catching this @jeckodevelopment.  When we first setup the current JRD the primary interface for identifying providers was a map with pins.  We provided the menu item for those that would prefer to filter by category.  Having changed the frontpage to the same interface so the menu item is now redundant. I removed it.

[2016-07-20 17:20] #407 closed

[2016-07-21 09:48] jeckodevelopment commented on #407
Thank you @genr8r :)

[2016-07-24 14:30] jeckodevelopment commented on #410
Closing. Re-open if needed.

[2016-07-24 14:30] #410 closed

[2016-07-24 14:53] MATsxm commented on #141
IMHO, It could be very easily improved. Maybe that the Marketing/Design Team can focus on this issue and find a standardized solution?

[2016-07-24 14:55] designbengel commented on #141
Already added it into the Design group :)

[2016-07-24 15:00] jeckodevelopment commented on #141
Maybe it could be included into the standard template

[2016-07-24 15:03] designbengel commented on #141
It must IMO! it´s not good to reinvent the wheel for each property

[2016-07-24 15:05] mbabker commented on #141
I still say it's not a high priority but if someone makes it great that we have a "nice to have" feature.  I'd rather us not have one of those easter eggs where we pull more traffic to our sites to see a fancy error page like some sites have 😆

[2016-07-24 15:07] jeckodevelopment commented on #141
Not a priority of course and not such a beatufil page to drag people on, but a nice one :) maybe with links to most common pages.

[2016-07-24 15:10] MATsxm opened #414 "[josm] improvement of the a11y and UX"
Taking http://opensourcematters.org/joomla/the-joomla-community.html as an example.
IMHO, it would be great to change Styles for the links to highlight them in a way of better UX and respect a11y rules.
Thanks

@Saurabh1 are you able to help on thais one?

[2016-07-24 15:10] designbengel commented on #141
@mbabker Even if it generates more traffic, an easteregg would generate a nice brandcontact from marketing perspective ;)

[2016-07-24 15:13] Sandra97 commented on #132
The 404 are still here.
Does it require more than 8 months to correct obsolete links?
At least, can you tell me who has access to OSM website?

[2016-07-24 15:13] jeckodevelopment commented on #414
Agree, contrast is not so "high"

[2016-07-24 15:17] jeckodevelopment commented on #132
@Saurabh1 , @marijkestuivenberg

[2016-07-24 15:19] brianteeman commented on #141
I like easter eggs -

On 24 July 2016 at 17:10, designbengel <notifications@github.com> wrote:

--
Brian Teeman
Co-founder Joomla! and OpenSourceMatters Inc.
http://brian.teeman.net/

[2016-07-24 15:22] jeckodevelopment commented on #404
I guess that JRD is generally recognized as the standard acronym for Joomla! Resource Directory. We can adopt it as default [bracketed] code for issues.
The label can remain "Resources".

[2016-07-24 15:25] Sandra97 commented on #38
@JacquesR @helvecio, please can you tell us if this has been solved?

[2016-07-24 15:28] MATsxm commented on #77
To my point of view, adding logos just the way they are here doesn't make sens and even more here, regarding the brands and the reality of the sites concerned, the message sent is negative.

[2016-07-24 15:36] jeckodevelopment commented on #77
What's your opinion about them @MATsxm ?
Should they be removed or pointed to some "case-studies"?

Your opinions? @mikeveeckmans @designbengel

[2016-07-24 16:05] MATsxm commented on #77
removed without a single doubt... but who am I for saying so...

[2016-07-24 16:13] jeckodevelopment commented on #77
Maybe when the new "showcases" will be up and running, we can feature some websites from showcases

[2016-07-24 16:50] mbabker commented on #77
When's that supposed to be?

[2016-07-24 16:58] jeckodevelopment commented on #77
good question Michael!

[2016-07-24 17:18] mbabker commented on #397
Closing, continue impatient waiting for `joomla.org`'s last remaining 1.5 install to be upgraded at #127

[2016-07-24 17:18] #397 closed

[2016-07-24 17:20] #357 closed

[2016-07-24 17:29] mbabker commented on #196
@wilsonge You plan on ever updating these or have we said screw it?

[2016-07-24 17:32] mbabker commented on #174
It's working now, no idea when I managed to fix it.

[2016-07-24 17:32] #174 closed

[2016-07-24 17:38] mbabker commented on #38
http://magazine.joomla.org/robots.txt says it's still an issue.

[2016-07-24 17:39] #26 closed

[2016-07-24 17:47] mbabker commented on #12
I'm waiting for the CDN's .htaccess to refresh but on all other sites I have admin for I've added browser caching and compression directives to the .htaccess files, similar to the directives on the issue tracker (https://github.com/joomla/jissues/commit/a9baec7c826f200e82ed590b82046432876c405a) which IIRC I pulled out of Admin Tools' generator.  Without getting tricky with Joomla and messing with

[2016-07-24 17:47] #12 closed

[2016-07-24 17:48] mbabker commented on #6
Anyone?

[2016-07-24 18:26] MATsxm commented on #196
no excuses... I drunk all his Vodka...

[2016-07-24 18:59] JacquesR commented on #38
Resolved. Replaced robots.txt with the standard Joomla one

[2016-07-24 18:59] #38 closed

[2016-07-24 19:28] jeckodevelopment commented on #6
AFAIK, the Accessibility Team is now re-starting its work! Let's see what is going to happen

[2016-07-24 20:01] mikeveeckmans commented on #77
Pinged the team that's taking care of the showcase.
@jeckodevelopment i like the idea of publishing showcase entries instead of the logo's

[2016-07-24 22:29] jeckodevelopment commented on #77
I guess that @sebastienlapoux is responsible for showcase

[2016-07-25 01:42] MATsxm commented on #274
Still nothing, then let's start with a proposal to be completed.

## Intro Text

A **trademark** can be a word, phrase, symbol, or design that distinguishes the source of the goods or services.

The following is a non-exhaustive list of Joomla’s trademarks and service marks.

For more information on how to use Joomla’s trademarks, refer to the document available in several languages: [Proper use o

[2016-07-25 01:57] MATsxm commented on #300
Hmmm still nothing :confused:

[2016-07-25 02:00] MATsxm commented on #340
No answer since 2 months - Closed
Re-open if needed.

[2016-07-25 02:00] #340 closed

[2016-07-25 09:00] Hils commented on #274
Just a note. Trademarked & Registered where and by which body? A search for Joomla in the UK site just gives JOOMLA! and Joomla! as being registered. https://www.ipo.gov.uk/tmtext/

(Is the Joomla! Community Magazine registered?)

[2016-07-25 09:06] Radek-Suski commented on #274
Some more info:
https://www.ipo.gov.uk/tmcase/Results/4/EU006911127
https://www.ipo.gov.uk/tmcase/Results/4/EU006899009

As far I know, only Joomla! (word and image) are registered. Nothing more and there is no need for it IMHO

[2016-07-25 09:36] jeckodevelopment commented on #274
@Hils the Joomla! word and logo are Registered Trademarks in several countries.
The discussion is about the "derived" forms... like the Joomla! Extensions Directory and so on. They're simple trademarks, without registration.

[2016-07-25 09:41] jeckodevelopment commented on #274
@MATsxm please fix the first task: "link to how" now it's "haow".

TM Team was working on a list... here are some TMs to be added to your list:

- Joomla! Trademark & Licensing™
- Joomla! Resources Directory™
- Joomla! Volunteers Portal™
- The Joomla! Community Magazine™
- The Joomla! Community Showcase™
- JoomlaDay™
- JDay™

[2016-07-25 11:15] MATsxm commented on #274
@jeckodevelopment
Glad to hear about... After 3 months, just wanted to be the firestarter... and help to fix a list that need no more than 1 hour to be built.
Please see the: "To be continued" and there are also few more to add than the once you have listed.

@Hils
Please see:
http://tmsearch.uspto.gov/bin/showfield?f=toc&state=4806%3Aq7gy4n.1.1&p_search=searchss&p_L=50&BackReference=&p_plural=yes

[2016-07-25 11:47] jeckodevelopment commented on #274
@MATsxm I know that it took a while... TM Team had some troubles to face... but, we should have the complete list very soon.

[2016-07-25 12:15] Saurabh1 commented on #132
@Sandra97 I guess sometimes it takes , when we are waiting for someone to answer the correct link :P
I think those news about Joomla or sharing stories goes to JCM , Should I put JCM link in there ? Need opinion if that sounds relevant than removing it.

[2016-07-25 12:22] Saurabh1 commented on #414
@MATsxm I agree and it is done.

[2016-07-25 12:26] MATsxm commented on #414
WOW... not even a day to fix it?
<sarcasm>Slow down please or some will believe it's possible</sarcasm> :wink:
Thanks a lot @Saurabh1

[2016-07-25 12:26] #414 closed

[2016-07-25 12:32] Sandra97 commented on #132
@Saurabh1, if you wait to get an anwser, you can wait a long time ;)
As I told you on April 19, I totally agree with the JCM link. Better to transform this paragraph to invite people to contribute to the JCM.
Also, do you think it could be possible to add in the "Do you want to join in" a small paragraph to tell people they can also contribute to the JDocs (writing articles, tutorials, review cont

[2016-07-25 12:36] mikeveeckmans commented on #132
Not sure about the JCM... depends what the content will be like, might raise the content reviews needed on jcm...
I do agree with the link and text towards Jdocs

[2016-07-25 12:44] Saurabh1 commented on #132
Talked to @mikeveeckmans and updated links and changed text.
@Sandra97 Sure, we should add. can you provide text and all links for that.
I can only think of simple text for myself ;) "Join and contribute to the [JDocs](http://docs.joomla.org/) where you can write articles, tutorials, review content, translate it etc."

[2016-07-25 13:18] Radek-Suski commented on #399
There is no way to fix it for some reason. Can't we use something own instead of some 3rd party service?
![screen shot 2016-07-25 at 15 16 28](https://cloud.githubusercontent.com/assets/1110663/17102663/0045855c-527b-11e6-8aba-23268f72e777.png)

[2016-07-25 13:32] mbabker commented on #399
Why do we need to reinvent the wheel when we're already using a third party service and one that had been working reliably until the community site's upgrade?

Use this address: https://community.joomla.org/blogs.html?format=feed

I don't know why that works and the correct feed addresses are causing 404 HTML pages right now but it does so roll with it.

[2016-07-25 13:34] Radek-Suski commented on #399
kk, fixed it.

Because it's limited to 5 feeds only and we already at the limit. If we would like to add something we would need to upgrade

[2016-07-25 13:34] #399 closed

[2016-07-25 13:37] mbabker commented on #399
We shouldn't be anywhere near the limit except for the fact that Joomla is subdomain drunk happy and every team thinks they require a top level subdomain for their efforts which is why we have dozens of active installs and many of them constantly abandoned or outdated.

[2016-07-25 13:40] Radek-Suski commented on #399
Maybe I screwed something. Never mind. It works

Don't get me started ...

[2016-07-25 17:33] genr8r commented on #404
Thanks @jeckodevelopment.  I have been meaning to put together PR's for the template and the Readme.  Just haven't had a chance yet.

[2016-07-25 18:28] MATsxm commented on #404
The Tag labels (on the right) are mainly for Stats purpose, and also a way to sort issues by topics....
but anyway and as I think we ALL have better things to work on, `jrd` (lowercased for consistency with others) is used for tag labels AND Template despite the fact I disagree that `JRD` makes any sense for 99% of Joomla! users.
Closed and re-open if needed

[2016-07-25 18:28] #404 closed

[2016-07-25 18:54] cpaschen opened #416 "[jrd] resources.joomla.org - can't edit my entry"
I've logged in and gone to my entry, then clicked the Edit button but no form appears (just a Save/Cancel buttons)

[2016-07-25 18:58] cpaschen commented on #416
Hmm ... also, when I clicked the report a problem link at the bottom of the resources.joomla.org page, it took me here and inserted "[jrescs]", instead of "[jrd]".

(Does the JRD team need more help than the marketing (maybe I could be 'traded' from one team to another? :-) )

[2016-07-25 19:28] MATsxm commented on #416
About the:
"[jrescs]", instead of "[jrd]".
Known issue and will be fixed later.

[2016-07-26 00:48] jeckodevelopment opened #418 "[jmag] Wrong picture for Author"
If you go to the "About" page of the Joomla! Community Magazine, at the end of the article you will be a nice picture of a wonderful woman, that is definitely not our Paul Orwig.
There's a wrong association between the picture and the author.

URL of evidence http://magazine.joomla.org/about

Wrong Paul:
![wrongpaul](https://cloud.githubusercontent.com/assets/733133/17122375/539a6104-52db-11e6-895

[2016-07-26 00:51] jeckodevelopment opened #419 "[jcomm] Double title JoomlaConnect"
In this page: https://community.joomla.org/connect/getting-connected.html
we have a double title

![2gettingconnected](https://cloud.githubusercontent.com/assets/733133/17122443/d385efb4-52db-11e6-939e-0ec3a1d1d407.PNG)

[2016-07-26 00:56] jeckodevelopment opened #420 "[jcomm] Missing the post from the leadership blog"
If you go to the Joomla! Community Blogs page, the latest item from the Joomla! Leadership blog is missing in the main blog page: https://community.joomla.org/blogs.html
The leading entry is "Spanish (Colombia) Language Pack Added to Joomla! 3.6" (July, 13), the latest Leadership Blog post has been published on July, 25, so it should be displayed as first item.

Maybe it's necessary to fix the cat

[2016-07-26 01:03] jeckodevelopment opened #421 "[jcomm] Missing menu and twitter module on GSOC blog"
If you go to the Blogs (and both Community and Leadership) the right sidebar looks like the following image:
![blogsrightmenu](https://cloud.githubusercontent.com/assets/733133/17122574/f7f45808-52dc-11e6-9d6d-e5268be19bc5.PNG)
and it includes: Search box, Quick Links menu, Twitter module, Login module.

If you go to the GSOC - 2016 page ( https://community.joomla.org/gsoc-2016.html ) from Quick L

[2016-07-26 08:34] rdeutz opened #422 "[jvols] outdated PHP version"
Anyone knows what are the steps to update to a newer PHP Version, I have cpanel access but there is nothing. Ticket to Rochen?

[2016-07-26 08:56] Hils opened #423 "Contributor images [jvols]"
https://volunteers.joomla.org/reports

The width and height relationship seems to have been lost on resizing which is making everyone look rather thin!

[2016-07-26 09:02] sanderpotjer commented on #423
@Hils which browser are you using?

[2016-07-26 09:04] sanderpotjer commented on #422
@rdeutz I do think it needs to wait on https://github.com/joomla/joomla-websites/issues/127 before the PHP can be upgraded on the server

[2016-07-26 09:08] rdeutz commented on #422
Thanks @sanderpotjer but we can move the site to another box?

@mbabker ?

[2016-07-26 09:16] Hils commented on #423
Just checked IE FF & Chrome latest and the problem seems to arise on FF when the browser window is even slightly less than full screen.
<img width="159" alt="fullscreen" src="https://cloud.githubusercontent.com/assets/736887/17132498/ea34024e-5319-11e6-8573-d66551c7f035.png">
<img width="134" alt="narrow" src="https://cloud.githubusercontent.com/assets/736887/17132501/f36f959e-5319-11e6-895e-b7f58

[2016-07-26 11:19] jeckodevelopment commented on #423
It can be linked also to #314

[2016-07-26 11:21] rdeutz opened #424 "[dashboard] remove this property"
It seems to me kind of useless, to be nice.

[2016-07-26 11:21] jeckodevelopment commented on #422
Is there the possibility to unlock the situation with Showcase?
Do we have a less used space where to move this website?

[2016-07-26 11:22] jeckodevelopment commented on #424
@RCheesley was responsible for dashboard, now that she left CLT, i don't know who is in charge for it

[2016-07-26 11:28] MATsxm commented on #424
+1 with @rdeutz

[2016-07-26 11:32] Joomv commented on #408
Apologies - missed this have contacted Chris for a Gravatar enabled email address and will set up the account for him the moment I have this

@mikeveeckmans if you need more aliases please let me know so I can set them up for you.

[2016-07-26 11:33] Joomv commented on #419
Dealt with

[2016-07-26 11:33] #419 closed

[2016-07-26 11:33] rdeutz commented on #424
@jeckodevelopment I think it was useless right from the start and that it has been added is only a result of missing leadership. I don't see a information on it I can't get from github. There are also some tickets open with problems and wrong information provided by the dashboard.

[2016-07-26 11:39] Joomv commented on #421
GSOC is an alias on the main menu, it won't be current forever unlike Leadership/Community Blogs.
It was set up so that when it goes to archive, the links will all still work and there will be minimal upheaval.
I've worked around it however to give the same effect as you asked for above.

[2016-07-26 11:39] #421 closed

[2016-07-26 11:40] Joomv commented on #420
Actually not quite right.  The issue was that the leadership post was not set as featured.  The front page shows featured items.  I have featured the leadership blog now to give it more prominence.

[2016-07-26 11:40] #420 closed

[2016-07-26 11:41] MATsxm commented on #424
@rdeutz same point of view and same negative impacts regarding the JDoc

[2016-07-26 11:44] Hils commented on #423
Thank you Luca @jeckodevelopment & Sander @sanderpotjer . I was going to close this in favour of #314 but it is different so thought I had better leave it as is. Please feel free to close if you decide it should be. Thanks.

[2016-07-26 12:06] mbabker commented on #424
Conceptually, it isn't bad.  Sadly, it's just a small scope of data and all of it already available in some form from other sources.  And the stuff that's lacking is already available from some other resource.  To me it's one of those well intended good ideas but had a bad execution by the time all was said and done.

[2016-07-26 12:07] jeckodevelopment commented on #423
Please leave this open :)

[2016-07-26 12:14] RichardR2H opened #425 "[jcertif] Browser in Browser in Browser"
Prior to the start of the exam you can click "I agree to the Terms.....etc." so the terms will be opened. When you click on the nav-button "Start Exam" you see the introduction text again are able to click on the Terms-link again. In this way you can create Browser in Browser in Browser.

![2016-07-26 12 50 56](https://cloud.githubusercontent.com/assets/7460406/17137389/392db432-533b-11e6-8072-63f

[2016-07-26 12:18] jeckodevelopment commented on #424
So, what to do? Should we open a poll about this property and decide if it should be removed?

[2016-07-26 12:19] jeckodevelopment commented on #425
Did you experienced this issue in Safe Exam Browser?
Can you give further details about the workstation? software versions, etc. ?

[2016-07-26 12:20] mbabker commented on #422
The only thing I can think of is to move the showcase site to the server we have Jenkins running on since that's still a PHP 5.4 box, but we also set up that server explicitly for Jenkins and not the intent of hosting a "visible" site so it may not be the best of ideas.  Otherwise, we don't have any other place to move that site without establishing a new server; every other box that we have is ru

[2016-07-26 12:21] jeckodevelopment commented on #422
We should define a due date for the new Showcase, otherwise we need to stop the current installation and wait for the new version.

[2016-07-26 12:22] jeckodevelopment commented on #420
Thank you Rowan, i didn't know that it shows only featured items.

[2016-07-26 12:22] jeckodevelopment commented on #421
Thank you!

[2016-07-26 12:23] mbabker commented on #422
They had a beta version running last year (see all the open issues here about that site).  So unless someone rebuilt from scratch after that point, I'm curious why that hasn't been completed by now.

[2016-07-26 12:25] jeckodevelopment commented on #422
maybe that team should be improved... but it's not fair that an outdated / abandoned project creates too many issues to the others.

[2016-07-26 12:27] Hils commented on #423
:sun_with_face:

[2016-07-26 12:28] rdeutz commented on #424
simply close it, I don't see anyone complaining about it nor take notice that it isn't there

[2016-07-26 12:29] jeckodevelopment commented on #424
@rdeutz who can close it? You? @mbabker ?

[2016-07-26 12:30] rdeutz commented on #424
I think @mbabker can do pretty much anything, what can tell us a lot about our organisation ;-)

[2016-07-26 12:41] mbabker commented on #424
I can submit the ticket to have Rochen remove the DNS entry but I can't make wherever that account exists go away.

And just because I'm resourceful doesn't mean nothing 😉

[2016-07-26 12:54] mbabker commented on #422
Well in their defense they weren't the single point of failure until about a month ago.

[2016-07-26 12:56] jeckodevelopment commented on #422
of course. But we should start sorting out things.

[2016-07-26 12:59] rdeutz commented on #422
ok guys, let's stop discussing it, seems more complicated as I thought. World will not end when the v.j.o will run on PHP 5.4.x for a longer time.

[2016-07-26 12:59] #422 closed

[2016-07-26 13:06] mikeveeckmans commented on #408
Sorry my bad , i inputted the article but added Chris as author. If he activated gravatar, we need to switch the user then.

[2016-07-26 13:46] sam-suresh commented on #425
This is fixed by removing hyperlink in the exam and added in profile update page to prevent such behavior. It is because the key encrypted not to open new tab. I have tested it and it is solved.

[2016-07-26 13:46] #425 closed

[2016-07-26 18:17] jeckodevelopment commented on #425
Thank you @sam-suresh

[2016-07-26 18:54] genr8r commented on #416
@MATsxm thank you for your follow up on #404 I agree that it is somewhat trivial, but the fact that half of _this_ issue is wrapped up in the confusion validates the request.  I really appreciate your taking care of it.

@cpaschen if your offer for assistance is serious we are actually looking for someone to head up resolution of tech issues on the site. I have been working aggressively to stay on

[2016-07-27 11:11] Sandra97 commented on #132
@Saurabh1
Here is a short text proposal (with links) regarding JDocs:

Contribute to the official [Joomla! Documentation] (https://docs.joomla.org/Main_Page), an online collaborative community manual made by Joomla! users for users.
There are many easy ways to [contribute] (https://docs.joomla.org/JDOC:How_to_Contribute_to_Joomla!_Documentation) to The Joomla! Documentation: write and/or update ar

[2016-07-27 14:39] Saurabh1 commented on #132
@Sandra97 Thank you for the text. I have added on the site. :)

[2016-07-27 19:27] Sandra97 commented on #132
I’m not English native and I’m not a marketing member. But things need to de done.
JCM is a way to contribute so it seems legit to add a sentence about the JCM in this paragraph (but maybe at the end instead at the beginning).

So here is my franglish proposal to replace the “submit news aboutJoomla…”:

`If you have a Joomla! story, a case study,  or if you want to talk about a Joomla! event, shar

[2016-07-27 19:49] MATsxm commented on #132
community -> Community

[2016-07-27 19:49] Sandra97 commented on #132
Corrected

[2016-07-28 14:23] Joomv commented on #408
I've done this.

[2016-07-28 14:23] #408 closed

[2016-07-28 15:24] jeckodevelopment commented on #424
@mbabker did you open the ticket?

[2016-07-28 16:18] mikeveeckmans commented on #408
Thank you!!

Sent from my iPhone

On 28 Jul 2016, at 16:23, Rowan Hoskyns Abrahall <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #408<https://github.com/joomla/joomla-websites/issues/408>.

-
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/joomla/joomla-websites/issues/408#event-737910503>, or mute t

[2016-07-28 18:34] helvecio commented on #132
Thank you for noting that @Sandra97

2016-07-27 11:39 GMT-03:00 Saurabh Shah <notifications@github.com>:

--
*Helvecio "Elvis" da Silva*
Rio de Janeiro - Brasil - helvecio.rj@gmail.com
http://www.helvecio.com - http://blog.helvecio.com

[2016-07-29 10:38] brianteeman opened #426 "[jcomm] News Feed"
Please see https://issues.joomla.org/tracker/joomla-cms/11344

[2016-07-29 13:22] webgobe opened #427 "[jvols] I had an old Volunteers account and created a new one as requested by the JED group"
The problem is, when I log in with my new username (denes.szekely, email denes.szekely@extensions.joomla.org) I see in My Profile link the old one (webgobe, with email webgobe@gmail.com, and obviously can't edit it. I have nothing against merging the two profiles, or having a way to edit the old one. But currently can't do anything.

[2016-07-29 13:53] sanderpotjer commented on #427
@webgobe thanks for reporting the issue. Not sure why the JED team requested to create a new profile, but I've merged both profiles and you should be able to edit it with your new username. Please let me know if not.

This problem will also be solved in the new version of the Volunteer Portal that will be available soon.

[2016-07-29 13:53] #427 closed

[2016-07-29 20:05] brianteeman commented on #424
If it is being closed then all these issues can be closed

[2016-07-29 20:06] jeckodevelopment commented on #424
Should we wait until the property will be closed?

[2016-07-29 20:10] brianteeman commented on #424
As @RCheesley has abandoned ship and ignored the issues there is little chance or point in them being fixed before it is shut off

[2016-07-29 20:11] jeckodevelopment commented on #424
So let's close

[2016-07-29 20:12] jeckodevelopment commented on #375
Closing because Dashboard will be deleted.
See #424

[2016-07-29 20:12] #375 closed

[2016-07-29 20:12] jeckodevelopment commented on #374
Closing because Dashboard will be deleted.
See #424

[2016-07-29 20:12] #374 closed

[2016-07-29 20:13] jeckodevelopment commented on #372
Closing because Dashboard will be deleted.
See #424

[2016-07-29 20:13] #372 closed

[2016-07-29 20:13] jeckodevelopment commented on #373
Closing because Dashboard will be deleted.
See #424

[2016-07-29 20:13] #373 closed

[2016-07-30 12:48] jeckodevelopment opened #429 "[ALL] Cookie law enforcement"
I guess we need to enforce the cookie law on all our project websites (required in EU)
We should publish a cookie notice with accept/decline buttons.

References:
http://ec.europa.eu/ipg/basics/legal/cookies/index_en.htm
http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32002L0058:EN:HTML

[2016-07-30 12:51] MATsxm commented on #429
We can discuss a decade about what "EUROPA websites" means...

[2016-07-30 12:54] mbabker commented on #429
Who's using cookies beyond the CMS' language (on /3) and session stuff, and
does that actually translate into requiring that stupid thing?

On Saturday, July 30, 2016, Luca Marzo <notifications@github.com> wrote:

[2016-07-30 12:56] Radek-Suski commented on #429
I don't think it's required. OSM is located in NYC.

[2016-07-30 13:08] jeckodevelopment commented on #429
Facebook is located in USA too, but it has the cookie notice (obviously Facebook stores a lot of data within cookies).

[2016-07-30 13:22] MATsxm commented on #429
Wake me up when you will have solved an issue that even local courts are unable to fix and disagree on conclusions... ;)
My perso point is ***NO NEED***, but ok, I confess I live in a "french" place where judges allows "illegal" downloads :stuck_out_tongue:

[2016-07-30 13:25] jeckodevelopment commented on #429
I opened this issue to start a discussion about this. I know that the notice/popup is annoying, but, if it's required we need to publish it.

Let's involve someone from OSM to know also their opinion.
@marjikestuivenberg

[2016-07-30 13:29] mbabker commented on #429
Can we not have opinions but base actions on fact and legal requirement?
If we need it, we can make it happen.  If we don't need it, then move on to
something else.

On Saturday, July 30, 2016, Luca Marzo <notifications@github.com> wrote:

[2016-07-30 13:32] jeckodevelopment commented on #429
agree Michael. I said "opinion" because of their experience based on facts and laws.

[2016-07-30 15:36] Radek-Suski commented on #429
Facebook isn't located (only) in the USA. They have offices across EU and therefore they need it.
To be perfectly clear, our website is located in Germany and we do not need it either. The only website we implemented it is the demo site because there are Google ads and Google for some reason requires it.
According to German ruling the visitor has to be informed about it but it doesn't require the

[2016-07-30 17:08] jeckodevelopment commented on #429
Ok thank you @Radek-Suski

[2016-07-30 17:08] #429 closed

[2016-07-30 17:16] brianteeman commented on #429
Sorry Radek thats not completely correct as there are different legal opinions on that and it has never gone to court in any EU area to be tested (as far as I am aware)

https://www.cookielaw.org/the-cookie-law/

http://www.socalinternetlawyer.com/does-the-eu-cookie-law-apply-to-u-s-websites/

It does not matter where the server is located or where the company running the website is located. The l

[2016-07-30 17:23] mbabker commented on #429
Implementing something is effortless but I'm not a big fan of implementing
something with legal reasoning without clear instruction.  And all I read
from the snippets you posted is that every website on the internet
basically mandates that notification because the data is accessible to EU
Citizens, even if not an explicit target, but the enforcement of whatever
rules is so muddy we could organize

[2016-07-30 17:26] brianteeman commented on #429
well I for one would not take the risk especially for a site like the shop which is run from inside the EU selling goods manufactured in the EU or for the joomla.org/3 web site which is specifically translated into languages that only exist in the EU

[2016-07-30 17:31] mbabker commented on #429
Erring on the side of caution makes sense, not against that.  I'd just
rather have good information to work from beyond what appears to be an
overzealous law with more bark than bite and a differing opinion from every
current and former member of the EU.

On Saturday, July 30, 2016, Brian Teeman <notifications@github.com> wrote:

[2016-07-30 17:34] brianteeman commented on #429
Thats the nature of the EU. The EU itself doesnt make or enforce laws. It
requires the member states to make and enforce the laws and as a result the
interpretation and implementation may be different between EU states.

(and you wonder why some people want to leave it)

On 30 July 2016 at 18:31, Michael Babker <notifications@github.com> wrote:

--
Brian Teeman
Co-founder Joomla! and OpenSourceMat

[2016-07-30 18:58] Radek-Suski commented on #429
@brianteeman I know that theoretically, according to EU, it would be required. Also theoretically, according to the same rules (I had a law courses at the University), we are required to provide our website in every single language of every single country our website is available in.
EU cannot enforce their ruling to websites and organisations that are not subject of it.

[2016-07-30 19:07] brianteeman commented on #429
It is not according to the EU - there is no such and they cannot enforce
anything.

In the UK the relevant law is called Privacy and Electronic Communications
(EC Directive) Regulations 2003 Act and it is enforceable by the
Information Commisioners Office (ICO)  in the UK only.

Each and every EU member state has their own law to implement the EU
directive and it is up to each EU member state to i

[2016-07-30 19:22] Radek-Suski commented on #429
So it doesn't applies to sites hosted in non-EU countries by non-EU organisation.

[2016-07-31 02:08] Saurabh1 commented on #429
If we are going to apply this, based on comments above doesn't look like to enforce it But Can we not do the funneling here, so if someone is accessing the site from EU can only get Cookie notification button.

[2016-08-01 10:53] mikeveeckmans opened #430 "[jorg] https://www.joomla.org/about-joomla/honor-roll.html"
The URL to Tarr Consulting under Andrea Tarr redirects to http://dohod-3000.blogspot.nl/ and qiwi.help  ...
Maybe disable the link , as tarrconsulting.com itself is forwarding to that site...

[2016-08-01 11:08] Sandra97 commented on #430
URL removed.
Closing this issue. Re-open if needed

[2016-08-01 11:08] #430 closed

[2016-08-01 11:09] mikeveeckmans commented on #430
Thank you @Sandra97 !

[2016-08-01 15:14] jeckodevelopment commented on #350
@r-aa do you have any update on this?

[2016-08-01 22:56] jeckodevelopment opened #431 "[jconf] "No item found" message"
In this page: http://conference.joomla.org/venue
After the room's picture and before the Main Sponsor, you can see the message "_No item found_", left aligned.

![jconf-noitemfound](https://cloud.githubusercontent.com/assets/733133/17311464/d2867ff0-584b-11e6-8271-7ed0bef47b27.PNG)

[2016-08-01 23:07] jeckodevelopment opened #432 "[jconf] Responsivity issues with Sponsor logos"
All over the conference.joomla.org website
If you look at the website using a smartphone or just resizing your browser, some of the Sponsor logos would be stretched.
Some logos are displayed correctly, adapting their size according to the page size.
Some logos are displayed wrongly: Ark, TechJoomla, JoomlaShine, Stackideas, Joomlart.

![jconf](https://cloud.githubusercontent.com/assets/733133/1731

[2016-08-02 11:48] MATsxm commented on #274
Then I have to conclude that firestarter is not enough?

[2016-08-02 12:10] jeckodevelopment commented on #274
Meeting this week. I'll update you after the meeting.

[2016-08-02 13:06] MATsxm opened #433 "[jdocs] - dead link, decision to take."
https://docs.joomla.org/LDAP

link `getting started from scratch with LDAP` is outdated as should be: http://sammoffatt.com.au/jauthtools/LDAP_Tools/OpenLDAP_HowTo (but 1.5)

On the toDo, waiting for proposals on the Glip JDoc room.
* [ ] Someone to build a tuto for 3.x taht could be linked
* [ ] link to "under construction page
* [ ] Delete the dead link

[2016-08-02 13:34] jeckodevelopment commented on #433
Is this the article?  https://community.joomla.org/46-gsoc-2009/lalitanand-dandge/908-joomla-ldap-authentications-plugin-window-2003-server-active-directory-configuration.html

[2016-08-02 13:35] mikeveeckmans commented on #433
@jeckodevelopment nice catch ;-)

[2016-08-02 13:51] brianteeman commented on #424
Is anything happening about closing this site?

[2016-08-02 13:54] jeckodevelopment commented on #424
I don't have access to the hosting :)

[2016-08-02 13:54] mikeveeckmans commented on #424
@roland-d do you have?

[2016-08-02 13:55] MATsxm commented on #433
Thanks @jeckodevelopment
Added it and also the "NEEDS UPDATING" Warning.
This is enough at this point as it is now the regular updating process - Closed, reopen if needed

[2016-08-02 13:55] #433 closed

[2016-08-02 13:55] jeckodevelopment commented on #424
or @mbabker

[2016-08-02 13:56] jeckodevelopment commented on #433
you're welcome ;)

[2016-08-02 14:22] roland-d commented on #424
I will check what I can do and get it removed. Agree with Michael, it's a nice idea but not the resources to execute it.

[2016-08-02 15:06] roland-d commented on #424
Server has been terminated.

[2016-08-02 15:06] #424 closed

[2016-08-02 15:08] brianteeman commented on #424
THANK YOU

On 2 August 2016 at 16:06, RolandD <notifications@github.com> wrote:

--
Brian Teeman
Co-founder Joomla! and OpenSourceMatters Inc.
http://brian.teeman.net/

[2016-08-02 15:11] rdeutz commented on #424
There is hope :-)

[2016-08-02 19:48] mbabker commented on #127
@joomla/webmasters Anyone got an issue with the `joomla-misc` server being upgraded to MySQL 5.6?  Rochen opened a ticket and want to upgrade that server's MySQL and PHP versions; I've already given guidance this isn't feasible at the moment for PHP but I want to make sure MySQL isn't an issue.

[2016-08-02 20:21] genr8r commented on #246
Uninstalled CMC Mailchimp component

[2016-08-02 20:21] #246 closed

[2016-08-02 20:23] genr8r commented on #148
resolved same as #246

[2016-08-02 20:23] #148 closed

[2016-08-02 20:30] jeckodevelopment commented on #148
thank you @genr8r

[2016-08-02 20:31] jeckodevelopment commented on #127
@sam-suresh please check compatibilty for the Exam Platform.

[2016-08-02 21:29] genr8r commented on #405
@jeckodevelopment if you look at your screenshot, there are actually 3 different items that are all labeled "Get Listed" (great UX huh?).

The button in the article and the top sidebar menu item both go to the start of the application/registration process.  So, given your feedback I have changed those two items to "Apply Now".  They both do the same thing.  I considered eliminating the button in t

[2016-08-02 21:29] #405 closed

[2016-08-02 22:17] jeckodevelopment commented on #405
@genr8r I like it now. Thank you.
I suggested this change because I thought that same item name with two different targets could be misleading.

[2016-08-03 12:25] genr8r commented on #405
I agree. It was a good suggestion.

[2016-08-03 21:38] zero-24 opened #435 "[jdev] There is no com_joomla_update in the core CMS!"
see: https://developer.joomla.org/security-centre/654-20160803-core-csrf.html

### Actual

Add additional CSRF hardening in com_joomla_update.

### Correct

Add additional CSRF hardening in com_joomlaupdate.

[2016-08-03 21:57] Sandra97 commented on #435
It's corrected. Thanks for the report.

[2016-08-03 21:57] #435 closed

[2016-08-04 00:48] jeckodevelopment opened #436 "[josm] Missing "Leadership Blog" feed"
If you go to: `http://opensourcematters.org/news.html`
The "Leadership Blog" module shows the following message:

![osmdeadfeed](https://cloud.githubusercontent.com/assets/733133/17386757/e8e4d80c-59ed-11e6-898a-e2408b192d77.PNG)

[2016-08-04 01:37] jeckodevelopment opened #437 "[jorg] Unwanted intro text in announcements"
On www.joomla.org
Each announcement intro text contains:

![jorg-ann](https://cloud.githubusercontent.com/assets/733133/17387494/ac7e7be6-59f4-11e6-93ec-4b0046380cb0.PNG)

[2016-08-04 01:40] mbabker commented on #437
I'll fix the plugin later.  It's because of [this bugfix](https://github.com/joomla/joomla-cms/commit/bb28dc99e27ac2cf034a593b242df418b1dccc9f) in 3.6.1.

[2016-08-04 02:14] wilsonge commented on #196
Tomorrow I promise

[2016-08-04 07:17] Radek-Suski opened #438 "[jorg] Missing social media icons (I guess)"
Just take a look at the beginning of each news.

![screen shot 2016-08-04 at 09 14 12](https://cloud.githubusercontent.com/assets/1110663/17393481/20df00c6-5a24-11e6-9b8b-f1457a86ad6e.png)

[2016-08-04 07:44] JacquesR opened #439 "[joomla.org] Social share icons text showing up in Announcement feed on front page"
Social share icons text showing up in Announcement feed on front page.
Suggest moving them down to below the content as it us done on the Community site.

[2016-08-04 07:53] JacquesR opened #440 "[jcomm] Pinterest share URL broken"
Pinterest share URL broken on Community site.
That share option does not seem to be used much?

Related minor issue: the Email share option has +'s in-between the text. Thunderbird retains it. Does any email client need that kind of format?

[2016-08-04 08:29] JacquesR commented on #418
fixed, thanks

[2016-08-04 08:30] #418 closed

[2016-08-04 08:31] JacquesR commented on #439
duplicate

[2016-08-04 08:31] #439 closed

[2016-08-04 08:36] JacquesR commented on #438
Social share icons text should not be showing in the Announcement feed (intro) or it will cause issues elsewhere too.

Suggest moving them down to below the content as it us done on the Community site.
(no need for share icons for each item in a category view either)

[2016-08-04 09:34] jeckodevelopment commented on #437
thank you Michael

[2016-08-04 09:34] jeckodevelopment commented on #438
already reported as #437

[2016-08-04 09:34] jeckodevelopment commented on #439
#437

[2016-08-04 09:34] #438 closed

[2016-08-04 09:35] Radek-Suski commented on #438
You're too fast

[2016-08-04 09:35] jeckodevelopment commented on #418
thank you @JacquesR

[2016-08-04 09:36] jeckodevelopment commented on #438
It was a long long night @Radek-Suski  :)

[2016-08-04 12:18] mbabker commented on #440
The email thing was discussed at https://github.com/joomla-projects/plg_content_joomlarrssb/issues/8 a bit ago with no action.  As for Pinterest, first I've heard; I'll look at the plugin later.

[2016-08-04 12:32] Joomv commented on #440
Pinterest works fine for me.
@JacquesR  could you give us steps to replicate please?

[2016-08-04 13:51] anibalsanchez commented on #127
I'm late to the party! Michael kindly point me to this ticket.

https://vel.joomla.org/ is also running on PHP 5.4.

[2016-08-04 14:20] jepler opened #441 "[jissues] requires inappropriately broad permissions on github"
I began the process of filing an issue on the joomla issue tracker (https://issues.joomla.org/), which requested that I "Login with GitHub".  The permissions requested by the tracker on github are inappropriately broad:

![Inappropriate permissions](https://cloud.githubusercontent.com/assets/1517291/17405302/9cdd0c9a-5a24-11e6-9889-17327e63d574.png)

[2016-08-04 14:40] mbabker commented on #441
Unless I'm missing something obvious there isn't a way to configure the application's scopes via GitHub.  Even with the broadness of it, at most all that is happening is creating issues and comments on your behalf.  We aren't storing tokens in any way that allows us to do anything else, the OAuth token is stored to your session.

[2016-08-04 16:43] jeckodevelopment commented on #127
@mandville can you please check?

[2016-08-04 17:01] jeckodevelopment commented on #441
@jepler , if you don't want to gran permission to JTracker, you can submit your issue just using the GitHub web interface (in the same way you did with this issue).

[2016-08-04 17:22] mbabker commented on #441
I've gone through https://developer.github.com/v3/oauth/#scopes and the way I'm reading the scopes we need the `public_repo` permission which grants all of the above permission.  This is because items submitted on the issue tracker are published via GitHub's API acting as your account using the OAuth token we have been authorized for that session.  There is not a scope that is more limited to only

[2016-08-04 17:27] jeckodevelopment commented on #426
@brianteeman can we close this?
We have a PR for that already in RTC status.

[2016-08-04 18:02] brianteeman commented on #426
That PR would prevent new installs from hitting the feed not existing ones.
Also it used to be quite a popular feed for people to get joomla news from
across the community

[2016-08-04 18:12] jeckodevelopment commented on #426
So let's wait until someone will fix... maybe @Joomv ?

[2016-08-04 18:47] Sandra97 opened #443 "[jtrain] Use of the Joomla! word"
The bang for Joomla! is missing nearly everywhere in the content. Please add it where it is compulsory. It's a legal issue.

[2016-08-04 18:53] Sandra97 opened #444 "[jtrain] Link to the homepage - Improvement Suggestion"
When you're visiting a class, the only way to go back to the J! Training homepage is to click on the main menu item.
It's not really user friendly, would be maybe better to also add a link to the homepage in the Quick Links module?
Thanks!

[2016-08-04 18:57] Sandra97 opened #445 "[jtrain] Usability Improvement"
On the homepage, the link for the title and the link for the "start this class" are different.
I'm afraid that people may not notice this and will just click on the button and won't reach the content of the page linked from the title (this is just my opinion, I may be wrong)

[2016-08-04 19:00] Sandra97 opened #446 "[jtrain] Homepage Improvement Suggestion"
Just my opinion... When visiting the homepage, I think it should be nice to have a short intro text to present the goal of Joomla! Training. It's a bit harsh to just put the videos and not to "talk" to the users.

[2016-08-04 19:05] Hils commented on #443
please note that it is an 'exclamation mark' not an 'exclamation point'. If we are using en-GB the h1 (?) should also use the exclamation mark and not 'bang' which is en-US

[2016-08-04 19:07] Hils commented on #443
Is this whole paragraph 'correct usage' please?

"How can I get involved with Joomla?
Anyone can contribute on any level, even newcomers can contribute to Joomla. You can get started by answering questions on the Joomla! Forums™ and joining the Joomla! Bug Squad™, Joomla! User Group™ or other Joomla! working groups. You can also write for our official magazine, the Joomla! Community Magazine™, or

[2016-08-04 19:11] MATsxm commented on #443
@Hils
Yes!!!!!!!!!!!!

[2016-08-04 19:19] Hils commented on #443
Oh poodles! So a heading doesn't need an exclamation mark? (I know if it is the second or more time on a page we don't have to use TM or R.

[2016-08-04 19:21] MATsxm commented on #443
heading is not a paragraph

[2016-08-04 19:24] Hils commented on #443
oh dear - I wish I was a newcomer as I don't know why this isn't exclaimed ;)

"even newcomers can contribute to Joomla."

[2016-08-04 22:15] Joomv commented on #426
The issue here is there's nothing to replace it.  Connect used to run through a component.  It has been replaced by separate feeds.  I can point it somewhere no problem, but where is the issue.

[2016-08-04 22:18] jepler commented on #441
Thanks for looking into it.

[2016-08-04 22:23] brianteeman commented on #426
The issue is that as the link  http://feeds.joomla.org/JoomlaConnect is now
html and not a feed so it no longer works as a newsfeed in joomla and gives
an error message

http://i.tee.mn/mHmr.png

On 4 August 2016 at 23:15, Rowan Hoskyns Abrahall <notifications@github.com>
wrote:

--
Brian Teeman
Co-founder Joomla! and OpenSourceMatters Inc.
http://brian.teeman.net/

[2016-08-04 23:57] Saurabh1 commented on #436
Can someone provide me the correct Feed link please ?
The one I have and inserted is : http://feeds.joomla.org/JoomlaCommunityCoreTeamBlog
I don't see any other option that can make this issue.

[2016-08-04 23:58] mbabker commented on #437
Fixed.  Updated plugin is available via https://github.com/joomla-projects/plg_content_joomlarrssb/releases/tag/2.0.0 and will be updatable via extension manager going forward.

[2016-08-04 23:58] #437 closed

[2016-08-04 23:58] jeckodevelopment commented on #436
Is this? https://community.joomla.org/blogs/leadership.feed

[2016-08-05 00:09] Saurabh1 commented on #436
I just tried this link , It's not working either.

[2016-08-05 00:14] jeckodevelopment commented on #436
@Joomv what is the correct feed URL ?

[2016-08-05 00:17] mbabker commented on #436
https://community.joomla.org/blogs/leadership.html?format=feed

[2016-08-05 00:17] mbabker commented on #436
Don't ask.  It's just quirky with the "right" URL.

[2016-08-05 00:17] jeckodevelopment opened #447 "[jorg] Download button, 3.6.1 instead of 3.6.2"
URL : https://www.joomla.org/download.html

Download Button for Full Packages refers to 3.6.1 instead of 3.6.2

![361inst362](https://cloud.githubusercontent.com/assets/733133/17422473/98ea90e2-5ab2-11e6-917f-2759cc24fdd6.PNG)

[2016-08-05 00:17] MATsxm commented on #437
Great job! - thanks!

[2016-08-05 00:18] jeckodevelopment commented on #436
Thank you Michael

[2016-08-05 00:19] MATsxm commented on #447
Sandra is on it

[2016-08-05 00:22] MATsxm commented on #447
Sandra is on it but @mbabker do not trust in her then he fixed it :stuck_out_tongue_winking_eye:

[2016-08-05 00:22] #447 closed

[2016-08-05 00:23] jeckodevelopment commented on #447
Thank you all! :D

[2016-08-05 01:42] Saurabh1 commented on #436
Done!
Thanks @mbabker :)

[2016-08-05 01:42] #436 closed

[2016-08-05 07:29] mikeveeckmans commented on #443
Thank you @Sandra97 & @MATsxm
Forwarded to @stevejburge

[2016-08-05 07:34] mikeveeckmans commented on #446
Agreed.
@stevejburge : can we add such text to the component or do we have to do it with a custom module ?

[2016-08-05 07:39] mikeveeckmans commented on #444
Added.

[2016-08-05 07:39] #444 closed

[2016-08-05 07:43] mikeveeckmans commented on #445
Ok, i see what you mean @Sandra97 , thank you.
@stevejburge Is there a possibility to change that? It's scripted in the component of OStraining.
![jtraininglink](https://cloud.githubusercontent.com/assets/4589318/17429817/18efeda8-5af1-11e6-806e-cab4310777ed.png)

[2016-08-05 09:02] anibalsanchez opened #448 "JED - 503 error and database updates not executed after J3.6, 3.6.1 and 3.6.2 upgrades"
Hi,

I have successfully upgraded JED to the latest Joomla versions and the site is running fine.

However, SQL scripts associated with version database updates are not executed.

It could be related with a server time restriction to execute SQL scripts. It seems that UTF8 conversion takes a long time and the job is killed or MySQL restarted.

## Extensions: Database

Warning

Warning: Database is

[2016-08-05 09:03] JacquesR commented on #440
My description was not accurate enough. It's the first part of the media param that's broken:
media=https%3A%2F%2Fcommunity.**joomla.orgimages**

The same issue is not present on the joomla.org implementation of the plugin.

[2016-08-05 14:47] stevejburge commented on #445
Hey guys. That was a change based on our feedback from our users.

The title goes to the overbiew of the whole class
The "Start this class" button does just that ... let's people dive right in

[2016-08-05 14:48] stevejburge commented on #446
Sure, we could add a module position. Where do you want the text to be?

[2016-08-05 14:48] mikeveeckmans commented on #445
@stevejburge , Ok, thank you for your feedback.

[2016-08-05 14:48] #445 closed

[2016-08-05 14:48] MATsxm commented on #445
disagree

[2016-08-05 14:49] Sandra97 commented on #445
disagree too.

[2016-08-05 14:49] stevejburge commented on #443
Sorry, guys. I'm not following. What specifically do we need to change?

[2016-08-05 14:52] stevejburge commented on #445
That's what we thought too, and that's how we had it.

But real-world usage taught us differently.

[2016-08-05 14:52] mikeveeckmans commented on #443
![joomlabang](https://cloud.githubusercontent.com/assets/4589318/17440468/032fc1be-5b2d-11e6-8c67-a24737f5dca7.png)
Add the '!' behind Joomla ;-)

[2016-08-05 14:54] stevejburge commented on #443
Oh wow. That won't be easy.

I thought Joomla.org policy was just to put the ! on the first use on the page?

[2016-08-05 14:55] MATsxm commented on #445
I know I'm living outside the Matrix :stuck_out_tongue_closed_eyes:

[2016-08-05 14:56] mikeveeckmans commented on #446
Above the first banner ?

[2016-08-05 14:58] stevejburge commented on #446
Ok, so over the top of the OSTraining banner?
![screen shot 2016-08-05 at 10 57 42 am](https://cloud.githubusercontent.com/assets/3868028/17440650/8305085e-5afb-11e6-8fb8-8e22d512227d.png)

Does the Community template itself have a module position there?

[2016-08-05 15:01] mikeveeckmans commented on #446
@Joomv do we have a position there ?

[2016-08-05 15:03] mbabker commented on #446
Should just be able to use the banner position.

[2016-08-05 15:03] Sandra97 commented on #446
With org templat,e we are supposed to have the banner position

[2016-08-05 15:03] MATsxm commented on #443
@stevejburge
this would be to easy :stuck_out_tongue_closed_eyes:
Please see: https://docs.joomla.org/Joomla:Proper_use_of_the_Joomla!_name
Also, if you want, I will check this part once I will have access to it...
And do NOT hesitate to ask if you need.

_Side note: I ***** hate this ***** "!" but when it's a legal issue, no exception should be allowed contrary to what some claim_

[2016-08-05 15:04] mbabker commented on #446
There's also position-3 which is before the component output and message container in the same Bootstrap span as the main component section.

[2016-08-05 15:04] Radek-Suski commented on #443
I love it. It's like Yahoo! or Jeb! :P

[2016-08-05 15:05] mikeveeckmans commented on #446
@mbabker & @Sandra97  : Thank you for the feedback.
@stevejburge : no need to add it to the component then.

[2016-08-05 15:07] MATsxm commented on #443
even more @Radek-Suski when you are talking about a version or series, it shoud me considered as a TM as it refers to the "product". `Joomla! 3` is 'de facto' a TM.

Yahoo! hates his "!" as they will remove it :stuck_out_tongue_closed_eyes:
no + points and thousands of -

[2016-08-05 15:09] stevejburge commented on #443
Yahoo! or Jeb! .... we're in good company :)

OK, I'll see what I can do. We may have to get a patient intern or a smart SQL query.

[2016-08-05 15:36] Martijn-Boomsma opened #449 "Please remove following expired sponsors from https://www.joomla.org/current-sponsors.html"
@mikeveeckmans:  Please remove the following expired sponsors from https://www.joomla.org/current-sponsors.html

BESLIST.NL - Silver Global Sponsor

Community Sponsors:
Digital Exits
FUTURE TV

[2016-08-05 15:39] mikeveeckmans commented on #449
Done

[2016-08-05 17:36] mikeveeckmans commented on #446
Module placed, copywriting still to do

[2016-08-05 18:18] Martijn-Boomsma commented on #449
@mikeveeckmans: These also please https://www.joomla.org/current-sponsors.html

Community Sponsors:
Digital Exits
FUTURE TV

Thanks!

[2016-08-05 18:20] mikeveeckmans commented on #449
oops sorry thought it was about silver only, will do it tomorrow

[2016-08-05 18:20] Martijn-Boomsma commented on #449
No worries, thanks.

[2016-08-05 18:54] Joomv commented on #446
Ok if we can kill the revive ad within the component (this will be easier and better to place within module positions on the site) and also change the heading from Joomla.org Training to Available Classes.  I think we'll have nailed it.

[2016-08-05 18:56] Joomv commented on #446
![joomla training 2](https://cloud.githubusercontent.com/assets/5618499/17447509/ac821514-5b46-11e6-9864-a5a4896469b3.png)

[2016-08-05 19:36] Joomv commented on #440
I've installed the version of the plugin that's on github.  I have successfully shared a blog post to my ghost town of a pinterest account with the correct media and link being displayed.

Could you please check again @JacquesR ?  Thanks

[2016-08-05 20:31] mbabker commented on #127
@joomla/webmasters Since so many have been looking to update the server to PHP 5.6, we're looking into options to move the showcase site and let everyone else get updated.  With that said, so we can move quickly when we reach an actionable point, please confirm your sites will run without error on a PHP 5.6 build.

[2016-08-05 20:36] Sandra97 commented on #127
The landing page works fine on PHP 7 so I presume we should not have any issue on PHP 5.6.

[2016-08-05 20:37] mbabker commented on #127
It's already on a 5.6 server (live and sandbox), not too worried there.  It's our "catch all" server that has everything I need confirmation on.

[2016-08-05 20:49] jeckodevelopment commented on #127
@mbabker can you publish a list of websites on that server so each webmaster can "check and confirm" with a task list here?

[2016-08-05 20:50] mbabker commented on #127
It's in the comments at the top of the issue 😉

[2016-08-05 20:52] jeckodevelopment commented on #127
was it already there? (so, tbh i didn't scroll up previously)

[2016-08-05 20:54] mbabker commented on #127
I added it when I added the all call.

[2016-08-05 20:55] jeckodevelopment commented on #127
thank you Michael :D

[2016-08-05 21:24] Sandra97 commented on #127
JDocs can run on PHP 5.6

[2016-08-05 22:05] Sandra97 commented on #449
I just removed Digital Exits and FUTURE TV.
Closing this issue. Re-open if needed

[2016-08-05 22:05] #449 closed

[2016-08-05 23:26] brianteeman opened #450 "[jmag] something gone wrong?"
It says its the July 2016 edition but all the content is from 2010

![2lru](https://cloud.githubusercontent.com/assets/1296369/17452931/53047fec-5b6c-11e6-8074-3c9540a33f06.png)

[2016-08-05 23:38] jeckodevelopment commented on #450
Home page is empty for me
![jmag](https://cloud.githubusercontent.com/assets/733133/17453067/6f2d20ca-5b76-11e6-9fe9-717d8a727b49.PNG)

[2016-08-05 23:40] wilsonge commented on #127
Magazine is good on php 7 so by definition assume it's fine on 5.6

[2016-08-05 23:42] brianteeman commented on #450
i see its been set offline now. obviously someone is working on it

[2016-08-05 23:42] #450 closed

[2016-08-05 23:43] jeckodevelopment commented on #450
In fact :)

[2016-08-06 02:27] sam-suresh commented on #127
exam.joomla.org should work.
I suggest set a fixed time window with Rochen and announce it to prevent people panic and shout!!  Site owners too can check during the upgrade time window for possible problems.

[2016-08-06 03:25] mbabker commented on #127
That'll definitely be coordinated.  That's why I'm trying to do the leg
work now so things can move quickly because independently reaching out to
me and through tickets direct to Rochen almost every team with a site on
this server has tried to get it upgraded.

On Friday, August 5, 2016, Sam Suresh <notifications@github.com> wrote:

[2016-08-06 09:25] jeckodevelopment commented on #127
certification.joomla.org and tm.joomla.org will work.

[2016-08-06 09:40] Martijn-Boomsma commented on #449
@Sandra97 Thank you!

[2016-08-06 09:57] mikeveeckmans commented on #449
@Sandra97 thanks ;-)

[2016-08-06 09:59] mikeveeckmans commented on #446
@stevejburge could you have a look at the suggestion @Joomv made? Thank you!

[2016-08-06 20:07] mdemop opened #451 "[jorg] Add community sponsor"
Please add the sponsor below as a community sponsor on https://www.joomla.org/current-sponsors.html (should be a no follow link)

Sponsor is paid and contract signed.

Business name: Dealslands

Business website URL: http://www.dealslands.co.uk

[2016-08-06 20:21] MATsxm commented on #451
@Martijn-Boomsma ?

[2016-08-07 06:20] AHolleran opened #452 "[joomla.org] Dhurringle PS website"
My school website www.dhurringileps.vic.edu.au is not accessible using the passwords originally set up. I am the new school principal and I cannot log into the site to update it. I have tried to reset the password to no avail. Can anyone help me before I close it down and create a new one?

[2016-08-07 08:50] Joomv commented on #443
Worst comes to worst, I can just run a re-replacer on all of it.

[2016-08-07 10:28] Sandra97 commented on #452
Hi,
This repository is ONLY for reporting issues with the *.joomla.org websites, not the Joomla! CMS.

For user support issues, please go to:
-http://forum.joomla.org/
-https://docs.joomla.org/Main_Page
-https://issues.joomla.org/

All the answers are on the doc.

Regards,
Thanks

[2016-08-07 10:28] #452 closed

[2016-08-07 10:38] Sandra97 commented on #443
Can be easier.
You'll have then to remove it where it's not supposed to be added.
After a quick check, I think there's only one string to edit in the classes after running the re-placer: https://community.joomla.org/joomla-training.html?ostm_view=course&ostm_pathway_id=48&ostm_course_id=198
"What is Joomla?" should stay like it is and not "What is Joomla!?"

[2016-08-07 11:21] MATsxm commented on #452
Also check
https://docs.joomla.org/How_do_you_recover_or_reset_your_admin_password%3F

[2016-08-07 11:36] jeckodevelopment commented on #451
@MATsxm , @mdemop should be Mike, the new OSM Treasurer... I guess he knows :D

[2016-08-07 12:34] Martijn-Boomsma commented on #451
@MATsxm @mikeveeckmans Yes, please add. @mdemop is busy bee: https://volunteers.joomla.org/joomlers/mike-demo-demopoulos

And he meant to say that Sponsor HAS paid :)

[2016-08-08 10:40] anibalsanchez commented on #127
VEL has only RSforms

[2016-08-08 12:27] jeckodevelopment commented on #127
@anibalsanchez RS Forms should work properly also on PHP 5.6

[2016-08-08 12:28] jeckodevelopment commented on #127
@mbabker I guess that community.joomla.org will work properly, because it's a new version.
Right? @Joomv

[2016-08-08 12:31] mbabker commented on #127
I make no assumptions because extension developers are slow to make their code compatible with anything new or to refactor away from "legacy" structures.  Just this weekend I made the mistake of turning error reporting on a dev site to full while working on PHP 7 with extensions released in the last few months that STILL use PHP 4 style constructors.

[2016-08-08 12:43] jeckodevelopment commented on #127
yes, in fact I tried to involve also @Joomv who is in charge for CJO.

[2016-08-08 12:52] Joomv commented on #127
I am pretty sure it will run 7 - although maqma could be an issue (only thing I haven't tested thoroughly on 7).  I think it would be sensible to go to 5.6.x first - then I can clone and test on 7 rather than a switch and pray, I don't think there are any blockers, but I like to err on the side of caution.

[2016-08-08 12:56] jeckodevelopment commented on #127
thank you @Joomv
We'll update to 5.6! :)

[2016-08-08 13:37] Joomv commented on #127
I believe the installation of Cloud Linux will allow webmasters to set their php versions as a cpanel level, if so, then each site can tweak as they see fit.

Is this right?

From: Luca Marzo [mailto:notifications@github.com]
Sent: 08 August 2016 13:57
To: joomla/joomla-websites <joomla-websites@noreply.github.com>
Cc: Rowan Hoskyns Abrahall <github@datatonic.net>; Mention <mention@noreply.github.

[2016-08-08 13:38] mbabker commented on #127
Correct.

[2016-08-08 15:46] mikeveeckmans commented on #451
added

[2016-08-08 15:46] #451 closed

[2016-08-08 18:04] stevejburge commented on #446
Sure thing. We have a heavy cache on the extension, but when it resets, that should be updated.

[2016-08-08 18:06] stevejburge commented on #443
I'd appreciate Re-Replacer.

I had a similar discussion before when writing two official books (Joomla Explained and Joomla 3 Explained).

The legal advice we got then was only the first mention in each chapter.

[2016-08-08 18:33] MATsxm commented on #443
What are you talking about?
the Registered trademark (indicia®) **OR** the '!'
_about Trademark:_ **Right**
_About the '!':_ **Wrong** as the name REGISTERED IS with the '!' not without.
Agree or disagree, this is a legal point.
I guess, like many, you confuse the two.

everything is explained here:
https://docs.joomla.org/Joomla:Proper_use_of_the_Joomla!_name
and your "The legal advice" can/must

[2016-08-08 18:35] stevejburge commented on #443
Ok, I'm not getting into an argument about what we were told.

Tell me what you want me to do and I'll do it.

[2016-08-08 18:41] MATsxm commented on #443
no argument is admissible when it comes to copyright or a long time that I would have removed this "!" absurdity and I have never seen Apple, Microsoft, Nike,........ Yahoo! or what ever use their BRAND mark identity (we are not talking about VISUAL identity) in an improper way.

Nothing more, nothing less than what's written here: https://docs.joomla.org/Joomla:Proper_use_of_the_Joomla!_name

If

[2016-08-08 18:54] stevejburge commented on #443
Looks like that page is only 1 year old. Let's just say that advice has changed.

I'll make the updates as best I can, but if anyone wants to use ReReplacer, that would be welcome.

[2016-08-08 18:56] MATsxm commented on #443
Oh Boy....
Nope... nothing as changed for decades about Trademarks...
I wish it was the case.

[2016-08-08 23:36] mdemop opened #453 "[jspons] Add Bronze Sponsorship Tier"
Add Bronze Sponsorship Tier to: https://www.joomla.org/sponsor.html#packages

Content is same as Silver, just without Press Release for $5k per year. Please also make it a option on the form.

@mikeveeckmans ?

[2016-08-09 15:49] Martijn-Boomsma commented on #451
Thanks!

[2016-08-09 15:51] Martijn-Boomsma opened #454 "[jspons] Please remove following expired sponsor"
Please remove following expired sponsor from https://www.joomla.org/current-sponsors.html :

**Pickaweb**

Thank you!

[2016-08-09 17:41] mikeveeckmans commented on #454
Done

[2016-08-09 17:41] #454 closed

[2016-08-09 17:52] mikeveeckmans commented on #453
@mdemop i need some specific CSS created, requested to @Sandra97 .
Changed the order already to Silver - Gold - Platinum

[2016-08-09 17:59] Sandra97 commented on #453
No problem. I'll take a look in a moment.

[2016-08-09 18:00] mikeveeckmans commented on #453
Thank you !!

From: Sandra Thevenet <notifications@github.com>
Reply-To: joomla/joomla-websites <reply@reply.github.com>
Date: Tuesday 9 August 2016 at 19:59
To: joomla/joomla-websites <joomla-websites@noreply.github.com>
Cc: Mike Veeckmans <mike@joombiz.eu>, Assign <assign@noreply.github.com>
Subject: Re: [joomla/joomla-websites] [jspons] Add Bronze Sponsorship Tier (#453)

No problem. I'll take

[2016-08-09 19:20] Sandra97 commented on #453
CSS created and Bronze sponsor added following your instructions.

[2016-08-09 19:25] mikeveeckmans commented on #453
Thank you for your help @Sandra97 !!

Form done also.

[2016-08-09 19:25] #453 closed

[2016-08-09 19:40] Martijn-Boomsma commented on #454
Thank you!

[2016-08-10 11:11] mikeveeckmans commented on #446
hi @stevejburge , how heavy is that cache ? The ads are still showing.

[2016-08-10 11:13] mikeveeckmans commented on #443
@stevejburge @Joomv : how will we solve this ? replacer or not? Steve, taken in general the courses on ostraining should have the exclamation mark as well...

[2016-08-10 11:13] stevejburge commented on #446
@mikeveeckmans Sorry, I was referring to "Available classes" text.

I do still see a second ad box ... for Acquia

![screen shot 2016-08-10 at 7 13 05 am](https://cloud.githubusercontent.com/assets/3868028/17551765/f66760ea-5ec9-11e6-81d0-b5fa19671ca8.png)

[2016-08-10 11:15] mikeveeckmans commented on #446
@stevejburge yes, me too ;-)
But i believe this ad box is pushed by your code... could you delete that code ? thank you.

[2016-08-10 11:32] MATsxm commented on #443
Why the hell do we need a script to add a ! where it should be???
Are you all serious?

[2016-08-10 11:53] mikeveeckmans commented on #443
Read last line of my previous answer ;)

Sent from my iPhone

On 10 Aug 2016, at 13:33, Marc-Antoine Thevenet <notifications@github.com<mailto:notifications@github.com>> wrote:

Why the hell do we need a script to add a ! where it should be???
Are you all serious?

-
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://github.com/joomla/joomla-w

[2016-08-10 13:12] stevejburge commented on #446
Sure, we can do that today

[2016-08-10 13:16] jeckodevelopment commented on #446
It's strange to see Drupal banners on the Joomla! tranining portal. :P

[2016-08-10 13:16] stevejburge commented on #443
Ugh, I'm honestly so tired after 10+ years of discussions just like this one.

I'll ask our team to start adding the ! where appropriate.

[2016-08-12 00:49] jeckodevelopment opened #455 "[josm] Possible typo in menu"
On opensourcematters.org

Top menu: `About > Board Directors`
Left menu: `Board Directors`
Page title: `Board Directors`

The proper name should be "`Board of Directors`"

Otherwise, if we are referring to the members of the board, we could use simply "`Directors`".

@brianteeman am I right? Can you please double check?

[2016-08-12 00:56] jeckodevelopment opened #456 "[josm] Out of date content / Duplicate page"
On opensourcematters.org there's a page called "Sponsorship" that is practically useless since we have a Sponsorship page on Joomla.org and the one on OSM has out of date content.

![josm-spons](https://cloud.githubusercontent.com/assets/733133/17609722/f124955c-6037-11e6-8724-9c7c88e80f17.PNG)

Furthermore, the page on OSM doesn't have any Call-to-Action and/or links, so it's almost useless.

We

[2016-08-12 05:06] Saurabh1 commented on #455
@jeckodevelopment  It was there since the previous site, I am not sure if we have to change it. But it sounds right to me that it should have been changed to "Board of Directors". I will wait for another opinion before making any change.

[2016-08-12 05:08] Saurabh1 commented on #456
I am aware about it and we are building a page. Mike Demo from financial team has asked to put a page as we have a request by Sponsor who wants to sponsor OSM and needs some text on the site. Further more you can talk to Mike Demo about it.

[2016-08-12 08:50] brianteeman commented on #455
The full term is "Board of Directors"
Acceptable shorter terms are "The Board" and "Directors"

[2016-08-12 10:28] mikeveeckmans commented on #446
double banner has been removed by @stevejburge , thank you.

[2016-08-12 11:26] MATsxm commented on #274
in progress?
5 months? WOW... that will be a beautiful list!

[2016-08-12 11:31] SpiritJC commented on #274
YES!! If you want, you can make a list. :-(

[2016-08-12 11:33] brianteeman commented on #274
Calm down please

[2016-08-12 11:35] Sandra97 commented on #351
Just a reminder... Can someone please have a look to this issue and solve it? Thanks.

[2016-08-12 11:39] MATsxm commented on #274
@SpiritJC Thoughts this: https://github.com/joomla/joomla-websites/issues/274#issuecomment-234818711 was a good start for the TM Team

[2016-08-12 11:42] Hils opened #457 "poor en-gb [jdev]"
Help to make sure that all needed information are available for the community - should be 'is available'.

Test releases of the CMS before there are published - 'they are' not 'there'

We are asking for devs to join a release team- we should be showing them by good practice.

https://developer.joomla.org/news/656-call-for-volunteers-joomla-cms-release-team.html

[2016-08-12 12:02] Sandra97 commented on #457
I'm French so I might be wrong. As well as for "Role Informations", shouldn't it be "Role Information"?

[2016-08-12 12:19] Martijn-Boomsma commented on #456
Ha! Good and quick find Luca. It's work in progress and so far only there for a week or so. It should or could have the same CTA as on Joomla.org. It was only created because a sponsor is interested in being on that webiste with a link too.

[2016-08-12 12:37] Saurabh1 commented on #455
Done!

[2016-08-12 12:37] #455 closed

[2016-08-12 13:00] jeckodevelopment commented on #455
thank you

[2016-08-12 13:00] jeckodevelopment commented on #456
ok :) so you can close this issue!

[2016-08-12 13:02] jeckodevelopment commented on #457
Thank you both for report.
Fixed!

Closing, re-open if needed.

[2016-08-12 13:02] #457 closed

[2016-08-12 13:47] Hils commented on #457
I think you missed "Help to make sure that all needed information are available for the community" - it should be information....is - not are.
Thanks for fixing this @jeckodevelopment

[2016-08-12 13:50] jeckodevelopment commented on #457
done, thank you!

[2016-08-12 23:25] SIMO07 opened #458 "whitehat stored xss on web site joomla by @M0h4mm33d"
Xss stored

http://www.noelshack.com/2016-32-1471044225-13884521-1623633604632921-229245530-n.jpg
mail for rapport thanks

[2016-08-13 00:21] mbabker commented on #458
Fixed.

[2016-08-13 00:21] #458 closed

[2016-08-13 01:06] SIMO07 commented on #458
if you want say to me thanks  in https://hackerone.com/m0hamm33d :)
thanks !

[2016-08-13 04:53] #456 closed

[2016-08-14 09:07] jeckodevelopment opened #459 "[jvols] Error 403 instead of 404"
On `volunteers.joomla.org`
if I try to look for a non-existing profile (maybe removed) I get a 403 error (Access forbidden) instead of a 404 (Not found).

In the image: `https://volunteers.joomla.org/joomlers/fake-link`

![jvols-403](https://cloud.githubusercontent.com/assets/733133/17648285/3ab9b0ca-620f-11e6-8b11-cff94f21392c.PNG)

[2016-08-15 17:41] brianteeman opened #460 "[joomla.org] 3.6.2 Release notes missing"
https://www.joomla.org/announcements/release-news/5667-joomla-3-6-2-released.html
blank content

That is the link on the j.org homepage

[2016-08-15 17:49] Sandra97 commented on #460
Thanks for reporting.
It's solved.
Closing this issue. Re-open if needed.

[2016-08-15 17:49] #460 closed

[2016-08-15 17:50] brianteeman commented on #460
Thanks

[2016-08-15 18:06] MATsxm commented on #132
@Sandra97 can be closed?

[2016-08-15 18:10] MATsxm commented on #100
+1 for adding this vel.joomla.org

[2016-08-15 18:11] MATsxm commented on #104
Looks like it's OK now.
Closing it - reopen if needed

[2016-08-15 18:11] #104 closed

[2016-08-15 18:17] MATsxm commented on #230
@Hutchy68
still relevant + the issue with the "Twitter Follow us"...

[2016-08-15 18:20] Sandra97 commented on #132
The 404 links have been corrected but I think one link is not relevant:

->`here ` is linked to org contact form. I don't think this contact form is the right place to submit your "short story, article, announcement or review".
Once again, the magazine is the right place for this.

[2016-08-15 18:23] MATsxm commented on #215
@megatela
still an issue?
knowing that a new version is on its way.

[2016-08-15 18:30] Sandra97 commented on #166
Can someone please provide us some information about the status and progress about the new version of the showcase?
@mikeveeckmans, @Joomv?

[2016-08-15 18:30] jeckodevelopment opened #461 "[jrd] Need some space before the button"
On `https://resources.joomla.org/en/`

If you try to search for providers (just set up a radius and click on search in the home page search engine)
there's no space between results and the button "Click here for more results"

![jrdspace](https://cloud.githubusercontent.com/assets/733133/17674724/0d27188c-6327-11e6-8363-b78a33c605a8.PNG)

[2016-08-15 18:45] Saurabh1 commented on #132
I did not put the Magazine link as @mikeveeckmans told me it's not the right place as he don't know and he gave me the link for the form page hence I put that link.
(Via Glip) -> "mmmm not sure
if the news is commercial it shouldn't be on jcm
put it here maybe :
https://www.joomla.org/media-contact.html"

And I feel the same if it's news then they should submit and someone needs to check and appro

[2016-08-15 18:58] Hutchy68 commented on #230
do a hard reload of the page to reload resources and let me know if it now fixed :smile:

[2016-08-15 19:01] Sandra97 commented on #132
Thanks Saurabh! Yes, what you just did make sense.
We can close this issue.
Re-open if needed.

[2016-08-15 19:01] #132 closed

[2016-08-15 19:03] MATsxm commented on #230
I like your "hard" reload :stuck_out_tongue_closed_eyes:
Works :+1: - Thanks
Closing - reopen if needed

[2016-08-15 19:03] #230 closed

[2016-08-15 19:06] mikeveeckmans commented on #166
They committed to launch August 31 2016. If not the team will be unassigned and cjo team will take over.

Sent from my iPhone

On 15 Aug 2016, at 20:30, Sandra Thevenet <notifications@github.com<mailto:notifications@github.com>> wrote:

Can someone please provide us some information about the status and progress about the new version of the showcase?
@mikeveeckmans<https://github.com/mikeveeckmans

[2016-08-15 19:12] MATsxm commented on #166
so by then it may be better to leave open the issues and we'll see later. Thanks

[2016-08-15 19:27] Saurabh1 commented on #132
Sounds good @Sandra97 , Thanks :)

[2016-08-15 20:01] Sandra97 commented on #300
It seems the link in question is not displayed anymore.
Closing this issue.
Re-open if needed.

[2016-08-15 20:01] #300 closed

[2016-08-15 20:16] genr8r commented on #154
Thanks for the ping @MATsxm I will hit the original developer again this afternoon.  I spent some time picking through the code but haven't been able to tease out where all the non-SSL urls are tucked away. FWIW - I think our homepage is the only outstanding issue.

[2016-08-15 21:00] genr8r commented on #461
15px of UI deliciousness served with a smile :)
I wish all of them were this easy.

[2016-08-15 21:00] #461 closed

[2016-08-16 00:04] jeckodevelopment commented on #461
Thank you @genr8r

[2016-08-16 12:17] Sandra97 opened #462 "[jorg] Joomla! RSS News Feeds Page needs to be review"
This page [https://www.joomla.org/rss-news-feeds.html](https://www.joomla.org/rss-news-feeds.html) needs to be completely reviewed. Lots of link are obsolete.
Can someone help me to correct the links?

[2016-08-16 12:21] MATsxm commented on #462
You already know my position about this...
but seriously... kill this: https://community.joomla.org/connect/73-french.html

[2016-08-16 12:23] Sandra97 commented on #462
I asked @Joomv if she was possible for her to do something for that as it's completely outdated.

[2016-08-16 12:28] Sandra97 opened #463 "[jorg] Link errors on Joomla! Press Page"
On this page https://www.joomla.org/joomla-press-official-books.html, all the book links are dead.
Do we still have a partnership with Pearson?
What can we do to update this page?
@mikeveeckmans, can you help with this?
Thanks.

[2016-08-16 12:31] mikeveeckmans commented on #463
At the moment we don't have any active contracts with Pearson or another... Amazon changed it's policy and we don't have anything active there anymore.

I hope CLT can pick it up when the team is at full force again.
I'll write copy to replace the current page

[2016-08-16 12:42] sanderpotjer commented on #463
@mikeveeckmans @Sandra97 in the past the books were arranged by OSM because of the Pearson contracts. Wasn't aware of the contract being expired. What is needed for this from the CLT now?

[2016-08-16 12:43] mikeveeckmans commented on #463
As we have nothing, anything would do ;-)

[2016-08-16 12:44] Joomv commented on #462
I've done a quick kill on the CJO feeds in Connect.  Anything empty or not updated in last 6 months has been unpublished.  If that means an empty category, that's been unpublished too.

[2016-08-16 12:50] Sandra97 commented on #462
Thanks Rowan!

[2016-08-16 12:58] mbabker commented on #463
They're still there, i.e. http://www.informit.com/store/joomla-templates-9780321827319

Maybe the affiliate links aren't good anymore?

[2016-08-16 13:01] mbabker commented on #463
http://www.informit.com//store/joomla-programming-9780132780810
http://www.informit.com/store/joomla-explained-your-step-by-step-guide-9780321703781
http://www.informit.com/store/official-joomla-book-9780321821546

Just change the affiliate links to the direct links for each book.  Then look into why the affiliate links aren't working anymore.  If we get the affiliate links back, then update the r

[2016-08-16 13:43] Sandra97 commented on #463
I changed the links by the direct links as I don't know how to solve the issue with the affiliate links. If anyone knows, tell me and I'll change them again.
Note that Steve Burge's book is not available for sale. Would you like me to remove it?

[2016-08-16 23:29] jeckodevelopment opened #464 "[jorg] Typo in menu item"
If you go to
`https://www.joomla.org/about-joomla.html` or any other internal page of joomla.org you'll see the sidebar menu "Contributing to Joomla"

The "**Volunteer Portal**" menu item, should be "**Volunteers Portal**".

![contributingtoj](https://cloud.githubusercontent.com/assets/733133/17719312/f8be4e6c-6419-11e6-879e-c1c1b6bb4924.PNG)

[2016-08-16 23:38] MATsxm commented on #464
done

[2016-08-16 23:38] #464 closed

[2016-08-16 23:39] jeckodevelopment commented on #464
Thank you :)

[2016-08-17 01:03] jeckodevelopment opened #465 "[jcomm] Search box position"
Most of the Joomla properties show the search box using the dedicated position in the jorg template: `position-0`

![search-jorg](https://cloud.githubusercontent.com/assets/733133/17721012/105decbe-6427-11e6-9297-f60273d587b6.PNG)

In the new community.joomla.org the search box is in the sidebar.
![search-cjo](https://cloud.githubusercontent.com/assets/733133/17721017/181da5ac-6427-11e6-869f-54436

[2016-08-17 08:45] Joomv commented on #465
Moved.

[2016-08-17 08:45] #465 closed

[2016-08-17 08:45] Joomv commented on #440
As no response.  Closing.

[2016-08-17 08:45] #440 closed

[2016-08-17 09:00] jeckodevelopment opened #466 "[jcomm] Mega menu too tall"
After moving the search box to the position-0, the mega menu height has grown

![cjotop](https://cloud.githubusercontent.com/assets/733133/17730608/b5ae225a-6469-11e6-961b-255fa10efa36.PNG)

[2016-08-17 09:14] Joomv commented on #466
Dealt with.

[2016-08-17 09:14] #466 closed

[2016-08-17 09:17] jeckodevelopment commented on #466
Thank you!!!! :)

[2016-08-17 10:11] JacquesR commented on #440
@Joomv  Sorry I was sick and missed your previous reply. If the sharing is working OK, then Pinterest was perhaps using the _og:image_ instead of the broken image link in the Pinterest share link.
I do see that the media link is now showing correct as:  media=https%3A%2F%2Fcommunity.**joomla.org%2Fimages**.....  previously the %2F was missing (only on the community site) as posted above.
So issue

[2016-08-17 11:17] mikeveeckmans commented on #443
OStraining did changes on the courses and descriptions. Should be ok now.

[2016-08-17 14:33] mandville opened #467 "[jcomm] shop.joomla link fails"
Please describe the problem or your issue
It could be useful to include an URL of evidence.
Please use a consistent title for your issue.

[2016-08-17 14:41] jeckodevelopment commented on #467
@mandville do you mean the link to the shop?
shop.joomla.org (Still under construction)
or shop.joomla domain?

[2016-08-19 19:51] mikeveeckmans opened #468 "[jorg] https://www.joomla.org/about-joomla.html"
Who uses joomla? -> delete harvard please, they switched to drupal

[2016-08-19 19:52] designbengel commented on #468
eiffel tower uses joomla :-)

[2016-08-19 19:53] mbabker commented on #468
Deleted.

[2016-08-19 19:53] #468 closed

[2016-08-19 19:53] mikeveeckmans commented on #468
Thank you @mbabker

[2016-08-19 19:58] MATsxm commented on #468
And keep on thinking that kind of list and/or logos present more disadvantages than advantages...

[2016-08-19 20:00] mbabker commented on #468
If only there were a place we could direct people to **showcase** superb sites built with Joomla...

[2016-08-19 20:02] MATsxm commented on #468
Shhhh
**I** am supposed to be the bad guy :stuck_out_tongue_closed_eyes:

[2016-08-19 20:04] mikeveeckmans commented on #468
@mbabker @MATsxm : i fully agree...

[2016-08-19 20:49] brianteeman opened #469 "[jvols] Footer copyright"
The copyright statement in the footer says
© 2005 - 2016 %s All Rights Reserved.

instead of

© 2005 - 2016 Open Source Matters, Inc. All rights reserved.
where osm is a link

[2016-08-19 20:54] mbabker commented on #469
That one's my fault.  Apply https://github.com/joomla/jdotorgtemplate/commit/a085f8c4de6d83d206073ec9fa433220397313f0 and you're good.

[2016-08-19 20:56] sanderpotjer commented on #469
See https://github.com/joomla/jdotorgtemplate/pull/59 for fix ;)

[2016-08-19 20:56] #469 closed

[2016-08-19 20:58] brianteeman commented on #469
thanks

On 19 August 2016 at 21:56, Sander Potjer <notifications@github.com> wrote:

--
Brian Teeman
Co-founder Joomla! and OpenSourceMatters Inc.
http://brian.teeman.net/

[2016-08-19 21:03] jeckodevelopment commented on #365
It has been fixed by the new version of the Volunteers Portal released today.

[2016-08-19 21:03] #365 closed

[2016-08-19 21:05] sanderpotjer commented on #423
@Hils this is fixed now, thanks for reporting!

[2016-08-19 21:05] #423 closed

[2016-08-19 21:06] sanderpotjer commented on #326
@jeckodevelopment thanks for the suggestion, this has been implemented now.

[2016-08-19 21:06] #326 closed

[2016-08-19 21:06] sanderpotjer commented on #314
Thanks! Fixed

[2016-08-19 21:06] #314 closed

[2016-08-19 21:08] sanderpotjer commented on #249
Thanks for the feature request. This is now available for the Reports page and for each team individually:
<img width="1022" alt="screen shot 2016-08-19 at 23 06 53" src="https://cloud.githubusercontent.com/assets/522834/17824355/bf2de30c-6661-11e6-8366-fb76a29ad066.png">
<img width="944" alt="screen shot 2016-08-19 at 23 07 08" src="https://cloud.githubusercontent.com/assets/522834/17824358/c3170

[2016-08-19 21:08] #249 closed

[2016-08-19 21:09] sanderpotjer commented on #221
This is now available, but via a slightly different setup (JLayout): https://github.com/joomla/volunteers.joomla.org/commit/2c5ab70bba8df9e24f91b1ed351a612c09ab1bf1

[2016-08-19 21:09] #221 closed

[2016-08-19 21:10] sanderpotjer commented on #215
@megatela The registration workflow has been improved, hopefully it is working for you: https://volunteers.joomla.org/register.

[2016-08-19 21:10] #215 closed

[2016-08-19 21:12] sanderpotjer commented on #217
@mandville website links can be changed by the team leaders themselves, but the link has been corrected

[2016-08-19 21:12] #217 closed

[2016-08-19 21:13] sanderpotjer commented on #327
@PDGDev a new version of the Volunteers Portal has been released, addressing this issue. Should no longer cause issues. Thanks for reporting!

[2016-08-19 21:13] #327 closed

[2016-08-19 21:28] mbabker commented on #467
If it was because of the MySQL error on the server, that's been long addressed.

Anything else, please re-open with additional details.

[2016-08-19 21:28] #467 closed

[2016-08-19 21:29] mbabker commented on #459
The new version's a little more... Interesting...

[2016-08-19 21:30] mbabker commented on #448
Run https://gist.github.com/mbabker/d7bfb4e1e2fbc6b7815a733607f89281 via command line.

[2016-08-19 21:31] mbabker commented on #432
Looks like it was addressed with their upgrade.

[2016-08-19 21:31] #432 closed

[2016-08-19 21:31] mbabker commented on #431
Looks fixed.

[2016-08-19 21:31] #431 closed

[2016-08-19 21:33] sanderpotjer commented on #459
Showing 404 now, but something weird with the language strings on the error page

[2016-08-19 21:36] mbabker commented on #459
`JDocumentError` doesn't load the template's language file.  I'll push a fix for that to the template repo.  Maybe someone should do one for core Joomla.

[2016-08-19 22:34] Sandra97 commented on #462
@mikeveeckmans, can you help me reviewing this page?

[2016-08-19 22:35] jeckodevelopment commented on #459
Can we close it?

[2016-08-19 22:36] jeckodevelopment commented on #448
@anibalsanchez have a look!

[2016-08-19 22:36] jeckodevelopment commented on #249
Great! Thank you @sanderpotjer

[2016-08-19 22:37] mikeveeckmans commented on #462
@Sandra97 Can do this tomorrowevening (CEST) with you ?
Someone starts at the top, other at the bottom?

[2016-08-19 22:40] Sandra97 commented on #463
On the 4 books mentioned on the page, one is not for sale anymore, 2 are out of stocks. @mikeveeckmans, what can we do in order to have a page with more relevancy?

[2016-08-19 22:57] Sandra97 commented on #462
Yes. Ping me when you're available and I'll leave my paint brush for a while ;)

[2016-08-19 22:58] MATsxm commented on #462
kill it!

[2016-08-19 23:13] jeckodevelopment commented on #462
don't be evil @MATsxm

[2016-08-20 08:01] anibalsanchez commented on #448
Great, on Monday I will test it.

[2016-08-20 10:42] Sandra97 commented on #462
I upated the content of the page.
If some are missing or wrong, please let me know and I'll amend the page.

[2016-08-20 10:42] #462 closed

[2016-08-20 15:35] jeckodevelopment opened #470 "[jvols] String in the footer"
If you go to `https://volunteers.joomla.org/` you'll see that the string in the footer is not displayed... in fact there's a `%s` and it should be `Open Source Matters, Inc.`

![jvols](https://cloud.githubusercontent.com/assets/733133/17832154/6662db4c-66fc-11e6-9afc-ccb4348a57c8.PNG)

Maybe an update of the template will solve this issue.

[2016-08-20 15:35] MATsxm commented on #470
already fixed

[2016-08-20 15:37] #470 closed

[2016-08-20 16:07] jeckodevelopment commented on #470
Thank you @MATsxm , i missed 469!

[2016-08-20 18:04] jeckodevelopment commented on #369
Another fake: https://volunteers.joomla.org/joomlers/1327-hlektroniko-tsigaro

[2016-08-21 13:47] mikeveeckmans commented on #463
I'll check with the different teams and get back as soon as I get some information.

[2016-08-22 08:22] anibalsanchez commented on #448
Hi,

@matthewbaylor adjusted the connection settings and the regular database fix run Ok.

Solved!

[2016-08-22 08:22] #448 closed

[2016-08-22 19:20] sanderpotjer commented on #459
Yes, has been fixed.

[2016-08-22 19:20] #459 closed

[2016-08-22 19:23] sanderpotjer commented on #98
As much as possible "fake" / "spammer" users have been removed. Besides that an "Report as Spammer" button is added below a Joomler profile (visible after login) that can be used to report spam profiles.

<img width="249" alt="screen shot 2016-08-22 at 21 17 56" src="https://cloud.githubusercontent.com/assets/522834/17868273/73c48728-68ae-11e6-8412-98327f19ba93.png">

The registration workflow has

[2016-08-22 19:23] #98 closed

[2016-08-22 19:24] sanderpotjer commented on #369
As much as possible "fake" / "spammer" users have been removed. Besides that an "Report as Spammer" button is added below a Joomler profile (visible after login) that can be used to report spam profiles.

<img width="249" alt="screen shot 2016-08-22 at 21 17 56" src="https://cloud.githubusercontent.com/assets/522834/17868273/73c48728-68ae-11e6-8412-98327f19ba93.png">

The registration workflow has

[2016-08-22 19:24] #369 closed

[2016-08-22 19:28] MATsxm commented on #98
Great improvement! :+1:

[2016-08-22 19:30] Sandra97 commented on #98
+1

[2016-08-22 19:53] jeckodevelopment commented on #98
Wow :D great improvement!

[2016-08-22 19:53] jeckodevelopment commented on #369
Thank you

[2016-08-22 20:22] sanderpotjer commented on #113
The search box (finally...) arrived on volunteers.joomla.org

<img width="1235" alt="screen shot 2016-08-22 at 22 22 23" src="https://cloud.githubusercontent.com/assets/522834/17870257/ef196530-68b6-11e6-9054-3561a47d1c47.png">

[2016-08-22 20:22] #113 closed

[2016-08-22 20:24] jeckodevelopment commented on #113
Great news! :beers:

[2016-08-23 00:13] jeckodevelopment opened #471 "[jrd] Bad alignment "Go" button"
If you go to `http://resources.joomla.org/en/` and look at the bottom of the page, in the "**Find a Resource Provider**" module, the "_**Go**_" button has a bad vertical alignment.

![jrdbad](https://cloud.githubusercontent.com/assets/733133/17876012/2128341e-68d7-11e6-8125-010a8cf640cc.PNG)

[2016-08-23 13:19] zero-24 opened #472 "[jvols] Unable to edit group memabership anymore"
Since the last changes a "normal" user is unable to change or edit the own membership to a group was that an expected change?

[2016-08-23 13:20] zero-24 opened #473 "[jvols] The login module told us to login via Mail but we need to login via username"
The login module told us to login via Mail but we need to login via username

![image](https://cloud.githubusercontent.com/assets/2596554/17893201/1bdc9e28-6945-11e6-9b62-02971c18bae9.png)

[2016-08-23 13:28] sanderpotjer commented on #472
@zero-24 that is indeed an expected change. Memberships are now editable by team leaders & assistants only. This change was requested for the new structure.

[2016-08-23 13:28] #472 closed

[2016-08-23 13:29] zero-24 commented on #472
Thanks.

[2016-08-23 13:29] sanderpotjer commented on #473
@zero-24 it should work with your email too. I understand this wasn't the case for you?

[2016-08-23 14:53] zero-24 commented on #473
Ahh both works i have just tryed the wrong mail sorry @sanderpotjer

[2016-08-23 14:53] #473 closed

[2016-08-23 18:10] brianteeman opened #474 "[jcomm] search"
Client reported this to me today that they thought it was odd that on community we use com_search but on www we use com_finder and that the best (only) place he could go to search all the properties was docs.joomla.org

[2016-08-23 18:20] mbabker commented on #474
It's inconsistent in general.  Considering all the sites are separate installs, using core's search extensions limits to that site.  Docs has a custom search set up which apparently isn't scope limited (we have a custom search on the API site but that's configured to search only that site).

It'd be nice if we had a global search somehow and made that the search that's in the mega menu, then each

[2016-08-23 22:37] Sandra97 opened #475 "[jmag] Social Media module"
This module is really not nice and quite useless (no need to mention all the HTML code needed for it) as we already have them in the footer.
And regarding, the newsletter part, could you please correct the display in order to have the 2 elements correctly aligned?
Thank you!
![index](https://cloud.githubusercontent.com/assets/4682328/17912273/9128b7dc-6960-11e6-9c7b-684c8764ee60.png)

[2016-08-23 22:40] Sandra97 opened #476 "[jmag] Share module - Suggestion"
In order to try to keep some consistency through Joomla! properties, would it be possible to use joomlarrssb plugin instead of the one current used?
Thank you!
![2](https://cloud.githubusercontent.com/assets/4682328/17912346/f5e0379a-6960-11e6-9169-4bb6f297672e.png)

[2016-08-23 22:43] MATsxm commented on #475
I have no words to say how ugly and has been this mod is...
I thought we were in 2016

[2016-08-23 22:47] MATsxm commented on #476
Please see:
https://github.com/joomla-projects/plg_content_joomlarrssb

[2016-08-23 22:50] mbabker commented on #476
It's not supporting K2 right now though...

On Tuesday, August 23, 2016, Marc-Antoine Thevenet <notifications@github.com>
wrote:

[2016-08-23 22:51] MATsxm commented on #476
oh... "great" forget about it...

[2016-08-23 22:53] mbabker commented on #476
It's our plugin, we can make it work.  Some sacrifice to the sanity keepers
required.

On Tuesday, August 23, 2016, Marc-Antoine Thevenet <notifications@github.com>
wrote:

[2016-08-23 22:54] MATsxm commented on #476
and saving my vanity... language files are available on Crowdin :wink:
https://crowdin.com/project/joomla-patchtester

[2016-08-23 22:56] jeckodevelopment commented on #476
@MATsxm you should use a generic name for that Crowdin repo... it's not only patchtester

[2016-08-23 22:56] MATsxm commented on #476
I'm working on it already :stuck_out_tongue_closed_eyes:

[2016-08-23 23:15] jeckodevelopment commented on #476
@MATsxm you've now Italian for the plugin.

[2016-08-24 09:41] JacquesR commented on #476
Note that we are not using the plugin on the JCM, but only some of the code and some of the CSS, and it's been customised to work in K2 articles.

@Sandra97 I prefer the version that we are using on the JCM. It is not as overwhelming as the large size icons that  are used on the other sites.

Apart from the colours, the JCM version looks the same as the icons on the other sites when viewed on a sm

[2016-08-24 09:55] JacquesR commented on #475
This is a all-in-one legacy (very old) custom module that will be removed in the near future.

It may be good to still have a Facebook module there, specially since it is a community-orientated sub-site, but I still wanted to chat to @Joomv to see if the Community site is planning to use a FB module on that site, and then use the same.  (someone from the FB J admin would have to create the module

[2016-08-24 10:04] Sandra97 commented on #476
@JacquesR, in my opinion, it's not a question about if the icons look nice or not, but to try to create the maximum of consistency  into our overall web presence.

[2016-08-24 10:10] JacquesR commented on #476
The icons we use are not inconstant with what is used on the other sites. It only behaves differently on a larger views (not showing the text next to the icons).  It would be hard to argue that this affects the consistency of our web presence. Again, I'll change the colours if that's a major issue, but not planning to change the large view look.  Please allow for some individuality on sub-sites.

[2016-08-24 10:17] Sandra97 commented on #476
Did I ever say I don't "allow" customization? I gave you my opinion, as I think it can be constructive to share different point of views.

[2016-08-24 10:39] JacquesR commented on #476
Thanks for sharing your opinion, and I agree that it is good to share different points of view.
I'll rewrite that sentence to make it clearer: We should allow/accommodate some individuality on sub-sites.

[2016-08-24 12:54] mbabker commented on #476
Some, yes.  To the extent that the same elements on different sites are massively different or the sites have major styling differences or have made so many customizations that they cannot update the template anymore, I don't agree with.  But that's just me being anal retentive about ensuring there's a consistent look and feel for the brand on its domains.

[2016-08-24 13:54] andrepereiradasilva commented on #231
ok updated the table.

[2016-08-24 14:01] andrepereiradasilva commented on #231
Nice to see we have an **A+** now: vel.joomla.org uses HSTS :+1:

[2016-08-24 15:41] yvesh opened #477 "[jvols] Can't add group reports anymore (403 error)"
When trying to submit a new group report on volunteers portal i now get a 403 error.

<img width="1214" alt="screenshot 2016-08-24 17 40 28" src="https://cloud.githubusercontent.com/assets/897638/17937303/ea3f3294-6a21-11e6-963d-c0bd454e5e0b.png">

[2016-08-24 16:01] jeckodevelopment commented on #477
@sanderpotjer can you look at this?

[2016-08-24 16:05] JacquesR commented on #476
Michael, I don't disagree, but these social share icons, that I would suggest are _not_ integral to our brand, and that the JCM _is_ using a style that is the same as that of the mobile view on other sites (so not round or glossy or other design of icons), seems to be (in my opinion) a minor issue.

I have now updated the CSS so that the icons use the same colours as on the other J sites.

[2016-08-24 16:10] sanderpotjer commented on #477
@yvesh thanks for reporting the issue! It should be fixed now.

[2016-08-24 16:10] #477 closed

[2016-08-24 16:13] yvesh commented on #477
Thank you @sanderpotjer - can confirm it's working now 👍

[2016-08-24 16:15] sanderpotjer commented on #477
@yvesh great, thanks for confirming!

[2016-08-24 17:42] jeckodevelopment opened #478 "[jevnt] 404 on footer login link"
`https://events.joomla.org/login` gives a 404 error.

[2016-08-24 17:43] mbabker commented on #478
If he were using the current version of the template that's built by `JRoute` instead of being hardcoded as it once was...

[2016-08-24 19:23] jeckodevelopment commented on #478
I guess that they use an outdated version of the template

[2016-08-24 19:29] mbabker commented on #478
![brilliant-deduction](https://cloud.githubusercontent.com/assets/368545/17944896/32f9aa02-6a07-11e6-9030-0dab6d2bf8e5.jpg)

[2016-08-24 20:59] jeckodevelopment commented on #478
ha!

[2016-08-25 00:38] jeckodevelopment opened #479 "[jevnt] 404 on Previous/Next month buttons"
If you go to `https://events.joomla.org/all-events` and click on "July" or "September" buttons (Prev/Next) both at the top or the bottom of the calendar, you'll receive a 404 error for each click on these buttons.

Target URLs are:
`https://events.joomla.org/all-events/at,2016.7`
`https://events.joomla.org/all-events/at,2016.9`

[2016-08-25 00:46] jeckodevelopment opened #480 "[jdocs] Question about colours"
If you go to `https://docs.joomla.org/Main_Page` you can see the follwoing Joomla! Logo (CMYK):
![jdocs](https://cloud.githubusercontent.com/assets/733133/17952705/71df1930-6a6d-11e6-9e06-357716367d12.PNG)

It's darker than the "official" one (RGB).
![joomla-brandmark-flat-rgb](https://cloud.githubusercontent.com/assets/733133/17952788/01abb802-6a6e-11e6-968e-8a52253dff0f.png)

Question is, why do

[2016-08-25 00:49] jeckodevelopment commented on #480
Furthermore, looking at the position of the `TM` indica, i can deduct that the one of Docs is not the latest version.

[2016-08-25 01:25] MATsxm commented on #480
Note that there's no rule for the `TM` position
fix in progress ;)

[2016-08-25 01:28] Sandra97 commented on #480
Good catch Luca! I'll change it tomorrow morning as I don't have Adobe Illustrator on my laptop.

[2016-08-25 01:31] MATsxm commented on #480
she doesn't even have the "underscore" on it... justSaying :stuck_out_tongue_closed_eyes:

[2016-08-25 01:32] Sandra97 commented on #480
If it was just one key missing... Buy me a new one!

[2016-08-25 08:43] carcam commented on #478
This is already fixed in the site.

[2016-08-25 08:46] zero-24 commented on #478
You need to fix the error layout too. In that footer the link is wrong too.

[2016-08-25 08:48] zero-24 commented on #478
goto https://events.joomla.org/404 -> a 404 page to test --> see the footer link.

[2016-08-25 09:13] carcam commented on #478
You are right!! Fixed now.

[2016-08-25 09:25] Radek-Suski commented on #478
Thanks @carcam for taking care of it

[2016-08-25 10:05] jeckodevelopment commented on #480
@MATsxm you should buy her a new one :P
Btw thank you both!

[2016-08-25 10:07] jeckodevelopment commented on #478
In home page of events.joomla.org i still have the link that goes to https://events.joomla.org/login (still 404)

[2016-08-25 11:04] carcam commented on #478
That is probably your Browser cache. Try accessing with an "incognito" or "private browsing" window and the content will be updated.

[2016-08-25 11:05] jeckodevelopment commented on #478
it works now. Thank you.
Please look at #479

[2016-08-25 11:24] MATsxm commented on #480
@jeckodevelopment me alive... NEVER!
life must be challenging in the Caribbean :stuck_out_tongue_closed_eyes:

[2016-08-25 11:30] Sandra97 commented on #480
Pfff.... I'm too nice, logo is changed.
Thanks again Luca and no thank you for MAT of course.
Closing this issue.
Re-open if needed

[2016-08-25 11:30] #480 closed

[2016-08-25 11:32] MATsxm commented on #480
you can't reopen it as you don't have enough keys for that...

[2016-08-25 11:33] Sandra97 commented on #480
:finger:

[2016-08-25 13:07] jeckodevelopment commented on #480
:D i'm wondering about the missing "finger" icon

Thank you both, again!

[2016-08-26 07:15] Radek-Suski commented on #479
I would love to but https://vpn.joomla.org seems to be down :(

[2016-08-26 08:14] Radek-Suski commented on #479
Anyway, I set the site currently offline until VPN works again so I can check it

[2016-08-26 08:19] sanderpotjer commented on #479
@Radek-Suski i've submitted a ticket at Rochen to get the VPN fixed

[2016-08-26 08:20] Radek-Suski commented on #479
Thanks @sanderpotjer  :)

[2016-08-26 08:50] sanderpotjer commented on #479
@Radek-Suski should work again!

[2016-08-26 09:55] Radek-Suski commented on #479
Thanks. All fixed now.

[2016-08-26 09:55] #479 closed

[2016-08-26 11:07] jeckodevelopment commented on #479
thank you :)

[2016-08-26 12:10] brianteeman opened #481 "[jmag] Authors page"
Niether the page navigation at the bottom nor the alphabetical filtering is working

[2016-08-26 18:20] MATsxm commented on #274
to prevent any duplicate (I know, this comment seems unnecessary), I'll do your work this weekend.

[2016-08-26 18:24] brianteeman commented on #274
Why?!!

I am sure you have plenty of things that you are responsible for that you
could do if you have the free time.

No point in having teams and areas of responsibility if people are going to
ignore them and just do their own thing.

[2016-08-26 18:27] MATsxm commented on #274
@brianteeman
Oh don't worry... this will not be under **MY** resposability, they will just have to edit and add their name on it... I hope less than 5 minutes of their precious time.
**WE NEED IT!**

[2016-08-26 18:28] mbabker commented on #274
We could set up a "do everything" team for the crazies in the room that do all the things, then technically they are working in their area of responsibility.

[2016-08-26 20:14] MATsxm opened #483 "[jtm] inconsistency in the use of trademarked names"
1. Here: https://tm.joomla.org/disclaimers
in the JUG part
![1472241597985screensave](https://cloud.githubusercontent.com/assets/1972717/18018761/c28a2462-6ba6-11e6-96c3-350a2bb9437a.png)
3 times and 3 different uses.

2. Here: https://tm.joomla.org/conditional-use-logos
in Conditional Use Logos part
![1472241793635screensave](https://cloud.githubusercontent.com/assets/1972717/18018909/6ea1b42c-6b

[2016-08-27 10:50] Joomv commented on #483
Can you point me at the right usage for JUGS and I’ll make sure the JUGS Team get their part in this sorted.

Thanks.

Rowan

From: Marc-Antoine Thevenet [mailto:notifications@github.com]
Sent: 26 August 2016 21:14
To: joomla/joomla-websites <joomla-websites@noreply.github.com>
Subject: [joomla/joomla-websites] [jtm] inconsistency in the use of trademarked names (#483)

1.      Here: https://tm.jo

[2016-08-27 10:56] jeckodevelopment commented on #483
@MATsxm it should be ok now. I reviewed and changed. Please check if i missed something!

[2016-08-27 10:56] jeckodevelopment commented on #483
@Joomv it should be: https://tm.joomla.org/disclaimers#JUGs

[2016-08-27 12:09] MATsxm commented on #483
@Joomv
TBH, I guess ALL the content should be proofreaded and I just saw those because I need them working on The Trademarks and Disclaimers list see #274
Maybe one day I will take a deeper look but it's not on the Top of my toDo.
Of course, if you need a specific info, just ask.

@jeckodevelopment
Thanks.
Note: technically speaking, the indicia is not needed for the second singular `Each Joomla!

[2016-08-27 12:12] jeckodevelopment commented on #483
@MATsxm i guess i'm done. Please check again :)

[2016-08-27 12:17] MATsxm commented on #483
@jeckodevelopment
Thanks - looks fine to me!
At least for this part only and before my :coffee: #2
Note that I will have to fix on my draft of the list.

[2016-08-27 12:19] jeckodevelopment commented on #483
great. Thank you for reporting these issues/typos.
I'm closing this, re-open if needed.
Next time, for missing typos on TM website, you can directly assign me ;)

[2016-08-27 12:19] #483 closed

[2016-08-27 12:25] jeckodevelopment opened #484 "[jdocs] Logo consistency"
`https://docs.joomla.org/Main_Page`

The docs template shows a logo at the beginning of the top menu.
![jdocs-logo](https://cloud.githubusercontent.com/assets/733133/18027357/df11b8e6-6c61-11e6-803a-bea712c45d6e.PNG)

Actually the logo is the CMYK version.
It should be the RGB one, as for the logo in the center of the page.

The path of the actual image is: `https://docs.joomla.org/skins/foregroun

[2016-08-27 12:31] Sandra97 commented on #484
I wish I could change this one....

[2016-08-27 12:32] jeckodevelopment commented on #484
I'm not at my notebook to provide you a 32x32 px PNG logo

[2016-08-27 12:32] MATsxm commented on #484
+ the menu fixes but........................ :rage:

[2016-08-27 12:33] jeckodevelopment commented on #484
@MATsxm but?
Is this template unlinked from the standard one?

[2016-08-27 13:15] Sandra97 commented on #484
I can provide easily the logo at the right size, but I can't change it.

[2016-08-27 13:41] MATsxm commented on #274
Ok then, this is a draft (this is the why it is a user page at this point).
Thank you to check/edit/comment/whatEver about it.
@brianteeman that would be great if you could proofread my Tarzan franglish but do what you want.

[2016-08-27 13:42] MATsxm commented on #274
Oooops
the link: https://docs.joomla.org/User:MATsxm/Joomla_Trademarks_List

[2016-08-27 14:41] mbabker commented on #484
That should be somewhat obvious :chuckle:

[2016-08-27 15:14] jeckodevelopment commented on #484
@mbabker sometimes i love asking stupid questions :P

[2016-08-27 20:33] Hils commented on #274
Hello @MATsxm - good work & thanks!

Just a small thing - VEL always used to refer to Joomla! Vulnerable Extensions™ way before the Volunteer Portal was in being. It might have changed whilst I wasn't looking but it would be worth checking with @mandville

[2016-08-27 20:48] Hils commented on #274
Sorry!

Typo : More Information about Dsclaimers - last para heading.

[2016-08-27 20:50] MATsxm commented on #274
@Hils Oooops sorry my bad
I added the "VEL" on the wrong line :wink:
Thanks

[2016-08-27 20:51] MATsxm commented on #274
Both fixed - Thanks

[2016-08-27 20:53] Hils commented on #274
one more!

**Joomla!'s trademark** and **Joomla’s Trademarks and Disclaime**rs << inconsistency of exclamation mark - in Note

[2016-08-27 20:55] Hils commented on #274
symbols and credit lines and/or disclaimers **helps makes** the public aware should be  symbols and credit lines and/or disclaimers **helps make** the public aware

[2016-08-27 20:58] Hils commented on #274
A Trademark can be a word, phrase, **symbol, or design** that distinguishes the source of the goods or services
The Oxford comma has been used which isn't in our style guide. Note that it hasn't been used in the sentence before: ... owns and oversees the Joomla! name, logos and trademarks for...

[2016-08-27 20:59] Hils commented on #274
trademarks for The Joomla! Project and softwares.

Software is the plural of software ;)

(I think that is it for now - thank you again)

[2016-08-27 21:00] MATsxm commented on #274
About the first

is there a better way to not use the possevive form? or I will remove the !

[2016-08-27 21:02] Hils commented on #274
darn it - forgot to correct that! It should be :
symbols and credit lines and/or disclaimers **help** make the public aware

[2016-08-27 21:04] MATsxm commented on #274
sorry... bit tired :smile:
I was talking about possessive form here:

[2016-08-27 21:05] Hils commented on #274
**Joomla!'s or Joomla’s**

This isn't grammatical and comes under the trademark rules. It used to be that the exclamation mark was only used with the first Joomla on the page but now I don't know! Sorry :D

[2016-08-27 21:06] Hils commented on #274
I guessed! I am just back home but I thought it would help you get the job done if I had a quick look for you.

[2016-08-27 21:11] Hils commented on #274
Request a Trademark-use :

Might be better as Request the use of a Trademark. We wouldn't hyphenate there.

[2016-08-27 21:15] MATsxm commented on #274
:rage: that's **WRONG AND NOT A PROPER LEGAL USE**.
This is an urban legend as the registered name, agree or disagree is **WITH** the `!`
This rule concerns **ONLY** the use of Trademarks indicia R or TM
:smile:

The rule here would be that, because it is in a <p> and in conflict with another punctuation sign we should not add the "!".
My question was just because I don't like using "Joomla" in a

[2016-08-27 21:19] Hils commented on #274
You shouted at me in **bold** (hehe)

I like the way it is now:
For more information on how to use Joomla’s Trademarks and Disclaimers, please refer to the document available in several languages: Proper use of the Joomla! name or contact the Trademark & Licensing Team.

We can't avoid using the possessive format of Joomla for ever ;)

[2016-08-27 21:25] MATsxm commented on #274
Believe me, it's not in a bad way :wink: Just because I have to "fight" and bang my head at least twice a day evry single day with this wrong belief (people using the "first prohiminent use of blablabla" for the "!" while this concerns ONLY the Trademarks signs) :smile:

Thanks for the help!

[2016-08-27 21:32] Hils commented on #274
I told you I didn't know! But sorry you are getting hassle. It is good of you to pick this job up amongst all the other things you already do.

[2016-08-27 21:34] MATsxm commented on #274
I guess all your changes are ok now (need to wait Fuzzybot to do his job for the BTN **Request the use of a Trademark**).

Thanks again

[2016-08-27 23:40] mikeveeckmans opened #485 "[jshop] testers required"
Who wants to have a test run on the shop?
Ping me if you don't have access at the moment. Thank you!

[2016-08-27 23:40] #443 closed

[2016-08-27 23:42] mikeveeckmans commented on #446
@Joomv could you integrate side banner?

[2016-08-27 23:45] mikeveeckmans commented on #463
Reply :

Checking on the amazon store and if possible we'll add to shop and it can be used as well for the mentioned page

[2016-08-27 23:47] mikeveeckmans commented on #362
@pe7er reminder

[2016-08-28 00:21] mikeveeckmans opened #486 "[josm] Please active https/ssl"
Would it be possible to activate https for this domain? thank you!

[2016-08-28 00:26] mbabker commented on #486
You'd have to work out getting a certificate for the domain.  The only one we have is for `joomla.org`.

[2016-08-28 00:34] Sandra97 commented on #485
Just my 2 cents...

I think it could be a good idea to re-integrate (or re-create) the 2 banner images we had before the merge into cjo for screens under 480px, the readibility was better.

Previous:
![a](https://cloud.githubusercontent.com/assets/4682328/18030830/208aabc4-6c95-11e6-8365-fd799d752d94.png)

Current:
![after](https://cloud.githubusercontent.com/assets/4682328/18030832/2b658e7e-6c95-

[2016-08-28 00:36] zero-24 commented on #486
Is Let's encrypt a possible solution?

[2016-08-28 00:37] mbabker commented on #486
Someone would have to take that up with Rochen.  It's always an option, just depends how much work folks are willing to do since the certificates renew more often or how much money people are willing to spend for other options.

[2016-08-28 00:41] zero-24 commented on #486
https://www.rochen.com/blog/2016/02/introducing-free-ssl-certificates/

[2016-08-28 01:05] mbabker commented on #142
This was opened 10 months ago, and now the team wants to launch the site this coming week and it appears this task was not acted on at all.

[2016-08-28 01:12] mbabker commented on #160
Another task that wasn't touched from the last testing round.  Are we trying to launch a site with numerous known issues for the sake of launching it?

[2016-08-28 01:14] mbabker commented on #140
The RRSSB plugin (or a variation of it) is implemented consistently on more sites than not now.  Could this be revised?

[2016-08-28 01:16] mbabker commented on #137
Another item with no activity...

[2016-08-28 10:48] jeckodevelopment commented on #142
@sebastienlapoux please use the latest template.

[2016-08-28 10:58] jeckodevelopment opened #487 "[jshow] Generate aliases from Title instead of URL"
If you look at the new Joomla! Showcase Directory, item aliases are currently generated from the Website URL instead of the listing title.

e.g. `https://showcase.joomla.org/new/browse-sites/www-liptonicetea-com.html#desc`
`https://showcase.joomla.org/new/browse-sites/www-recrutement-terre-defense-gouv-fr.html`

[2016-08-28 12:37] jeckodevelopment opened #488 "[jshow] Top menu height unstable when clicking on submenu"
If you click on items that have a submenu, while on submenu items the height of the top menu bar changes.

![jshow-topmenu](https://cloud.githubusercontent.com/assets/733133/18033745/d2e9bf84-6d2c-11e6-8edd-b5cda5de0d35.gif)

[2016-08-28 12:39] jeckodevelopment opened #489 "[jshow] Typo in team name"
If you go to https://showcase.joomla.org/new/about-jsd/team-members.html
Title is `Meet the JSS Team` instead of `Meet the JSD Team`

![jss-jsd](https://cloud.githubusercontent.com/assets/733133/18033752/29c53f0e-6d2d-11e6-964d-de8412a534d9.PNG)

[2016-08-28 12:44] Sandra97 commented on #488
This issue should be solved by using the latest version of jorg template

[2016-08-28 12:47] jeckodevelopment opened #490 "[jshow] Proper use of the markup"
If you go to https://showcase.joomla.org/new/about-jsd/disclaimer.html

Paragraph titles are just normal `<p>` underlined.
It could be more consistent to use headers instead of the underline.

![badmarkup](https://cloud.githubusercontent.com/assets/733133/18033858/27753e42-6d2e-11e6-91e6-e08b68f95aaf.PNG)

[2016-08-28 12:50] jeckodevelopment opened #491 "[jshow] Log you?"
If you go to https://showcase.joomla.org/new/register
The warning message says:

It should be:

![logyou](https://cloud.githubusercontent.com/assets/733133/18033881/c79ab488-6d2e-11e6-8241-cd7401ee03a5.PNG)

[2016-08-28 12:57] jeckodevelopment opened #492 "[jshow] FAQ or FAQs"
Generally people write "**FAQs**" because it means "Frequently Asked Questions", in the plural form.
Actually JShow says "**FAQ**".

![faq](https://cloud.githubusercontent.com/assets/733133/18033913/b28e4c20-6d2f-11e6-8c51-b58e5228668a.PNG)

[2016-08-28 13:20] jeckodevelopment commented on #362
No activity since June, I guess that the user resolved the problem.
Closing, re-open if needed.

[2016-08-28 13:20] #362 closed

[2016-08-28 13:22] jeckodevelopment commented on #485
@mikeveeckmans if needed, just give me access.

[2016-08-28 16:50] Joomv commented on #485
Hi Sandra,

1. Shop Banners are done.
2.  It made sense to make it Sobi.  I have done a little work on it but happy for you to either take over or give me some directions.
3. I thought I'd fixed the contact form, must have dreamt it.  I've done some now to address the issues.  Please take a look and let me know if that's ok.

Thanks

[2016-08-28 17:42] Sandra97 commented on #485
Hi Rowand and thank you.

Yes, it makes sense to make it with SP and not to add another extension just for this and the contact form.

You haven't dreamt about the contact form, you have already worked on it and now corrected these 2 details remaining.

2 more details:
- the breadcrumbs on the contact page: the font size is not the one it's supposed to be
- something went wrong with the banner on

[2016-08-28 18:01] Joomv commented on #485
I hadn't closed a small tag in the module above.  Now breadcrumbs are right size.

Check now, I have updated the paths.

[2016-08-28 18:17] jeckodevelopment opened #493 "[jmag] Pagination without style"
If you go to: http://magazine.joomla.org/
Pagination is displayed without any style.

![badpagination](https://cloud.githubusercontent.com/assets/733133/18035773/5cc9ac4e-6d5c-11e6-82ea-42261eac2331.PNG)

[2016-08-28 18:20] jeckodevelopment opened #494 "[jmag] Empty page"
I just pressed on the "2" link on the pagination to view 2 page and i got an empty page.
URL is: http://magazine.joomla.org/?start=8

![jmagempty](https://cloud.githubusercontent.com/assets/733133/18035788/c892c820-6d5c-11e6-8e53-4306dbe9f6e8.PNG)

[2016-08-28 18:24] Sandra97 commented on #485
Both are now ok. Thanks Rowan!

[2016-08-29 08:00] Radek-Suski opened #495 "[jmag] old articles on the frontpage"
On the frontpage  articles from July 2010 are currently displayed
![screen shot 2016-08-29 at 09 59 15](https://cloud.githubusercontent.com/assets/1110663/18044708/74e91fa8-6dcf-11e6-9c17-eb1d20ee76c9.png)

[2016-08-29 08:31] mikeveeckmans commented on #485
Thank you @Joomv & @Sandra97 !

[2016-08-29 10:00] oliviernolbert commented on #492
Done. Thank you.

[2016-08-29 10:04] oliviernolbert commented on #491
Done. Thank you.

[2016-08-29 10:29] oliviernolbert commented on #490
Done, thank you.

[2016-08-29 10:29] oliviernolbert commented on #489
Done, thank you.

[2016-08-29 10:42] oliviernolbert commented on #165
Fixed, thank you. It was the registration link in the login modal window.

[2016-08-29 10:44] oliviernolbert commented on #163
Can't be reproduced. Still the case on your side? any specific action needed to reproduce?

[2016-08-29 10:49] oliviernolbert commented on #162
Fixed, Thank you.

![capture d ecran 2016-08-29 a 12 48 03](https://cloud.githubusercontent.com/assets/6637889/18049187/f1971fc0-6de6-11e6-869c-799559702173.png)

[2016-08-29 10:50] oliviernolbert commented on #161
Constrast enhanced, thanks.

[2016-08-29 10:52] oliviernolbert commented on #157
Fixed, "Go" action button is now with blue background.

Thanks

[2016-08-29 11:00] MATsxm commented on #157
Closed - Reopen if needed

[2016-08-29 11:00] #157 closed

[2016-08-29 11:00] MATsxm commented on #161
Thanks
Closed - Re-open if needed

[2016-08-29 11:00] #161 closed

[2016-08-29 11:01] MATsxm commented on #162
Thanks
Closed - Re-open if needed

[2016-08-29 11:01] #162 closed

[2016-08-29 11:02] MATsxm commented on #489
Thanks
Closed - Re-open if needed

[2016-08-29 11:02] #489 closed

[2016-08-29 11:03] MATsxm commented on #490
Thanks
Closed - Re-open if needed

[2016-08-29 11:03] #490 closed

[2016-08-29 11:04] MATsxm commented on #491
Thanks
Closed - Re-open if needed

[2016-08-29 11:04] #491 closed

[2016-08-29 11:04] MATsxm commented on #492
Thanks
Closed - Re-open if needed

[2016-08-29 11:04] #492 closed

[2016-08-29 11:07] Sandra97 opened #496 "[jshow] Horizontal scrolling on the fronpage"
Hello,

On the frontpage, for screens up to 1178px, something on the page is creating an horizontal scrolling. Would be nice to fix this.

Thank you

[2016-08-29 11:09] Sandra97 commented on #496
Ping @oliviernolbert

[2016-08-29 11:14] Sandra97 opened #497 "[jshow] Wrong thumbnail size on responsive display"
For screens unders 768px, the thumbnails for the recently added part are blurred because of an inadequate size (320px, a width of 700px should solve this issue)
![index](https://cloud.githubusercontent.com/assets/4682328/18049741/08045284-6db8-11e6-8902-6dc7d07abd7a.png)

[2016-08-29 11:14] Sandra97 commented on #497
Ping @oliviernolbert

[2016-08-29 11:17] oliviernolbert commented on #156
Fixed, thanks.

[2016-08-29 11:17] Sandra97 commented on #497
Note that it's not only on the recently added part of the frontpage but everywhere you're using these thumbnails

[2016-08-29 11:20] Sandra97 opened #498 "[jshow] Drupal website"
Please remove the website of the French Ministry Defence Land Force. It is powered by Drupal...

[2016-08-29 11:20] Sandra97 commented on #498
Ping @oliviernolbert

[2016-08-29 11:23] oliviernolbert commented on #140
@mbabker What is the purpose of this plugin? You have a download link to share?

Thanks

[2016-08-29 11:23] Sandra97 commented on #498
Already mentioned in #156

[2016-08-29 11:24] MATsxm commented on #156
@oliviernolbert
I guess you have not fixed the fact that the site is a Drupal ? :smile:

[2016-08-29 11:26] MATsxm commented on #140
@oliviernolbert
Here: https://github.com/joomla-projects/plg_content_joomlarrssb

[2016-08-29 11:27] oliviernolbert commented on #498
Will be done, thank you

[2016-08-29 11:29] oliviernolbert commented on #138
Contrast enhanced. Thanks.

[2016-08-29 11:32] oliviernolbert commented on #498
Website unpublished and so removed from public view.

[2016-08-29 11:34] MATsxm commented on #498
Thanks
closed - re open if needed

[2016-08-29 11:35] MATsxm commented on #138
Thanks
closed - re open if needed

[2016-08-29 11:35] #138 closed

[2016-08-29 11:39] oliviernolbert commented on #155
Fixed, thanks.

[2016-08-29 11:51] oliviernolbert commented on #155
Updated url for testing: https://showcase.joomla.org/new/about-jsd/team-members.html

[2016-08-29 11:55] MATsxm commented on #155
Thanks
Closed - Reopen if needed

[2016-08-29 11:55] #155 closed

[2016-08-29 11:57] MATsxm commented on #156
Thanks
closed see #498 - reopen if needed

[2016-08-29 11:57] #156 closed

[2016-08-29 12:01] oliviernolbert commented on #166
The background of the 3 links has been removed for a better contrast.

![capture d ecran 2016-08-29 a 14 00 55](https://cloud.githubusercontent.com/assets/6637889/18050800/0601776c-6df1-11e6-86e7-aa6e3e514832.png)

[2016-08-29 12:03] pulsarinformatique opened #499 "[jshow] Can't edit a website"
Hi
Seems we can't edit an already posted website. The SAVE button is missing

thanks

cyril

[2016-08-29 12:07] MATsxm commented on #166
Thanks
closed - reopen if needed

[2016-08-29 12:07] #166 closed

[2016-08-29 12:30] jeckodevelopment commented on #495
Confirm!!!!

[2016-08-29 14:40] oliviernolbert commented on #487
It's a choice that has been made. One reason is that a domain name is less often changed than a site name/listing title.

Is it an issue or can it be one once website will be live?

[2016-08-29 15:13] Radek-Suski commented on #487
I think a url within the alias doesn't make much sense. Otherwise those aliases can get veeeeeery long.
As for changes, you can always set canonical href.

[2016-08-29 15:48] jeckodevelopment commented on #487
yes, otherwise, just use an ID in the alias. The URL sometimes is very very long.

[2016-08-29 15:53] Sandra97 opened #500 "[jshow] Quote - Suggestion"
Regarding the Quote field when submitting an entry, I noticed this field is required.
IMHO, it should not be as this element can be confidential. Or at least, if you really want to have it as required, could you change the price range (under 10k, between 10k and 50k, above 50k or something like that?).

Thank you

[2016-08-29 15:54] Sandra97 commented on #500
Ping @oliviernolbert

[2016-08-29 15:55] brianpeat opened #501 "[jforum] Unstick JWC 2014 post"
Can we get this post UNstuck so it's not at the top of the Event forums? It's badly out of date now and not relevant.

thanks!

http://forum.joomla.org/viewtopic.php?f=306&t=840792

[2016-08-29 15:58] jeckodevelopment commented on #501
@pe7er can you look at this, please?

[2016-08-29 16:29] pe7er commented on #501
Done!

[2016-08-29 16:33] sebastienlapoux commented on #500
Thanks Sandra. We added 5000 - 10000.

Currently this field is just requested on submission. The value is not used in public. The JSD team wish to estimate if this field is pertinent or not.

[2016-08-29 16:35] sebastienlapoux commented on #497
Thanks Sandra. On which device do you test please?

[2016-08-29 16:49] Sandra97 commented on #497
On my tablet (Samsung Galaxy tab3)

[2016-08-29 16:59] Sandra97 commented on #500
Goog thing it's not publicly available. IMHO, I still think it should not be a required field. Most of the time, this element is confidential.

[2016-08-29 17:06] MATsxm commented on #500
+1

[2016-08-29 17:07] MATsxm commented on #501
Thanks
Closed - reopen if needed

[2016-08-29 17:07] #501 closed

[2016-08-29 17:08] mbabker commented on #500
I'm just going to throw my 👍  on making it optional data.  If JSD wants to collect it for whatever reason I think that it should be made clear what it's used for and that it's not public data, but it shouldn't be a mandatory field.

[2016-08-29 17:09] Radek-Suski commented on #500
That's pretty personal information. Not to mention that I couldn't say how high the "Quote" would be for our company website.

[2016-08-29 18:10] Joomv commented on #500
Something it could be replaced with, rather than "what it cost" is the sort of site it is along the lines of

Hobby/Personal Site.
Small Business.
Corporate.
Enterprise.

[2016-08-29 18:53] brianteeman commented on #500
Golden rule of forms. Don't ask questions if you dont have a use fir the answers

[2016-08-29 19:27] brianteeman opened #502 "[jshop] contact form"
After submitting an email you are redirected to a page which has a 404

[2016-08-29 19:28] brianteeman opened #503 "[jshop] banner image on mobile"
On mobile devices the banner is on top of the image. This can be fixed by updating custom.css with

[code]

[2016-08-29 19:30] brianteeman opened #504 "[jshop] help desk"
When you are logged in there is an html error somewhere breaking the layout
![hx2o](https://cloud.githubusercontent.com/assets/1296369/18064452/74d7a928-6e27-11e6-965a-65cc46b5f6d7.png)

[2016-08-29 19:32] brianteeman opened #505 "[jshop] shop support menu"
https://community.joomla.org/helpdesk/shop-support.html

There is duplication on the menus

![gmrh](https://cloud.githubusercontent.com/assets/1296369/18064509/a3f06b96-6e27-11e6-849e-9b450fbf8022.png)

[2016-08-29 21:32] sebastienlapoux commented on #500
Thanks for your feedback.
Currently we removed the quote field.
@Joomv, thanks, why not, already category and tag. Will launch like this and discuss opportunity of additional fields later.

[2016-08-29 21:33] sebastienlapoux commented on #25
Please close this item it concerns the old site.

[2016-08-29 21:35] sebastienlapoux commented on #136
Fixed. Thanks.

[2016-08-29 21:36] sebastienlapoux commented on #488
Fixed. Thanks!

[2016-08-29 21:38] sebastienlapoux commented on #160
Fixed. Thanks!

[2016-08-29 21:44] Sandra97 commented on #498
Is it just me or is it still displayed (I'm not log in and cleaned my cache)?

[2016-08-29 22:12] Joomv commented on #502
Dealt with.  Now shows message.

[2016-08-29 22:13] Joomv commented on #505
Dealth with

[2016-08-29 22:13] #505 closed

[2016-08-29 22:23] Joomv commented on #504
Bizarrely its just the shop user group.
I'll look at this in the morning.

[2016-08-29 22:26] Joomv commented on #503
Fixed

[2016-08-29 22:26] #503 closed

[2016-08-29 23:47] MATsxm commented on #498
agree.
Still here and.... still a Drupal :stuck_out_tongue_closed_eyes:

[2016-08-29 23:51] Sandra97 commented on #499
I had the same issue. You can edit but not save your changes.
@sebastienlapoux, @oliviernolbert, could you have a look?
Thanks.

[2016-08-29 23:56] MATsxm commented on #488
ok here thanks
Closed -reopen if needed

[2016-08-29 23:56] #488 closed

[2016-08-29 23:57] MATsxm commented on #25
closed on request

[2016-08-29 23:57] #25 closed

[2016-08-30 00:01] Sandra97 commented on #488
Solved but still not using jorg template...

[2016-08-30 01:30] #136 closed

[2016-08-30 01:42] MATsxm commented on #77
I would like to remove the logos and replace them with a link to the showcase as soon as it is launched.

[2016-08-30 01:45] MATsxm commented on #6
any news about a Team?
we really need an active one.

[2016-08-30 01:47] Sandra97 commented on #77
Fully agree.

[2016-08-30 01:49] MATsxm commented on #94
Not displayed anymore.
Closing - reopen if needed

[2016-08-30 01:49] #94 closed

[2016-08-30 01:52] mbabker commented on #77
Just do it and ask for forgiveness later.

On Monday, August 29, 2016, Marc-Antoine Thevenet <notifications@github.com>
wrote:

[2016-08-30 01:58] Sandra97 commented on #77
Done. Forgive me.

[2016-08-30 01:58] #77 closed

[2016-08-30 02:07] MATsxm opened #506 "[jorg] do .org main page still needs a link to joomlagov.info?"
I'm more than skeptical about keeping the link to the site: http://joomlagov.info/
on the main page of .org

![673f1194534128e4bca8dfb1bfc23fb0](https://cloud.githubusercontent.com/assets/1972717/18073531/d5401338-6e34-11e6-8e89-54ff80a33f63.png)

AFAIK, not an "official" property, we have now the showcase and gov is a concept highly variable depending on the countries and political cultures (eg.

[2016-08-30 02:14] MATsxm commented on #270
any news?

[2016-08-30 02:18] MATsxm commented on #186
What is the status of this "issue"?

[2016-08-30 02:18] mbabker opened #507 "[jmag] Article in list layouts breaks responsive display"
On the homepage or the issue pages where you have a list of articles, the row in the article "card" with the date, author, and comments button isn't responsive and displays full width, causing a massive horizontal scroll on mobile.

[2016-08-30 02:19] mbabker commented on #186
If we're looking for a stateful alert, we need someone to contribute code
for it (that's a lot more JavaScript than I can sanely write).  Beyond
that, if there's going to be no action this can be closed out.

On Monday, August 29, 2016, Marc-Antoine Thevenet <notifications@github.com>
wrote:

[2016-08-30 06:59] oliviernolbert commented on #498
Ok, found why. It will be fixed today (the visibility issue, not the Drupal issue)

[2016-08-30 08:40] brianteeman commented on #505
Looks like you have resolved this one as well - thanks

[2016-08-30 08:40] brianteeman commented on #503
Thanks - Looking at it again I think it needs to be less than 30px

[2016-08-30 08:41] brianteeman commented on #502
Thanks

[2016-08-30 08:41] brianteeman commented on #504
OK - thanks

[2016-08-30 09:05] brianteeman commented on #506
I think its a great site. (I would do as I helped)

The main difference between it and the showcase is that 95% of the sites on the gov site were NOT submitted - they were the results of hundreds of hours of work by people finding the sites.

[2016-08-30 09:28] mikeveeckmans commented on #505
Thank you!

[2016-08-30 09:28] mikeveeckmans commented on #503
Thank you

[2016-08-30 09:38] mikeveeckmans commented on #502
@Joomv
Just one more question : when the form arrives it has the no-reply as sender and reply address. Could this be the address from the person who sends the form?
Thank you.
(looked at it, but couldn't find it, nor in the documentation of chrono)

[2016-08-30 09:41] mikeveeckmans commented on #502
checked, not visible anymore

[2016-08-30 09:42] mikeveeckmans commented on #498
checked, not visible anymore

[2016-08-30 09:42] #498 closed

[2016-08-30 09:44] mikeveeckmans commented on #486
@Saurabh1 please activate Let's encrypt at the moment

[2016-08-30 09:55] Sandra97 commented on #506
I'm questioning myself too about having this website on the homepage, as it's not an official Joomla! webiste. I don't think we should here promote a 3rd party website. But maybe, it can be more relevant to mention it on the upcoming Showcase website?

[2016-08-30 10:26] Sandra97 commented on #506
They maybe the "results of hundreds of hours of work by people finding the sites" but they also refuse gov. websites without any legitimate reason except the fact they don't seem to understand that a website can be a governmental one in one country and not in another one...

[2016-08-30 10:31] isidrobaq commented on #186
Well, as I said I'm afraid I can't contribute code, unfortunately. Maybe someone with time and knowledge could get inspired by this WP plugin

https://github.com/wp-plugins/adblock-notify-by-bweb

I can understand that given our structure and resources, if nobody is going to contribute code to get this done, this should be closed. But please, let's try to find people to get something done. It's ju

[2016-08-30 10:35] mikeveeckmans commented on #160
checked and solved

[2016-08-30 10:35] #160 closed

[2016-08-30 10:38] Joomv commented on #502
The reply to is set to the sender.  If this isn't working out I can change.
Also were we not going to use the helpdesk for this eventually?
Might be an idea to switch that now?

[2016-08-30 10:42] Sandra97 opened #508 "[jshow] Display broken for Browse sites and its menu items"
The display on these pages is broken because of the text of JAB website. If you can limit the number of characters displayed on these pages, it will solve this issue.
![index](https://cloud.githubusercontent.com/assets/4682328/18086237/de60e5e4-6e7c-11e6-8e36-0f09ecf9a962.png)

[2016-08-30 10:43] Sandra97 commented on #508
Ping @oliviernolbert & @sebastienlapoux

[2016-08-30 10:49] mikeveeckmans commented on #499
Same here, side note : my submission is still in review

[2016-08-30 11:03] jeckodevelopment commented on #506
Results can be consistent when Local people submit websites. e.g. in Italy most of schools are public/national, so they could be listed as Government websites. Same for websites of Towns/Cities.

[2016-08-30 11:06] jeckodevelopment commented on #6
thank you for the reminder. I'm going to ping them.

[2016-08-30 11:07] mikeveeckmans opened #509 "[jtrain] add to CDN menu please"
@mbabker can you add Joomla! Training to the CDN menu please? Thank you!
Either under support or community (prefer support)
url : training.joomla.org or https://community.joomla.org/joomla-training.html

[2016-08-30 11:08] jeckodevelopment commented on #509
I'll do it!

[2016-08-30 11:10] mikeveeckmans commented on #509
@jeckodevelopment thank you

[2016-08-30 11:12] jeckodevelopment commented on #509
done! :D
@mikeveeckmans you're welcome

[2016-08-30 11:16] MATsxm commented on #506
@jeckodevelopment  this is not the case but anyway... this is NOT the problem, neither that some spent hours doing something.

The question here is: should this link be on the main page of org.

My opinion is: NO

[2016-08-30 11:18] oliviernolbert commented on #499
Currently checking...

[2016-08-30 11:18] jeckodevelopment commented on #506
Not sure about that. But, if we decide to remove it, it could be linked in Showcase.

[2016-08-30 11:20] Radek-Suski commented on #506
Let us create something like this at community.joomla.org

[2016-08-30 11:24] brianteeman commented on #506
Sorry it's just pathetic. This not invented here so we can't promote
attitude is just childish.

[2016-08-30 11:27] MATsxm commented on #506
What I'm not surprised...

[2016-08-30 11:43] genr8r commented on #506
FWIW - I was poking around quite a bit at the sites referenced from here recently and many (most?) of the listings are no longer relevant/out of date.

fun fact - The US Central Command (centcom.mil) was Joomla until about April of this year.

I haven't had a chance to check out the new showcase yet, but I am wondering/hoping that there might be some crowd source method (ala the webmasters issues

[2016-08-30 11:51] oliviernolbert commented on #499
'Save' and 'Save & Close' buttons should now be available on site edition.

[2016-08-30 11:52] oliviernolbert commented on #508
Work In progress. Thank you Sandra.

[2016-08-30 11:53] Sandra97 commented on #499
I confirm and it works fine. Thanks Olivier.
Closing this issue.
Re-open if needed.

[2016-08-30 11:53] #499 closed

[2016-08-30 12:01] Hils commented on #506
Government choices are powerfully persuasive when people are looking for a CMS.

That website is not 3rd-party. It was done by a small group of volunteers for Joomla. If things need updating it is because more volunteers are needed to help.

It took hours and hours to do and each site was checked at the time for validity by people from different parts of the world.

Any refusal of a site was done

[2016-08-30 12:07] sebastienlapoux commented on #487
Thanks!
Changed. Using the ID only.

[2016-08-30 12:08] sebastienlapoux commented on #500
Thanks to close the issue after your confirmation.

[2016-08-30 12:08] jeckodevelopment commented on #506
In my opinion we don't need to redo something that is already in place. We need just to cleanup the listings and decide how to promote it.
I don't care if it's a 3rd party, agree with @Hils

Consider that, when someone talks about Drupal, he/she sais:

[2016-08-30 12:09] jeckodevelopment commented on #487
Thank you @sebastienlapoux

[2016-08-30 12:09] #487 closed

[2016-08-30 12:14] oliviernolbert commented on #508
The extra text has been hidden with some css. So, full text is available on mobile (1 item per line). thanks for testing.

[2016-08-30 12:16] Sandra97 commented on #500
I confirm the field has been removed.
Closing this issue.
Re-open if needed.

[2016-08-30 12:16] #500 closed

[2016-08-30 12:17] jeckodevelopment commented on #509
Closing since we have a PR for this.

[2016-08-30 12:17] #509 closed

[2016-08-30 12:18] Sandra97 commented on #508
I confirm the display has been corrected and is now ok. One line displayed.
Closing this issue.
Re-open if needed

[2016-08-30 12:18] #508 closed

[2016-08-30 12:28] mbabker commented on #506
If we're going to argue no third party service should be "promoted" on the homepage then we should kill every non-paying-partner's links across the entire network.  This includes our leadership's website links on that page.

This site honestly falls into a special category of its own; it's not just another third party site.  IIRC this was originally just a page on the docs wiki based on a similar

[2016-08-30 12:32] mbabker commented on #486
This isn't something Saurabh can just do on a whim.  If you want SSL enabled this needs to be coordinated with Rochen.

Also, we are using MCS systems.  Further requiring coordination with Rochen.

[2016-08-30 12:33] Hils commented on #506
Joomla Gov is still maintained. See @joomlagov twitter
https://twitter.com/joomlagov

Yes you are right Michael. The wiki wasn't keeping up so it morphed into the site as you see it today.

[2016-08-30 12:36] Hils opened #510 "colours [jorg]"
https://www.joomla.org/

I still don't see the logic of having different colours doing the same thing on the buttons. I can see that the blue, green, organge & red sequence makes sense as they are the order the colours appear in the logo. But why have different colours in the buttons above when they link to the same location?

<img width="419" alt="button-colour-jorg1" src="https://cloud.githubuse

[2016-08-30 12:40] mbabker commented on #510
The buttons on the top bar have always been those colors and long predate .org itself being on 3.x or using the current banner section.  Short of hiding the top bar's buttons on the homepage or redoing the button sequence on the homepage banner, there's going to be a small bit of inconsistency.  And considering how long those buttons on the top bar have been displayed the way they have (and consid

[2016-08-30 12:41] mikeveeckmans commented on #486
ok, thank you for the feedback @mbabker .
Can you or someone communicate this with Rochen ?

[2016-08-30 12:46] Hils commented on #510
Fair comment. I can accept it if it's a technical problem - just a shame it looks so graphically inconsistent!

[2016-08-30 12:46] sebastienlapoux commented on #139
ok/fixed for
Alias - as this is a readonly field is there any value in displaying it
Template Framework - this is just a list of "joomla frameworks" and ignores the obvious real frameworks such as bootstrap2, bootstrap3, foundation etc
 Country - No idea where this list originates from but it is not alpha sorted. Example United Kingdom is among the G not the U. I am guessing this is a french langu

[2016-08-30 13:15] brianteeman opened #511 "[jshop] Redirect url"
Before going live dont forget to add a redirect from shop.joomla.org to the new url

[2016-08-30 13:16] Sandra97 commented on #510
I changed the color of the buttons of the banner position so now Download buttons are both orange and Demo blue.
Closing this issue.
Re-open if needed.

[2016-08-30 13:16] #510 closed

[2016-08-30 13:18] Hils commented on #510
Brilliant! Thank you very much for doing that @Sandra97 - it looks tons better :)

[2016-08-30 13:21] mikeveeckmans commented on #511
noted ;-)

[2016-08-30 15:24] jeckodevelopment opened #512 "[ALL] Update Joomla! Template"
Please update Joomla! standard template to version 2.1.0
It includes a series of improvements and a brand-new CDN menu.

@mbabker sent already a copy of the template to each webmaster of the J.org properties.
Please give a notification when updated.

- [x] api.joomla.org
- [x] certification.joomla.org
- [x] community.joomla.org
- [x] developer.joomla.org
- [x] download.joomla.org
- [x] exam.joomla

[2016-08-30 15:26] mbabker commented on #512
Edited the site list.  ideas and framework don't use this template...

[2016-08-30 15:27] jeckodevelopment commented on #512
Thank you :)

[2016-08-30 15:28] jeckodevelopment commented on #512
@mbabker demo should update the CDN menu, right?

[2016-08-30 15:29] mbabker commented on #512
Preferably they should sync the menu, yes.  But, I don't have any dealings with SiteGround so that's on whomever to arrange that.

[2016-08-30 15:49] Sandra97 opened #513 "[jshow] Arrows of the recently added are not working"
On the front page, recently added module, it seems clicking on the arrows has not effect, can't scroll.
@sebastienlapoux, @oliviernolbert, could you have a look to this?
Thank you.

[2016-08-30 15:55] sebastienlapoux commented on #513
already on it...

[2016-08-30 16:05] zero-24 opened #514 "[jshop] Books Store publishing infos"
![image](https://cloud.githubusercontent.com/assets/2596554/18096818/d8969366-6edb-11e6-84be-a77d01501611.png)

Page: https://community.joomla.org/books.html

Any reason to show this info?

[2016-08-30 16:08] jeckodevelopment commented on #514
@MATsxm sorry, i wrongly removed the label!!!!

[2016-08-30 16:10] zero-24 opened #515 "[jshop] FAQ (select the sales team)"
I some FAQ answears you to the user to `select the sales team`

[code]

There is no select for a sales team just `sales questions`

https://community.joomla.org/shop-faq.html

[2016-08-30 16:12] zero-24 opened #516 "[jshop] Contact form"
https://community.joomla.org/shop-contact.html?view=form

The Titel says `Contact the Shop Team` on the FAQ we say `contact the sales team`. Maybe we should use a consistent term?

[2016-08-30 16:14] zero-24 opened #517 "[jshop] Size chart redirects to another page"
The `size chart` button redirects me to the main site:

https://community.joomla.org/the-joomla-shop/product/must-have-t-shirt.html
-> Button `size chart`
https://community.joomla.org/index.php

[2016-08-30 16:17] zero-24 opened #518 "[jshop] Add to the cart is open just for a few secconds"
- Go to https://community.joomla.org/the-joomla-shop/product/must-have-t-shirt.html
- klick on `Add to cart`
- wait just one or two secconds (without clicking anything)
- the popup is gone without any action by the user

[2016-08-30 16:20] zero-24 opened #519 "[jshop] the adress popup has a smal `Ok` button"
If you checkout an article and the system asks for more information the `ok` button is very smal and not good visible.

![image](https://cloud.githubusercontent.com/assets/2596554/18097514/59252324-6ede-11e6-92c1-952e9a3d8998.png)

[2016-08-30 16:23] zero-24 opened #520 "[jshop] Where is the helpdesk the contact form is pointing too?"
https://community.joomla.org/shop-contact.html?view=form

Where is the helpdesk if I'm logged in?

![image](https://cloud.githubusercontent.com/assets/2596554/18097584/aaf3c50c-6ede-11e6-9884-030260d223b0.png)

Under `My Account` (where the link sends me) is also no helpdesk:

![image](https://cloud.githubusercontent.com/assets/2596554/18097609/c7ef9316-6ede-11e6-8dec-7ff0786109a8.png)

Or I'm mis

[2016-08-30 16:27] zero-24 opened #521 "[jshop] Why is the telefon mandetory but not the zip code?"
![image](https://cloud.githubusercontent.com/assets/2596554/18097686/33db24b4-6edf-11e6-9411-f5f170b35265.png)

I'm not sure if we need the zip code but why do we need the telefon as we have a mail account from the registration?

[2016-08-30 16:29] zero-24 opened #522 "[jshop] I have got an error message after the first next step"
![image](https://cloud.githubusercontent.com/assets/2596554/18097748/887f01c0-6edf-11e6-8a6d-588a4a891e72.png)

and after clicking the button i got the same error agian:
![image](https://cloud.githubusercontent.com/assets/2596554/18097786/a32fe052-6edf-11e6-9110-fa6548468698.png)

PS. I have added dummy adress etc. maybe that is the reason?

[2016-08-30 16:30] zero-24 commented on #522
There is also no `X` to close that popup :smile:

[2016-08-30 16:34] zero-24 opened #523 "[jshop] Why do we need a Address 2 field?"
On checkout we go ask to add a optional Address 2 field but why do we need that? The normal Address field has no limit i have seen that could be a problem or i miss something?

![image](https://cloud.githubusercontent.com/assets/2596554/18097940/5e32448a-6ee0-11e6-99a2-64b61cb9c487.png)

[2016-08-30 16:37] jeckodevelopment commented on #523
it's a common practice have an address 2 field, in order to allow people to write further info

[2016-08-30 16:40] zero-24 opened #524 "[jshop] My Carts list two cols without function?"
For me it looks like they have no function? Or I'm missing something?

![image](https://cloud.githubusercontent.com/assets/2596554/18098088/e8fd5b22-6ee0-11e6-9cbd-15c22619b9f5.png)

[2016-08-30 16:45] zero-24 commented on #523
ok :smile: Maybe we can change the name than to `Additional Address` or `More Address` something similiar?

[2016-08-30 16:46] zero-24 opened #525 "[jshop] Joomlers Showcase"
![image](https://cloud.githubusercontent.com/assets/2596554/18098176/630688b2-6ee1-11e6-902c-7ea6a63a17ee.png)

On the menü we say `Joomlars' Showcase` on the Text we use it without `'` I don't speak english native but  i think we should use it consistent with or without `'`?

[2016-08-30 16:47] zero-24 commented on #525
The `Agree the terms button` looks missplaced?

[2016-08-30 16:49] zero-24 commented on #525
I'm not sure about the stars on the contact for we use smal red * here bigger blue stars?

![image](https://cloud.githubusercontent.com/assets/2596554/18098402/5c6a1748-6ee2-11e6-999b-b69c4ea4963d.png)

Do we explain the stars are required? we don't do that on the contact form too?

[2016-08-30 16:51] mbabker commented on #523
Most shipping forms use Address and Address 2 as the labels (or "Address (cont.)").  It's a pretty standard convention.

[2016-08-30 16:53] zero-24 commented on #523
Than i think `Address (cont.)` much better :smile:  Just my personal opinion

[2016-08-30 16:59] mandville commented on #512
can the name of the template reflect the issue date.

[2016-08-30 17:01] zero-24 opened #526 "[jshop] login redirect to the shop?"
I'm not sure if that is something you want? But why not set up a plugin that redirects the shop users (i expect them to have a spezial usergroup or similiar) to the shop instead of the profile?

[2016-08-30 17:02] brianteeman commented on #523
It was me that added it. My own address is on two lines so I needed it ;)

[2016-08-30 17:06] mbabker commented on #526
IMO more complicated than it's worth.  How do you cope with admin users logging into the frontend from different source pages as an example?

It's a consequence of having a single site with a lot of functionality (training, shop, helpdesk, soon to be events, etc.).

[2016-08-30 17:06] brianteeman commented on #521
Not everywhere in the world has a post code/zip

Not sure about the reason for the  telephone number though

@mikeveeckmans is this for the api. If not I can change it if you want

[2016-08-30 17:08] brianteeman commented on #518
Thats the intended behaviour in hikashop afaict

[2016-08-30 17:10] zero-24 opened #527 "[jshop] remove text-decoration: underline; on the plus button :focus"
![image](https://cloud.githubusercontent.com/assets/2596554/18099066/276e5f4c-6ee5-11e6-9404-0304a9a633de.png)

If you hit the plus button we got `text-decoration: underline;` is this expected? It looks like this comes from the global CSS shipd with the template.

[2016-08-30 17:12] #526 closed

[2016-08-30 17:14] brianteeman commented on #517
Not sure what happened - there - it was working before

[2016-08-30 17:15] zero-24 opened #528 "[jshop] add to cart looks not so nice on a phone"
![wp_ss_20160830_0002](https://cloud.githubusercontent.com/assets/2596554/18099299/2310dfc8-6ee6-11e6-90aa-85e9aea5584e.png)
Maybe we can move it a bit?

[2016-08-30 17:16] Sandra97 commented on #523
Mine too so I need them

[2016-08-30 17:22] zero-24 commented on #523
ok. But we can rename it to `Address (cont.)`? If not just close ;)

[2016-08-30 17:23] zero-24 commented on #517
But it is not just me correct? You can confirm that too?

[2016-08-30 17:26] Hils commented on #523
Is it normal to have the telephone number in the middle of the address? ...and I am assuming that Country & State will change location on the form and State will change to county if one selects UK as the country (or England depending on the shop set up).

[2016-08-30 17:26] zero-24 opened #529 "[jshop] There is a big free place after the books iframe is that expected?"
![image](https://cloud.githubusercontent.com/assets/2596554/18099420/bbefc2cc-6ee6-11e6-93fe-330f8ad279cf.png)

https://community.joomla.org/books.html

[2016-08-30 17:27] genr8r opened #530 "[jtrain] 404 - https://community.joomla.org/books/je/chapter4/"
The link text is "Joomla Explained book" under "Links Included in the video" at the bottom.

[2016-08-30 17:28] zero-24 opened #531 "[jcomm] Dummy banner under my profile?"
I'm not sure which site it is but i got a dummy banner under my profile ;)

![image](https://cloud.githubusercontent.com/assets/2596554/18099647/ceae3a28-6ee7-11e6-91f7-79f7c53f7f57.png)

[2016-08-30 17:29] brianteeman commented on #517
Yes the link has gone

[2016-08-30 17:32] brianteeman commented on #523
@zero-24 its a fairly standard format

@Hils When the shipping API creates the shipping label it formats it in the order required.

[2016-08-30 17:34] brianteeman commented on #530
What page where you on to get that link?

[2016-08-30 17:35] Hils commented on #523
really not wanting to be picky but that means the customer puts it in in the wrong order & leaves the api to sort it all out? Seems the long way round!

[2016-08-30 17:36] Sandra97 opened #532 "[jshop] Title of menu"
It was decided to use "The Joomla! Shop" and not only Joomla! Shop (and we did this change in the CDN menu).
To be consistent, could you please rename the menu item "The Joomla! Shop" ?

[2016-08-30 17:47] brianteeman commented on #517
I am fixing this

[2016-08-30 17:51] brianteeman commented on #517
This should be fixed now for all the t-shirts and hoodies

[2016-08-30 18:01] brianteeman commented on #523
I have moved telephone to the end
I have removed the required field for it

[2016-08-30 18:01] brianteeman commented on #523
It doesnt change the label but the content is indeed county

[2016-08-30 18:03] brianteeman commented on #522
I havent seen that error in my tests
@mikeveeckmans any idea what error 1211 is?

[2016-08-30 18:05] brianteeman commented on #514
I've fixed this

[2016-08-30 18:07] brianteeman commented on #524
Nope - i cant see what they are for either

[2016-08-30 18:17] Hils commented on #523
thank you Brian :)

[2016-08-30 18:20] zero-24 commented on #517
Thanks

[2016-08-30 18:20] #517 closed

[2016-08-30 18:20] zero-24 commented on #514
we have still:
![image](https://cloud.githubusercontent.com/assets/2596554/18101508/36fb5618-6eef-11e6-9581-f9de44f1d531.png)

[2016-08-30 18:21] brianteeman commented on #517
I think it was me that broke the links ;(

On 30 August 2016 at 19:20, zero-24 <notifications@github.com> wrote:

--
Brian Teeman
Co-founder Joomla! and OpenSourceMatters Inc.
http://brian.teeman.net/

[2016-08-30 18:36] zero-24 commented on #517
No problem it works now :smile: Thanks.

[2016-08-30 18:42] zero-24 commented on #514
Gone .Thanks :+1:

[2016-08-30 18:42] #514 closed

[2016-08-30 19:06] oliviernolbert commented on #513
Should now be ok.

[2016-08-30 19:11] Sandra97 commented on #513
I confirm it now works.
Closing this issue.
Re-open of needed.

[2016-08-30 19:11] #513 closed

[2016-08-30 19:39] brianteeman commented on #523
Can this one be closed now?

[2016-08-30 19:43] #523 closed

[2016-08-30 19:52] mikeveeckmans commented on #515
This Will be solved by referring to the helpdesk

Sent from my iPhone

On 30 Aug 2016, at 20:07, zero-24 <notifications@github.com<mailto:notifications@github.com>> wrote:

I some FAQ answears you to the user to select the sales team

If the item is faulty please use the contact form and select the sales team.

There is no select for a sales team just sales questions

-
You are receiving this beca

[2016-08-30 19:53] mikeveeckmans commented on #522
Don't use dummy addresses please, the API is checking the address in real time

Sent from my iPhone

On 30 Aug 2016, at 20:03, Brian Teeman <notifications@github.com<mailto:notifications@github.com>> wrote:

I havent seen that error in my tests
@mikeveeckmans<https://github.com/mikeveeckmans> any idea what error 1211 is?

-
You are receiving this because you were mentioned.
Reply to this email dir

[2016-08-30 19:54] mikeveeckmans commented on #521
Yes the api requests a phone number for contact

Sent from my iPhone

On 30 Aug 2016, at 19:33, Brian Teeman <notifications@github.com<mailto:notifications@github.com>> wrote:

Not everywhere in the world has a post code/zip

Not sure about the reason for the telephone number though

@mikeveeckmans<https://github.com/mikeveeckmans> is this for the api. If not I can change it if you want

-
You are

[2016-08-30 19:55] mikeveeckmans commented on #529
This is a iframe from Amazon , will be changed

Sent from my iPhone

On 30 Aug 2016, at 19:26, zero-24 <notifications@github.com<mailto:notifications@github.com>> wrote:

[image]<https://cloud.githubusercontent.com/assets/2596554/18099420/bbefc2cc-6ee6-11e6-93fe-330f8ad279cf.png>

https://community.joomla.org/books.html

-
You are receiving this because you are subscribed to this thread.
Reply to

[2016-08-30 19:56] mikeveeckmans commented on #528
What os and browser are you using?

Sent from my iPhone

On 30 Aug 2016, at 19:15, zero-24 <notifications@github.com<mailto:notifications@github.com>> wrote:

[wp_ss_20160830_0002]<https://cloud.githubusercontent.com/assets/2596554/18099299/2310dfc8-6ee6-11e6-90aa-85e9aea5584e.png>
Maybe we can move it a bit?

-
You are receiving this because you are subscribed to this thread.
Reply to this email

[2016-08-30 19:57] mikeveeckmans commented on #527
Mmmm haven't seen it yet, have to check it

Sent from my iPhone

On 30 Aug 2016, at 19:11, zero-24 <notifications@github.com<mailto:notifications@github.com>> wrote:

[image]<https://cloud.githubusercontent.com/assets/2596554/18099066/276e5f4c-6ee5-11e6-9404-0304a9a633de.png>

If you hit the plus button we got text-decoration: underline; is this expected? It looks like this comes from the global C

[2016-08-30 19:58] mikeveeckmans commented on #520
You're not missing it, it's not enabled for public yet

Sent from my iPhone

On 30 Aug 2016, at 18:23, zero-24 <notifications@github.com<mailto:notifications@github.com>> wrote:

https://community.joomla.org/shop-contact.html?view=form

Where is the helpdesk if I'm logged in?

[image]<https://cloud.githubusercontent.com/assets/2596554/18097584/aaf3c50c-6ede-11e6-9884-030260d223b0.png>

Under My Ac

[2016-08-30 20:00] mikeveeckmans commented on #523
Don't worry about this, I'll check when back at home

Sent from my iPhone

On 30 Aug 2016, at 21:58, Hils <notifications@github.com<mailto:notifications@github.com>> wrote:

really not wanting to be picky but that means the customer puts it in in the wrong order & leaves the api to sort it all out? Seems the long way round!

-
You are receiving this because you are subscribed to this thread.
Reply

[2016-08-30 20:07] zero-24 commented on #520
So we can close here as it is currently expected?

[2016-08-30 20:08] zero-24 commented on #527
Let me know if you need help to reproduce it.

[2016-08-30 20:08] zero-24 commented on #528
IE edge & WP10 ;)

[2016-08-30 20:08] Hils commented on #523
Brian has sorted it Mike

[2016-08-30 20:08] zero-24 commented on #529
Thanks

[2016-08-30 20:09] zero-24 commented on #521
Ok closing than. Thanks

[2016-08-30 20:09] #521 closed

[2016-08-30 20:34] mikeveeckmans commented on #528
Get a real phone ;) just kidding... I'll check