[2017-09-18 17:35] #1036 closed

[2017-09-19 01:51] jasonkhocl opened #1037 "[joomla.org]"
I will like to report an issue pertaining to inaccurate information with regards to my company's product Martin Modern published on the below url. Please remove this url and its content.

https://martinmodern.joomla.com/

[2017-09-19 05:09] franz-wohlkoenig commented on #1037
please report this Issue at https://www.joomla.com/.

[2017-09-19 07:03] jasonkhocl commented on #1037
Hi, How do I do that?  Is it not under joomla websites?

From: Franz Wohlkönig [mailto:notifications@github.com]
Sent: Tuesday, 19 September, 2017 1:09 PM
To: joomla/joomla-websites
Cc: Jason Kho; Author
Subject: Re: [joomla/joomla-websites] [joomla.org] (#1037)

please report this Issue at https://www.joomla.com/.

—
You are receiving this because you authored the thread.
Reply to this email dire

[2017-09-19 07:21] franz-wohlkoenig commented on #1037
at https://www.joomla.com/ click on "Support".

[2017-09-19 11:28] mbabker commented on #1037
joomla.com is hosted by SiteGround so you could also contact their support or customer service directly.

[2017-09-19 13:56] brianteeman opened #1038 "[joomla.org] Press Inquiries menu"
Sorry to be pedantic but in en-GB it should be "Enquiries"

[2017-09-19 13:58] mbabker commented on #1038
Pedanticism addressed.

[2017-09-19 13:58] #1038 closed

[2017-09-19 14:00] brianteeman commented on #1038
Thank you!!!

[2017-09-19 15:43] carcam opened #1039 "[j3]"
I think the imaginery of Joomla 3 is wrong:

https://www.joomla.org/3/

Right now you ready "An Eye on Joomla 3.7" while we are in Joomla 3.8. I think it was intended to be: "An Eye on Joomla 4", isn't it?

[2017-09-19 15:47] mbabker commented on #1039
No, it's intended.  It's continuing to highlight features from 3.7.  Clicking the hexagon on the landing page jumps to the "Spotlight on Joomla! 3.7's main features" section.

[2017-09-19 16:07] musakhalid opened #1040 "[joomla.org]"
Please describe the problem or your issue.

I upgraded my Joomla to v3.8.0 after its completed 100% the backend started showing a blank page, but the front is showing normal.

the bankend will only show blank after you might have login.

what might be the issue, kindly assist. https://www.firstbulksmsng.com

Thank you

[2017-09-19 16:10] franz-wohlkoenig commented on #1040
Please ask help on the [forums](https://forum.joomla.org/). This repository concerns Joomla-Websites like joomla.org. For this Reason please close this Issue, thanks.

[2017-09-19 16:12] #1040 closed

[2017-09-19 19:00] jeckodevelopment opened #1041 "[jrd] Please remove JLP category"
Hello,
could you please remove the Joomla! Learning Partners category from the Joomla! Resource Directory?

Since not all of our partners are listed there and we're building our JLP Directory on the Certification website, such category is not needed anymore on the JRD.

Thank you for your precious collaboration.

[2017-09-20 08:56] brianteeman opened #1042 "[joomla.org] new feature mistake"
in the list of 3.8 features is this incorrect entry

Featured Articles: Schedule when to start and stop featuring an article #13596

[2017-09-20 09:36] Joomv commented on #1042
Gone across all languages.
I've display:none'd it until I can speak to Sandra.

[2017-09-20 09:53] brianteeman commented on #1042
thanks

[2017-09-20 10:50] Sandra97 commented on #1042
Thanks Rowan!
Closing this issue.
Re-open if needed.

[2017-09-20 10:50] #1042 closed

[2017-09-20 10:53] brianteeman commented on #1042
Can it be removed properly rather than a display none please.

Google will still see the incorrect text

[2017-09-20 10:54] Sandra97 commented on #1042
It will Brian. Just let me take a coffe first

[2017-09-20 11:07] brianteeman commented on #1042
Thanks

[2017-09-20 11:46] Sandra97 commented on #1042
All removed properly.

[2017-09-21 01:05] genr8r commented on #1041
Hi @jeckodevelopment. Do you want to remove or update the sidebar menu item "find a JLP near you" from this page...

https://certification.joomla.org/jlp/joomla-learning-partners

before I unpublish the items?

I don't want to break the link on the certification site.

[2017-09-22 12:53] simm12 opened #1043 "[forum.joomla.org]"
After updating to Joomla 3.8.0 my website stoped working and I get this message: This page isn’t working
ipsmlb.org is currently unable to handle this request.
HTTP ERROR 500. I even restored the site from Backup, but still I get the same message. Also the on the backend I get the same message.
Please Advise how can I solve the problem. Thank You.

[2017-09-22 12:57] franz-wohlkoenig commented on #1043
Please have a look at https://github.com/joomla/joomla-cms/issues/18020 (and similar Issues) or ask help on the [forums](https://forum.joomla.org/).

This repository concerns Joomla-Websites like joomla.org. For this Reason please close this Issue, thanks.

[2017-09-22 13:23] simm12 commented on #1043
ok

[2017-09-22 13:41] #1043 closed

[2017-09-23 08:49] jeckodevelopment commented on #1041
Please remove the category, we're removing the link from the website. Thanks for noticing.

[2017-09-23 15:30] romeoblaga opened #1044 "[joomla.org]"
Porque no puedo ver mis articulos y menus creados en joomla 3.7 en localhost.Ayuda por favor

[2017-09-23 15:35] romeoblaga commented on #1044
Tengo otro problema he instalado joomla 3.7 en ubutnu server 16.4,he configurado el ftp para ver mis archivos y ahora en el navegador chrome no puedo seguir instalando joomla 3.7 me da el error 404 pagina no encontrada, el servidor no se encuentra disponible.Que hago.

[2017-09-23 15:56] Sandra97 commented on #1044
Hi,

This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page
or report an issue on: https://issues.joomla.org/

Regards,

Thanks

[2017-09-23 15:56] #1044 closed

[2017-09-25 08:08] SniperSister opened #1045 "[issues.joomla.org] wrong link to JSST contact form"
The link to the JSST contact form in the message area is wrong:
https://issues.joomla.org/tracker/joomla-cms/add

[2017-09-25 11:27] mbabker commented on #1045
Fixed via https://github.com/joomla/jissues/commit/2708825ad0086d5801ea53a0ba3b13ac92c18d76

[2017-09-25 11:27] #1045 closed

[2017-09-25 11:31] SniperSister commented on #1045
Thx!

[2017-09-25 13:46] genr8r commented on #1041
Hi @jeckodevelopment I unpublished the JLP listings but there is now a 404 from the link at your site. Please pull the menu item asap as it points to what is now a missing asset at our site. Thanks.

[2017-09-25 18:51] bindi266 commented on #999
how does it look like?
uptimereport IP got blocked
[xmovies8 2017](https:xmovies8.biz)

[2017-09-25 19:22] nikazz opened #1046 "[jdown]"
download update is not possible

[2017-09-25 19:32] mbabker commented on #1046
Going to need a lot more information to do anything with this.

What package were you trying to download?
What is the server's IP and location?
Is there a network block to Amazon Web Services from the server?

[2017-09-25 19:36] nikazz commented on #1046
does not load anything, now loads

With respect, Nicholai.

[2017-09-25 21:54] nikazz commented on #1046
https://s3-us-west-2.amazonaws.com/joomla-official-downloads/joomladownloads/joomla3/Joomla_3.7.x_to_3.7.1-Stable-Patch_Package.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIZ6S3Q3YQHG57ZRA%2F20170925%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20170925T215243Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=1d33f90455f9fef3405a0795454194d9a8419a9fad3508a90bcc79a580e8134b  

[2017-09-25 22:18] mbabker commented on #1046
Based the text in your email client it looks like you're going through a Russian provider and we've gotten reports over the last few days that Russian providers are blocking access to Amazon Web Services.  Unfortunately, the only other place we publish packages is here on GitHub which also uses Amazon as a backbone.

You might try using https://mirror.myjoomla.io/ to access the packages for the ti

[2017-09-25 22:20] nikazz commented on #1046
Thank you

С Уважением Николай.

[2017-09-26 09:04] brianteeman opened #1047 "[jdocs] spam report"
https://docs.joomla.org/index.php?search=kindle

[2017-09-26 10:00] Sandra97 commented on #1047
Thanks Brian for reporting. Page deleted.

[2017-09-26 10:18] brianteeman commented on #1047
Looks like you only deleted one page - there were four

[2017-09-26 10:19] Sandra97 commented on #1047
The other ones were already deleted.

[2017-09-26 10:20] Sandra97 commented on #1047
I have to see with @Hutchy68  if there is a way to remove them from the search system too

[2017-09-26 10:22] brianteeman commented on #1047
Ah I see that the content gets deleted but the title and therefore the page remains so they only have to spam in the title for it to stay - which is weird

[2017-09-26 12:31] Hutchy68 commented on #1047
The issue is Google! They are ignoring meta noindex, nofollow tags. Forum has a few too.

![image](https://user-images.githubusercontent.com/3527469/30860404-033d3546-a295-11e7-8ac2-ebadd89cbaac.png)

[2017-09-26 12:37] Sandra97 commented on #1047
I've asked Google to stop indexing them.

[2017-09-26 12:48] brianteeman commented on #1047
Surely the wiki should not respond to a non existent page with anything other than  a 404

https://docs.joomla.org/Georgelovesorange

That should only be a 404.

[2017-09-26 12:54] Hutchy68 commented on #1047
It does send the appropriate header of 404.

![image](https://user-images.githubusercontent.com/3527469/30861147-cd2de4e8-a297-11e7-94dd-debd97498a8b.png)

It is similar to a custom Joomla 404 page.

And it also has meta robots noindex,nofollow.

I just added another dozen or so.

[2017-09-26 13:00] brianteeman commented on #1047
At least the message on screen for a Joomla 404 makes it clear that the page doesn't exist. The message on the wiki suggests the page exists but has no content yet or it is a work in progress

[2017-09-26 13:03] Sandra97 commented on #1047
It is clearly mentioned the page has been deleted.

[2017-09-26 13:06] brianteeman commented on #1047
![screenshot_20170926-140252](https://user-images.githubusercontent.com/1296369/30861843-f1158146-a2c3-11e7-82c0-b7185b9407f1.png)

[2017-09-26 13:08] brianteeman commented on #1047
On one of the deleted pages it is exactly the same.

![screenshot_20170926-140427](https://user-images.githubusercontent.com/1296369/30861931-2bb9037c-a2c4-11e7-8d8d-f15a43df1369.png)

[2017-09-26 13:16] Sandra97 commented on #1047
The messages I have are different from yours, but it's obviously because I'm logged in.

[2017-09-26 13:32] Hutchy68 commented on #1047
![image](https://user-images.githubusercontent.com/3527469/30862912-8a822784-a29d-11e7-8d01-dfa84beca5fc.png)

Better?

[2017-09-26 13:52] brianteeman commented on #1047
Yes - thanks!!!

[2017-09-26 18:20] jeckodevelopment commented on #1041
done, thanks!

[2017-09-26 18:20] #1041 closed

[2017-09-29 08:28] Nibir opened #1048 "[jdown]"
On this page https://downloads.joomla.org/cms/joomla25/2-5-28
All links on this page doesn't work!

[2017-09-29 08:43] pe7er commented on #1048
Are you having problems with all downloads? Could you please test one at https://downloads.joomla.org/cms/joomla3/3-8-0 too?

Are you located in Russia? The downloads are hosted at Amazon AWS which might be blocked by or for your country at the moment.

[2017-09-29 09:21] Nibir commented on #1048
Sorry for bothering. After a couple minutes i've saw the page about blocking from russian internet provider. I've used tor browser and everything fine now.

[2017-09-29 09:21] #1048 closed

[2017-09-29 09:25] pe7er commented on #1048
No problem. Good to hear that you've found a solution.

[2017-09-30 13:18] Hils opened #1049 "[jorg] Home page announcements"
This probably has just been forgotten or not archived - seen today 30 November 2017 when 3.8 has been released:
![announcements](https://user-images.githubusercontent.com/736887/31046078-3533a9b0-a5ea-11e7-98ba-dcde89d6d4b7.png)

[2017-09-30 13:26] Joomv commented on #1049
Good catch!
I've tweaked how this works now.
The module takes a feed from a featured articles item now.
I have unfeatured everything for the 3.8 and 3.7 releases so they don't appear in the feed.
Now when something needs to go from the feed, un-featuring it will remove it from the .org homepage.
Seems the best way of handling this
@Sandra97

[2017-09-30 13:26] #1049 closed

[2017-09-30 13:27] #1039 closed

[2017-10-01 10:28] Sandra97 commented on #1047
Google has removed these pages (one remaining in the search results but should be removed soon), and 404 page created so I'm closing this issue.
Re-open if needed.

[2017-10-01 10:31] Sandra97 commented on #1037
As it's an issue not related to this repository, I'm closing it.
Re-open if needed.

[2017-10-01 10:31] #1037 closed

[2017-10-01 10:31] #1047 closed

[2017-10-01 10:31] brianteeman commented on #1047
thank you!!!

[2017-10-01 10:32] Sandra97 commented on #1032
@pctechnikch, please give us more information so that we can help.
Without any answer, I'll close this issue in one week.

[2017-10-01 10:35] Sandra97 commented on #989
As the template has been updated, I'm closing this issue.
Re-open if needed.

[2017-10-01 10:35] #989 closed

[2017-10-01 10:38] Sandra97 commented on #988
@sebastienlapoux, I used the report button but no action has been done.
Would be nice to find a solution to be able to remove sites which don't exist anymore or don't use Joomla anymore.

[2017-10-01 10:39] Sandra97 commented on #987
@sebastienlapoux Any update about this issue? It is still not working as expecting for me.

[2017-10-01 10:41] Sandra97 commented on #6
As the page has been updated, I'm closing this issue.
Re-open if needed.

[2017-10-01 10:41] #6 closed

[2017-10-01 11:15] Sandra97 opened #1050 "[jshow] Sites to unpublish/remove"
I've reported these sites but considering the last time I did no action has been taken, I'm opening an issue.

- [Amos and Connors](https://showcase.joomla.org/browse-sites/19662.html): access to the site is denied for security reason
![2](https://user-images.githubusercontent.com/4682328/31054034-c0d7bab4-a677-11e7-8f27-800136ac083f.png)

- [Joomla! Translate](http://joomlatranslate.com/): I have

[2017-10-01 11:48] Hils commented on #1049
Thank you @Joomv !

[2017-10-02 04:43] pctechnikch commented on #1032
Many Thanks. This is a long time ago, they can close. Rene

[2017-10-02 04:43] #1032 closed

[2017-10-04 09:28] brianteeman opened #1051 "[joomla.org] Not appropriate link"
This really is inappropriate for all our domains. It looks incredibly childish and amateurish. It doesnt belong on our property. If you really want to enter a competition then do it on a dedicated domain - which is exactly what that silly competition says that you should do.

[2017-10-04 09:47] chriswagner0815 commented on #1051
Hello Brian,
this is an SEO contest in Germany about the artificial keyword "siebtlingsgeburt" to see where we could rank. We are doing this because we want about 700 SEOs and marketing responsible to see that Joomla is still there.

Regarding the "what the competition says" information: That must be a maltranslation with Google translate. There are others working on their domains for the keyword

[2017-10-04 09:48] Hils commented on #1051
Actually, I can't see it on joomla.org - where are you seeing it please? and whereabouts on the page?

[2017-10-04 09:49] chriswagner0815 commented on #1051
Hey Hils,
in the morning it was between 8 and 14 - we can't see it either right now because Google seems to do a big data refresh. We are waiting currently to see what happens.

Chris

[2017-10-04 09:50] Hils commented on #1051
Thanks for the reply Chris !

Hils

[2017-10-04 09:59] brianteeman commented on #1051
@hils it is in the footer on every property
<img width="630" alt="screenshotr10-54-36" src="https://user-images.githubusercontent.com/1296369/31170019-798a0ec8-a8f2-11e7-897c-7125bdac3e4f.png">

I still stand by original comments - this is not the place to enter competitions

[2017-10-04 10:05] Sandra97 commented on #1051
We have decided to enter this German SEO contest with the goal to reach influencers and make more people aware of Joomla, as already mentioned by Christopher. You can find on the JCM why we entered this contest.

FYI, I didn’t agree to create again a new subdomain for just 2 weeks, so we decided to put the page on /3 as this site was already set up for multilingual and also because it allows to wo

[2017-10-04 10:06] Hils commented on #1051
Aha so it is quite discreet then... and is only short term - I thought you meant there was a massive graphic-laden module!

[2017-10-05 18:27] siebtlingsgeburt commented on #1051
We can close this one. AFAIK all links are removed now.
Joomla is appropiate, adultish and professional again.

[2017-10-05 18:31] #1051 closed

[2017-10-07 10:31] wojsmol opened #1052 "[jforum] Update links to https in forum rules"
Hallo
Please update links to https where passible in forum rules on top of each section.
Regards.

[2017-10-07 11:34] iknoorjobs commented on #1052
Let me take this.
@wojsmol  Do you want me to update README.md file with links ?

[2017-10-07 11:37] zero-24 commented on #1052
@iknoorjobs Thanks for stepping but but i think @wojsmol means the links on https://forum.joomla.org where obviously only a limited amount of members have access to :)

[2017-10-07 12:19] wojsmol commented on #1052
@zero-24 You understand me correctly.

[2017-10-07 20:48] millerk712 opened #1053 "[joomla.org]"
I am Chair of our local Playgroup - our website is hosted by Joomla.
I can login via my laptop (as the password is saved) - however I cannot change the password from within the application. When I try to do so it says "Error - Username in use" - I can't change the username and have tried everything.
I am about to handover as Chair and currently this will mean our organisation will no longer have a

[2017-10-07 21:32] Sandra97 commented on #1053
Hi,

This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page
or report an issue on: https://issues.joomla.org/

Regards,

Thanks

[2017-10-07 21:32] #1053 closed

[2017-10-10 00:43] MarkyG21 opened #1054 "[joomla.org]"
Blank admin page after updating 3.7.5 to 3.8.1
Client is very happy with new no fuss look...
debug is no help..

id | select_type | table | type | possible_keys | key | key_len | ref | rows | filtered | Extra
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
1 | SIMPLE | joshb_viewlevels | ALL | NULL | NO INDEX KEY COULD BE USED | NULL | NULL | 5 | 100.00 | NULL

[2017-10-10 05:20] franz-wohlkoenig commented on #1054
Please ask help on the [forums - Migrating and Upgrading to Joomla! 3.x](https://forum.joomla.org/viewforum.php?f=710). This repository concerns in first Place Joomla coding. For this Reason close this Issue, thanks.

[2017-10-10 07:58] MelissaBestbier opened #1055 "Please help"
Hi,
Are you the host of the below website?

 www.saparents.co.za

I am interested in a similar site, can you please help me.

Kind regards,
Melissa

[2017-10-10 08:06] franz-wohlkoenig commented on #1055
Please ask help on the [forums). This repository concerns Joomla-Websites like https://www.joomla.org/. For this Reason please close this Issue, thanks.

[2017-10-10 08:10] #1055 closed

[2017-10-10 08:10] #1054 closed

[2017-10-10 08:18] MarkyG21 commented on #1054
<p class=wtf-happened-to-joomla>joomla died</p>

[2017-10-10 08:24] pe7er commented on #1054
Like Franz wrote, this joomla-websites issue tracker is only for issues regarding the joomla.org websites.

For questions about your own Joomla sites, please post them in Joomla forum: https://forum.joomla.org/viewforum.php?f=710

[2017-10-10 09:46] MarkyG21 commented on #1054
So you only helping yourselves?

Kind Regards

Mark Garland
Manager and Webmaster
Toowoomba Web Design
PO Box 821 Toowoomba Qld 4350 AU
Phone: (07) 4615 5397 or Mob: 0418 168 678

Web: www.toowoombawebdesign.com.au

This email contains information that is for the sole use of the intended recipient and may be confidential or privileged. If you are not an intended recipient, you may not keep, forwar

[2017-10-10 09:52] alikon commented on #1054
NO,
this channel is for the *.joomla.org sites only
there is another channel for all the questions about joomla and it is the https://forum.joomla.org
we are only asking you to post there on the forum

[2017-10-10 09:53] pe7er commented on #1054
No.
On https://github.com/joomla/joomla-websites/issues/ volunteers help with solving issues regarding the joomla.org websites of the Joomla project.
On https://forum.joomla.org volunteers help with solving issues regarding the Joomla websites of Joomla users.

If you want help for your own website, please use https://forum.joomla.org
Thanks!

[2017-10-13 07:15] BelKoD opened #1056 "[jdown] Don't download Joomla 2.5"
I can download Joomla 2.5.28 Full package, but i redirect to https://s3-us-west-2.amazonaws.com/joomla-official-downloads/joomladownloads/joomla25/Joomla_2.5.28-Stable-Full_Package.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIZ6S3Q3YQHG57ZRA%2F20171013%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20171013T071425Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&X-Amz-Signature=2c487a259ec2f81

[2017-10-13 07:57] MythicDeviant opened #1057 "[forum.joomla.org]"
Hello,

The FAQs tell me that I can post a 'new topic' in a forum, but no where does it say where I need to go to do that and I cannot find it. Please help me . . . ?

thank you!!

best,
Sea

[2017-10-13 12:14] zero-24 commented on #1056
Are you comming from russia? Or what physical Location your request come from? I have just tested this and it is working from germany :-)

[2017-10-13 17:49] Sandra97 commented on #1052
@ooffick, could you help with that? Thanks!

[2017-10-13 19:25] Sandra97 commented on #999
@ooffick Anything you can do? Thanks!

[2017-10-13 20:11] ooffick commented on #999
Thanks, I have requested to get those ips added to the whitelist.

[2017-10-13 20:36] ooffick commented on #1052
Thanks for reporting this, the links are now changed to https links.

[2017-10-14 05:18] wojsmol commented on #1052
@ooffick Thank you for fixing that :) I'm closing this issue.

[2017-10-14 06:13] ooffick commented on #999
Those ip address /ip ranges are whitelisted now.

[2017-10-14 07:29] zero-24 commented on #999
Thanks.

[2017-10-14 07:29] #999 closed

[2017-10-14 15:33] Sandra97 commented on #1050
Update: No more issues with the Joomla Translate website.

[2017-10-14 21:49] tmero opened #1058 "email issue"
Please describe the problem or your issue
It could be useful to include an URL of evidence.
Please use a consistent title for your issue.

My joomla.org email address password was just changed and logged into. Not sure if it is someone who is in charge of the google accounts or not, but I'd like to get a fair warning first so I can detach my other accounts that is attached to that email first. (I'

[2017-10-14 22:03] jeckodevelopment commented on #1058
Hi Tessa,
since you left the project several months ago. As secretary it's my duty to keep our userbase and accounts clean and as part of the regular cleanup process i was working on joomla.org GSuite stuff.
Since in Google Admin panel you did not access your mailbox for more than 6 months, i was about to delete it and then i remembered that you dealt with Glip and GitHub and thought you should ha

[2017-10-14 22:16] tmero commented on #1058
Thanks for letting me log in and fix my twitter account. Everything is good. You can deactivate it now. :) You rock!

[2017-10-14 22:34] jeckodevelopment commented on #1058
Thank you Tessa! ;)

[2017-10-14 22:34] #1058 closed

[2017-10-15 11:23] CEWebDesign opened #1059 "[demo.joomla.org] Message: Error PHP 5.5.38 is obsolete"
On demo-site https://demo.joomla.org/ click "Launch Test Drive":
Message:
Error
We have detected that your server is using PHP 5.5.38 which is obsolete and no longer receives official security updates by its developers. The Joomla! Project recommends upgrading your site to PHP 5.6 or later which will receive security updates at least until 2018-12-31. Please ask your host to make PHP 5.6 or a late

[2017-10-15 11:45] Sandra97 commented on #1059
@kirilhristov Could you give a look? Thanks!

[2017-10-15 15:13] Sandra97 commented on #1050
Update: [Le Kréolia](https://showcase.joomla.org/browse-sites/16998.html) site seems to not exist anymore (I've submitted a report but as usual, I'll probably never get any answer)

[2017-10-16 12:19] sebastienlapoux commented on #1050
Thanks @Sandra97 .

Has been unpublish:
Amos and Connors https://showcase.joomla.org/browse-sites/19662.html
Le Kréolia https://showcase.joomla.org/browse-sites/16998.html

Thanks.

[2017-10-16 12:32] sebastienlapoux commented on #987
@Sandra97 , has been fixed at least one month ago. I forgot this issue on github.
Please try again and close if ok.

[2017-10-16 13:03] Sandra97 commented on #987
Thank you @sebastienlapoux. I confirm it works now as expected.
I'm closing this issue.
Re-open if needed.

[2017-10-16 13:03] #987 closed

[2017-10-16 13:04] Sandra97 commented on #1050
Thanks @sebastienlapoux.
Closing this issue.
Re-open if needed.

[2017-10-16 15:43] wojsmol commented on #1057
Hi
Alter login-in  to the forum you select appropriate section and then on top and bottom you have a `New Topic` button.

[2017-10-16 15:49] wojsmol commented on #1052
@ooffick I checked the issue again and in same forum rules blocks there are http links for example to Forum Rules

[2017-10-16 16:07] ooffick commented on #1052
Can you tell me where in the forum that is, I just checked a few in the forum boards and those are all ok.

Kind Regards
Olaf

[2017-10-16 20:04] BelKoD commented on #1056
yes, from russia.

[2017-10-17 05:16] venkatgopu93 opened #1060 "[jdev]"
i am getting web page title(site name) same for every page in website ? i dont want it in everypage.can you please  suggest me the way to resolve it ?

[2017-10-17 05:18] Sandra97 commented on #1060
Hi,

This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page

Regards,

Thanks

[2017-10-17 05:18] #1060 closed

[2017-10-17 09:03] zero-24 commented on #1056
Saddly this is a known problem with the underlaying infrastructure we use (AWS).

You can try the packages from: https://mirror.myjoomla.io/ but this is an unofficial source.

[2017-10-17 23:10] genr8r opened #1061 "[jconf] 403 and 404 errors behind talk title links on the timetable page"
I am getting a mix of [403](https://conference.joomla.org/schedule/why-add-an-extension-if-you-can-do-it-in-core-features-you-never-knew-existed.html) and [404](https://conference.joomla.org/schedule/web-and-push-notifications-for-joomla.html) errors when visiting the links behind all of the talk titles on [the timetable page](https://conference.joomla.org/timetable.html)

[2017-10-18 11:55] Joomv commented on #1061
Thanks for heads up. Forgot to flick a switch.
Sorted now.

[2017-10-18 11:55] #1061 closed

[2017-10-18 22:58] twainj opened #1062 "[jdocs] Believed typo on CMS versions page"
I believe there is a typo on the Joomla! CMS Versions page. The End Of Life column lists the release of v3.7 as the EOS for v3.7, and the release of v3.8 as the EOS for v3.8.

I'm guessing that it was a copy/paste error for the 3.7 entry, and a blind increment on 3.8.  I'm guessing that the End of Life on Joomla 3.8 is the release o Joomla 3.9. Is that correct?

Please advise if I have misundersto

[2017-10-19 04:34] Sandra97 commented on #1062
Hello,

Yes, you are right.
I've edited it with 3.8 as EOS for 3.7 and 3.9 for 3.8.

Thanks.

I'm closing this issue.
Re-open if needed.

[2017-10-19 04:34] #1062 closed

[2017-10-19 04:46] twainj commented on #1062
Sure thing!

~Jason

Jason Jones
541-600-4096

On Wed, Oct 18, 2017 at 9:34 PM, Sandra Decoux <notifications@github.com>
wrote:

[2017-10-20 11:29] brianteeman opened #1063 "[jhelp] HELP37 instead of 38"
In your joomla admin click on the Help->Joomla Help link and the content of this page (https://help.joomla.org/proxy?keyref=Help38:Start_Here&lang=en) will be loaded in an iframe as shown in the image

<img width="660" alt="screenshotr12-27-29" src="https://user-images.githubusercontent.com/1296369/31818968-58edb776-b592-11e7-9055-2c71ee905ad6.png">

As can be seen it says 37 instead of 38 o

[2017-10-20 11:43] Sandra97 commented on #1063
@Hutchy68 Can you help with this? Thanks!

[2017-10-21 08:37] Damaris84 commented on #850
How exactly did you do it? I have the same problem. It shows "a is not a function"

[2017-10-23 16:40] dcassone opened #1064 "Mistyped email address"
I was trying to sign up for a Joomla Showcase directory and must have mistyped my email address.

I never got the confirmation email and cannot now login.

I tried to get my password and was told that it was an invalid email address...so I must have mistyped it.

My user is djc1

Thanks!
Dom

[2017-10-23 16:42] asonnyn opened #1065 "My Media Manager is having two issues [jhelp]"
Hello,

1. When I upload a pdf onto Media Manager, I'm unable to delete it.  It refreshes the page but keeps the documents.  I also tried to create an External URL with the <joomla root>/images/XXXXXXX.pdf and it won't link to it.  It's not had a problem previously.
2. When I click on Detail View of Media Manager, it won't change to a Details pane, it just stays the same.

What can I do?

[2017-10-23 16:48] franz-wohlkoenig commented on #1065
Please ask help on the [forums](https://forum.joomla.org/). This repository concerns Websites like joomla.org. For this Reason close this Issue, thanks.

[2017-10-23 17:38] #1065 closed

[2017-10-23 17:39] Sandra97 commented on #1064
@sebastienlapoux Can you help with this? Thanks.

[2017-10-25 13:48] coolcat-creations opened #1066 "[jdown] Noindex or less Priority for old Versions (SEO)"
Can we set the old versions to noindex or less priority on the sitemap so that Google does not recommend the outdated Versions?
<img width="832" alt="grafik" src="https://user-images.githubusercontent.com/828371/32002047-c88094fc-b99b-11e7-943c-86a5e7c57839.png">

[2017-10-25 13:51] coolcat-creations opened #1067 "[jdown] Mixed Formal Informal Form CDN Menu footer (german)"
Unterstütze Joomla mit $5 = informal
Melden Sie einen Fehler = formal

Both should be the same Form:
**if informal:**
Unterstütze Joomla mit $5
Melde einen Fehler

**formal:**
Unterstützen Sie Joomla mit $5
Melden Sie einen Fehler

<img width="918" alt="grafik" src="https://user-images.githubusercontent.com/828371/32002144-07918dfe-b99c-11e7-8516-3c662b8ee3d7.png">

[2017-10-25 13:53] mbabker commented on #1067
This should be raised at https://crowdin.com/project/joomla-official-sites as all the translations are coming from there, I just push them up.

[2017-10-25 13:56] coolcat-creations commented on #1067
ok - which form should i put there?

[2017-10-25 13:57] mbabker commented on #1067
That's between you and the other German translators to decide, these days about the only Germany I remember is "Bier".

[2017-10-25 13:58] coolcat-creations commented on #1067
Prost! :)

[2017-10-25 18:22] brianteeman commented on #1063
Bump. It looks really bad to have 37 in the title of all the help pages

[2017-10-25 18:36] Sandra97 commented on #1063
@Hutchy68 Please, can you make the change?

[2017-10-25 18:50] brianteeman commented on #1063
And please document and share how to do it so others can do it in the future

[2017-10-26 13:16] Hutchy68 commented on #1063
I have a PR on the help proxy to remove the preceding `Help##` from all help screen titles when rendering the page. It even removes translated pages which were improperly translated (translating the namespace and not just the title).

What is at issue is the en version of the namespace isn't updated until it sees the update. This requires an edit and a save of the page. Yes we can bot run the edit

[2017-10-26 13:19] brianteeman commented on #1063
it might be "noise" but it also makes the page content inaccurate

[2017-10-26 13:49] mbabker commented on #1063
Well, yes and no.  There aren't separate versions of the pages for each minor branch because of how the namespaces have been handled so https://help.joomla.org/proxy?keyref=Help30:Start_Here&lang=en is the same as https://help.joomla.org/proxy?keyref=Help38:Start_Here&lang=en and at least when looking at 3.x pages it really doesn't matter.

Where it does start to make a difference is if you're loo

[2017-10-26 13:52] brianteeman commented on #1063
I assumed that if you were on 3.6 you got the help for 3.6  -  my mistake

It is still confusing to see 3.7 when there is new content for 3.8

[2017-10-26 13:54] mbabker commented on #1063
It was like that once upon a time.  But, now imagine trying to maintain 9 unique sets of help screens for the 3.x series.

[2017-10-26 14:21] Hutchy68 commented on #1063
That would be something like 1400 to 1500 individual pages, aka nightmare. You won't see a 3.8 help screen on a topic in 3.5 because a feature was added to 3.7. The keys don't exist in 3.5 to show it, nor is the feature there. So I'm on 3.3 and see the Article Manager for 3.8 in the help screen. Of course it looks different. 3.3 vs 3.8 lots of changes. So what, carrot and the stick. Why are you st

[2017-10-27 15:09] ClaireWay opened #1068 "Website Crash"
My website has crashed with the following message. Any insight on how to rectify this issue is appreciated.

Message when trying to access website

Fatal error: Call to undefined function utf8_strpos() in /home/cw105904590ss/public_html/libraries/joomla/string/string.php on line 164

Fatal error: Access to undeclared static property: JLoader::$classes in /home/cw105904590ss/public_html/libraries/l

[2017-10-27 15:10] franz-wohlkoenig commented on #1068
Please ask help on the [forums](https://forum.joomla.org/). This repository concerns in first Place Joomla coding. For this Reason closing this Issue, thanks.

[2017-10-27 15:54] #1068 closed

[2017-10-30 07:37] #1052 closed

[2017-10-31 11:13] kirilhristov commented on #1059
Hello, the issue has been fixed. Thanks for reporting!

[2017-10-31 11:19] pe7er commented on #1059
Thanks @CEWebDesign for reporting and @kirilhristov for fixing!

[2017-10-31 11:19] #1059 closed

[2017-11-01 03:42] SIMO07 commented on #458
ewa layn3al rabkom

[2017-11-02 13:49] mikeveeckmans opened #1069 "[jshow] add a "multilingual" tag"
Could you add a tag 'multilingual' , as it's one of our core features and USP's, it would be great for marketing purposes to be able to link to a selection in the showcase of multilingual sites.
Thank you to take this into consideration.
![2017-11-02_14-45-52](https://user-images.githubusercontent.com/4589318/32329224-ae53d08e-bfdc-11e7-9d79-45e129a56d46.png)

[2017-11-04 12:08] zero-24 commented on #971
Closing as it is implemented now thanks ❤️

[2017-11-04 12:08] #971 closed

[2017-11-06 16:20] MargaretParker opened #1070 "[joomla.org]"
I cannot get into my Joomla account.
website    www.arranapartments.co.uk
I have tried to get a password or user name reset but none of my e-mail addresses have been recognised. They are;
macs.parker@yahoo.co.uk
macs.parker@gmail.com
info@arranapartments.co.uk
My user name was !HolyIsle20
Thank you

[2017-11-06 16:24] franz-wohlkoenig commented on #1070
Please ask help on the [forums](https://forum.joomla.org/). This repository concerns Websites like joomla.org. For this Reason please close this Issue, thanks.

[2017-11-06 16:25] franz-wohlkoenig commented on #1070
Please ask help on the [forums](https://forum.joomla.org/). This repository concerns Websites like joomla.org. For this Reason please close this Issue, thanks.

[2017-11-06 16:26] #1070 closed

[2017-11-06 16:28] MargaretParker commented on #1070
Hello
Thank you for your prompt response but I cannot log in to access my account
and cannot find any other contact  details
Best wishes
Margaret

On 6 Nov 2017 4:24 pm, "Franz Wohlkönig" <notifications@github.com> wrote:

[2017-11-06 16:33] Sandra97 commented on #1070
This repository is not the right place for asking for support about your website, as it's dedicated only to the Joomla! official websites.
You can check on JDocs [docs.joomla.org](https://docs.joomla.org) the tutorial on how to reset your password or ask for help in the [Forum](https://forum.joomla.org/)

[2017-11-06 17:45] ot2sen commented on #1070
Sounds like Margaret might have trouble logging in to the joomla forums
too. In that case you can contact the forum team at
https://volunteers.joomla.org/teams/forum-team and they can help you reset
you access.

On Mon, Nov 6, 2017 at 5:33 PM, Sandra Decoux <notifications@github.com>
wrote:

[2017-11-06 18:00] Sandra97 commented on #1070
For any issue with login to the Forum, the best way is to fill this form: https://community.joomla.org/helpdesk/forum-un-ban-request.html

[2017-11-06 18:17] MargaretParker commented on #1070
Thank you for your help. It is much appreciated
Best wishes
Margaret

On 6 Nov 2017 5:45 pm, "Ole Bang Ottosen" <notifications@github.com> wrote:

[2017-11-06 18:22] MargaretParker commented on #1070
Sorry, I'm still not getting into the forums as none of my emails have been
recognised. Is it possible for someone to contact me please
Many thanks
Margaret

On 6 Nov 2017 5:45 pm, "Ole Bang Ottosen" <notifications@github.com> wrote:

[2017-11-06 18:31] Sandra97 commented on #1070
The only way to get your forum issue solved is to fill the form I mentioned above: https://community.joomla.org/helpdesk/forum-un-ban-request.html

[2017-11-06 18:50] MargaretParker commented on #1070
Thanks Sandra, I have tried that and hope it works

On 6 Nov 2017 6:32 pm, "Sandra Decoux" <notifications@github.com> wrote:

[2017-11-07 15:02] Hutchy68 commented on #1063
This is fixed. Please verify.

[2017-11-07 15:43] Sandra97 commented on #1063
All fine now! No more `HelpXX:`
Thanks Tom!

[2017-11-07 17:57] Dennis1993 opened #1071 "[jdown] Link funktioniert nicht"
Wenn ich folgenden Link aufrufe, ist ein Download nicht möglich. Wie kann ich dies manuell downloaden und installieren?

https://downloads.joomla.org/de/cms/install-from-web/1-1-1

Als Ausgabe kriege ich immer folgenden Fehler:
[code]

[2017-11-07 18:32] Sandra97 commented on #1071
Could you please write in English?
Thank you!

[2017-11-07 19:27] franz-wohlkoenig commented on #1071
If i call Link https://downloads.joomla.org/de/cms/install-from-web/1-1-1 i get : `<?xml version="1.0" encoding="UTF-8"?>
<Error>
<Code>NoSuchKey</Code>
<Message>The specified key does not exist.</Message>
<Key>joomladownloads/extensions/ifw/plg_webinstaller_3.4v1.1.1.zip</Key>
<RequestId>2D0FF9A287B6EE88</RequestId>
<HostId>21MC9wGbja9UiwoPfSPuq7ZEZ23ewABdcAukxAUl7Z65EzSQSY/Yms21OsaI5gft78v7o+O8F

[2017-11-07 19:52] alikon commented on #1071
got something similar with the English link  https://downloads.joomla.org/extensions/install-from-web/1-1-1/plg_webinstaller_3-4v1-1-1-zip?format=zip
[code]

[2017-11-07 19:54] alikon commented on #1071
Weblinks 3.6.0  works as expected

[2017-11-07 22:01] Sandra97 commented on #1071
Yep, it seems it happens only for 1.1.1

[2017-11-07 23:40] mbabker commented on #1071
The filename reference was incorrect.  Fixed it, downloads work.

[2017-11-07 23:40] #1071 closed

[2017-11-08 15:20] Dennis1993 commented on #1071
Thank you! And sorry, I write it in english in the future!

[2017-11-09 01:28] an0ther1 opened #1072 "Technical Requirements for 3.8.2 - Incorrect Minimum MSSQL version"
Long time reader/lurker, first time poster!!

The requirements page https://downloads.joomla.org/technical-requirements identifies  MSSQL Version 10.50.1600.1 (MSSQL 2008 R2)
When attempting to login to the Administration page using Joomla 3.8.2 & MS SQL 2008 R2 users will receive a message that CONCAT is not a recognised function etc

The minimum version of MS SQL should be 11.0 (MS SQL 2012) as

[2017-11-09 01:51] mbabker commented on #1072
Actually, as we can't raise the minimums over the course of a major release series, it is actually a bug that the CONCAT function is used on unsupported platforms and should be reported on [the CMS repo](https://github.com/joomla/joomla-cms) as such.

[2017-11-09 01:54] an0ther1 commented on #1072
Sorry Michael, wasn't aware, my bad.

Would you like me to raise the bug report there?

Cheers

[2017-11-09 01:56] mbabker commented on #1072
Yes please.

[2017-11-09 01:57] an0ther1 commented on #1072
Will do, thanks Michael, hope you have an awesome day

[2017-11-09 01:57] #1072 closed

[2017-11-10 08:33] AlainGerardin opened #1073 "Update from 3.8.0 to 3.8.1 Timeout"
My provider OVH says than the IP 213.251.182.115 is blaklisted by Joomla, which will explain this update problem.
What to do ?

[2017-11-10 12:26] MargaretParker opened #1074 "[joomla.org]"
Please describe the problem or your issue
It could be useful to include an URL of evidence.
Please use a consistent title for your issue.

[2017-11-10 12:33] Sandra97 commented on #1074
@MargaretParker Could you please describe your issue?

[2017-11-10 13:18] MargaretParker commented on #1074
Hello
I have had an account since 2013 but now can't get into it. It says my
email and/or user name is not recognised or I do not have an account.
www.arranapartments.co.uk
Thank you
Margaret

On 10 Nov 2017 12:33 pm, "Sandra Decoux" <notifications@github.com> wrote:

[2017-11-10 13:32] Sandra97 commented on #1074
@ooffick Could you give a look to Margaret's issue?
See also #1070

Thanks.

[2017-11-10 13:44] ooffick commented on #1070
Hi Margaret

As I mentioned to you in my last mails, you will need a joomla forum account, would you please register for a joomla forum account and ask your question in the forum.

Kind regards
Olaf

[2017-11-10 13:46] Sandra97 commented on #1074
I'm closing this issue as  @ooffick answered in the other open issue.

[2017-11-10 13:46] #1074 closed

[2017-11-10 13:48] ooffick commented on #1074
Hi Margaret

You do not have an account at forum.joomla.org, your account  for your own website is not a Joomla forum account and therefore you will need to create an account of you want to ask a question in the Joomla forum.

But we did discuss all this before via unban request form.

Kind regards
Olaf

[2017-11-10 14:18] MargaretParker commented on #1070
I cannot register for a forum account as both my username and email address
are not recognised. That is my problem

On 10 Nov 2017 1:44 pm, "ooffick" <notifications@github.com> wrote:

[2017-11-10 14:18] MargaretParker commented on #1074
Ok

On 10 Nov 2017 1:48 pm, "ooffick" <notifications@github.com> wrote:

[2017-11-10 14:59] ooffick commented on #1070
Hi Margaret

What do you mean your username and email are not recognised. You will need to register a new account. (do not try to reset your password, as you do not have an account)

Kind regards
Olaf

[2017-11-10 20:55] zero-24 opened #1075 "[jdev] Nightly builds for Joomla! 4.0"
![image](https://user-images.githubusercontent.com/2596554/32678162-8d5e9ce8-c661-11e7-8a05-5b899ef43852.png)

`Nightly builds for Joomla! 4.0 are temporarily unavailable while we work on upgrading our CI system.`

https://developer.joomla.org/nightly-builds.html

What does that mean? What kind of upgrade is planed and is there help needed / possible? Don't we use Travis/Drone also for 4.0?

[2017-11-10 20:58] mbabker commented on #1075
The Jenkins box is running a PHP 5 version.  After the PHP 7 bump the builds stopped working because the build script uses the Version class which now has PHP 7 syntax in it.

Sometime next week I'm going to wire up a cron to run on the dev site's server to do the builds since that already has all the prerequisites to do it.  But sooner or later that Jenkins system needs updating or replacing (dep

[2017-11-10 21:00] zero-24 commented on #1075
Ah ok so it is a admin task only. Thanks 👍 Do you want me to keep this open or do you have that on your own list already?

[2017-11-12 10:35] jeckodevelopment commented on #1073
Hi,
This repository is ONLY for reporting issues with the *.joomla.org websites, not the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page
-https://issues.joomla.org/

Regards,
Thanks

[2017-11-12 10:46] zero-24 commented on #1073
@jeckodevelopment Isn't this is a `issues with the *.joomla.org websites,` when the IP get blocked?

[2017-11-12 11:40] jeckodevelopment commented on #1073
i guess it's more a CMS problem if we can't provide updates :)

[2017-11-12 11:52] zero-24 commented on #1073
How do you think you can fix a blocked IP on the download / updateserver site codewise?

[2017-11-12 17:46] jeckodevelopment commented on #1073
you're right Tobias!

[2017-11-14 14:24] PhilETaylor opened #1076 "[japi] Downloads API for signatures not working"
Downloads API for signatures not working
@mbabker

https://downloads.joomla.org/api/v1/signatures/cms/3.8.2

  | {"error":{"code":404,"message":"Version not found"}}
-- | --

<img width="575" alt="screen shot 2017-11-14 at 14 26 35" src="https://user-images.githubusercontent.com/400092/32784835-d62db56a-c947-11e7-80aa-c7ee0ffa632c.png">

Same for all versions

[2017-11-14 15:53] mbabker commented on #1076
It uses hyphens for the version separators (same as the main site URIs).

[2017-11-14 16:01] PhilETaylor commented on #1076
ahhhhh :) that works :)

[2017-11-14 16:01] #1076 closed

[2017-11-16 14:22] ARNepal opened #1077 "[joomla.org]"
Hello,

 I would like to get in contact with this organization in Nepal in order to donate money them but the contact us part of the website doesnt work giving this responce #404 Component not found

http://www.cdecf.org.np/contact-us

[2017-11-16 14:32] Sandra97 commented on #1077
Hi,

This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page
or report an issue on: https://issues.joomla.org/

Regards,
Thanks

[2017-11-16 14:32] #1077 closed

[2017-11-18 15:44] mbabker commented on #1075
Cron set up.

[2017-11-18 15:44] #1075 closed

[2017-11-18 22:14] johnisjobu opened #1078 "[jhelp] NOT ALL INFO IS SHOWING ON THE WEB SITE using salesforce reader."
I am not sure when the plugin stopped working. Some of the data shows up fine. I confirmed that data is salesforce and that is good. Then on the website I cleared the cache in the app. I still I am looking the web site and the sales force. I there a way to check the info coming across and how does is pull the data? Web hooks or just scraped everything with a specific URL?

[2017-11-19 06:23] franz-wohlkoenig commented on #1078
Please ask help on the [forums](https://forum.joomla.org/). This repository concerns Joomla-Websites like joomla.org. For this Reason closing this Issue, thanks.

[2017-11-19 11:53] #1078 closed

[2017-11-20 17:58] roland-d opened #1079 "[jcertif] Youtube tags not converted"
After the list of images 2 Youtube tags are not converted

[code]
URL: https://certification.joomla.org/news/117-great-results-at-joomladay-italy

[2017-11-20 18:00] roland-d opened #1080 "[jcertif] Missing link to certified administrators"
The https://certification.joomla.org/ has no link or indication anywhere that shows where the list of certified administrators is.

[2017-11-21 19:51] genr8r commented on #1080
Good catch @roland-d This (https://exam.joomla.org/directory) is the link you are looking for right? Just needs a link from certification site.

[2017-11-21 21:45] roland-d commented on #1080
@genr8r Correct, just a clear link to the directory, so people know where to find certified administrators.

[2017-11-22 19:37] zero-24 commented on #1079
cc @jeckodevelopment can you help here? This is still a issue. Thanks,

[2017-11-22 19:38] zero-24 commented on #1080
@jeckodevelopment can you help here? Thanks 😄

[2017-11-23 06:35] sanderpotjer opened #1081 "[jcomm] 404 on homepage"
https://community.joomla.org is not loading properly. 404 Component not found.

[2017-11-23 09:31] Sandra97 commented on #1081
I don't have the issue. @sanderpotjer Do you still have a 404?

[2017-11-23 09:33] sanderpotjer commented on #1081
Not anymore. Seems to be fixed meanwhile.

[2017-11-23 09:33] #1081 closed

[2017-11-23 20:29] medator opened #1082 "[forum.joomla.org]"
Please describe the problem or your issue

tuncayarican@hotmail.com

Why do not you enter your Joomla form site and ask me to check this mail and my username

[2017-11-24 06:09] franz-wohlkoenig commented on #1082
Please ask help on the [forums](https://forum.joomla.org/). This repository concerns Joomla-Sites like joomla.org.. For this Reason please close this Issue.

[2017-11-24 06:28] #1082 closed

[2017-11-24 18:44] jeckodevelopment commented on #1080
Hi guys,
yes, it will be added to the Certification website.

[2017-11-24 18:48] jeckodevelopment commented on #1080
Added the link to the top menu
![immagine](https://user-images.githubusercontent.com/733133/33221517-66213272-d150-11e7-8a1c-27ab03728499.png)

This can change shortly with the review of the Certification website that is ongoing.

[2017-11-24 18:48] #1080 closed

[2017-11-24 19:02] jeckodevelopment commented on #1079
Andrea fixed it :)
Thank you

[2017-11-24 19:02] #1079 closed

[2017-11-26 00:27] brianteeman opened #1083 "[jdocs] copyright policy"
The docs site content is all published under the [JEDL licence](https://docs.joomla.org/JEDL )

I can see there that it clearly addresses the copyright ownership and usage of the docs but I cant see anything regarding the copyright of text added to the docs.

Specifically I am looking for something that states that you can not simply copy and paste content from another site onto the docs site with

[2017-11-26 00:34] brianteeman commented on #1083
For reference I am specifically referring to content that has been copy and pasted from the w3c web site that does not comply with the [w3c documentation licence (https://www.w3.org/Consortium/Legal/2015/doc-license)

Because this content is in breach of the w3c copyright then the Joomla/Opensourcematters documentation licence is giving people the right to repeat the infringement.

[2017-11-26 00:44] Hutchy68 commented on #1083
Page?

[2017-11-26 04:36] brianteeman commented on #1083
i am trying to not publicaly  name and shame and just ask if there is a policy for submissions and/or a procedure to report pages that infringe copyright

[2017-11-26 05:21] Hutchy68 commented on #1083
![a030ca62-adf1-4a91-be36-54beff59debf](https://user-images.githubusercontent.com/3527469/33237346-391e8adc-d23f-11e7-89f0-7cb29b3a1bfb.jpeg)

No shaming, just need to correct this as every edit window’s has this below it. If it is an obvious violation it needs to be corrected. PM Sandra/me on Twitter so we can remove it. Thanks.

[2017-11-26 09:54] brianteeman commented on #1083
Ah ok thats great - I was looking for that text but didnt see it.

[2017-11-26 09:54] brianteeman commented on #1083
I will send you the information privately

[2017-11-28 19:03] jeckodevelopment opened #1084 "[jrd] Please update JRD badge"
![immagine](https://user-images.githubusercontent.com/733133/33338560-b7e8a508-d476-11e7-848c-4f7e7a19140c.png)

The badge displayed is out of date.
Please use the new version:

![immagine](https://user-images.githubusercontent.com/733133/33338671-0e9ad128-d477-11e7-8553-4ebcdf7afe8c.png)

You can find them here: https://tm.joomla.org/conditional-use-logos.html
Please remind them also to use the D

[2017-11-28 19:11] genr8r commented on #1084
Hi @jeckodevelopment only one of the three new badges matches up with the JRD categories. We have a custom plugin that makes the current badge and link available and it does not have logic to sort different badges by category.

I can check into assigning the "hosting provider" version to listings in that category. Should we just do the "solutions developer" version or "business support" for the ot

[2017-11-29 20:28] brianteeman opened #1085 "[jcm] should this be published?"
https://magazine.joomla.org/all/itemlist/category/12-submitted-articles-bucket

[2017-11-30 14:55] stuart607 opened #1086 "Website is down"
I downloaded an extension for my website which is hosted by joomla and now I can't access it.

Please help!!

Kind regards,

Stuart

[2017-11-30 14:57] mbabker commented on #1086
Hi there,

This repository is specifically for issues with the joomla.org network of websites and as such I will be closing this issue.

Unfortunately the Joomla project does not host any websites on its own except for the joomla.org network, so we would be unable to help you get into your website.

You can reach out for assistance on the community forum at https://forum.joomla.org/ and a communit

[2017-11-30 14:57] #1086 closed

[2017-11-30 18:37] jeckodevelopment commented on #1084
thanks @genr8r
i guess that, if possible, we can use "business support" for all the consultancy services (incl. marketing and so on) and "solutions developers" for the custom development categories, if any

[2017-11-30 20:44] genr8r commented on #1084
Thanks @jeckodevelopment We can review which badges for which categories at next week's meeting and then figure out how to swap that logic into the plugin. I will update this issue as appropriate until it is resolved

[2017-12-01 14:02] hvdmeer opened #1087 "[jcomm] Language Danish is not an option in Meeting Language when searching for a JUG"
It's come to my attention that the language Danish is not an option when selecting a "meeting language" on the [Find a User Group page](https://community.joomla.org/user-groups/find-a-user-group.html).

Is this because no JUG from Denmark has filled in their language, I noticed this on checking on [JUG Odense](https://community.joomla.org/user-groups/europe/denmark/922-joomla-user-group-odense.htm

[2017-12-01 14:56] renekreijveld opened #1088 "[jexam] Fields missing at exam.joomla.org profile edit"
Steps to reproduce the issue:

- Login at the exam.joomla.org website.
- Go to Dashboard
- Go to Edit My Profile

Expected result:

- Street field is shown and can by changed
- Phone number is shown and can by changed
- Time zone can by changed

Actual result:

- Street field is missing
- Phone number field is missing
- Time zone cannot be changed

[2017-12-01 16:34] jeckodevelopment commented on #1084
Thank you!!!

[2017-12-01 18:38] jeckodevelopment commented on #1088
Thanks René.
I'm reporting to the Exam&Platform Team :)

[2017-12-03 20:43] MKTGExperts opened #1089 "[jdocs] https://docs.joomla.org/Joomla!_Development_for_Beginners"
All the links to tutorials are 404's

[2017-12-04 03:40] Webdongle opened #1090 "[forum.joomla.org]"
Please describe the problem or your issue
It could be useful to include an URL of evidence.
Please use a consistent title for your issue.

[2017-12-04 03:41] Webdongle commented on #1090
Slow and many timeouts

[2017-12-04 03:49] Webdongle commented on #1090
https://forum.joomla.org/viewtopic.php?f=7&t=957275

[2017-12-04 09:33] ingeva opened #1091 "[forum.joomla.org]"
I have an issue with one of my Joomla! sites. I also can't log in to the forum for support. The password seems to have been changed, and I'm not getting any reset email.
My user name is ingeva and my email is inge(&)vabekk.no. I have checked the spam folder; nothing there.
Thanks, Inge

[2017-12-04 11:03] Sandra97 commented on #1091
Please fill the [Forum Account Support Form](https://community.joomla.org/helpdesk/forum-un-ban-request.html).
Thank you.

[2017-12-04 13:07] The-Web-Designer opened #1092 "[jrd] Profil Link not Working"
Hi

Already since a few weeks (since October 2017) I have an open ticket, which my JRD profile is no longer publicly accessible.

Can someone take a look at what the problem is?

LINK: https://resources.joomla.org/en/?option=com_rsticketspro&view=ticket&id=1149:jrd-link-ist-not-working&Itemid=577

_

_

Thanks!

[2017-12-04 13:43] Hutchy68 commented on #1089
Thanks, the articles were never written and the page has now been archived. Additionally, that page was an orphan with no links to it at all. Given the titles of the redlinks on the page to none existent pages, it is out of scope of docs to write general/basic tutorials on HTML, Javascript, JSON, etc. Thanks and closing.

[2017-12-04 13:43] #1089 closed

[2017-12-04 17:29] brianteeman commented on #1085
And i am assuming that this shouldnt have been published either which has just triggered all the twitter bots
https://magazine.joomla.org/all/item/3291-the-december-issue

[2017-12-04 17:53] brianteeman commented on #1085
In case you didnt realise what this means it is that all the content in the submissions bucket is now visible to the internet - including stuff that is quite old and probably best not to be published

[2017-12-04 18:00] genr8r commented on #1092
Dupe of the reply just posted via the JRD ticket system...

Hi Thomas,
I am sorry I missed this ticket. Can you please double check the URL that you pasted into your site?
The version that you have included with this ticket has a space right before the ".png" That space would break the link the badge image.
Please let me know if you need further assistance.
Thanks,

Brian
Joomla Resources Director

[2017-12-04 18:00] #1092 closed

[2017-12-04 18:18] JacquesR commented on #1085
Thanks for the alert. Someone keeps on fiddling with the access level of the Submissions bucket, and I have no idea who. I now again had to change at back from Public, same as 5 days ago.

Each time that happens, the feed gets picked up by tweets and google feedburner. The puzzle is that only a very few has back-end access and none of them is a likely culprit. (specially since I mentioned the issu

[2017-12-04 18:25] brianteeman commented on #1085
Sounds like you must have a hacker them. That's a really serious issue if someone is able to login and change acl on k2

[2017-12-04 18:44] JacquesR commented on #1085
Unless a hacker is just out to annoy us, it seems unlikely that hacking is the cause of this. I'll chat to those who most recently had back-end access to try and figure this out.

[2017-12-04 22:39] NA7KR opened #1093 "login"
I have made two accounts na7kr and na7krus I never get the email.
Please, can you help?
Would like NA7KR and kevin+joomla@na7kr.us or just kevin@na7kr.us

Kevin

[2017-12-05 08:12] hvdmeer commented on #1093
On what website did you make these accounts?

[2017-12-05 17:36] NA7KR commented on #1093
https://forum.joomla.org/

On Tue, Dec 5, 2017 at 12:12 AM, Hans van der Meer <notifications@github.com

[2017-12-05 18:33] Sandra97 commented on #1093
Please fill the [forum account support form](https://community.joomla.org/helpdesk/forum-un-ban-request.html).
Thanks.

[2017-12-05 19:01] Lwineman opened #1094 "[jhelp]"
Our issue is that we edited/created a three column megamenu but cannot edit the white background anywhere to fill in the transparent background in between the second and third column.  Can you help?

![image](https://user-images.githubusercontent.com/17929316/33623184-2a7aa69c-d9be-11e7-962a-c26352011c46.png)
![website template image issue](https://user-images.githubusercontent.com/17929316/336232

[2017-12-05 19:17] Sandra97 commented on #1094
Hi,

This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS so I'm gonna close this issue.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page

Regards,

Thanks

[2017-12-05 19:17] #1094 closed

[2017-12-05 23:01] basementcloud opened #1095 "[jhelp]"
Please describe the problem or your issue
It could be useful to include an URL of evidence.
Please use a consistent title for your issue.

[2017-12-06 00:00] #1095 closed

[2017-12-06 01:14] basementcloud commented on #1095
I don't recall doing this...

[2017-12-06 01:16] basementcloud commented on #1095
I have a sneaky feeling my pocket may have done this.
My apologies.

[2017-12-06 01:24] basementcloud commented on #1095
I have a sneaky feeling my pocket may have done this.
My apologies.

[2017-12-06 01:25] basementcloud commented on #1095
I'm going

[2017-12-06 10:10] sebastienlapoux commented on #1069
Hi Mike,
Great! Added:
![image](https://user-images.githubusercontent.com/13470265/33656332-107b9b9e-da76-11e7-839a-014379532020.png)
Thanks.

[2017-12-06 10:10] #1069 closed

[2017-12-06 10:12] sebastienlapoux commented on #1064
Hi @dcassone ,

Your account has been deleted, please create it again.

Thanks.

[2017-12-06 10:12] #1064 closed

[2017-12-06 10:18] sebastienlapoux commented on #988
Thanks @Sandra97 .
Your report items has been processed on 2017-10-17.

Are you agree to add the possibility to unpublish an item by the person who submit it?

Thanks.

[2017-12-06 10:23] Sandra97 commented on #988
Yes, I'm fine with that.
(It also means of course that when someone is unpublishing a site, 404 will need to be managed.)

[2017-12-06 12:44] smpowell11 opened #1096 "[joomla.org]"
Blog articles are not posting no matter what publishing dates/times are given. It's been deleted and added several times, cache/cookies have been cleared.

www.espyservices.com

[2017-12-06 12:48] franz-wohlkoenig commented on #1096
Please ask help on the [forums](https://forum.joomla.org/). This repository is for reporting issues with the joomla.org websites only.

[2017-12-06 14:51] #1096 closed

[2017-12-06 23:07] brianteeman opened #1097 "SSL Certificate deadline"
Starting with Chrome 66, Chrome will remove trust in Symantec-issued certificates issued prior to June 1, 2016. Chrome 66 is currently scheduled to be released to Chrome Beta users on March 15, 2018 and to Chrome Stable users around April 17, 2018.

The same is true for firefox and IE although the dates are different.

We are effected because we use a rapidssl cert that uses symantec in the chain

[2017-12-06 23:08] mbabker commented on #1097
Well.  Crap.  That's the wildcard certificate.

[2017-12-06 23:12] mbabker commented on #1097
Looks like this affects two certificates:

- `*.joomla.org`
- `update.joomla.org` (which is even more annoying because we just renewed this one last month)

[2017-12-06 23:18] brianteeman commented on #1097
It's hard to work out on the rapidssl site but they might be replacing those certificates. Alternatively letsencrypt will be providing wildcard certificates from January and as an open source organisation it feels more appropriate to support the!.

[2017-12-06 23:42] brianteeman commented on #1097
Looks like its just a case of getting the certificate re-issued
https://opensrs.com/blog/2017/09/google-symantec-resolve-chrome-browser-trust-issues/

https://knowledge.rapidssl.com/support/ssl-certificate-support/index?page=content&id=AR1548

Hope that helps

[2017-12-09 07:36] ltdaniel opened #1098 "[jhelp] I have no installation plugin enabled"
I was trying to upload a template for my site, but it seems there is a warning message, indicating that there is no installation plug in enabled. I had already consulted my problems to my website provider, but they are also clueless on the issue. Please do help me.
![install](https://user-images.githubusercontent.com/34391473/33793693-c3744020-dcf6-11e7-9a75-64c17ee2de1d.JPG)

[2017-12-09 07:38] franz-wohlkoenig commented on #1098
Please ask help on the [forums](https://forum.joomla.org/). This repository concerns in first Place Joomla coding. For this Reason closing this Issue, thanks.

[2017-12-09 07:43] #1098 closed

[2017-12-11 10:19] rbuchjoomla opened #1099 "[joomla.org]"
There is a malfunction at Menu Media of latest Joomla version. We have very much files and when click over this menu option, the list run very and very slow. Very slowly.

[2017-12-11 11:17] Sandra97 commented on #1099
Hi,

This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS so I'm closing this issue.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page

If you would like to report an issue with the CMS, please report it at https://issues.joomla.org

Regards,

Thanks

[2017-12-11 11:17] #1099 closed

[2017-12-11 18:11] conconnl commented on #1088
Hi René, why do you expect these fields?

[2017-12-11 18:26] renekreijveld commented on #1088
If you even have to ask this, that is worrying...

The data in my profile is not correct and it is in fields that do not show
up in the edit form. I mentioned the fields in the Github issue.

Regards,
Rene

Op 11 dec. 2017 19:11 schreef "Wilco Alsemgeest" <notifications@github.com>:

[2017-12-11 18:47] conconnl commented on #1088
I asked because it's not Joomla!, the Edit my profile is a other system.
I can't see any of these fields you mentioned in the system.
Can you tell me on which page you see the information displayed, so debug this info.

[2017-12-11 18:54] renekreijveld commented on #1088
To view the profile:

- Go to https://exam.joomla.org/directory
- In the Search by field input 'Kreijveld'
- In the search resuls click 'René Kreijveld'

Then you see my profile data.

To edit the profile:

- Go to https://exam.joomla.org/
- Login with the login module on the right
- Below Quicklinks click Edit My Profile

The URL is https://exam.joomla.org/index.php/update

Street field is missin

[2017-12-11 19:10] conconnl commented on #1088
I found the information and the fields.
They are visible in the system, the layout is messed up somehow.

If you collapse "general" and "User picture", then you will see the "optional" fields.
There you will see phone number and street.

Will try to fix the layout or find someone who can.
Will probably remove the timezone field, even with the highest rights in the system this can't be changed.

[2017-12-12 13:22] The-Web-Designer commented on #1092
Thank you for the info.

I have now worked on this as desired, could you unlock it now?!

thank you

[2017-12-12 15:00] mbabker opened #1100 "[japi] Redirects for renamed classes"
I finally removed the old global namespace pages for classes renamed between 3.7 and 3.8.  But, that now means there are a lot of pages that will 404, so renamed classes need to be redirected.

i.e. `https://api.joomla.org/cms-3/classes/JHtml.html` is now `https://api.joomla.org/cms-3/classes/Joomla.CMS.HTML.HTMLHelper.html` (essentially the fully qualified class name is used with namespace separa

[2017-12-20 22:45] brianteeman opened #1101 "[jdocs] unwanted translate tag"
I was on this page
https://docs.joomla.org/Enabling_Search_Engine_Friendly_(SEF)_URLs

As you can see the page is littered with <translate> tags

[2017-12-20 23:03] Hutchy68 commented on #1101
Fixed

[2017-12-20 23:03] #1101 closed

[2018-01-02 17:42] anibalsanchez opened #1102 "Coding style and standards page has no title (h1)"
Hi,
Searching for the updated **Coding style and standards** from the old docs page (https://docs.joomla.org/Coding_style_and_standards), I found the new page: https://developer.joomla.org/coding-standards.html

This new page (and the internal pages) doesn't have a title (h1, h2, etc).

[2018-01-03 10:29] Sandra97 commented on #1102
Hi Anibal,

These pages have titles (h1, h2, h3).
On all our properties <h1> is the title of the site (so for this one, 'Joomla! Developer Network')

[2018-01-03 11:53] anibalsanchez commented on #1102
Yes, all pages have the same H1. I've been expecting to find a title like in the previous articles, where you have a different h1 title for each page. Examples:

- https://docs.joomla.org/Coding_style_and_standards
- https://docs.joomla.org/Joomla_CodeSniffer

[2018-01-04 18:18] la31779 opened #1103 "Help! Can't Access Site [joomla.org]"
We had to redirect our Joomla site to a new site. Now, we need to get access to the Joomla site to pull some of the data so we can start updating it. But now I can't get into the site. The redirect pulls me away. HELP! What can I do to access the administration portion of the site?

[2018-01-04 18:59] franz-wohlkoenig commented on #1103
Please ask help on the [forums](https://forum.joomla.org/). This repository concerns Joomla-Site like joomla.org.

[2018-01-04 19:01] la31779 commented on #1103
Can you point me in the right direction on the forums. I don’t even know what question to ask?

Thank you,

Lenore Ankenman

From: Franz Wohlkönig [mailto:notifications@github.com]
Sent: Thursday, January 04, 2018 11:00 AM
To: joomla/joomla-websites
Cc: Ankenman Lenore; Author
Subject: Re: [joomla/joomla-websites] Help! Can't Access Site [joomla.org] (#1103)

Please ask help on the forums<https://

[2018-01-04 19:04] franz-wohlkoenig commented on #1103
You find there an Index, choose one which fits your Issue best.

[2018-01-04 19:08] la31779 commented on #1103
I've been looking but can't find anything. I'm not sure I'm asking the question correctly. I'm really lost.

[2018-01-04 19:13] franz-wohlkoenig commented on #1103
Personally i would ask first in https://forum.joomla.org/viewforum.php?f=708. But i think its no Problem if you start in a wrong one.

[2018-01-04 19:22] franz-wohlkoenig commented on #1103
Please close this Issue as this Report isn't an Issue for this Repository, thanks.

[2018-01-04 19:28] la31779 commented on #1103
Ok. Except I can’t submit the issue or find an answer on forums. I tried to sign up so I could start a new thread and the system isn’t letting me in.

Thank you,

Lenore Ankenman

From: Franz Wohlkönig [mailto:notifications@github.com]
Sent: Thursday, January 04, 2018 11:26 AM
To: joomla/joomla-websites
Cc: Ankenman Lenore; Author
Subject: Re: [joomla/joomla-websites] Help! Can't Access Site [joom

[2018-01-05 09:21] Sandra97 commented on #1103
If you have issue with registration on the forum, please fill this form: https://community.joomla.org/helpdesk/forum-un-ban-request.html

[2018-01-05 09:21] #1103 closed

[2018-01-07 11:23] #1093 closed

[2018-01-07 11:23] #1091 closed

[2018-01-09 21:11] aceembossing opened #1104 "[joomla.org]"
Hello,

I've lost the ability to edit my website, I can't login to joomla to access the site.

Please help.

Derek@aceembossing.com
408.262.2585

[2018-01-09 21:25] Sandra97 commented on #1104
Hi,

This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS so I'm closing this issue.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page

If you would like to report an issue with the CMS, please report it at https://issues.joomla.org

Regards,

Thanks

[2018-01-09 21:25] #1104 closed

[2018-01-15 12:24] wsimbota opened #1105 "'JClassLoader' not found in /home/gismalawi/public_html/libraries"
After uploading local joomla 3.8.2 web site to a server website I get an error message saying;
'JClassLoader' not found in /home/gismalawi/public_html/libraries

[2018-01-15 12:29] pe7er commented on #1105
Hi,

This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS so I'm gonna close this issue.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page

Regards,

Thanks

[2018-01-15 12:29] #1105 closed

[2018-01-16 14:09] brianteeman opened #1106 "[joomla.org] openhub"
Our details and links are all out of date on openhub

Only a manager can update them - see here for list of current managers

https://www.openhub.net/p/joomla/managers

[2018-01-16 14:19] mbabker commented on #1106
Fixing what I can.  But honestly, last I knew their platform was so broken it might not all get corrected.

[2018-01-16 14:20] brianteeman commented on #1106
happy to help if I get access

Only mentioned it because I saw a few sites referring to it recently

[2018-01-16 14:39] mbabker commented on #1106
What I can fix is fixed.  Their system is doing a re-import on the CMS repo since I had to change the target branch to analyze, so when that's done everything should be up-to-date.

I can't add managers.  You have to go to the manager page and request to be added if you want that level permission (though I think it's set up in a way where anyone can edit, don't know for sure though).

[2018-01-16 14:39] #1106 closed

[2018-01-16 15:02] brianteeman commented on #1106
Thanks for doing that

From what I can see its still only managers who can edit but we should be good to go now

[2018-01-19 19:24] tigressfair opened #1107 "[joomla.org]"
Several of my students signed up for a free hosting account @ .joomla.com but never received an activation email.  How can I get the activation email resent?  Can it be emailed to me?

[2018-01-19 21:00] Sandra97 commented on #1107
Hi!

I've sent a message to Siteground regarding your issue, as joomla.com is not a property managed by the Joomla Project.

[2018-01-19 21:04] tigressfair commented on #1107
Thank you.

On Jan 19, 2018 4:00 PM, "Sandra Decoux" <notifications@github.com> wrote:

[2018-01-19 21:05] zero-24 opened #1108 "SiteLock is blocking access to joomla.org"
It looks like there are some issues with sitelock:

![image](https://user-images.githubusercontent.com/2596554/35171571-9449400a-fd64-11e7-84a4-5245f67d9939.png)

As they also broke all data served from joomla.org like the backed feeds:

![image](https://user-images.githubusercontent.com/2596554/35171632-bfce9a5e-fd64-11e7-876c-ac6a0a672898.png)

### Location tested

- Germany

[2018-01-19 21:19] mbabker commented on #1108
The first screenshot I imagine users will see periodically (I see something similar hitting CloudFlare's security screening on occasion with other domains).  As for the RSS issue, email sent out, I can confirm the issue on just about every server I have backend access to.

[2018-01-19 21:25] zero-24 commented on #1108
Claim that my client is infected by malware without any evidence i think this should not happen again else everyone should lost trust to such screens.

Thanks!

[2018-01-19 21:26] mbabker commented on #1108
I'm not saying the text on the page is any good, just commenting on the purpose as I understand it.

[2018-01-19 23:39] felipeparru opened #1109 "[jhelp]"
The slides Installer from folder and Installer from URL don't appear in the installation menu and this happened right after an update. I have tried some suggestions from forums but nothing has worked. Im kind of desperated.

[2018-01-19 23:44] zero-24 commented on #1109
Hi,

please try Backend -> Extensions -> Plugins -> Search Tools -> Select type => `installer` -> enable the Plugins called:
- Installer - Install from Upload
- Installer - Install from Folder
- Installer - Install from URL

For any future questions please create your own topic at https://forum.joomla.org as this here is just the place to report issues with the *.joomla.org webseites ;)

[2018-01-20 00:09] brianteeman commented on #1108
It only seems to be feeds on www - other joomla properties are ok
I am guessing from the sitelock features promoted here https://blog.sitelock.com/2016/05/good-and-bad-internet-bots/ that this is intentional behaviour by sitelock
so its definitely a "bug" that needs to be resolved with them. Who can do it?

[2018-01-20 00:14] zero-24 commented on #1108
I expect them to report back to Michael as he already email them 😄

[2018-01-20 00:18] brianteeman commented on #1108
i missed that info

[2018-01-20 00:19] zero-24 commented on #1108
Could be that they have not yet enabled that `feature` SiteLock to that sites yet (as there are no `Yes this is secure as we have security scanned this site badge`) ;)

[2018-01-20 00:25] brianteeman commented on #1108
Oops

[2018-01-20 00:26] zero-24 commented on #1108
![image](https://user-images.githubusercontent.com/2596554/35177577-f2df7e74-fd80-11e7-9068-d8ee5841a100.png)

;)

[2018-01-20 06:27] #1109 closed

[2018-01-22 12:34] kirilhristov commented on #1107
@tigressfair That is strange. I just looked at the activation requests from the past few days and they have been going through okay.

Can you please provide a subdomain/email that was used for registration on one of these problematic accounts? Thanks!

[2018-01-22 18:51] andrepereiradasilva commented on #1097
hi. yes Let's encrypt (open certificate authority) will support issuing wildcard certificates for free starting February 27, 2018.
https://letsencrypt.org/upcoming-features/

i agree with @brianteeman. it would be a good idea for Joomla (open-source project) to be associated with let's encrypt (open certificate authority project).

And it's already possible to issue SAN certificates with up to 100

[2018-01-22 19:01] mbabker commented on #1097
Considering we already have over 40 subdomains I would rather not require us to move to a system where every time a subdomain goes up or down we have to do extra work to have SSL enabled.  So if we can keep a wildcard certificate that is going to be the most efficient thing for everyone's sanity.  We already have enough problems keeping up with the resources we have (and people not paying attentio

[2018-01-22 19:08] andrepereiradasilva commented on #1097
ok, so wait for the wildcard from let's encrypt to be easily automated. Maybe in 6 months or so ... (then no need to forget expirations anymore since the renew can be fully automated).

[2018-01-22 22:07] tigressfair commented on #1107
On Jan 22, 2018 7:34 AM, "Kiril Hristov" <notifications@github.com> wrote:

@tigressfair <https://github.com/tigressfair> That is strange. I just
looked at the activation requests from the past few days and they have been
going through okay.

Can you please provide a subdomain/email that was used for registration on
one of these problematic accounts? Thanks!

—
You are receiving this because you w

[2018-01-22 22:55] brianteeman commented on #1108
any response from sitelock?

[2018-01-22 22:57] mbabker commented on #1108
The feed issue should be addressed.  When I looked to confirm this morning things were working OK from the servers I checked against.

[2018-01-22 22:58] brianteeman commented on #1108
sorry I should have checked before commenting. I just didnt see an update here but can now confirm the feed is appearing

[2018-01-23 07:42] Vreeni opened #1110 "[jhelp]"
We re using the paid version of Falang, but still get displayed the falang translation text on the bottom of every website. This only happened after the Joomla update.
Please help to resolve this issue.

[2018-01-23 07:47] pe7er commented on #1110
Hi,

This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS so I'm gonna close this issue.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page

Regards,

Thanks

[2018-01-23 07:47] #1110 closed

[2018-01-23 17:45] zero-24 commented on #1108
Feed works for me here too. Thanks for the update.

[2018-01-23 17:45] #1108 closed

[2018-01-23 21:58] zero-24 opened #1111 "[jorg] Is there a interest of implementing csp's for joomla.org"
I think the most of you know what csp's are, they are headers a website can set to block such as xss attacks and injecting of other shit. With Joomla 4 the core is [going to ship a plugin](https://github.com/joomla/joomla-cms/pull/18301) but give that [we also have the same features in a 3.x plugin](https://github.com/zero-24/plg_system_httpheader) I would be happy to help to set up a propper csp

[2018-01-23 22:07] mbabker commented on #1111
Just know this is a big ask because each separate subdomain/installation is going to have to be worked through, and extra work needed to set up in ways other than through that plugin on [every](https://github.com/joomla/jissues) [non](https://github.com/joomla/framework.joomla.org) [Joomla](https://github.com/joomla/api.joomla.org) [installation](https://github.com/joomla/help.joomla.org).

[2018-01-23 22:22] zero-24 commented on #1111
sure I know. For that 4 non-joomla sites we can work out a rule we can write down to the code itself or use the `.htaccess` files protecting the sites. To be shipped with PR's
The plugin itself does not guess any rule anyway it just provides a human interface setting it up with some usable default values ;)

But the rule itself is in the most times a one time task. Just checking the external sites

[2018-01-24 21:25] mbabker commented on #1111
I've got no problem with it myself or on sites I'm running.  Others will need to chime in for their respective sites, I'm not in a spot to be able to force it one way or the other but I'd say they should be pushing for it.

[2018-01-27 04:04] felipeparru opened #1112 "I don´t have Intaller from upload and Installer from URL"
I updated my joomla version, after that I couldn't find my Install from Upload
and Install from Folder slashes. So, I reported the issue here, and the answer was the next one:

Please try Backend -> Extensions -> Plugins -> Search Tools -> Select type => installer -> enable the Plugins called:
Installer - Install from Upload
Installer - Install from Folder
Installer - Install from URL

My problem

[2018-01-27 06:07] Sandra97 commented on #1112
Hi,

This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS so I'm closing this issue.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page

If you would like to report an issue with the CMS, please report it at https://issues.joomla.org

Regards,

Thanks

[2018-01-27 06:07] #1112 closed

[2018-01-30 19:56] sasnakra49 opened #1113 "[joomla.org]"
Please describe the problem or your issue

Attempt to login to account on joomla.org unsuccessful.
     Cannot get joomla.org to recognize my email sneb1949@yahoo.com
Keeps error reporting "Security tokens" do not match on login attempts.
      Will not allow password update.
Will not recognize username: sasnakra

Previous to these events,  successful account established, and login successful on j

[2018-01-30 20:21] Sandra97 commented on #1113
Hi!

joomla.org is not open to user registration so you cannot log into joomla.org.
But maybe you're talking about logging into your website?
If so, note that this repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page

If you would like to report an iss

[2018-01-30 22:05] brianteeman opened #1114 "[jtrain] 500 error"
Reported on the forum and confirmed that all the training courses are resulting in a 500 error

https://forum.joomla.org/viewtopic.php?f=799&t=958757

[2018-01-31 07:13] Joomv commented on #1114
I have taken training offline and sent OST details of the issue.
Also tagging them here @stevejburge
Thanks.

[2018-01-31 07:28] #1113 closed

[2018-01-31 07:32] Joomv commented on #1111
@zero-24  Hit me up and we'll roll out on the sub-domains I manage

[2018-01-31 08:23] Joomv commented on #1111
@zero-24  community. tm. certification. and the OSM site have all been brought up to a B grade - pinged you on Glip for help with final 2 header settings.

[2018-01-31 11:50] brianteeman opened #1115 "[jcomm] typo"
".Give a lok to "

https://community.joomla.org/gsoc-2018/gsoc-call-for-mentors-2018.html

[2018-01-31 16:30] Sandra97 commented on #1115
Corrected. Thanks for the report.

[2018-01-31 16:30] #1115 closed

[2018-02-01 23:36] uglyeoin opened #1116 "[japi]"
Please describe the problem or your issue
It could be useful to include an URL of evidence.
Please use a consistent title for your issue.

I see no styling on this URL https://api.joomla.org/cms-2.5/classes/JFormFieldPredefinedList.html

[2018-02-02 02:49] mbabker commented on #1116
That page shouldn't be there to begin with.  It's not a 2.5 API source.

[2018-02-02 08:08] joomdonation opened #1117 "[JED] No email sent when review posted for exensions"
Since last month, JED no longer sends notification emails when our extensions received reviews from users. Could someone please check it?

[2018-02-02 09:50] sozzled opened #1118 "[jcomm] On login attempt to community.joomla.org: "the security token did not match""
I'm having problems at the moment attempting to login to community.joomla.org with the credentials that I established for my account there.

Attempting to login gives the message

I've tried about several times all with the same result. Are we aware of any login problems there?

First reported https://forum.joomla.org/viewtopic.php?f=7&t=958802

[2018-02-02 10:30] brianteeman opened #1119 "[jdocs] breach of copyright - again :("
The following pages all contain copyright material from the w3c and despite the clear instructions on the w3c website regarding their copyright they have been published without complying to the terms explained here https://www.w3.org/Consortium/Legal/2015/doc-license

https://docs.joomla.org/Portal:Accessibility/WAI-ARIA_1.1
https://docs.joomla.org/Portal:Accessibility/UAAG_2.0
https://docs.joomla

[2018-02-02 13:04] rdeutz commented on #1119
seems to me that it should be enough to add

and ofc linking to the correct document

[2018-02-02 13:07] brianteeman commented on #1119
yes exactly - not as if the submitting user hasnt already been told this

[2018-02-02 13:21] rdeutz commented on #1119
tried to add the notes but failed because of my great mediawiki knowledge :-)

[2018-02-02 14:22] Joomv commented on #1114
OST have provided a fix and this is now live again.  Closing.

[2018-02-02 14:22] #1114 closed

[2018-02-02 14:41] mbabker commented on #1116
Apparently at some point in 2014 I managed to deploy the 3.x docs over the 2.5 workspace.  As the root template and numerous media assets have been updated since then, that's why the page had a broken display.  That page should have never existed on an index so not sure how you stumbled on it, but everything that wasn't updated as part of the last deployment (which is noted in the footer of the ph

[2018-02-02 14:41] #1116 closed

[2018-02-02 14:57] mbabker commented on #1119
https://docs.joomla.org/index.php?title=Portal:Accessibility/WAI-ARIA_1.1&diff=477355&oldid=436384

https://docs.joomla.org/index.php?title=Portal:Accessibility/UAAG_2.0&diff=477356&oldid=427578

[2018-02-02 18:01] Sandra97 commented on #1118
Can you try using the **log in** link located in the footer? It should work.

[2018-02-02 20:11] sozzled commented on #1118
Sandra,

Thank you for your email.

I attempted to use the only login form that I see on the page https://community.joomla.org <https://community.joomla.org/> ,

but, even after clearing all my browser history (e.g. cookies, etc.) or using different platforms, I am unable to login.  Even attempting to use a login/password that is clearly wrong (e.g. username=test34567 / password=1o1o1o1o1) I get t

[2018-02-02 20:14] mbabker commented on #1118
Try the "Log in" link located at the footer of the site (this link is present on almost every site and essentially routes to that site's `index.php?option=com_users&view=login` page).  Scroll past the module and don't use that.

[2018-02-02 20:19] sozzled commented on #1118
Ahhhh ... success ... I didn't scroll down that far on the page.

Looks like there's a problem (for me) with the login form.

[2018-02-04 10:48] zero-24 commented on #1111
You have got a initial version for the osm page just a few minutes ago.

A open point is where we can have a central place for a csp-reporter script where we can monitor the reports and maintain a central blacklist. Ideally this would be a place where i can login and maintain the blacklist myself as i expect a big list of entrys for the blacklist and i don't want to load a that work on you too.

@

[2018-02-04 12:14] sy4409 opened #1120 "No items in the Database Type dropdown on the Database Configuration page (Joomla 4 Alpha 2)"
Just want to report this issue regarding Joomla 4 Alpha Test installation.  On the Database Configuration page, I was not able to select database type.  The drop down is empty.  Here is the screenshot of the issue.
![joomla error](https://user-images.githubusercontent.com/7356376/35777362-bd0ffba2-0a00-11e8-98e4-85f8a78e4fcb.JPG)

[2018-02-04 12:39] franz-wohlkoenig commented on #1120
Please have a Look at https://github.com/joomla/joomla-cms/issues/18783. The Issue you reported is know, please close the Issue as it is reported on wrong Repository.

[2018-02-04 12:46] sy4409 commented on #1120
Thanks!

[2018-02-04 12:46] #1120 closed

[2018-02-04 16:14] mbabker commented on #1111
If you've got any suggestions feel free to share them.

You know more on the topic than I do, as long as we aren't blocking a site's main functionality then we're good.

[2018-02-04 17:38] Hutchy68 commented on #1111
So, this should be really looked at carefully.

Yep, I love security but there will not be a one size fits all for all sites. Errors in applying CSP -> headers could grow enormously, breaks in content, ads for revenue being blocked, domain sharing resource breaking, social shares broken, etc.... Wrongly applying rules could also allow what a browser would normally block by default through to the u

[2018-02-04 22:27] brianteeman commented on #1097
Just a reminder that this needs to be addressed. Google Chrome Canary has already started to block access to joomla.org

<img width="562" alt="screenshotr22-26-57" src="https://user-images.githubusercontent.com/1296369/35783137-93533f14-09fa-11e8-812b-3390636e9909.png">

[2018-02-04 22:35] zero-24 commented on #1111
@mbabker

Rowan suggested the cdn or the community page. But you have more insights into our infrastructure so you can tell me if that would be a good place.

Yes that is the plan we need to adjust the rules for example on the help proxy sites.

Here some more explanation on what the headers are supposed to do:
[code]
Enable the inbuild browser support for XSS detection. In case the browser find a

[2018-02-06 14:18] mbabker commented on #1097
If the timelines stay valid then on February 27 we can start the process to refresh our wildcard certificate using Let's Encrypt, this will be before Chrome 66 hits beta (I'm not so concerned with Canary and "bleeding edge" builds at the moment).  We'll also be close to the window for refreshing the CDN certificate for the downloads portal due to expiration, so that'll work itself out well.  Then

[2018-02-07 14:03] heyjoecampbell opened #1121 "Joomla Connect page (remove or update)"
![1d97b849-6856-4ed1-aebb-5ad4f541363e](https://user-images.githubusercontent.com/8339561/35920378-b15944e4-0be5-11e8-826c-eed41d3a53a1.jpeg)

The Joomla Connect page should be removed or updated with:

- Twitter Feeds
- Official Joomla User Group (Linkedin)
- Facebook page(s)
- RSS Feeds
- Youtube Channel

#jFeedback

Referenced page:
https://community.joomla.org/connect.html

[2018-02-08 01:04] zero-24 commented on #1111
All public repos you linked now have a PR implementing the basic headers:
https://github.com/joomla/jissues/pull/1005
https://github.com/joomla/framework.joomla.org/pull/27
https://github.com/joomla/api.joomla.org/pull/4
https://github.com/joomla/help.joomla.org/pull/6 (excluding X-Frame-Options)

Another open question is how do you want to handle HSTS / Strict Transport Security

The general defa

[2018-02-12 14:56] hvdmeer commented on #1111
I see this tweet stand also to us. Is it wise to reply on this?
https://twitter.com/ValbonneConsult/status/963054407154839552

AFAIK this isn't really easy and/or wise to implement in the standard install or am i mistaken?

[2018-02-12 14:59] mbabker commented on #1111
https://github.com/joomla/joomla-cms/pull/18301

Already a 4.0 roadmap item.

[2018-02-12 15:31] dmb0058 opened #1122 "[jforum] access problem with Joomla forum"
I haven't been able to access the joomla forum since mid-December, and assume it's been hacked to death - is this the case ?

Oddly while no web browser on any device (Samsung S6 phone, Mac, Windows 10 laptop, various tablets) can get to the site, I can wget an index.html from the unix command line ...

[2018-02-12 15:59] franz-wohlkoenig commented on #1122
This repository is for reporting issues with the joomla.org websites only. Please ask help on the [forums](https://forum.joomla.org/). For this Reason please close this Issue, thanks.

[2018-02-12 16:06] pe7er commented on #1122
@franz-wohlkoenig The user is having a problem with Joomla forum, this time it is not an issue with forum software in his/her own Joomla site.. :-)

@dmb0058 https://forum.joomla.org/ is working ok for me.
Could you please use https://community.joomla.org/helpdesk/forum-un-ban-request.html to report the issue to the Joomla Forum team? That way they will have the necessary information to investigat

[2018-02-12 16:37] franz-wohlkoenig commented on #1122
@pe7er thanks for the Hint, haven't read exactly enough - maybe to much snowshipping today.

[2018-02-12 16:44] pe7er commented on #1122
@franz-wohlkoenig No prob!

[2018-02-13 08:53] dmb0058 commented on #1122
Thanks, have done now.

All the best,

David

On 12 February 2018 at 16:06, Peter Martin <notifications@github.com> wrote:

[2018-02-13 11:31] ukturb opened #1123 "Urgent: please help with missing website"
The joomla hosted website
http://www.turbulence.ac.uk/
 for which i am administrator but not owner, has disappeared. this is a major EPSRC funded research page that has just vanished and i would like to speak to a human about it. (the owner is overseas and very slow to respond to emails.
 Does the page need paying for? I was informed we were paid up until May this year. Is the data still available

[2018-02-13 11:32] pe7er commented on #1123
Hi,

This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS so I'm gonna close this issue.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page

Regards,

Thanks

[2018-02-13 11:33] #1123 closed

[2018-02-13 11:44] ukturb commented on #1123
SO the forum doesn't accept my sign on for joomla or ukturb, and i can't see where to go once i get here:
I think i have managed to put something on the CMS site, but can i just be clear, i just want to find out where the whole site has gone, i know nothing about how joomla works, and everyone i have talked to has just sent me on somewhere else. if it wasn't kind of hilarious how ridiculous this i

[2018-02-13 11:50] pe7er commented on #1123
Could you please use https://community.joomla.org/helpdesk/forum-un-ban-request.html to report the issue with Joomla forum sign on to the Joomla Forum team? That way they will get the necessary information to investigate your sign on problem. Thanks!

[2018-02-13 11:57] ukturb commented on #1123
Peter,

That’s the first time I think I have got to a page which could lead to help.
THANK YOU!
Seriously I don’t know the first thing about joomla (as is probably very obvious) save occasionally adding an academic paper to the site.
Have submitted request on the link below, so hopefully that should be on the way to be sorted.

Thanks again. Appreciate your concrete help.

Richard

From: Peter Mar

[2018-02-15 16:52] awarner20 opened #1124 "[jforum] - Never Receive Activation Link Upon Registering"
Hi all,

I registered on the forums yesterday and haven't received the activation link as indicated after I registered. Checked spam, etc. Also tried "resend activation email" with no success.

Can you advise? Username was adamwarner

[2018-02-15 17:40] Sandra97 commented on #1124
Hi!
Please report your issue on [this form](https://community.joomla.org/helpdesk/forum-un-ban-request.html) so that the forum team can check.

Thank you!

[2018-02-15 17:45] awarner20 commented on #1124
Done @Sandra97 , thanks! Looking forward to getting more deeply involved:)

[2018-02-15 17:46] Sandra97 commented on #1124
Great!
Please tell me when your issue is solved so that then I can close it.

[2018-02-15 19:38] sanderpotjer opened #1125 "[jcomm] Just 3 items on home & blogs"
Currently, the community site display just 3 latest news items on the homepage and the blog (https://community.joomla.org/blogs.html) shows 3 items as well before the pagination is visible. For news of 10 days ago I already have to browse to page 3. Is this on purpose? Otherwise I would suggest increasing the number of articles on each page a bit :)

[2018-02-16 08:51] nicokeed opened #1126 "Kindly assist with belo error"
Warning: Declaration of IceGroupContent::getListByParameters(&$params) should be compatible with IceGroupBase::getListByParameters($params) in /home/keval/webapps/gulfbm_joomla/modules/mod_ice_carousel/libs/content.php on line 17

[2018-02-16 10:53] franz-wohlkoenig commented on #1126
Please ask help on the [forums](https://forum.joomla.org/). This repository is for reporting issues with the joomla.org websites only.  For this Reason please close this Issue, thanks.

[2018-02-16 10:56] #1126 closed

[2018-02-19 19:41] paketos opened #1127 "[jdown]"
I have downloaded Joomla 1.5.26 from here https://downloads.joomla.org/cms/joomla15/1-5-26, and i am trying to upload to my host, however i am getting the following error:
The file you uploaded, Joomla_1.5.26-Stable-Full_Package.zip, contains a virus so the upload was canceled: PHP.chr_encode_mailer.116.UNOFFICIAL FOUND

Can you please check if you have been hacked ?

[2018-02-19 19:44] paketos commented on #1127
Please check all compressed files, i am getting the same error for all compressed files.

[2018-02-19 19:47] mbabker commented on #1127
These types of false positives are reported pretty constantly.  There has been no compromise of our packages or their contents.

[2018-02-19 19:49] paketos commented on #1127
thanx for the quick reply, and sorry for not checking these reports before posting.

[2018-02-19 19:49] #1127 closed

[2018-02-21 02:00] tigressfair opened #1128 "[joomla.org]"
I can't find the name of my database and it won't let me log in without it.  What am I missing? http://help4dogs.x10host.com.

[2018-02-21 06:27] franz-wohlkoenig commented on #1128
Please ask help on the [forums](https://forum.joomla.org/). This repository is for reporting issues with the joomla.org websites only. For this Reason please close this Issue, thanks.

[2018-02-21 07:16] #1128 closed

[2018-02-24 04:01] BfdNova opened #1129 "[joomla.org]"
I have installed joomla on a site http://hlcomputerclub.net/joomla30, and i cant access it as the admin.
![screenshot_20180223-230030](https://user-images.githubusercontent.com/18630359/36625434-73e4dc6c-18ed-11e8-815f-d4dc676c232a.png)

[2018-02-24 06:25] franz-wohlkoenig commented on #1129
Please ask help on the [forums](https://forum.joomla.org/). This repository is for reporting issues with the joomla.org websites only. For this Reason please close this Issue, thanks.

[2018-02-24 06:46] #1129 closed

[2018-02-24 12:19] andrepereiradasilva commented on #1097
Just additional info.
Let's encrypt changed target date for wildcard certificates do Q1 2018
https://letsencrypt.org/upcoming-features/

[2018-02-27 12:29] sidney108 opened #1131 "[forum.joomla.org]"
I just can't log in to Joomla forum with my correct credentials.  How on the earth can I reset my password or get any help here? All my attempts are just hitting a wall, even Facebook messages are not replied?
PLEASE, cod someone contact me on sidney108@gmail.com for reseting anything connected with user sidney108 or zdrska, or anything connected with following emails: sidney108@gmail.com and zdrs

[2018-02-27 12:34] SIMO07 commented on #458
thanks joomla

[2018-02-27 12:58] pe7er commented on #1131
Could you please use https://community.joomla.org/helpdesk/forum-un-ban-request.html to report the issue with Joomla forum sign on to the Joomla Forum team? That way they will get the necessary information to investigate your sign on problem. Thanks!

[2018-02-28 17:39] Micco93 opened #1132 "[jhelp]"
![joomlaerror](https://user-images.githubusercontent.com/36930748/36802970-9ed3158e-1cb6-11e8-9460-cdb5054e6369.png)

Help please, i erased for a mistake the cache and now the page with the slider are broken.

[2018-02-28 18:18] franz-wohlkoenig commented on #1132
Please ask help on the [forums](https://forum.joomla.org/). This repository is for reporting issues with the joomla.org websites only. For this Reason please close this Issue, thanks.

[2018-02-28 19:50] #1132 closed

[2018-03-03 13:45] alomarib opened #1134 "[jdocs]"
Hi there,
I've been trying to enter user manage to add/edit users, but every time facing this message:

An error has occurred.
 500 JM_INVALID_API_KEY (Your request did not include an API key.)

Any help appreciated?

[2018-03-03 15:40] Sandra97 commented on #1134
Hi,

This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS so I'm closing this issue.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page

If you would like to report an issue with the CMS, please report it at https://issues.joomla.org

Regards,

Thanks

[2018-03-03 15:40] #1134 closed

[2018-03-05 15:57] mbabker commented on #1097
https://community.letsencrypt.org/t/acmev2-and-wildcard-launch-delay/53654

Sigh, guess it's time for Plan B.

[2018-03-05 15:59] brianteeman commented on #1097
Guess so

[2018-03-05 17:05] brianteeman opened #1135 "sitelock issues again"
Looks like we are having problems with sitelock again

1. Its blocking access to the newsfeed in a joomla install
2. many reports on the forums of access to www.joomla.org being blocked

[2018-03-05 22:17] brianteeman opened #1136 "[jdev] Nightly builds"
Reminder for @mbabker that the nightly builds server is borked

[2018-03-05 23:11] mbabker commented on #1136
Fixed.

[2018-03-05 23:11] #1136 closed

[2018-03-06 20:12] andrepereiradasilva commented on #1097
use Subject Alternate Name (SAN) let's encrypt certificate with all current joomla domains and then replace it by a wildcard when available?

[2018-03-08 08:41] #1122 closed

[2018-03-09 18:46] mbabker commented on #1097
A new certificate has been acquired and is now partially rolled out.  Will close when rollout complete.

[2018-03-09 19:24] brianteeman commented on #1097
thank you

[2018-03-09 19:39] mbabker commented on #1097
Everything `*.joomla.org` minus the demo site (this includes all CDN nodes) should now all be on the new wildcard certificate.  If there's a site still on the old certificate (Chrome will nag and that cert has a Feb 2019 expiry, the new one is June 2020) please log a new issue.

[2018-03-09 19:39] #1097 closed

[2018-03-12 17:11] SEPWebmaster opened #1138 "[joomla.org]"
I uploaded a theme to my site and immediately after, i got a " currently unable to handle this request.
HTTP ERROR 500" message.  I can't log in or view the site. What may I do next?

[2018-03-12 17:12] franz-wohlkoenig commented on #1138
Please ask help on the [forums](https://forum.joomla.org/). This repository is for reporting issues with the joomla.org websites only. For this Reason please close this Issue, thanks.

[2018-03-12 17:15] #1138 closed

[2018-03-13 11:33] MartijnMaandag opened #1139 "[jcm] wrong Month"
Several items do have the wrong month (picture attached).
![joomlamag](https://user-images.githubusercontent.com/4639364/37339353-b5e96008-26ba-11e8-8f4b-8f9d6f99043a.png)

[2018-03-13 14:16] Sandra97 commented on #1139
Thanks Martijn for the report. All is tagged under March now.
I'm closing this issue.

[2018-03-13 14:16] #1139 closed

[2018-03-13 15:16] CEWebDesign commented on #1059
Hello, looks like the issue is back.

[2018-03-13 17:56] mbabker commented on #1097
Irony - We buy a new certificate, not even a week after it's acquired Let's Encrypt gets their wildcard infrastructure released to the public.

[2018-03-13 17:56] brianteeman commented on #1097
Sh*t happens

[2018-03-13 20:34] genr8r commented on #1135
sitelock is blocking joomla.org right now.

[2018-03-13 20:36] genr8r commented on #1135
and its back online...

[2018-03-14 15:31] Hutchy68 commented on #1063
Fixed closing

[2018-03-14 15:31] #1063 closed

[2018-03-14 15:37] Hutchy68 commented on #1083
Closing as this was dealt with in #1119

[2018-03-14 15:37] #1083 closed

[2018-03-14 15:37] Sandra97 commented on #1119
All content removed because of continuous copyright infringements and not Joomla related content.

[2018-03-14 15:37] #1119 closed

[2018-03-14 15:51] brianteeman commented on #1119
Thank you

[2018-03-15 10:09] kirilhristov commented on #1059
Fixed. Thanks for reporting!

[2018-03-16 13:19] hehemrin opened #1140 "No response beside auto to contact form at showcase.joomla.org"
I submitted a question via the contact form at showcase.joomla.org 16 Jan 2018. I directly got the auto-notification my form was received. No other response after two months.

Sebastien Lapoux told me (at a LinkedIn group) that there is a problem currently that the receivers of contact form do not get a notification when a contact form is submitted. He suggested I should report this as an issue he

[2018-03-16 15:18] carlosmanrique opened #1141 "[joomla.org]"
Hi

I need to wite an ARTICLE but show an error: **500 JForm::getInstance could not load file**

![errot](https://user-images.githubusercontent.com/18315445/37528697-48957780-2903-11e8-9b70-c178b6a09361.JPG)
Please describe the problem or your issue

[2018-03-16 15:31] franz-wohlkoenig commented on #1141
Please ask help on the [forums](https://forum.joomla.org/). This repository is for reporting issues with the joomla.org websites only. For this Reason please close this Issue, thanks.

[2018-03-16 15:41] #1141 closed

[2018-03-18 22:57] arminevergreen opened #1142 "[joomla.org]"
Dear Sir or Madam,

I've got a problem with my homepage www.evergreenmusic.at/
After some 1 year I tried to log in to http://www.evergreenmusic.at/administrator/ to edit my page. The joomla login-window opens.
It seems like I forgot my password cause none of the ones I tried helped out.
And using the "Forgot password?" or "Forgot username?" links didn't help either because I haven't got a mail so

[2018-03-19 05:13] Sandra97 commented on #1142
Hi,

This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page

if you find an issue in the CMS, please report it at https://issues.joomla.org/

Regards,

Thanks

[2018-03-19 05:13] #1142 closed

[2018-03-20 19:37] sebastienlapoux commented on #1140
Thanks a lot @hehemrin ! It has been fixed!

[2018-03-20 19:37] #1140 closed

[2018-03-21 21:29] ofv1907 opened #1143 "[joomla.org]"
[Anzeigefehler.pdf](https://github.com/joomla/joomla-websites/files/1835316/Anzeigefehler.pdf)

In der Statuszeile vom Backend wird das Akeeba BoU-Symbol incl. Beschreibung nicht korrekt angezeigt.

[2018-03-22 05:40] Sandra97 commented on #1143
Hi,

This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS.

For your issue, I encourage you to contact directly Akeeba.

For any user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page

Regards,

Thanks

[2018-03-22 05:40] #1143 closed

[2018-03-25 17:51] atomhbc opened #1144 "[forum.joomla.org]"
Out of Date Default Joomla Http Response Impedes Ability To Update Website In A Controlled Fashion

The default Joomla http response includes the following:
"Expires: Wed, 17 Aug 2005 00:00:00 GMT
Cache-Control: no-store, no-cache, must-revalidate, post-check=0, pre-check=0"

I understand, many browsers, including Chrome, ignores the given cache control directives. Current browsers would accept ca

[2018-03-28 04:47] sheetdhumal5dec opened #1145 "[joomla.org] Newsletter module not working."
Newsletter module not working on https://www.joomla.org/. It says captcha is invalid, but captcha is missing in the newsletter module.
**Links**:
https://www.joomla.org/about-joomla.html
https://www.joomla.org/core-features.html
https://www.joomla.org/announcements.html
https://www.joomla.org/contribute-to-joomla.html
https://www.joomla.org/media-contact.html

![newsletter module](https://user-ima

[2018-03-28 09:04] Sandra97 commented on #1145
Thanks  for reporting it. It solved now.
Please confirm me it's now ok for you so that I can close this issue.

[2018-03-28 09:20] sheetdhumal5dec commented on #1145
Yes, it is resolved now and it's working fine.

[2018-03-28 09:30] Sandra97 commented on #1145
Thanks!
I'm closing this issue

[2018-03-28 09:30] #1145 closed

[2018-04-03 05:02] stator100 opened #1146 "[jdown]"
Official page, wrong russian translation :
1. Почему и как мигриовать?
2. Сообщить об проблеме

 it's here:
https://downloads.joomla.org/ru/

[2018-04-03 05:04] franz-wohlkoenig commented on #1146
Can you please give Information about which joomla.org website you talk?

[2018-04-03 11:08] Sandra97 commented on #1146
Hi @stator100
We are managing all these translations on Crowdin.
Please log in Crowdin to submit your translations.

- "Почему и как мигриовать?", it's here: https://crowdin.com/translate/joomla-official-sites/524/engb-ru#18683
- "Сообщить об проблеме", it's here: https://crowdin.com/translate/joomla-official-websites-templates/515/engb-ru#22803

[2018-04-09 15:26] #1100 closed

[2018-04-09 15:29] mbabker commented on #1046
Unfortunately the software powering the downloads site doesn't support a mirroring capability at this time.  The CMS was updated to have a mirroring capability in case one source fails, so updates in the software will work unless all three of our sources get blocked.  Otherwise use our GitHub repo to get the packages for a release as required.

[2018-04-09 15:29] #1046 closed

[2018-04-09 15:31] mbabker commented on #1056
Same issue as #1046 - addressed in the CMS for updates (well, current 3.8 release, 2.5 won't have this feature) and if needed a lot of the packages can be downloaded from either the myJoomla unofficial mirror or for most of the releases made from 2014 onwards the CMS GitHub repo.

[2018-04-09 15:31] #1056 closed

[2018-04-09 15:45] #555 closed

[2018-04-09 15:56] mbabker commented on #578
It's offline, text changed, nothing else happening here since there's no interest in following through on the action that was once proposed of having a new system to replace this.

[2018-04-09 15:56] #578 closed

[2018-04-09 15:56] mbabker commented on #688
Closing, Jenkins box is dead.  Need to build a new one and will re-think these types of tasks.

[2018-04-09 15:56] #688 closed

[2018-04-09 15:57] mbabker commented on #717
Jenkins box is dead.  Closing, will integrate this into a replacement system.

[2018-04-09 15:57] #717 closed

[2018-04-09 15:57] mbabker commented on #799
Site's still running and getting more features.  Until I'm told to stop.

[2018-04-09 15:57] #799 closed

[2018-04-09 15:58] mbabker commented on #865
As said elsewhere, Jenkins is dead.

[2018-04-09 15:58] #865 closed

[2018-04-09 15:59] #892 closed

[2018-04-10 11:31] MartijnMaandag opened #1147 "[jcomm] name missing in dutch part"
On https://community.joomla.org/translations/joomla-3-translations.html Dutch translation missing `<a name="nl-nl">` so you can't jump from the top (How to Find a Joomla 3.x Translation) to the translation hitting [Dutch](https://community.joomla.org/translations/joomla-3-translations.html#nl-nl).

[2018-04-10 13:51] Sandra97 commented on #1147
Thanks Martijn.
It works now.
Please confim so that I can close the issue

[2018-04-10 14:08] MartijnMaandag commented on #1147
Yes it works, thanks.

[2018-04-10 14:08] #1147 closed

[2018-04-14 03:46] mbabker commented on #563
Not needed for now.

[2018-04-14 03:46] #563 closed

[2018-04-14 14:03] ssvt commented on #1135
This is happening again.
<img width="780" alt="screen shot 2018-04-14 at 9 37 22 am" src="https://user-images.githubusercontent.com/3165234/38769072-047ea826-3fcb-11e8-9c4d-2f202997a46d.png">

[2018-04-14 16:46] ssvt commented on #1135
FYI, I just tried again and www.joomla.org seems fine but joomla.org is showing the Sitelock screen. I've cleared browser cache.

[2018-04-15 20:45] Sandra97 commented on #1135
Thanks @SiteLockMike.
I'm closing this issue as solved.
Re-open if needed

[2018-04-15 20:45] #1135 closed

[2018-04-17 09:10] Sandra97 commented on #1146
I'm closing this. Translation suggestions have to be done directly on Crowdin.

[2018-04-17 09:10] #1146 closed

[2018-04-17 09:11] Sandra97 commented on #1131
@sidney108 Is your issue solved? Can we close this issue?

[2018-04-17 09:13] Sandra97 commented on #1124
I presume this issue is now solved. I'm closing it. Re-open if needed

[2018-04-17 09:13] #1124 closed

[2018-04-17 09:15] Sandra97 commented on #1118
As this issue is solved, I'm closing it.
Re-open if needed.

[2018-04-17 09:15] #1118 closed

[2018-04-17 09:16] Sandra97 commented on #1117
@joomdonation Do you still have this issue?

[2018-04-17 09:17] Sandra97 commented on #1107
As we are changing the provider of this service and the service itself, I'm closing this issue.

[2018-04-17 09:17] #1107 closed

[2018-04-17 09:34] Sandra97 commented on #1117
@anibalsanchez @JazParkyn  Could you look at this? Thanks!

[2018-04-17 09:35] Sandra97 commented on #1090
Closing this issue.
Re-open if needed

[2018-04-17 09:35] #1090 closed

[2018-04-17 09:36] Sandra97 commented on #1088
@conconnl Has this issue been solved?

[2018-04-17 09:37] Sandra97 commented on #1085
Seems to be fine now.
I'm closing this issue.
Re-open if it happens again.

[2018-04-17 09:37] #1085 closed

[2018-04-17 09:38] conconnl commented on #1088
No, but there is no reason for it anymore.
Moodle is going to be removed.
Then the issue solves itself.

[2018-04-17 09:43] Sandra97 commented on #1027
As JDocs is a wiki and anyone can contribute and edit the custom fields tutorial, I'm closing this issue

[2018-04-17 09:43] #1027 closed

[2018-04-17 09:44] Sandra97 commented on #1025
@Joomv Any news about that?

[2018-04-17 09:45] anibalsanchez commented on #1117
JED has its own ticketing system: https://github.com/joomla/jed-issues/issues

To avoid duplication, please, close this ticket and reopen it there.

[2018-04-17 09:46] Sandra97 commented on #957
I'm closing this issue. This page can be edited by anyone.

[2018-04-17 09:46] #957 closed

[2018-04-17 09:47] andreagentil commented on #1025
It's fixed.

![image](https://user-images.githubusercontent.com/8660106/38862398-1b707980-4235-11e8-9a02-6f8ad0d3d293.png)

[2018-04-17 09:49] Sandra97 commented on #988
@sebastienlapoux, seems the unpublish button is not available. What's the status of this option?

[2018-04-17 09:50] joomdonation commented on #1117
@anibalsanchez I posted a new issue https://github.com/joomla/jed-issues/issues/38

[2018-04-17 09:50] #1117 closed

[2018-04-17 09:50] Sandra97 commented on #1067
All translations are managed on Crowdin, please post your suggestions there.
I'm closing this issue.

[2018-04-17 09:50] #1067 closed

[2018-04-17 09:51] Sandra97 commented on #1015
@jeckodevelopment Can I close this issue?

[2018-04-17 09:52] Sandra97 commented on #1025
Thanks.
I'm closing this issue.

[2018-04-17 09:52] #1025 closed

[2018-04-17 09:53] Sandra97 commented on #1088
Thanks Wilco.
I'm closing this issue.

[2018-04-17 09:53] #1088 closed

[2018-04-17 11:08] #1131 closed

[2018-04-17 11:33] Sandra97 commented on #1028
Closing this issue too ;)

[2018-04-17 11:33] #1028 closed

[2018-04-17 14:18] DuncanBolam opened #1148 "[joomla.org]"
Hi there,
I am not even sure if I am writing to a public forum or contacting a carbon biped in person. So please do bear with me!
Back in 2013, I asked a website developer to build me a blog in WordPress. Sorry. I know that is probably a dirty word around here! Anyway, s/he managed to persuade me to go down the Joomla route on account of its functionality and progressiveness. Unfortunately, she to

[2018-04-17 15:15] franz-wohlkoenig commented on #1148
Please ask help on the [forums](https://forum.joomla.org/). This repository is for reporting issues with the **joomla.org websites only**. For this Reason please close this Issue, thanks.

[2018-04-17 16:54] Sandra97 commented on #1148
@DuncanBolam You can also give a look to this [tutorial](https://docs.joomla.org/How_do_you_recover_or_reset_your_admin_password%3F) and as mentioned by Franz, don't hesitate to ask on the forum.
I'm closing this issue.

[2018-04-17 16:54] #1148 closed

[2018-04-18 09:56] DuncanBolam commented on #1148
Dear Franz and Sandra,

Thank you for your emails.

As this is my first experience of the Joomla and the support / contact us facility offered on the bottom of the website, I do not understand your responses. If by clicking on this link it takes me through to GitHub, what else am I to do but trust the process itself. There is no other information available.

I will take a look at the tutorial. But

[2018-04-18 10:01] franz-wohlkoenig commented on #1148
@DuncanBolam have you asked help on the [forums](https://forum.joomla.org/)?

[2018-04-18 10:02] pe7er commented on #1148
@DuncanBolam I have removed your manual signature from your github message.

[2018-04-18 10:59] Sandra97 commented on #1148
@DuncanBolam The 'Report an issue' button is to report an issue you may find on one of our official websites, like it's mentioned here  https://github.com/joomla/joomla-websites

For any help about your own website, then the right place to ask is the official forum. You'll find there many people ready to help you.

I can't tell you in advance if the doc will resolve your issue, I don't know your s

[2018-04-18 11:52] carlpitcher opened #1149 "[jcomm]"
in Training section, topics on creating articles doesn’t work

[2018-04-19 10:57] brianteeman opened #1150 "[joomla.org] sitelock again"
This looks like a configuration issue with sitelock as https://www.joomla.org works correctly but https://joomla.org after a long period fails at incapusla with the error in the screenshot below.
<img width="691" alt="chrome_2018-04-19_11-53-39" src="https://user-images.githubusercontent.com/1296369/38987774-dc2a2db2-43c8-11e8-94cb-7bda4a069575.png">

[2018-04-19 13:50] LoganKipp commented on #1150
@brianteeman,

Logan from SiteLock here. Error code 20 indicates that our CDN did not receive a response from the website's origin server (general time-out). We are working with the Joomla.org team to resolve these time-outs.

[2018-04-19 16:53] brianteeman commented on #1150
Simple and foolproof solution for joomla is to remove site lock

[2018-04-19 17:33] LoganKipp commented on #1150
@brianteeman,

I want to make sure we're on the same page in that this is not an issue caused by the SiteLock service. As the error indicates, code 20 occurs when "The proxy fail[s] to connect to the web server, due to TCP connection timeout." The SiteLock CDN is not going to be able to pass on a response from the origin server if the origin server itself isn't providing one. The issue most likely

[2018-04-19 18:56] brianteeman commented on #1150
To be clear from the exact same ip address it works perfectly on www just not without

You might say it is not caused by sitelock but the reality is that this could not happen if joomla.org was not using sitelock.

Not looking to point blame at whose fault it is just stating the fact

[2018-04-20 06:47] Daniellep2017 opened #1151 "[jdown]"
My website does not allow me to access my for more than for 15 min. We have checked with different service providers and nothing is wrong with our fibre connections. Please help!! I don't know what to do but I need to finish my website.
![capture](https://user-images.githubusercontent.com/38517748/39034633-6110a4d0-4477-11e8-94ee-c8afc94df159.PNG)

[2018-04-20 07:30] franz-wohlkoenig commented on #1151
Please ask help on the [forums](https://forum.joomla.org/). This repository is for reporting issues with the **joomla.org websites only**. For this Reason please close this Issue, thanks.

[2018-04-20 07:42] Daniellep2017 commented on #1151
Hi Franz

Thanks for your help.

Have a great day.

Warm Regards

From: Franz Wohlkönig [mailto:notifications@github.com]
Sent: 20 April 2018 09:31 AM
To: joomla/joomla-websites
Cc: Daniellep2017; Manual
Subject: Re: [joomla/joomla-websites] [jdown] (#1151)

Please ask help on the forums <https://forum.joomla.org/> . This repository is for reporting issues with the joomla.org websites only. For th

[2018-04-20 09:47] #1151 closed

[2018-04-20 21:23] wilshire5000 opened #1152 "[forum.joomla.org]"
Hello,
Can someone reset my JomSocial forum user ID, for this site, https://www.joomla.org/?

I can't log into JomSocial forum because I can't remember my user ID. I can't send reactivation email because I can't remember my user name. I also don't remember my password. I need my user name to reset it.

Thanks,
Louis Green
wiLshire5000@hotmail.com

[2018-04-20 21:29] mbabker commented on #1152
Hi,

There is not an active install of JomSocial on our joomla.org subdomains, so there is no account to reset.

If you mean an account on the Joomla Forums please use the form at https://community.joomla.org/helpdesk/forum-un-ban-request.html for assistance.

[2018-04-20 21:29] #1152 closed

[2018-04-20 21:55] LoganKipp commented on #1150
@brianteeman,

The naked domain should be permanently forwarded to www.joomla.org at this time. Additionally, settings have been adjusted at the origin network to resolve the reported behavior. Please advise if you receive this error again after clearing your browser cache.

[2018-04-21 00:48] 73829 opened #1153 "[jhelp]"
![captura de pantalla 324](https://user-images.githubusercontent.com/38574662/39078750-8d84d32c-44d3-11e8-989f-fd0257a0c871.png)
Estoy elaborando un proyecto estudiantil, una pagina e-commerce .
Me aparece ese error ;c ayúdenme por favor, al momento de enviar el mensaje pre-establecido me dice eso, como lo soluciono por :lying_face:

[2018-04-21 05:25] franz-wohlkoenig commented on #1153
Please ask help on the [forums](https://forum.joomla.org/). This repository is for reporting issues with the **joomla.org websites only.** For this Reason please close this Issue, thanks.

[2018-04-21 07:39] #1153 closed

[2018-04-22 09:56] #1015 closed

[2018-04-22 09:56] jeckodevelopment commented on #1015
we contacted them

[2018-04-23 11:53] Rewillis opened #1154 "[forum.joomla.org]"
Attention: Joomla.com staff:
     This morning I have created an entry in my joomla.com weblog ( username = "Rewillis1," if I remember correctly ).  However, I am currently unable to save and publish that weblog entry.  Thank you ( see Colossians 3:15, for example ) for your help.  Keep in touch.

Sincerely in Christ,
Russell E. Willis
P.S. - Please read Proverbs 23:23.

[2018-04-23 14:04] Sandra97 commented on #1154
Hi,
joomla.com will be soon replaced by a new service, launch.joomla.org
You can see more information here (the link is available from joomla.com homepage): https://www.cloudaccess.net/fresh/blog/entry/2018/04/17/an-exciting-glimpse-at-the-new-launch-joomla-org.html

[2018-05-07 21:36] disislyf commented on #895
oik?

[2018-05-08 04:42] #1154 closed

[2018-05-08 04:45] #1073 closed

[2018-05-08 04:47] #1057 closed

[2018-05-12 21:16] PhilETaylor opened #1155 "[jhelp] Joomla 4 help buttons go to error page"
Joomla 4 help buttons go to links like

https://help.joomla.org/proxy?keyref=Help40:Users_User_Manager_Edit&lang=en

which gives CONNECTION CLOSED

Would be better to redirect to https://help.joomla.org/ so that the offline message could be displayed

[2018-05-12 21:17] mbabker commented on #1155
This has nothing to do with J4.  Looks like there's a server error in general.

[2018-05-12 21:18] PhilETaylor commented on #1155
:-) over to you then :)

[2018-05-12 22:18] mbabker commented on #1155
Server up.

[2018-05-12 22:18] #1155 closed

[2018-05-13 01:12] brianteeman commented on #1155
Closed

[2018-05-13 08:30] brianteeman opened #1156 "sites down"
multiple j.org sites are down

[2018-05-13 08:34] franz-wohlkoenig commented on #1156
at Glip is reported that one of our Servers is down.

[2018-05-13 09:54] Sandra97 commented on #1156
A ticket is opened at Rochen for that. They're working on the issue

[2018-05-13 11:33] brianteeman commented on #1156
Must be a big issue

[2018-05-13 11:45] PhilETaylor commented on #1156
@mbabker was working on them last night :)

Specifically what I see at the moment

https://appscdn.joomla.org/webapps/index.php?format=json&option=com_apps&view=dashboard&product=Sm9vbWxhIQ==&release=My44&dev_level=Nw==&list=grid&pv=MS4xLjE=&callback=jedapps_jsonpcallback

504 Gateway Timeout - means tab in Joomla Admin Consoles displays an error instead of installable extensions.

<img width="730

[2018-05-13 11:52] Sandra97 commented on #1156
https://appscdn.joomla.org is on the server which is down, so it's approx 14 sites which are impacted by this issue

[2018-05-13 11:56] PhilETaylor commented on #1156
Multi million pound project using shared hosting for critical infrastructure... with a non-responsive, no-SLAed webhost...

![05-138-egg-basket3016-e1442410529485](https://user-images.githubusercontent.com/400092/39967050-1622d61c-56ad-11e8-85df-79654dc49fa3.jpg)

[2018-05-15 15:35] coolcat-creations opened #1157 "[jdown] Please set old versions to lowest priority"
If a user is searching for downloading Joomla he gets old versions offered first. Would be good to set them to lowest priority in the sitemap.

<img width="762" alt="grafik" src="https://user-images.githubusercontent.com/828371/40067293-2f66f5e4-5866-11e8-8fc8-491dd31f6f75.png">

[2018-05-16 14:27] hnokristian opened #1158 "1054 Unknown column 'c.metatitle' in 'field list'[jhelp]"
I have tried to correct the database of my Joomla website and I could not. I get this message

[2018-05-16 14:29] franz-wohlkoenig commented on #1158
Please ask help on the [forums](https://forum.joomla.org/). This repository is for reporting issues with the joomla.org websites only. For this Reason please close this Issue, thanks.

[2018-05-16 14:29] #1158 closed

[2018-05-17 20:45] n9iels opened #1159 "[jshow] Error when register a new user"
When I was trying to register myself as a new user I received the following error after pressing the "Save" button

[2018-05-20 16:38] Sandra97 opened #1160 "[jcertif] White Page - File to download"
Seems something goes wrong with the site.
I have a white page and pop-up to download a file.

[2018-05-20 16:54] conconnl commented on #1160
Which page and browser?

[2018-05-20 18:00] Sandra97 commented on #1160
Firefox, Chrome, Edge for the homepage. All is fine now, it doesn't happen anymore.

[2018-05-20 18:29] conconnl commented on #1160
Strange let’s keep an eye on the website. A lot is changing.

[2018-05-20 18:29] #1160 closed

[2018-05-21 09:55] Sandra97 opened #1161 "Privacy & Cookies Policy Update"
Some of us didn't have any other option than working on an update of the Privacy Policy to try to fill the GDPR requirements in time.

I've just published it: https://www.joomla.org/privacy-policy.html

If anyone wants to help improve it, to complete it, please feel free to do it.

[2018-05-24 10:27] brianteeman opened #1162 "[jdocs] Search for FAQ"
If you try to search for FAQ on the docs site you dont get search results instead you get redirected to the default mediawiki FAQ page

![faq](https://user-images.githubusercontent.com/1296369/40480143-7bd023ac-5f45-11e8-9303-2bb39dbce0a7.gif)

[2018-05-24 12:46] Sandra97 commented on #1162
@Hutchy68 Can you help with this?

[2018-05-24 15:09] fanvirk opened #1163 "Random Module problem"
I have a web site  - www.irfanvirk.com - on which I have a random module. This used to work well. However, after I updated the site yesterday, the random module is generating a fatal error:

Fatal error: Using $this when not in object context in /homepages/45/d517594501/htdocs/ivjoomla/modules/mod_random_image/tmpl/default.php on line 16

If I unpublish the random module, the site runs - without t

[2018-05-24 15:11] #1163 closed

[2018-05-24 15:14] mbabker commented on #1163
Just for the sake of completeness, even though this is already closed, known issue with https://docs.joomla.org/J3.x:Module_random_image_PHP_Error_after_3.8.8 explaining it.

[2018-05-25 10:17] GC-Goteborg opened #1164 "[jhelp] Most of our redirects stopped working today"
Some redirects in Joomla just stopped working. Some are still working tho, cant find any pattern..

Do you know?

[2018-05-25 10:37] Sandra97 commented on #1164
What are you talking about? Your own website?

[2018-05-25 10:45] GC-Goteborg commented on #1164
Hi.

Yes exactly

Viktor Osberg
Gokartcentralen

031 - 15 15 18

--- original message ---
On Fri, May 25, 2018 at 12:37 pm, <notifications@github.com> Sandra Decoux wrote:

What are you talking about? Your own website?

—

You are receiving this because you authored the thread.

Reply to this email directly, view it on GitHub, or mute the thread.
--- end of original message ---

[2018-05-25 11:50] Sandra97 commented on #1164
So that's not the right place to ask for help as this repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS.

For your issue, I encourage you to ask on https://forum.joomla.org/

Thanks.

[2018-05-25 12:44] GC-Goteborg commented on #1164
Hi,

I pressed "Help" and then "Report an issue" under the "Redirect" section of our joomla page.

Viktor Osberg
Gokartcentralen

031 - 15 15 18

--- original message ---
On Fri, May 25, 2018 at 01:50 pm, <notifications@github.com> Sandra Decoux wrote:

So that's not the right place to ask for help as this repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla

[2018-05-25 12:51] mbabker commented on #1164
The "report an issue" links are solely for reporting issues regarding the `joomla.org` websites and their content.  The help screens come from our servers hence the reason the link is there, but I will change the text to make it more clear that it is NOT for support issues with user websites.

[2018-05-25 18:53] n9iels commented on #1159
Looks like the issue has been solved... So can be closed.

[2018-05-25 18:53] #1159 closed

[2018-05-25 19:11] zero-24 commented on #1164
Closing for the reasons stated above :)

Please ask on https://forum.joomla.org/ when you still need help thnanks!

[2018-05-25 19:11] #1164 closed

[2018-05-25 19:36] brianteeman opened #1165 "[jcertif] php rendered as text"
the certification site is currently being rendered as text

<img width="684" alt="chrome_2018-05-25_20-34-44" src="https://user-images.githubusercontent.com/1296369/40563024-35eabf84-605b-11e8-9b56-156b6f2a73ed.png">

[2018-05-25 19:54] conconnl commented on #1165
I really don't know why this sometimes happens.
At this moment I don't see an issue anymore.
Just after Paris it happened as well for a short while.

[2018-05-28 10:23] CommManager opened #1166 "Losing hyperlinks"
I put numerous hyperlinks into various articles, which I tested and all worked as expected. 1 week later all the links had gone. When I pass the mouse over the links they become underlined but clicking on them achieves no result. In 3 articles I have put in bookmarks and then linked them to a hyperlink in a contents list. The bookmark is still showing but the hyperlink isn't jumping to it. I repla

[2018-05-28 10:35] Sandra97 commented on #1166
Hi,

This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page
or report an issue on: https://issues.joomla.org/

Thanks!

[2018-05-28 10:35] #1166 closed

[2018-05-29 08:03] AndNovAtor opened #1167 "[jdown] Wrong button padding on Joomla! Downloads pages"
### Steps to reproduce the issue

Open Joomla! Downloads pages in Chrome (for example, [https://downloads.joomla.org/cms/joomla3](https://downloads.joomla.org/cms/joomla3)).

### Expected result

Download/View files buttons had padding

### Actual result

Buttons have no padding

### System information (as much as possible)

Windows 10 x64
Chrome - last version

### Additional comments

Ok, I thin

[2018-05-29 08:04] AndNovAtor commented on #1167
Sorry for posting this to issues.joomla.org....

[2018-05-29 10:00] Sandra97 commented on #1167
It's the right place to post it @AndNovAtor and thanks for noticing.

It should be displayed like this:
![index](https://user-images.githubusercontent.com/4682328/40652139-b9584740-6337-11e8-996d-f459b993358e.png)

I'll check what's going on and correct the display.

[2018-05-29 10:05] AndNovAtor commented on #1167
Em, `reset.min.css:10` with `.akeeba-renderer-fef a` override template style for `.btn` in `template_2.3.0.min.css`. As I see....

[2018-05-29 10:26] AndNovAtor commented on #1167
Oh, these reset.css's....

[2018-05-29 11:15] mbabker commented on #1167
Fixed.  The Akeeba FEF CSS is unloaded on our frontend because it conflicts with our template's design, the `reset.min.css` was added after we updated so had to add that to the unload list.

[2018-05-29 11:15] #1167 closed

[2018-05-29 13:36] Hutchy68 commented on #1162
I'll look into it. Must be a redirect in htaccess. We have https://docs.joomla.org/index.php?title=FAQ&action=edit set as a redirect to FAQs. I'll try to get to this today.

[2018-06-04 11:06] pe7er opened #1168 "[jshop] Service hours: Mon-Fri, 8am-5pm?"
At the bottom of the shop pages https://community.joomla.org/the-joomla-shop.html it says

Service
+353 1 4373 651
(Mon-Fri, 8am-5pm)

+353 = Ireland, so I suppose that the service hours are between 8am-5pm in Ireland.
For non EU visitors it might be confusing.
Maybe we could add the timezone "UTC+1 hour" ?

(Mon-Fri, 8am-5pm UTC+1 hour)

[2018-06-04 15:18] Sandra97 commented on #1168
I'm sorry but this can't be edited at all. It's managed by Spreadshirt only.
I'm closing this issue as there's nothing I can do (at least as long as we have a Spreadshirt shop)

[2018-06-04 15:18] #1168 closed

[2018-06-04 15:37] pe7er commented on #1168
Ok, I understand. No problem!

[2018-06-08 12:15] divadgo opened #1169 "[joomla.org]"
Good afternoon, I'm José Luis Gordillo Mimbrero, director of the company GOMINTEC S.L. with NIF B-64215643 some years ago we hired an external company to take care of our website "www.gomintec.com" After several years this company has disappeared and it has been impossible for us to get in touch with it. The problem is the following one, we have to make changes in the web for the subject of the po

[2018-06-08 12:38] mbabker commented on #1169
Hi there,

The Joomla project does not actively host or support sites using our software beyond responding to bug reports and feature requests in the core software itself.

For your scenario I can recommend a couple of options:

- Using the community forums at https://forum.joomla.org to discuss your issue and finding potential solutions to it
- Finding a service provider from our resource directo

[2018-06-08 12:38] #1169 closed

[2018-06-10 15:06] Hutchy68 commented on #1162
This is fixed now. Clear your cache if you are still going to the bare page.

[2018-06-10 15:06] #1162 closed

[2018-06-10 16:21] brianteeman commented on #1162
thanks

[2018-06-13 11:50] brianteeman opened #1170 "launch.joomla.org -multiple issues"
extra word in the footer
Launch.joomla.org is a free website service **is** provided to the general public by CloudAccess.net,

terms of service link goes to borked page with no css or js
https://launch.joomla.org/index.php/terms-of-service

Launch.joomla.org -How it works?
Find out more link goes to a cloudaccess.net pricing page

When you try to launch a new site you are asked for a cloudaccess

[2018-06-13 15:23] Sandra97 commented on #1170
Thanks Brian. I just reported all that to the CA team.

[2018-06-13 15:29] jonathanCA commented on #1170
@brianteeman thank you for the feedback, the wording and links will be fixed immediately

jeckodevelopment is right, the  password prompt comes up if an email address is used which already has an account. We will take the opportunity to make this more clear as well.

Thanks everyone!

[2018-06-13 15:31] brianteeman commented on #1170
An account where? To the best of my knowledge I don't have an account with cloudaccess

[2018-06-13 15:34] Sandra97 commented on #1170
But you may have had an account to the previous joomla.com platform and had received an email with 3 options

[2018-06-13 15:36] brianteeman commented on #1170
Yes I did have one of those but you wouldn't know the password. If that's the reason for this message then it needs massively rewriting

[2018-06-13 15:57] jonathanCA commented on #1170
The password prompt is for people who already have a CloudAccess.net account with the email address used during the launch. We are updating the text to make this a bit more clear, and adding a forgot password section.

@brianteeman please message me the email address that you used and I'll confirm.. probably you had launched a test account many years ago. We'll gladly remove the data if you would

[2018-06-13 18:06] brianteeman commented on #1170
i guess it must be an old ca account. as i was able to register with a disposable account.
After which I was taken to https://launch.joomla.org/thanks.html#

This page is broken - the dropdown menus dont work

[code]

[2018-06-13 18:10] jonathanCA commented on #1170
Nice catch Brian, our team will get the thanks.html page menu resolved ASAP

[2018-06-13 18:17] brianteeman commented on #1170
You might want to block some potentially embarrassing subdomain s as well. They were blocked on the old system but as you will see I just claimed one that's nsfw

[2018-06-13 18:22] jonathanCA commented on #1170
Yes, we have a blacklist for our other subdomains, this can be applied to joomla.com as well. Task posted 👍

[2018-06-13 21:22] brianteeman opened #1171 "[jcomm] acymailing error"
Go to the training page (and perhaps any other page with the acy moddule) and view the js errors

`Uncaught ReferenceError: acymailing is not defined
`

[2018-06-14 05:03] franz-wohlkoenig opened #1172 "[jvel] Image overlaps Text"
at https://vel.joomla.org/ in Point 2 (Developers - How to get yourself RESOLVED on the VEL) the "Update"-Image make Pats of Text hard to read:
![bildschirmfoto 2018-06-14 um 06 59 52](https://user-images.githubusercontent.com/8235763/41392482-00f9e9b2-6fa1-11e8-9873-ce84f68db51b.jpg)

[2018-06-14 09:31] #1172 closed

[2018-06-14 09:56] mandville commented on #1172
Thank you for the notice.

[2018-06-14 09:58] mandville commented on #1161
is there a central form for requests (sar, restriction, removal)

[2018-06-14 10:04] Sandra97 commented on #1161
Yes: https://www.joomla.org/right-to-be-forgotten.html
The link is available from the Privacy Policy page.

[2018-06-14 10:14] mandville commented on #1161
thanks, the lower half of that form looks jumbled and offset

[2018-06-15 11:35] anibalsanchez opened #1173 "Delete the invalid report ID 831"
I broke the volunteers' reports.... I don't know how it created a report without a team. Please, delete the report ID 831. https://volunteers.joomla.org/831-jed-team-meeting-june-8th-2018

I don't know how it happened.... this is the sequence:

- I created this report without problem  https://volunteers.joomla.org/teams/extensions-directory-team/reports/830-jed-team-sprint-j-and-beyond-may-11th-20

[2018-06-15 11:38] sanderpotjer commented on #1173
@anibalsanchez the incorrect report is deleted. We will look into reproducing the issue and see if we can fix it. Thanks for letting us know!

[2018-06-15 14:38] brianteeman commented on #1170
Today I got 4 emails for the joomla.com sites that have been transferred from SG. It is the same email as if I had signed up today. Perhaps it would be better if it stated something about it being transferred from sg

none of the option 1 joomla logins work

no idea what the username and password is for the option 2 ccp login would be

thought it would probably be related to the email address that

[2018-06-15 14:54] jonathanCA commented on #1170
Thank you Brian - there is a subsequent email you will receive (or maybe already have) that outlines this. I agree the workflow can be improved, we are looking at it closely as migrations continue.

[2018-06-15 15:05] jonathanCA commented on #1170
I've confirmed with our team, the "Welcome to CloudAccess.net (siteground import)" notification is only going to people who do not already have an account with us. Your primary email has an account from long ago. Still, we think it will confuse others as well, so we are updating the logic.

[2018-06-15 15:23] brianteeman commented on #1170
Doesn't address the login issues though

[2018-06-15 17:13] jonathanCA commented on #1170
Thanks Brian, logins are all fully functional. We have also revised the message to existing clients to make sure they are crystal clear.

We really appreciate your feedback here!.. remind me to loop you into future product releases ;-)

[2018-06-16 18:55] sshcli opened #1174 "[jdocs] Documentation about creating custom 404 error page is outdated"
The following page is outdated:
https://docs.joomla.org/Creating_a_Custom_404_Error_Page

To be more specific, The Step 4 is outdated.
There is no 'restricted access' line in  /templates/system/error.php (J3.8.8)

[2018-06-16 19:00] mbabker commented on #1174
The "restricted access" line is the defined or die check.

The advice on this page is bad anyway.  This actually results in a 404 error issuing a 302 redirect in the browser to a page you've specified (which will be a 200 response).  So at no point does the site ever actually give a 404 response.

[2018-06-17 12:08] brianteeman commented on #1170
The joomla login details in the email are now working

I havent received any "existing client" email

I still can't login to the ccp as i dont know the password and the forgotten password function doesnt work as it is says "No client account was found with the email address you entered"

[2018-06-20 14:58] ot2sen commented on #1170
@jonathanCA  couldn´t find where to report issues so adding to this open one.
Tried creating a site about 3 hours ago and haven´t received any mail for confirmation yet

[2018-06-20 18:07] jonathanCA commented on #1170
Hi! Yes this is a good place to post :)  Could you message your email address to us? I will have our team track it.  FWIW, we have not seen any gaps or problems with provisioning that would explain the issue you are seeing, so it's likely an email delivery problem.

[2018-06-20 18:43] ot2sen commented on #1170
Message sent with details of email, server chosen and subdomian chosen to your contact here.

[2018-06-20 18:59] anibalsanchez commented on #1173
Great. Feel free to close it if it is no longer an issue.

[2018-06-20 19:42] jonathanCA commented on #1170
Thank you Ole, we are looking into it now. I did a quick check and I see your account was created, our Platform Team will review the case and I'll update you via email.

[2018-06-21 17:57] osmoot opened #1175 "No Activation email sent when trying to join the Joomla Forum"
I have followed the activation instructions five times. I never get an email. I have since spent about an hour trying to find anyone to communicate this problem to. There appears to be no Board Administrator publicly available. The situation is Kafkaesque as every attempt to communicate that I cannot register is met with a demand to register.

[2018-06-21 18:32] Sandra97 commented on #1175
Hello,
To join the forum's admins, please fill this form: https://community.joomla.org/helpdesk/forum-un-ban-request.html

[2018-06-22 16:50] StitchCraft opened #1176 "[forum.joomla.org]"
I was banned from the Joomla forum as being spam.  I have a website using Joonla and I don't understand.

[2018-06-22 18:36] Sandra97 commented on #1176
Hello,

I invite you to contact the forum's admins by filling this form: https://community.joomla.org/helpdesk/forum-un-ban-request.html

[2018-06-25 15:47] Sandra97 commented on #1174
@sshcli JDocs is a wiki, meaning everybody can contribute to it and update the content. Would be great if you can update the page

[2018-06-26 21:00] martinriver opened #1177 "SP Contact Module"
Hi
Despite having configured an SMTP mail from Global Configuration in Joomla, an email admin in my domain, even when testing from there, the emails arrive at destination, but when I test from the contact module, and even appearing a message from that the mail was sent successfully, the emails do not arrive. The SP Quick contact module has the same admin mail, but the mails can not reach the desti

[2018-06-26 21:03] Sandra97 commented on #1177
Hi Martin,

This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS or third party extensions.

For your issue, please contact Joomshaper or ask at https://forum.joomla.org/

Thanks!

[2018-06-26 21:03] #1177 closed

[2018-06-26 22:02] wojsmol commented on #1170
Hi
@jonathanCA Please see issue https://github.com/joomla/joomla-cms/issues/20880 and assist if passible.

[2018-06-28 21:40] joomleb opened #1178 "[jhelp] Joomla > Extensions > Manage > Update Site"
Hi guys,
Joomla 3.8.10 going to Extensions > Manage > Update Site: and clicking on "Help"

I have back the error page:

RuntimeException
Error fetching page from MediaWiki API: The page you specified doesn't exist

Is it normal ?

[2018-06-28 21:51] brianteeman commented on #1178
It is not normal BUT it is also not unique to you ;)

@Hutchy68 @Sandra97 can you check and create the page please

[2018-06-28 21:58] mbabker commented on #1178
Probably better to rename the page at this point, the key in the CMS language files is different from the page on the docs site, and always has been.

Correct: https://docs.joomla.org/Help38:Extensions_Extension_Manager_Update_Sites

What tries to be loaded: https://docs.joomla.org/Help38:Extensions_Extension_Manager_Updatesites

[2018-06-28 22:08] Sandra97 commented on #1178
No more error now but I need @Hutchy68 to redirect it to the right help screen

[2018-06-28 22:28] mbabker commented on #1178
The redirect's fine.  The pattern that the help proxy app was trying to match to follow redirects has changed from whenever that code was originally written, https://github.com/joomla/help.joomla.org/commit/c04cbcf668888b0412873f1b7e886453137d5269 fixes that and the change is live on the server now.

[2018-06-29 11:29] wojsmol opened #1179 "[jvel] {ttweet}{fsubscribe} not replaced with connect content"
Hi
In single entry view of Live VEL and Resolved menu items `{ttweet}` and `{fsubscribe}` are not replaced with correct HTML.
Sample link: https://vel.joomla.org/resolved/2117-prayercenter-3-0-2-sql-injection

[2018-06-29 12:34] joomleb commented on #1178
Hi guys,
thanks for the quick fix, the link is running.
But the documentation is lacking = nothing about Update Sites > Rebuild button feature.

I looked for it around and the only information I found are:
https://github.com/joomla/joomla-cms/issues/8512
https://www.itoctopus.com/the-rebuild-button-in-joomlas-menu-manager-page-a-double-edged-sword

Hooping can be useful to build a documentation pa

[2018-06-29 12:48] Sandra97 commented on #1178
Thanks! Many help screens still need to be updated. I'll try to update this one during the weekend.
If you want to help us update them for the benefits of all, do not hesitate and join us (I have cookies).

[2018-06-29 12:50] Sandra97 commented on #1179
Thanks for the report;

@mandville Could you give a look please?

[2018-06-29 18:59] mandville commented on #1179
This possibly only affects historical listings as the previous plug in was  it php7 compatible.
It does bit detract from listings. It is not  a bug.

[2018-06-29 19:21] brianteeman commented on #1179
Of course its a bug - if its not the intended display then its a bug.

[2018-06-29 19:39] ot2sen commented on #1179
When it is roughly 395 of 397 listings then it does detract a bit. Should be worth to run a query to remove the now unused plugin tags, or use Peters DB Replacer to quickly get rid of them all if that is more convenient.

[2018-06-29 21:21] Sandra97 commented on #1178
"Rebuild" added to the Help Screen. Note that the link you provided is for the Rebuild button of the Menu Manager (so a different help screen) and not the one of the Update Sites.

[2018-07-01 05:02] wojsmol commented on #1170
@jonathanCA On `Oops, something went wrong... please check back in a bit.`  error page link to CCP in last paragraph has badly quoted href attribute
[code]

[2018-07-01 12:20] jonathanCA commented on #1170
Thank you, I will have out team look into this. Feedback is greatly appreciated!

[2018-07-02 17:29] wojsmol opened #1180 "[jed][jshow][jforum] bad linking to launch site"
Hi
I checked to witch demo site we linking across j.org subdomains. Below are subdomains with error  - I always referring the button in top-right corner of the website.
|https://extensions.joomla.org/| - link to the old SG demo site|
|https://showcase.joomla.org/|  - link to the old SG demo site|
|https://forum.joomla.org/|  - typo in the demo site url|

[2018-07-02 17:35] mbabker commented on #1180
The forum's updated.  The other two sites still need to roll out the template updates (which is more than changing the button text/link).

[2018-07-03 06:56] ammarputin opened #1181 "Forget Password"
Hello,
I have a problem with rest password, i want to edit my website by accessing the admin panel but i forget the password and i tried to reset it but they told me to contact with the super admin

This is my website i created www.putin.org.ps, and this is the e-mail "support@putin.org.ps"
please contact me ASAP

Thank you.

[2018-07-03 07:07] jeckodevelopment commented on #1181
Hi,
This repository is ONLY for reporting issues with the *.joomla.org websites, not the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page
-https://issues.joomla.org/

Regards,
Thanks

[2018-07-03 07:07] #1181 closed

[2018-07-03 11:43] mandville commented on #1179
Couldn't locate the figure quoted by ot2sen

[2018-07-03 12:38] ot2sen commented on #1179
Was just a rough guesstimate of live+resolved-(2 latest after 22th of May that was ok) :)
Looks like I was 41 off in the rough guess 354/356, but hey ...hehe. Seems like it is corrected by now which is the important part. Nice.

[2018-07-08 23:37] Motelorganic opened #1182 "[jhelp]"
I can't open Items in menu and received this error   HTTP ERROR 500
I already removed all cookies and cleaned the history, but noting changed
Please let me know if you have any solution,
Thanks

[2018-07-08 23:44] brianteeman commented on #1182
Please use the forum for support https://forum.joomla.org

[2018-07-09 07:06] #1182 closed

[2018-07-09 07:49] jeckodevelopment commented on #1175
@osmoot i hope that it has been solved.
If not, please feel free to reopen.

Thanks

[2018-07-09 07:49] #1175 closed

[2018-07-09 07:50] #1173 closed

[2018-07-09 21:08] jonathanCA commented on #1180
It looks like the issue persists, we are also seeing that demo.joomla.org no longer redirects to launch.joomla.org

[2018-07-11 15:00] jonathanCA commented on #1180
Just following up here - those links are fixed, only thing that remains (that we're aware of) is demo.joomla.org does not forward to launch.joomla.org

[2018-07-12 08:08] jeckodevelopment commented on #1180
It does now. So closing this.

Thank you

[2018-07-12 08:08] #1180 closed

[2018-07-13 00:45] jpokhrel1 opened #1183 "[jcomm]"
I started to creat a website named: www.monamima.joomla.com but it is not open, why?
and when I went through log in as administrator by entering: www.monamima.joomla.com/administrator/
and I supplied my log in username and password but it was not opened, instead its remained the same.
could anyone help me?

[2018-07-13 00:46] #1183 closed

[2018-07-13 07:52] hvdmeer commented on #1183
Your joomla.com website is a subdomain. So don't use the www!
http://monamima.joomla.com/

Also, this is the place for issues with our own properties. If you encounter problems with a joomla.com subdomain you can send a ticket in the control panel at https://ccp.cloudaccess.net/clientarea.php

[2018-07-13 13:30] jpokhrel1 commented on #1183
Hello there!

I also tried to log in through the link you provited:
http://monamima.joomla.com and its not open. after click the button 'log
in' its replace the url as:
http://monamima.joomla.com/index.php

but i didn't log in as administrator portal.

please resolve the issue.

On Fri, Jul 13, 2018 at 4:24 PM jyoti pokhrel <jpokhrel1@gmail.com> wrote:

[2018-07-13 15:33] jonathanCA commented on #1183
Hi there,

We are thrilled that you are learning and building a new Joomla site. I'd recommend checking out https://community.joomla.org/joomla-training.html to get started. This will lead you through the differences between logging in through the front end vs back end (administrator).  I see the site has been modified a bit now so it's likely you already have this sorted :)

Cheers

[2018-07-13 19:00] #1179 closed

[2018-07-13 19:04] jpokhrel1 commented on #1183
hello again,

but why my lo in is unsuccessful?

On Fri, Jul 13, 2018 at 6:33 PM Jonathan <notifications@github.com> wrote:

[2018-07-13 20:43] Sandra97 commented on #1183
To login to your backend go to
http://monamima.joomla.com/administrator/

[2018-07-13 22:09] mandville commented on #1183
jpokhrel1
the website ( a subdomain of joomla.com ) is free BUT it has limitations.
it is designed to learn joomla along with the videos here https://www.cloudaccess.net/joomla-knowledgebase/138-joomla-3-1/getting-started.html
Having a " www " is no longer a requirement.
this github is for technical issues with websites. your website is acting as it should. please now go to https://forum.joomla.or

[2018-07-13 22:20] Sandra97 commented on #1178
I'm closing this issue as it's solved.

[2018-07-13 22:20] #1178 closed

[2018-07-13 22:23] Sandra97 commented on #1121
Joomla Connect has been removed from the top menu of our sites, so I'm closing this issue.

[2018-07-13 22:23] #1121 closed

[2018-07-14 11:15] Sandra97 commented on #1176
Closing this issue.
@StitchCraft If your problem is not solved, please use the form mentioned above. Thanks

[2018-07-14 11:15] #1176 closed

[2018-07-14 11:18] Sandra97 commented on #1165
As the site seems to be ok since a while, I'm closing this issue.
Re-open if needed.

[2018-07-14 11:18] #1165 closed

[2018-07-14 11:22] Sandra97 commented on #1156
Closing this issue.

[2018-07-14 11:22] #1156 closed

[2018-07-14 11:28] Sandra97 commented on #1144
Hi @atomhbc

This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS or third party extensions.

For your issue, please ask at https://forum.joomla.org/

Thanks!

[2018-07-14 11:28] #1144 closed

[2018-07-14 11:34] Sandra97 commented on #1125
We display 3 articles per page on cjo and jorg, 5 on dev. I agree with you, a bit more than 3 articles per page would be better. I just changed it on jorg to display 5 articles per page as on dev. I'll see with Rowan for cjo.

[2018-07-14 11:40] Sandra97 commented on #994
As joomla.com is now managed by CloudAcces, I'm closing this issue

[2018-07-14 11:40] #994 closed

[2018-07-14 11:42] Sandra97 commented on #993
As changes have been applied, I'm closing it.
Re-open if needed.

[2018-07-14 11:42] #993 closed

[2018-07-14 11:44] Sandra97 commented on #874
We didn't do it after 3.7. Should we wait and do it after the launch of the 3.9 LP?

[2018-07-14 11:45] Sandra97 commented on #858
Closing this issue as its author didn't answer.

[2018-07-14 11:45] #858 closed

[2018-07-14 11:48] Sandra97 commented on #1084
@genr8r What's the status of this issue? Is it ok now? Can I close it?

[2018-07-14 11:49] Sandra97 commented on #855
@genr8r Is this issue solved?

[2018-07-14 11:51] Sandra97 commented on #845
As this discussion is quite old, and we don't/won't display ads on jorg, I'm closing this issue.

[2018-07-14 11:51] #845 closed

[2018-07-14 11:53] Sandra97 commented on #750
@genr8r @sebastienlapoux What's the status of this issue?

[2018-07-14 11:58] Sandra97 commented on #988
@sebastienlapoux Still no unpublish button for a site. Any news about that?

[2018-07-15 12:56] jpokhrel1 opened #1185 "[joomla.org]"
I am facing to problem to log in. my username and password is already save in google chrom. hence its appear automatically in the log in section. when I click lig in, it says
"×
Warning

Unable to connect to authentication service."
please advice.

[2018-07-15 12:59] franz-wohlkoenig commented on #1185
Please ask help on the [forums](https://forum.joomla.org/). This repository is for reporting issues with the joomla.org websites only. For this Reason please close this Issue, thanks.

[2018-07-15 13:02] #1185 closed

[2018-07-15 17:17] jpokhrel1 commented on #1183
hi  there,
i could not log in my site http://monamima.joomla.com
it says"
×Warning
Unable to connect to authentication service."

what that mean? please reply me.

On Sat, Jul 14, 2018 at 1:09 AM mandville <notifications@github.com> wrote:

[2018-07-15 17:54] wojsmol commented on #1170
@jonathanCA I created a free account with Joomla! 4.0 alpha pre-installed via advanced options on launch.joomla.org, below are issues i notes:
1. No password to ccp was provident in any mail - resolved by reseating the password via email.
2. Login to Joomla! install not working from ccp with error:

I submitet the ticket and IMHO CA support team is not properly inform about launch.joomla.org - det

[2018-07-16 03:44] franz-wohlkoenig opened #1186 "[jlaunch] Renew "1 Day" not possible"
Starting a Site and choose Renew "1 Day" Site get "30 Days" as "Renew by".

[2018-07-16 03:45] franz-wohlkoenig opened #1187 "[jlaunch] Move Focus per Tab""
Please describe the problem or your issue
It could be useful to include an URL of evidence.
Please use a consistent title for your issue.

[2018-07-16 13:37] jonathanCA commented on #1187
Hi Franz, thank you kindly for pointing this out. Our team is updating the tab order and we will follow up here when complete.

[2018-07-16 13:38] jonathanCA commented on #1186
Hi Franz, again a big thanks for pointing this out. This appears to be a front-end issue as we do see the renewal gets set properly in the back end. Our team is making the correction and we will follow up here when the issue is fixed.

[2018-07-16 14:07] jonathanCA commented on #1170
Hi Wojciech, thank you for bringing these concerns to our attention. See our inline comments:

1. No password to ccp was provident in any mail - resolved by reseating the password via email.
<<<The way it is currently setup is, immediately after clicking the email verification link, new account holders are prompted to create a password for CCP (screenshot https://www.screencast.com/t/fLm0QjQj ). W

[2018-07-16 17:58] maxsenft opened #1188 "[jforum] No activation email sent"
I registered the user "maxsenft" with my email address ...@gmx.de. I did not receive an activation email and even after using the resend function, I did not receive any. Nothing in my spam folder, or similar.

When trying to login I get the message "The specified username is currently inactive. If you have problems activating your account, please contact a board administrator." but unfortunately,

[2018-07-16 19:49] jonathanCA commented on #1183
Hi jpokhrel1, we'd really like to help you, but this is not the appropriate place to get support for your Joomla website. Please create an account and post to forum.joomla.org.

Thank you

[2018-07-16 20:50] mandville commented on #1188
try https://community.joomla.org/helpdesk/forum-un-ban-request.html

[2018-07-17 07:00] AbhishekDas opened #1189 "JED Image loading issue in Asia/Pacific"
JED (https://extensions.joomla.org) seems to be having some image loading issue when accessing from **Asia/Pacific** region like India, Vietnam etc. Visitors from the region can not see extension's logos and images. It works fine for other regions like Europe, North America etc.

It seems like a CDN server problem for the region. Image urls like -https://extensionscdn.joomla.org/cache/fab_image/57

[2018-07-17 08:56] maxsenft commented on #1188
I gave it a try. Let's see what happens next ...

[2018-07-17 15:36] genr8r commented on #750
@Saeedghb from our team is wanting to resolve this. Is there a way that I can have him added as someone to which I can assign issues. thank you.

[2018-07-18 10:13] hvdmeer commented on #1189
Just spotted another post about this issue in our FB joomla group. Who can help on this?

[2018-07-18 10:53] brianteeman commented on #1189
and here in the forum https://forum.joomla.org/viewtopic.php?f=706&t=963773&p=3532629

[2018-07-18 12:58] Sandra97 opened #1190 "[jevnt] Events not related to Joomla"
Hello,

So now we are displaying on the Joomla Events site events which are not related to Joomla?

https://community.joomla.org/events/archive/3765-africa-cybersecurity-and-forensic-summit.html
https://community.joomla.org/events/archive/joomla-conferences/3780-epigenetics-conference-2018.html
https://community.joomla.org/events/3770-3d-printing-technology-and-innovations-expo-3rd-international-c

[2018-07-18 16:59] hvdmeer commented on #1190
Spotted them on Monday and wanted to ask about this. Here for the notification on the ruling of these events.

[2018-07-18 21:33] mandville commented on #1190
I tried to report some of those events as some of the people posting them are purely doing it for self promotion and /or are listed as commercial company names. while logged in i was presented with a 403 / ACL style error
If these events are "satellite"  events as per the Official Joomla Events Charter then they should clearly be marked as such and any promotional benefit declared after consultati

[2018-07-19 06:54] carcam commented on #1190
Hi @Sandra97, and @hvdmeer and @mandville
thanks for reporting I will check with the team and will take proper measures.

The events are in the "Joomla! Related Events" category but it's not being clearly showed in the event detail so we will check into fix that.

Also some of them are clearly for self promotion and we will look into our approval procedure and be more clear about what a Related Ev

[2018-07-19 09:02] maxsenft commented on #1188
I just used the [Resend activation email](https://forum.joomla.org/ucp.php?mode=resend_act) function again without success ...
And there was no reaction yet to my message via the "Forum Account Support Form" ...

[2018-07-19 09:07] maxsenft commented on #1188
Registered "max_senft" with another email address hosted by Google. That worked now ...

[2018-07-19 09:55] anibalsanchez commented on #1189
Our hosting provider has checked the issue and it is now loading OK from several Asia/Pacific ISPs.

Please, confirm if the issue is still active on your end.

[2018-07-19 09:57] Sandra97 commented on #1188
Thanks. I'm closing this issue as you fixed it.
Re-open if needed.

[2018-07-19 09:57] #1188 closed

[2018-07-19 11:40] jeckodevelopment commented on #1189
@AbhishekDas did you purge your cache?

[2018-07-19 12:55] AbhishekDas commented on #1189
Yes, I cleared cache. Works fine if I use US or Europe VPN.

Refer the below screenshot for the exact errors displayed in the browser's console.

![jed-image-issue](https://user-images.githubusercontent.com/2259108/42943583-c9dc40b4-8b80-11e8-8db3-ef837790239e.png)

[2018-07-19 14:00] anibalsanchez commented on #1189
Rochen support has been able to reproduce the issue and they are investigating this presently.

[2018-07-19 14:48] AbhishekDas commented on #1189
@anibalsanchez That sounds good.

[2018-07-19 15:24] anibalsanchez commented on #1189
An IP filter has been cleared for Asia Pacific zone. Now, the CDN is showing 200 OK responses from the affected point of presence.

Please, re-check it now.

[2018-07-19 19:12] AbhishekDas commented on #1189
Yes, it is working fine now.

Closing the issue.

[2018-07-19 19:12] #1189 closed

[2018-07-20 09:55] JoomlaTema opened #1191 "There is a 20-30px space at two sides of listing images on JED"
There is a 20-30px space at the two sides of listing images.  Listing preview images has been wrapped around before. Now it seems that a 20-30px space between image and two sides.

[2018-07-20 13:22] anibalsanchez commented on #1191
For future reference, same note here:

[2018-07-21 08:51] brianteeman opened #1192 "[forum.joomla.org] Performance"
For the last week or so the performance of the forum has been really bad. It is ok when searching and browsing. the problem is when you post a reply - it takes a very long time.

/me wondering if some anti-spam measure has been updated and thats taking a long time to process?

[2018-07-21 11:44] rudiroux opened #1193 "[forum.joomla.org]"
Afrikaans Language file. There is a spelling mistake in the sentence when there are no articles to show.

"Daar is Geen Artikels in hierdie kategorie nie. Indien daar sub-kategorië op hierdie bladsy verskyn, kan hulle moontliks artikeks bevat."
It should read: Daar is Geen Artikels in hierdie kategorie nie. Indien daar sub-kategorië op hierdie bladsy verskyn, kan hulle moontlik artikels bevat.

[2018-07-21 12:07] Sandra97 commented on #1193
Please contact the Afrikaans coordinator to report the spelling mistake: gerrit (at) hoekstra.co.uk

[2018-07-21 12:09] Sandra97 commented on #1149
I'm closing this issue as no answer.
Re-open if needed.

[2018-07-21 12:09] #1149 closed

[2018-07-21 12:19] mbabker commented on #1192
They're doing an update tomorrow.  Maybe that'll help.

[2018-07-23 07:24] brianteeman opened #1194 "[jforum] Site template"
Since the upgrade to the forum the joomla site template is not present and there are CSP errors

[2018-07-23 07:26] brianteeman opened #1195 "[jforum] Breadcrumbs"
Since the upgrade a bug has returned with the forum breadcrumbs (iirc Rowan fixed this before)

![breadcrumbs](https://user-images.githubusercontent.com/1296369/43062839-07793a34-8e52-11e8-8cef-852a6e08bec7.gif)

[2018-07-23 07:37] brianteeman commented on #1195
see #907

[2018-07-23 10:53] sebastienlapoux commented on #988
@Sandra97 thanks! Trying to add during summer. Come back to you.

[2018-07-23 15:05] sebastienlapoux commented on #750
I unsubscribed notification to this issue. @genr8r please make this issue yours.

[2018-07-24 11:55] brianteeman commented on #1192
still painfully slow post update

[2018-07-24 22:24] jondhill opened #1196 "[forum.joomla.org]"
I tried to register for the forum, but it appears that the captcha isn’t working. I get these errors:

allow_url_fopen=0
[phpBB Debug] PHP Warning: in file [ROOT]/vendor/google/recaptcha/src/ReCaptcha/RequestMethod/Post.php on line 68: file_get_contents(https://www.google.com/recaptcha/api/siteverify): failed to open stream: no suitable wrapper could be found
[phpBB Debug] PHP Warning: in file [RO

[2018-07-25 14:05] jondhill commented on #1196
Done. Thank you!

[2018-07-25 14:06] Sandra97 commented on #1196
Thanks. I'm closing this issue.

[2018-07-25 14:06] #1196 closed

[2018-07-25 23:18] 47014106 opened #1197 "[jdev]"
Please describe the problem or your issue
It could be useful to include an URL of evidence.
Please use a consistent title for your issue.

[2018-07-25 23:46] #1197 closed

[2018-07-26 09:40] edwardgraceinteriors opened #1198 "[joomla.org]"
www.edwardgraceinteriordesign.co.uk has disappeared. I have been trying to get Waltham Websites who manage my account to sort out the problem for weeks, however they are not responding to my phone calls and only giving me limited information via email. I am very concerned, can you help please?

Linda Treacy
Owner

[2018-07-26 09:50] brianteeman commented on #1198
I am sorry but there is nothing that we can do to help you. Joomla is just software and noth8ing to do with the hosting of your website.

However I did do a basic check on the domain name and it shows that there is no such domain name registered

[2018-07-26 09:56] jeckodevelopment commented on #1198
Hi,
This repository is ONLY for reporting issues with the *.joomla.org websites, not the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/

Thanks

[2018-07-26 09:56] #1198 closed

[2018-07-26 09:56] edwardgraceinteriors commented on #1198
Brian

 Many Thanks for you response it was kind of you to take the time.

I have recently paid my webpage manger for two domain name renewals for both edwardgraceinteriordesign.co.uk and interiordbsigner.co.uk also a SSL for one year and a hosting fee.

Does this mean that the domains have not actually been renewed?

Linda

[2018-07-26 10:00] brianteeman commented on #1198
yes it does. both of those domains are available for anyone to register at this time

[2018-07-26 10:01] edwardgraceinteriors commented on #1198
Thank You

[2018-07-27 15:21] franz-wohlkoenig opened #1199 "[jlaunch] Nightly Update on Joomla 4"
I send Today a Ticket to cloudaccess.net:

"Dear Team,

do you use latest Nightly Update for Install? Cause in this Discussion it seems not as i get this Error also in Todays installed Nightly: https://github.com/joomla/joomla-cms/issues/21238

Can you please provide latest Nightly for Installation so it can be tested?

Regards"

[2018-07-30 22:57] clintrileyTCAA opened #1200 "[joomla.org]"
The employee who administered our websites was released from employment today. He has locked down our websites and we're unable to log in or access them. There are five separate sites and I need to be able to revoke Rob Hosier's access of them all.

www.artsacademics.org
www.fwafa.org
www.mytesa.org
www.texasboyschoir.org
www.texasdanceconservatory.org

Please contact me to let me know what you ne

[2018-07-30 23:14] mbabker commented on #1200
Hi there,

The Joomla project does not actively host or support sites using our software beyond responding to bug reports and feature requests in the core software itself.

For your scenario I can recommend a couple of options:

- Using the community forums at https://forum.joomla.org to discuss your issue and finding potential solutions to it
- Finding a service provider from our resource directo

[2018-07-30 23:14] #1200 closed

[2018-07-31 04:28] Sandra97 commented on #1125
I kept 3 articles on cjo homepage but set 5 for the blogs menu item and its sub items.
I'm closing this issue. Re-open if needed.

[2018-07-31 04:28] #1125 closed

[2018-07-31 04:30] Sandra97 commented on #1194
@ooffick Could you check, please?

[2018-07-31 04:30] Sandra97 commented on #1195
@ooffick Could you check, please?

[2018-07-31 04:33] Sandra97 commented on #1199
Just to let you know CA is working on it.

[2018-07-31 04:33] Sandra97 commented on #1193
Closing this issue.
Re-open if needed.

[2018-07-31 04:33] #1193 closed

[2018-07-31 04:34] Sandra97 commented on #1192
@brianteeman Is it still painfully slow?

[2018-07-31 04:37] Sandra97 commented on #1191
As all issues regarding JED should be posted and discussed here: https://github.com/joomla/jed-issues
I'm closing this issue.
Re-open if needed.

[2018-07-31 04:37] #1191 closed

[2018-07-31 04:38] Sandra97 commented on #1190
As all events not related to Joomla have been removed, I'm closing this issue.

[2018-07-31 04:38] #1190 closed

[2018-07-31 04:40] Sandra97 commented on #1087
Danish still not an option. Any update about that?

[2018-07-31 04:41] Sandra97 commented on #1084
No answer so far...

[2018-07-31 04:42] Sandra97 commented on #855
Any update?

[2018-07-31 04:47] franz-wohlkoenig commented on #1199
Thanks @Sandra97

In the Meantime i use "Upload & Install" of downloaded Nightly which give at the End an Ajay-Error but the Update works (as far as i can proof).

[2018-07-31 06:46] ooffick commented on #1194
Not sure, it seems to be OK to me. Tobias looked at some csp rules as well.

Brian can you check if this is OK by now?

Kind regards
Olaf

[2018-07-31 06:46] ooffick commented on #1195
Thanks, I will look into it.

[2018-07-31 07:10] brianteeman commented on #1192
Seems to be better now

[2018-07-31 07:10] #1192 closed

[2018-07-31 07:11] brianteeman commented on #1195
The solution is in #907

[2018-07-31 07:11] brianteeman commented on #1194
Seems to be ok now

[2018-07-31 07:11] #1194 closed

[2018-07-31 07:38] ooffick commented on #1195
OK, I will look into it

[2018-07-31 08:10] jeckodevelopment commented on #1087
I added the Danish language to the language field.
Added "Danish" to JUG Odense, we should be ok now

[2018-07-31 08:10] #1087 closed

[2018-07-31 11:55] ooffick commented on #1195
Can you check if this is still the case, as I just had a look and I cannot see this behaviour? If you can still see it would you mine sharing your Browser width, zoom level and browser version? Thank Brian.

[2018-07-31 12:10] brianteeman commented on #1195
Yes its a weird one and took @Joomv and me a while to sort it out last time

https://mybrowser.fyi/report/5b60517f9310a900144b3ffa

[2018-07-31 12:31] ooffick commented on #1195
OK, I was just able to replicate it when using a zoom factor of 67%.

Let me see what I can do about this.

Kind Regards
Olaf

[2018-07-31 13:31] brianteeman commented on #1195
Confirmed that its all working now.

Might be worth making a note about this change to prevent another update overwriting it

Thanks

[2018-07-31 13:31] #1195 closed

[2018-07-31 14:06] jonathanCA commented on #1199
Hi Franz, just to let you know the issue is resolved. It was caused by an incorrect path in the XML file on update.joomla.org. Launch.joomla.org systems use this path to determine latest package.  I'm told this is also being resolved.  Thank you

[2018-08-06 08:00] Sandra97 opened #1201 "[jcomm] Events not linked to Joomla"
Please remove these events:
![3](https://user-images.githubusercontent.com/4682328/43704262-fb986b12-9956-11e8-94ea-5f443ca044ca.png)

Once again, the report button on the events page doesn't work properly as it's not possible to report anything (even when I'm logged as SU):
![2](https://user-images.githubusercontent.com/4682328/43704291-1875fb0a-9957-11e8-8c08-fcae3cca0f77.png)

[2018-08-06 08:01] Sandra97 commented on #1201
Update! These events are not shown where not logged in. I need more coffee.

[2018-08-06 08:01] #1201 closed

[2018-08-06 08:02] brianteeman commented on #1201
what about rsform pro day? which also has invalid dates

[2018-08-06 08:03] Sandra97 commented on #1201
It's not displayed either when not logged in.

[2018-08-08 08:18] anibalsanchez opened #1202 "CSP errors on 'docs.joomla.org'"
Hi,

Rochen (Jeremy) sent me a ticket about CSP Violations on docs.joomla.org.

[root@joomla-misc ~]# exim -Mvb 1fn00U-005iZp-4T
1fn00U-005iZp-4T-D
{
"csp-report": {
"document-uri": "https://docs.joomla.org/index.php?title=Special:UserLogin&returnto=J3.x:Installing+Joomla",
"referrer": "https://docs.joomla.org/index.php?title=Special:UserLogin&returnto=J3.x:Installing+Joomla",
"violated-directive"

[2018-08-08 08:41] Sandra97 commented on #1202
Tom and Tobias are already looking at that.

[2018-08-08 08:43] Sandra97 commented on #1202
Note that GEOIP has been turned off, and there is no suitable replacement without paying for the service.

[2018-08-08 09:48] brianteeman commented on #1202
https://github.com/apilayer/freegeoip#readme

[2018-08-08 12:53] Hutchy68 commented on #1202
Thanks, but the free account allows for only 10000 lookups per month. We won’t even make it a week before hitting the threshold.

[2018-08-08 13:02] brianteeman commented on #1202
I was sharing it for the information ;)

And no reason not to approach them for a free account in exchange for a logo. Other projects get paid to use peoples products - at a minimum we should get them for free

[2018-08-08 17:03] sarsaine opened #1203 "[joomla.org] Wrong word"
At https://www.joomla.org/3/fr
In "Support du chiffrement" particle the word "cryptage" is an Anglisism that doesn't make sense in French. Use "Chiffrement" instead.

[2018-08-08 18:19] Sandra97 commented on #1203
Edited on the landing page.
Note that cryptage is also often used in French, even if you're right that 'chiffrement' is preferable.
Also, for any translation suggestion, this should be done directly on Crowdin in the related project.
Thanks.
I'm closing this issue as it's solved

[2018-08-08 18:19] #1203 closed

[2018-08-08 19:00] zero-24 commented on #1202
The issue was fixed already this night buy stopping the reports and later by Tom on removing the call. As I can't update the ticket with rochen please report that back to them.

[2018-08-08 19:15] anibalsanchez commented on #1202
I've already closed the ticket and linked it to this ticket.

[2018-08-08 19:55] zero-24 commented on #1202
Please close the issue than too as the issue is fixed. Thanks @anibalsanchez

[2018-08-08 20:01] #1202 closed

[2018-08-16 13:58] Joomv commented on #1171
Sorry I completely missed this, was at a funeral that day.
This has been fixed.

[2018-08-16 13:58] #1171 closed

[2018-08-16 14:08] #168 closed

[2018-08-16 19:05] genr8r opened #1204 "[jlaunch] joomla.com SSL warning can prevent redirect to launch.joomla.org"
It looks like the joomla.com domain is using the SSL for joomla.org which throws an "insecure site" warning in chrome and prevents the redirect to https://launch.joomla.org/
![screen shot 2018-08-16 at 1 59 55 pm](https://user-images.githubusercontent.com/1870522/44229364-731b4e80-a15d-11e8-9f76-f30922cccc7b.png)

[2018-08-16 19:21] ghost opened #1205 "[jevnt] Archive: JUG Sussex with Start-Date.23. February 2019"
at https://community.joomla.org/events/archive.html you find JUG Sussex with Start-Date.23. February 2019

![modified](https://user-images.githubusercontent.com/8235763/44230032-2f930580-a19a-11e8-8b1c-00b334da7d4d.jpg)

[2018-08-16 19:32] hvdmeer commented on #1205
I think Archive is preselected when entering a new event.

[2018-08-16 20:42] jonathanCA commented on #1204
Thank you, we are looking into this now.

[2018-08-17 04:01] franz-wohlkoenig commented on #1205
at https://community.joomla.org/events.html same Event is shown:

![screen shot 2018-08-17 at 06 00 13](https://user-images.githubusercontent.com/8235763/44247195-eadf8c80-a1e2-11e8-97ac-2d1069574f83.jpg)

[2018-08-18 15:09] franz-wohlkoenig opened #1206 "[jlaunch] Painful slow or expected fast > not predictable"
Since launch.joomla.org has started is use it for 3.* and 4.*-Sites, Server in Europe.

As Title say its unpredictable how slow/fast Websites are loaded. Example Today load of backend takes 20 Seconds, load of cPanel next 20 Seconds, ...

I don't know ow to solve this but its no recommendation to use CloudAccess for a live Site (i guess there is no Difference using a Site for free or paid).

[2018-08-19 10:09] franz-wohlkoenig opened #1207 "[jlaunch] CA-Nightly Build is not equal to developer.joomla.org/nightly-builds.html"
Please read https://github.com/joomla/joomla-cms/pull/21579#issuecomment-414116905 and above as there are Differences between Nightly Builds offered by CloudAccess and https://developer.joomla.org/nightly-builds.html

[2018-08-19 11:16] brianteeman opened #1208 "[4.0] Language install infrastructure"
This issue serves as a tracker item for

[2018-08-19 18:04] aschmidt128 opened #1209 "[joomla.org]"
My organization's website, mcirclek.org, is down. I cannot get to the admin page nor will the page load. This is the third or fourth time this month that this has happened. How can we rectify this so that it does not happen during our busy season?

[2018-08-20 00:41] mbabker commented on #1102
The component rendering the manuals is replaced and there are now `<h1>` tags within the `<main>` section.

[2018-08-20 00:41] #1102 closed

[2018-08-20 00:42] mbabker commented on #961
Put text on the page saying examples are welcome, the new component also has a "Edit on GitHub" link.  Closing, page is doing what it's intended, even if the content is lacking.

[2018-08-20 00:42] #961 closed

[2018-08-20 00:44] mbabker commented on #1022
Before the end of the month I intend on taking down these old sections (finally) and redirecting them to a page explaining those sections have been archived and are no longer available.  So that'll address that.

[2018-08-20 00:48] mbabker commented on #1066
Sitemaps are now in place with proper prioritization rules.

[2018-08-20 00:48] #1066 closed

[2018-08-20 00:48] mbabker commented on #1111
Unless I'm mistaken this should be complete now?

[2018-08-20 00:49] mbabker commented on #1161
Is there anything actionable here or is this one of those "if you have any bright ideas please share them" type of deals, because if it's the latter I doubt you're going to get those.

[2018-08-20 00:53] #856 closed

[2018-08-20 01:02] mbabker opened #1210 "[japi] Create New Parsing System"
phpDocumentor as a full tool is quite good, but we lack being able to expand on the generated files to do things that are going to be helpful, especially as the next major versions of our packages come out.

- Cross linking Framework docs from the CMS build (essentially, the Framework docs are duplicated in the CMS 3.x and Framework 1.x builds for those that are imported)
- Cross linking docs betw

[2018-08-20 03:34] Sandra97 commented on #1161
I'm in the Compliance Team so when edits will be needed, like for the cookies policy, I will be informed, so we can close this issue.

[2018-08-20 03:34] #1161 closed

[2018-08-20 06:33] jeckodevelopment commented on #1208
as far as i know, it should go in downloads.joomla.org , but better to ask @mbabker

[2018-08-20 07:06] brianteeman commented on #1208
I was asked to put this here by @wilsonge

[2018-08-20 08:05] wojsmol commented on #1207
cc @jonathanCA

[2018-08-20 10:46] wilsonge commented on #1208
That is where it should go. But we don't have any infrastructure for that (it's the thing that's blocking us shutting down joomlacode afaik.

[2018-08-20 11:41] mbabker commented on #1208
From a data perspective it's just adding categories and releases to ARS.  We added ACL to the component so we can control who can publish where.

Once upon a time a long long time ago in a far away place it was requested that TTs not be required to use the site backend to upload their language releases and that we create a frontend management area optimized for those teams.  That has yet to be cre

[2018-08-20 12:50] jonathanCA commented on #1206
Hi Franz, I just wanted to let you know that we are looking into this. We are reaching out to you directly for more specific information and we will report back here once we have identified the solution.

[2018-08-20 12:55] jeckodevelopment commented on #1208
Would it this be changed by the Crowdin workflow?
We decided to use Crowdin as standard translation platform for J4, so if we can have an import feature from it, it would be great.

(Well it has to be a bit more than "import"... kind of import and build package)

[2018-08-20 12:59] mbabker commented on #1208
No that is not a capability that can be integrated with Crowdin.

On Mon, Aug 20, 2018 at 7:55 AM Luca Marzo <notifications@github.com> wrote:

--
- Michael Please pardon any errors, this message was sent from my iPhone.

[2018-08-20 14:57] dmitriy-cloudaccess commented on #1207
The issue has been fixed.
It was caused by our cronjob. We will improve it to catch this sort of errors on an early stage.

[2018-08-20 15:06] franz-wohlkoenig commented on #1207
Thanks for your Research and solving the issue.

[2018-08-20 15:06] #1207 closed

[2018-08-20 17:34] zero-24 commented on #1111
Isn't complete on all pages but this is work in progress and most of the pages are done. I'm going to move forward on the missing pages but i'm also fine closing here as everything is in progress.

[2018-08-21 04:12] debck opened #1211 "[jorg] Unresponsive Navigation Bar"
**Problem**

The navigation bar on this [page](https://www.joomla.org/) is unresponsive in small screen.
After clicking the side bar , all the links shows up.
However clicking it back doesnt hide the different sections of navigation bar

**Screenshot:**

![screenshot 5 _li](https://user-images.githubusercontent.com/33368759/44379984-4fbe1e00-a526-11e8-88c3-aafe2aa2079a.jpg)

[2018-08-21 04:45] Sandra97 commented on #1211
Hi,
Thanks for reporting.
This is a known issue. We have a fix for it which needs to be reviewed before being merged.

[2018-08-21 04:46] debck commented on #1211
Okay.  So this issue can be closed I think

[2018-08-21 09:12] feteno opened #1212 "[joomla.org]"
Alerte (Joomla 3.8 .11

Mise à jour : Impossible d'ouvrir le site de mise à jour avec l'ID 98, "Extension Update Admin Bruteforce Protection", URL : https://www.siteguarding.com/files/jadminbruteforceprotection.zip/extension.xml

Mise à jour : Impossible d'ouvrir le site de mise à jour avec l'ID 105, "Admin Tools Core", URL : https://cdn.akeebabackup.com/updates/pkgadmintoolscore.xml

Mise à jour

[2018-08-21 09:26] franz-wohlkoenig commented on #1212
Please ask help on the [forums](https://forum.joomla.org/). This repository is for reporting issues with the **joomla.org websites only**. For this Reason please close this Issue, thanks.

[2018-08-21 11:30] #1212 closed

[2018-08-21 11:34] mbabker commented on #1211
The fix we've got is honestly a hack.  The markup is all the correct Bootstrap markup for the navbar, but just as you've pointed out for whatever reason it just doesn't work right.

So if someone wants to figure out why it doesn't work correctly that'd be good, instead of us rolling out a JavaScript hack.

[2018-08-21 13:50] jonathanCA commented on #1206
Hi Franz, two questions/requests.
1. Is it possible that you are seeing the slowness when first accessing the site? We believe the delay you are seeing is related to the creation of the LVE user context, which happens when site is first requested. Production sites don't see this since their LVE user context is saved as a result of traffic to the site.
2. Just to rule out any network issues, would

[2018-08-21 14:32] franz-wohlkoenig commented on #1206
Thanks for your Questions, @jonathanCA

1. its not about first Accessing the Sites. It can take Hours CA-Sites are slow, other Sites (not CA-Sites) are at the same Time fast as ever. But its also happen CA-Sites are fast at first Access and later on too.

2. Tracerout if CA-Site is slow? How to make a Traceroute please?

Thanks for Info about LVE-Difference.

[2018-08-21 14:56] wojsmol commented on #1206
@franz-wohlkoenig See [this](https://www.youtube.com/watch?v=TulqpjgIa0k) video for example

[2018-08-21 15:09] franz-wohlkoenig commented on #1206
thanks @wojsmol, no i know how to do that. Make a Traceroute on http://wohlkoenig-4.joomla.com/ got "unknown host http://wohlkoenig-4.joomla.com".

[2018-08-21 15:15] wojsmol commented on #1206
use wohlkoenig-4.joomla.com as host

[2018-08-21 15:21] franz-wohlkoenig commented on #1206
@wojsmol thanks, that works.

@jonathanCA should i copy traceroute here?

[2018-08-21 15:29] franz-wohlkoenig commented on #1206
no Ticket open with CA, so @jonathanCA will say whats next.

[2018-08-21 17:01] jonathanCA commented on #1206
Thanks all, you can send traceroute info to bugreporting@cloudaccess.net

[2018-08-21 17:13] franz-wohlkoenig commented on #1206
Traceroute send. Thanks all for helping.

[2018-08-21 17:13] #1206 closed

[2018-08-22 07:05] h-brush opened #1213 "[joomla.org]"
Здравствуйте! Можно ли обновить joomla Версия 1.5.22? Устал бороться с вирусами(. Сайт http://tdparikmaher.ru

[2018-08-22 07:05] Pete71 opened #1214 "404 Error"
Please describe the problem or your issue
It could be useful to include an URL of evidence.
Please use a consistent title for your issue.

[2018-08-22 07:06] franz-wohlkoenig commented on #1213
Please ask help on the [forums](https://forum.joomla.org/). This repository is for reporting issues with the **joomla.org websites only**. For this Reason please close this Issue, thanks.

[2018-08-22 07:08] franz-wohlkoenig commented on #1214
Please ask help on the [forums](https://forum.joomla.org/).This repository is for reporting issues with the joomla.org websites only. For this Reason please close this Issue, thanks.

[2018-08-22 07:09] Pete71 commented on #1214
Hi, new to github, sorry for being a little bit clumsy.
I'm a translator for Joomla 4.x and got a 404 error following the link
https://api.joomla.org/cms-4/classes/Joomla.CMS.Plugin.CMSPlugin.html

I was asked to open an issue here.

Pete

[2018-08-22 07:11] franz-wohlkoenig commented on #1214
welcome @Pete71 an thanks for your Report (please ignore my first Comment).

[2018-08-22 07:13] Pete71 commented on #1214
No problem, I should have looked what to do first

[2018-08-22 13:09] mbabker commented on #1214
This is expected, API docs for 4.0 are not being generated at this time.  During beta/RC we will set this up.

[2018-08-22 13:09] #1214 closed

[2018-08-22 13:10] mbabker commented on #1213
Yes, please see https://docs.joomla.org/S:MyLanguage/Joomla_1.5_to_3.x_Step_by_Step_Migration

[2018-08-22 13:10] #1213 closed

[2018-08-22 20:23] colorStarDani opened #1215 "[joomla.org]"
Dear Sir/Madam,

I would like to ask for your help. I am the administrator of a homepage using joomla. I did not create the website, but I inherited it and have been updating the page for years now. I tried to login to the administrator page now, but for some reason it does not let me in with the same username and password as I used before. What can I do?

The page: http://colorstar.hu/new/adminis

[2018-08-23 03:57] Sandra97 commented on #1215
Hi,

This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page
or find a service provider at https://resources.joomla.org/

Thanks!

[2018-08-23 03:57] #1215 closed

[2018-08-24 13:39] Albertino007 opened #1216 "Integration new service"
Hello, we want to make a site on your cms. We need integration with the service: https://www.carrotquest.io/
Is it possible to do this?

[2018-08-24 13:51] franz-wohlkoenig commented on #1216
Hi,

This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page
or find a service provider at https://resources.joomla.org/

For this Reasons please close your Issue, Thanks!

[2018-08-26 23:03] wilsonge opened #1217 "JIssues has a CSP Error"
![image](https://user-images.githubusercontent.com/1986000/44634095-99769080-a98c-11e8-9876-eca398c70dc0.png)

// CC @zero-24

[2018-08-27 07:13] SniperSister opened #1218 "[joomla.com] test-promo.joomla.com sends spam"
I received a report from a german user saying that he receives spam from test-promo.joomla.com - that site has to be switched off asap.

[2018-08-27 07:13] zero-24 commented on #1217
This is part of expected. As no one found the switch to turn it off. They use there all google domains they ever created (for example google.de when I'm on the page) so it is hard to whitelist and as this data is not relevant any more we decided to block them. It should only popup on the first call to issues.joomla.org anyway.

[2018-08-27 07:18] Sandra97 commented on #1218
@jonathanCA, could you take care of this? Thanks!

[2018-08-27 10:17] h-brush commented on #1213
Спасибо, плохо что не на русском языке, врятли техническая информация будет правильно переведена онлайн переводчиком(22.08.2018, 16:11, "Michael Babker" <notifications@github.com>:
Hello! Is it possible to update joomla Version 1.5.22? I'm tired of fighting viruses

Yes, please see https://docs.joomla.org/S:MyLanguage/Joomla_1.5_to_3.x_Step_by_Step_Migration

—You are receiving this because you au

[2018-08-27 13:12] jonathanCA commented on #1218
Hi All, the site has now been removed per our abuse workflows.

[2018-08-27 13:22] Harmageddon opened #1219 "[icomoon] Invalid HTTPS certificate"
The HTTPS certificate used on https://icomoon.joomla.com/ is only valid for the domains `*.cloudaccess.net, cloudaccess.net`.

[2018-08-27 13:49] jonathanCA commented on #1204
Just following up - this was resolved last week 👍

[2018-08-27 13:51] jonathanCA commented on #1170
Just following up, I think we can close this as corrective action had been taken on reported issues and the migration has long since been completed.

[2018-08-27 14:02] #1218 closed

[2018-08-27 14:03] jeckodevelopment commented on #1218
Thank you!
Closing. @SniperSister please re-open if needed.

[2018-08-27 14:41] #1170 closed

[2018-08-27 14:42] Sandra97 commented on #1204
Thanks Jonathan!
I'm closing this issue.
Re-open if needed.

[2018-08-27 14:42] #1204 closed

[2018-08-27 14:49] Sandra97 commented on #1219
https is not yet available for joomla.com websites. But @jonathanCA will be able to tell you more about this

[2018-08-27 15:10] Harmageddon commented on #1219
Oh, I missed the fact that it is a joomla.com site instead of .org. Sorry! I'm using this site as a reference so often that I thought it was an official one.

[2018-08-27 15:44] Harmageddon commented on #1219
Alright, thank you for the information! So I'm closing this.

[2018-08-27 15:44] #1219 closed

[2018-08-28 20:35] mandville opened #1220 "jcom install unwanted languages can not remove"
expected : uninstall languages not required [and require updating needlessly]

actual : Language Uninstall: Language path is empty, can't uninstall files.
The Czechcs-CZ extension is part of a package which does not allow individual extensions to be uninstalled.
The Danishda-DK extension is part of a package which does not allow individual extensions to be uninstalled.
The DanishDK extension is pa

[2018-08-28 20:54] ot2sen commented on #1220
Try uninstall the packages instead then

[2018-08-28 20:56] brianteeman commented on #1220
Which is the correct method and why you are getting the error

[2018-08-29 04:33] Sandra97 commented on #1220
I installed these 2 language packages and uninstalled them without any issue.
To uninstall a language, you have to go to Extensions > Manage > Package, select your language package and click on uninstall

[2018-08-29 07:16] AndNovAtor opened #1221 "Wrong displayed size/MD5 Signature/SHA1 Signature for Joomla! 3.8.12 Full Package (.zip) on downloads.joomla.org - is it a cache?"
Open `https://downloads.joomla.org/cms/joomla3/3-8-12`. Download `Joomla! 3.8.12 Full Package (.zip)`. It's as usually `~13mb`. But the site displays `203.31 kB,` MD5 Signature and SHA1 Signature [hash] also "wrong". Is it a cached data from another file?

Btw, download url (not the "real" file url) from `downloads.joomla.org` - `https://downloads.joomla.org/cms/joomla3/3-8-12/Joomla_3-8-12-Stable

[2018-08-29 11:48] mbabker commented on #1221
Data corrected.

[2018-08-29 11:48] #1221 closed

[2018-09-02 18:46] Pravo018 opened #1222 "[joomla.org]"
Здравствуйте, не могу зайти на свой сайт на вашем джумле- pravo018@gmail.com
право18.рф

[2018-09-02 18:49] #1222 closed

[2018-09-04 01:10] sam-suresh opened #1223 "[Minor] Joomla.org icons not loading"
<img width="1280" alt="screen shot 2018-09-04 at 9 08 05 am" src="https://user-images.githubusercontent.com/5198092/45004825-43f05280-b022-11e8-8658-27fbce430640.png">

Footer icons not loading and shows cross origin issue on console.

[2018-09-04 13:21] beccapmorrow opened #1224 "[forum.joomla.org] (could use help ASAP!)"
Here is my issue:

Last Thursday I was working on a website hosted by Joomla and was trying to make it so whenever anyone went on the website, they would automatically be redirected to another website.

I began following the second tutorial on this article: ([https://help.duda.co/hc/en-us/articles/218982918-Redirect-a-Joomla-Site]) using this code (<meta http-equiv="refresh" content="0; URL='http:

[2018-09-04 13:25] #1224 closed, assigned to nobody

[2018-09-04 20:44] zero-24 commented on #1223
Has been resolved please clear the cache and check again should work now. Thanks for the efforts by Michael with Rochen and the CDN Provider!

[2018-09-04 20:52] mbabker commented on #1223
Issue should now be fixed fully.  You may need to clear browser cache to remove the stale (invalid) cache entry for the CSS.

[2018-09-04 20:52] #1223 closed

[2018-09-04 21:47] chavab1 opened #1225 "Can't login Board Administrator page not found[forum.joomla.org]"
I know I shouldn't post this problem here but the Board Administrator page is gone and I couldn't find any other resource to help with login credentials.

Where do I go to recover my login credentials??

Thanx

[2018-09-05 04:42] Sandra97 commented on #1225
Hi,

You can follow this tutorial https://docs.joomla.org/How_do_you_recover_or_reset_your_admin_password%3F or ask for help at https://forum.joomla.org

As this repo is only for issues with *.joomla.org properties, not about the Joomla CMS, please close this issue. Thanks!

[2018-09-05 12:52] #1225 closed

[2018-09-05 15:16] 908ltd commented on #1059
Hi there,

I have this exact message on my website admin panel. Please could someone offer advise on how it was solved?

Thanks in advance.

Error message says: ×
Error
We have detected that your server is using PHP 5.5.38 which is obsolete and no longer receives official security updates by its developers. The Joomla! Project recommends upgrading your site to PHP 5.6 or later which will receive s

[2018-09-05 15:32] mbabker commented on #1059
Upgrade PHP on your server.  This is not an error, it is a notification that the software powering your site is no longer supported.  Contact your hosting provider for assistance on this.

[2018-09-05 15:43] 908ltd commented on #1059
Thank you for the fast response. I thought pretty much what you just said.

Basically, we have 2 websites using Joomla and are built with a template called IT TheShop2 from a company called IceThemes.

As of late we have had a message to update PHP on our websites to the latest versions, this message appeared in our admin section of the websites, However when trying to upgrade to latest PHP versio

[2018-09-05 16:55] chavab1 commented on #1225
Yes, I knew I shouldn't have posted this here but I couldn't find any other resource. And I couldn't ask for help in the forum because I don't have my login credentials. Those are the login credentials that I'm missing, not my personal website's. I'm missing my credentials to the Joomla main site. I tried to do the recover but it doesn't recognize my username nor email. Yet, I tried to register ag

[2018-09-05 17:00] Sandra97 commented on #1225
For your forum issue, you can fill this form so that the team can help you: https://community.joomla.org/helpdesk/forum-un-ban-request.html

[2018-09-06 10:56] MartijnMaandag opened #1226 "[jcomm] download link to Dutch (but maybe also other languages) translations"
On https://community.joomla.org/translations/joomla-3-translations/dutch-translation.html there is a link to the Dutch translations: http://joomlacode.org/gf/project/jtranslation3_x/frs/?action=FrsReleaseBrowse&frs_package_id=6408
This is ordered on the name of the release. While we are on 3.8.12 this release is not on top.
Maybe change the link into: http://joomlacode.org/gf/project/jtranslation3

[2018-09-10 06:28] Sandra97 commented on #1084
Still no answer. I'm closing this issue.