[2017-02-24 18:03] nileshprasad137 opened #859 "Updating Readme file"
There maybe some minor modifications which are needed in README.md .
The website corresponding to Coding Standards and Help has been moved to some other destinations.
Take a look !
[Old Link to Coding Standards](https://joomla.github.io/coding-standards/)
[Old Link to Help Site](https://help.joomla.org/)

Can I proceed to fix this?

[2017-02-24 18:04] mbabker commented on #859
The help site is still correct.  That domain is still in use.

It used to have two separate CMS installs on it.  The old Joomla! 1.0 site has been archived which is why you see the offline page, but the help screen system is still served through it so the domain is still valid.

[2017-02-24 18:05] mbabker commented on #859
Specifically, https://github.com/joomla/help.joomla.org

[2017-02-24 18:05] nileshprasad137 commented on #859
Okay, what about Coding Standards website?

[2017-02-24 18:07] mbabker commented on #859
That's moved as noted in https://github.com/joomla/joomla-websites/issues/796

[2017-02-24 18:29] Hutchy68 commented on #852
Awesome! Closing as fixed.

[2017-02-24 18:29] #852 closed

[2017-02-24 18:33] zero-24 commented on #859
see: https://github.com/joomla/joomla-websites/pull/860

[2017-02-24 18:35] zero-24 opened #861 "[jstand] Changing Contributing to this manual"
The part `Contributing to this manual` (under `Introduction`) should be changed. As noted in https://github.com/joomla/joomla-websites/issues/796

[2017-02-24 18:47] #859 closed

[2017-02-24 18:49] mbabker commented on #861
It's already updated.

Also, it reads live from GitHub (it's not content saved in the CMS install).  So feel free to tweak https://github.com/joomla/coding-standards/tree/master/manual as needed.

[2017-02-24 20:39] efduggan commented on #852
Hi,

 I've also given it a spin and see that I get the help documentation. Thanks to everyone for addressing this issue!

[2017-02-24 21:23] zero-24 commented on #861
hmm looks like i have missed it. Thanks.

[2017-02-24 21:23] #861 closed

[2017-02-25 01:36] zero-24 opened #863 "[jforum] Move issues.joomla.org to https."
Please change the URL from http://issues.joomla.org to https://issues.joomla.org 😄

![image](https://cloud.githubusercontent.com/assets/2596554/23326831/fba0880e-fb02-11e6-964c-654031694574.png)

https://forum.joomla.org/viewforum.php?f=579
https://forum.joomla.org/viewforum.php?f=728

[2017-02-25 01:37] zero-24 commented on #863
same for this page:
![image](https://cloud.githubusercontent.com/assets/2596554/23326846/4f47e0f6-fb03-11e6-81cb-037f53b706ba.png)

[2017-02-25 18:29] mbabker opened #864 "[jdev] Combine Dev Site Extensions to One Repo"
Create a repository at https://github.com/joomla/developer.joomla.org and merge the repositories for each of the site's extensions into that new repo.

- https://github.com/joomla-projects/com_code
- https://github.com/joomla-projects/com_trackerstats
- https://github.com/joomla-projects/plg_content_nightlybuilds

[2017-02-25 18:32] zero-24 commented on #864
@mbabker can you create that repo than i can prepare pull requests for that repo with the content of the 3 old repos.

[2017-02-25 18:37] mbabker commented on #864
Done.

Please keep the file structure matching the CMS structure (like the com_code repo does now).  This makes it easier to clone the repo and drop a full CMS install in or if we decide later on to drop a clone of the entire site (like the volunteer portal) into the repo (still to be decided on that one, IIRC we have at least Akeeba pro extensions and I prefer to respect the companies with pro ve

[2017-02-25 18:47] mbabker opened #865 "[MISC] Jenkins Deployment Jobs for Framework App Websites"
Create build jobs on Jenkins for each of our Framework app websites to enable a "proper" deployment system versus using git live on the server or some other adhoc deployment mechanism:

- [ ] developer.joomla.org/stats (Stats Server)
- [ ] framework.joomla.org
- [ ] help.joomla.org
- [ ] issues.joomla.org

Deployment workflow is pretty similar to this (this is generally how many deployment systems

[2017-02-25 18:53] zero-24 commented on #864
@mbabker please see: https://github.com/joomla/developer.joomla.org/pull/1

[2017-02-26 12:04] anibalsanchez commented on #844
Hi,

We are on our way to deliver the update. To be ready, we only have the ad tags for the JED homepage, so we need the rest of the required tags.

These are the current Ad tags:

**Publisher ID** ca-pub-xxx8555
**Homepage Google Ads** = xxx7058
**Access & Security Category Ads** = xxx8657
**List Page Banner Google Ads** = xxx8657
**Extension Page Google Ads** = xxx8657

And, we have the new tags

[2017-02-26 12:58] coolcat-creations opened #866 "[jdocs] Link to 404 on https://docs.joomla.org/JDocument/addStyleDeclaration"
https://docs.joomla.org/JDocument/addStyleDeclaration
The Link to the API in the footer leads to a 404

[2017-02-26 12:59] coolcat-creations opened #867 "[jdocs] Link to 404 on https://docs.joomla.org/JDocument/addStyleSheet"
https://docs.joomla.org/JDocument/addStyleSheet
The Link to the API in the footer leads to a 404

[2017-02-26 13:13] MATsxm commented on #867
The JDoc is a Wiki then *YOU* are the maintener 😉
You can just log the JDoc, edit the page.
Not sure but I guess the nex link should be: https://api.joomla.org/cms-3/classes/JDocument.html#method_addStyleSheet

[2017-02-26 13:31] coolcat-creations commented on #867
If i would have find the right link i wouldn't have used the "report an issue" link. ;-)

[2017-02-26 15:25] MATsxm commented on #867
fixed

[2017-02-26 15:25] #867 closed

[2017-02-26 15:26] MATsxm commented on #866
fixed

[2017-02-26 15:26] #866 closed

[2017-02-26 16:19] mbabker commented on #867
Actually, these API docs are for Joomla! 1.5.  It'd be nice if they were marked as such so they could be archived and fall off the face of the internet.  I've changed the link as such.

[2017-02-26 16:36] #864 closed

[2017-02-26 17:45] MATsxm commented on #867
@Hutchy68 could you take a look at Michael's comment 😉
Thanks

[2017-02-26 18:17] Hutchy68 commented on #867
No 😈

😉 But I'll make a new task, "take old API links on a one-way trip to nowhere land."

[2017-02-26 18:33] Hutchy68 opened #868 "[jdocs] update links or archive API pages"
There are a lot of pages with external links that are broken to the J 1.5 API.

- update links
- delete pages
- archive pages

[2017-02-26 18:37] MATsxm commented on #867
pffff
😝

[2017-02-26 18:39] MATsxm commented on #868
Btw... thank you to explain your minion @Sandra97 the archive process, she has nothing to do... 😉

[2017-02-26 19:03] mbabker commented on #868
It's all at https://api.joomla.org/1.5/ as a short term fix the broken links thing.

[2017-02-26 19:14] Sandra97 commented on #868
Minion is on strike.

[2017-02-27 10:47] sanderpotjer opened #869 "[jcertif] Calendar is generating an error"
https://certification.joomla.org/exam/calendar

` 0 Can't find class Sobi\Database\SPC definition`

[2017-02-27 12:00] nileshprasad137 commented on #858
Is there no repository for Joomla Forum?

[2017-02-27 18:07] zero-24 commented on #869
Looks ok here now so this is fixed?

[2017-02-27 18:08] Hutchy68 commented on #868
The pages in the main namespace were duplicates of those found in namespace API15: ..... which are archived and set for "noindex,nofollow" and I will double check that. I don't know why they were missed when the original batch was nuked 3 years ago. They are all gone now.

![capture_jwikibot](https://cloud.githubusercontent.com/assets/3527469/23373402/d174aa14-fced-11e6-99c2-4ef09afa5b93.PNG)

[2017-02-27 18:49] sanderpotjer commented on #869
Seems to be fixed meanwhile indeed!

[2017-02-27 18:49] #869 closed

[2017-02-27 19:31] Hutchy68 commented on #868
Ok, the API15 and others are not being blocked with a ```<meta name="robots" content="noindex,nofollow">```. I can make some setting adjustment it to block the API15: pages from being indexed by Google. I have them set at a low weight of indexing in the sitemap we provide Google but they still appear in search results.

Let them be indexed, block them? If I block them, I might as well delete them.

[2017-02-28 15:01] franz-wohlkoenig opened #870 "[jdev] stats not updated"
Since Yesterday there are no changing Values at https://developer.joomla.org/about/stats.html. For example i'm looking on Percentage of 3.6.5 vs. 3.5.1

[2017-02-28 17:16] franz-wohlkoenig commented on #870
thanks @mbabker

[2017-03-01 10:17] aDaneInSpain opened #871 "[jcode] Remove spam"
I have received a warning from Google Adsense that they might suspend our account (and all our Adsense income) unless we ensure that our content is safe.

It has flagged this page as having "Adult content" which I do not personally see, but I can only asume that it has flagged the spam.

http://joomlacode.org/gf/project/joomlaxplorer/news/?id=3911

So can we please have this kind of spam removed *

[2017-03-01 13:17] mbabker commented on #871
The only person I know who has admin access on that system told me last night his key was being rejected by the server.

[2017-03-01 13:49] mbabker commented on #871
Ken's suggestion FWIW was to just remove JoomlaCode from the AdSense account.  I honestly don't know if that's practical or desired at this point, but if we're really left with nobody who has admin credentials to that system (and GForge left us high and dry years ago), what options do we have left?

[2017-03-01 22:55] truittcontrol opened #872 "[forum.joomla.org]"
Hi,

I'm properly updated to 3.6.5.  I use a security plugin to hide my login area, and my work systems are quite secure (I have a small number of systems, all password protected and under a solid security system after hours).

I have reason to believe that there is some kind of leak, as I found an unknown super user had created an account in my organization's main site, and also managed to do so

[2017-03-01 23:13] MATsxm commented on #872
Hi,
This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page
or repport an issue on: https://issues.joomla.org/

Regards,
Thanks

[2017-03-01 23:13] #872 closed

[2017-03-02 17:31] mbabker opened #874 "[jorg] Put Custom Code Into Repo"
After 3.7 launches and we've updated the site assets, merge custom stuff (layout overrides, extensions, etc.) for the main www domain into the https://github.com/joomla/joomla.org repo.

This should also cover the `/3` subsite.

[2017-03-02 19:55] rwbarg opened #875 "cmd click menu opens in current tab and new tab"
In /administrator, cmd + click (mac) on Menus > [any menu] opens up that menu in a new tab AND goes to that menu in the current tab. I obviously want it to just go there in the newly opened tab.

I often open multiple tabs in /administrator so I can look at a menu item, a module assigned to it, and a K2 item assigned to the module. I often start in a module because then I can see what menu item it

[2017-03-03 00:12] sam-suresh commented on #871
If JoomlaCode is not making a desireable income, we should consider to remove adsense ads from JoomlaCode as it is not actively maintained. Previously some files reported unsafe from JoomlaCode which is another violation of adsense terms.

[2017-03-03 06:58] franz-wohlkoenig commented on #875
confirmed.
#### The Result of cmd-click is different:
Starting Point is "Control Panel"
- cmd-click on "Users>Manage" or "Menus>Manage" or "Content>Articles" ... shows in both tabs same Screen,
- cmd-click on "System>Global Configuration" or "System>Global Check-in" shows only new Screen in new Tab.
### Test on
Joomla! 3.7.0-rc1
macOS Sierra, 10.12.3
Firefox 51.0.1
#### MAMP 4.1.1
- PHP 7.0.15
- M

[2017-03-03 11:12] MATsxm commented on #875
Hi,
This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page
or repport an issue on: https://issues.joomla.org/

Regards,
Thanks

[2017-03-03 11:12] #875 closed

[2017-03-03 11:38] franz-wohlkoenig commented on #875
@MATsxm ups, haven't looked repository.

[2017-03-03 12:04] franz-wohlkoenig commented on #875
see [14317](https://github.com/joomla/joomla-cms/issues/14317)

[2017-03-03 13:04] MATsxm commented on #270
TLWG will do what ever they want...
the fact is that the brand manual is updated, translated and consulted on the doc.
Closing - reopen if needed

[2017-03-03 13:04] #270 closed

[2017-03-03 13:06] MATsxm commented on #127
@jeckodevelopment any updates?

[2017-03-03 13:06] MATsxm commented on #141
any news?

[2017-03-03 13:08] MATsxm commented on #154
@genr8r can we expect something before the 4.0?

[2017-03-03 13:09] zero-24 commented on #141
With 3.7 until 4.0 there is no 404 any more 😜

[2017-03-03 13:13] MATsxm commented on #649
@bosyrih is it still an issue as there're now more than 1 download everywhere (have not checked everything but...)?

[2017-03-03 13:15] MATsxm commented on #601
@Joomv **ABSOLUTLY NO EMERGENCY** but stiil no access to this content?

[2017-03-03 13:17] MATsxm opened #876 "[JShop] How is the shop doing?"
I guess everything is in the title and i'm sure it's better for my heart to not saying more about this topic...

[2017-03-03 14:07] Joomv commented on #601
No need to shout! - Do you need access to this content @MATsxm ?
Currently these users have access.
![users - joomla community portal - administration](https://cloud.githubusercontent.com/assets/5618499/23553896/afccdb72-001a-11e7-88c8-7442b2b49b5e.png)

[2017-03-03 14:08] Joomv commented on #876
I've given up waiting for an RFP and will be writing a Proposal for it this weekend.

[2017-03-03 14:08] #876 closed

[2017-03-03 14:14] MATsxm commented on #876
thanks

[2017-03-03 14:16] MATsxm commented on #601
AH! I see, I see... 😄
yes please, a temporary one, things should be done - thanks

[2017-03-03 14:32] Joomv commented on #601
Your user is now in the translation team user group you should be able to access everything you need now.

[2017-03-03 14:33] Joomv commented on #871
@aDaneInSpain as that site is pretty much abandonware - I think the best is to remove it so as not to jeopardise everything else.

[2017-03-03 14:37] genr8r commented on #154
Hi @MATsxm. Yes, our team made the decision earlier this week to pull the geo-radius search function. The site works well with the default categories and geo was introducing too many challenges.

1. Updates to geo are available but have been conflicting with other aspects of the site.
2. Does anyone really like their browser asking about location every time the page loads?
3. The language sequence

[2017-03-03 14:37] #154 closed

[2017-03-03 14:39] genr8r commented on #582
Resolved per #154

[2017-03-03 14:39] #582 closed

[2017-03-03 17:55] MATsxm commented on #601
nope and has usual with J properties... not even able to log on... WTF I only have probs with J sites 😠 😠 😠

[2017-03-03 19:08] MATsxm commented on #601
the vital changes were made
we could have expected the "official" Team (except Marijke of course) to do the job earlier regarding this page is the second most viewed on the site...
I won't go deeper in the different packs sections as it is not my job!

[2017-03-03 19:08] #601 closed

[2017-03-03 19:10] jeckodevelopment commented on #127
it's done ;)

[2017-03-03 20:13] MATsxm commented on #583
@genr8r please!

[2017-03-03 20:17] MATsxm commented on #578
@helvecio was on it?

[2017-03-03 20:20] MATsxm commented on #593
following #445 and no news for 6 months - closing
reopen if needed

[2017-03-03 20:20] #593 closed

[2017-03-03 20:26] MATsxm commented on #596
as @Sandra97 and I are dealing with those strings and are spending already enough time to correct/integrate "real issues", _Alt_ like _titles_ will stay without the bang for the downloads site.
closing - reopen if needed

[2017-03-03 20:26] #596 closed

[2017-03-03 20:41] MATsxm commented on #802
no answer - old issue
closing -reopen if needed

[2017-03-03 20:41] #802 closed

[2017-03-03 20:42] MATsxm commented on #809
no answer - old issue
closing - reopen if needed

[2017-03-03 20:42] #809 closed

[2017-03-03 20:44] MATsxm commented on #850
closing as solved (above)
reopen if needed

[2017-03-03 20:44] #850 closed

[2017-03-04 08:23] Joomv commented on #847
Hi,
They are all the same width.  The secret key has a helper icon but if you run a straight ruler down the side they are all the same.

[2017-03-04 17:14] franz-wohlkoenig commented on #847
@Joomv as i don't understand really should i close this?

[2017-03-06 11:18] aDaneInSpain commented on #871
So who can remove it? We can't block it from the AdSense side, we have to remove the code.

[2017-03-06 12:16] mbabker commented on #871
Well considering the only person I know who had admin access apparently can't get into the server to remove the spam, I doubt someone has access to modify the template or any other aspect of the global GForge install right now...

[2017-03-08 09:06] sebastienlapoux commented on #750
@genr8r please answer.

[2017-03-08 10:15] sebastienlapoux opened #877 "[jrd] Broken page for https://resources.joomla.org/en/joomla-learning-partners"
Hi @genr8r ,
The page https://resources.joomla.org/en/joomla-learning-partners is broken (css?), just few items displayed.
No mean to list all JLP currently. Not good at all for Certification Program.

Please fix this quickly!
Thanks.
<img width="1440" alt="screen shot 2017-03-08 at 08 45 29" src="https://cloud.githubusercontent.com/assets/13470265/23699731/85805112-03f0-11e7-9594-38063ee0bc6e.png

[2017-03-08 10:19] sebastienlapoux commented on #877
It's the same on some others pages such as Project Management https://resources.joomla.org/en/category/project-management

[2017-03-08 10:24] sebastienlapoux opened #878 "[jrd] is it fair to display on top always same companies?"
Hi,
Due to the fact that all list are ordering alphabetically and that there is a pagination, it's always same companies displayed on top, exemple:
https://resources.joomla.org/en/category/creative-strategy
https://resources.joomla.org/en/category/training-education
https://resources.joomla.org/en/category/technical-support

Is it fair? How it can be improved?

Thanks.

[2017-03-08 10:27] sebastienlapoux opened #879 "[jrd] how to search a company?"
Hi,
Please how to search if a company is listed when we know the company?
How to search all companies from a country?
Thanks.

[2017-03-08 10:29] franz-wohlkoenig commented on #877
Can't confirm:
![bildschirmfoto 2017-03-08 um 11 28 28](https://cloud.githubusercontent.com/assets/8235763/23700213/70a53724-03f2-11e7-8aa1-1f2d3855e933.JPG)

[2017-03-08 10:34] sebastienlapoux opened #880 "[jrd] style issue on logged interface"
We can not read company name or user name on my listings, my profil
![image](https://cloud.githubusercontent.com/assets/13470265/23700476/31112144-03f3-11e7-8303-e6df6c4c0095.png)

[2017-03-08 10:36] sebastienlapoux commented on #877
It has been fixed! I have no more the issue too.
Thanks.

[2017-03-08 10:37] franz-wohlkoenig commented on #877
maybe a cdn-Issue. Close?

[2017-03-08 10:40] sebastienlapoux opened #881 "[jrd] no more able to edit my listing"
When I click on edit
![image](https://cloud.githubusercontent.com/assets/13470265/23700682/da257956-03f3-11e7-88d1-8e4cdf088d2c.png)
No field is displayed
![image](https://cloud.githubusercontent.com/assets/13470265/23700705/f18b5c6e-03f3-11e7-882d-2dea57def434.png)

Thanks.

[2017-03-08 10:42] MATsxm commented on #880
@sebastienlapoux feel like you wanna take the JRD in charge? :wink:
thanks for volunteering </meHide>

[2017-03-08 10:43] sebastienlapoux commented on #881
If I click on edit button from
![image](https://cloud.githubusercontent.com/assets/13470265/23700768/437db544-03f4-11e7-93f8-ccb1c335d48c.png)
I go on
![image](https://cloud.githubusercontent.com/assets/13470265/23700776/4f1edea0-03f4-11e7-838b-aa96bfe1919e.png)

Seems to be the same issue that JLP page

[2017-03-08 10:48] Sandra97 opened #882 "[jrd] Joomla! and not Joomla"
Our registered trademark is "Joomla!" including the exclamation mark. The proper and complete use of our name is WITH the exclamation mark.
https://docs.joomla.org/Joomla:Proper_use_of_the_Joomla!_name

Please add the bang:
![index](https://cloud.githubusercontent.com/assets/4682328/23700928/054a62b4-03cb-11e7-9aab-28f7d7cd5675.png)

Thank you

[2017-03-08 15:23] genr8r commented on #882
done

[2017-03-08 15:23] #882 closed

[2017-03-08 15:37] genr8r commented on #878
@sebastienlapoux we have been working through this concern internally. Zoo does not provide random listing order as an option. We are working to see if we can address that in the short term. Longer term we are laying the groundwork to develop a custom component for the JRD to more effectively handle the listings.

@jeckodevelopment is there somewhere we can push this to feature request as it is no

[2017-03-08 15:40] mbabker commented on #878
This repo works for both issues and feature requests.  We don't have separate tracking for that, best you could do is add a feature request label.

[2017-03-08 15:41] genr8r commented on #877
I am also not able to re-produce the problem.  I will close. Please re-open with steps to reproduce if it recurs.

[2017-03-08 15:44] genr8r commented on #880
Thanks @MATsxm we are definitely looking for volunteers!  I will check the CSS on the bar for your listings @sebastienlapoux

[2017-03-08 15:45] Sandra97 commented on #882
Thank you!

Also, still in this text, shouldn't it be `Joomla! ResourceS Directory` intead of `Joomla! Resource Directory`?

[2017-03-08 15:46] sanderpotjer commented on #878
We recently created a kind of similar directory for a client, see https://www.byte.nl/partners This randomly loads the items, and offering several filtering options.

If the decission is made for a custom component we are happy to offer what we've created for the JRD.

[2017-03-08 15:56] #880 closed

[2017-03-08 16:05] genr8r commented on #881
@sebastienlapoux is this two separate issues?

Where are you finding the Edit Item link? We are using zoo and the default access for editing an item is the small pencil on the right.

Also we have JCE setup as the default editor. Did you override that in your account settings? Or it looks like the page is not completely loaded in your last screenshot.  There is no CSS and the entire Joomla TPL is

[2017-03-08 16:11] genr8r commented on #878
Thank you @mbabker.

@sanderpotjer I really appreciate that. I just started conversations with @aDaneInSpain last week. We were going to have him take point on development after we have a chance to spec out exactly what we want.

I have also been tracking recent conversations about consolidating all of these types of items into a consolidated repo for Joomla projects.  I believe this qualifies as

[2017-03-08 16:17] genr8r commented on #750
My apologies for not hitting this much sooner.  What page created this link? When I browse to your individual listing from the frontend of the site I get...

https://resources.joomla.org/en/item/sebastien-lapoux

[2017-03-08 16:19] genr8r commented on #882
Yes, good catch @Sandra97. This text was resurrected recently when I switched which component was rendering the frontpage.  So, I appreciate the review.

[2017-03-08 16:45] Hils opened #883 "[jrd] Get listed display problem"
https://resources.joomla.org/en/category/design-development/3

The display isn't right! In FF and Chrome latest.

![jrd](https://cloud.githubusercontent.com/assets/736887/23713617/6bcc80e6-041e-11e7-93a8-dea5b3ad0f5b.png)

[2017-03-08 16:53] genr8r commented on #883
Hi @Hils can you please double check? I just loaded your URL from both FF and Chrome without incident.

I think there has been an issue with CSS loading from the CDN for some Joomla propoerties.  It looks like that issue from your screenshot.  If it is related to that item I will have to kick that to higher powers as I don't have any control over how the CSS loads.

[2017-03-08 16:54] Hils opened #884 "[jrd] advert below map"
There is only about 1px, if that, between the advert and the location map at the bottom of a listing page. It is barely OK when it is the usual Artisteer advert but when others appear which don't have a top border, it almost covers the bottom of the map. Because of the randomness of the adverts, I can't 'catch' one non artisteer ad to show you, sorry!
![jrd2](https://cloud.githubusercontent.com/as

[2017-03-08 16:57] genr8r commented on #884
No worries. fixed.

[2017-03-08 16:57] #884 closed

[2017-03-08 16:58] Hils commented on #883
Hello @genr8r you will be pleased to know that the CSS has just kicked back in! I had loaded the page with cleared browser cache many times before posting so I guess it maybe needs watching for a while?
Thanks Brian :)

[2017-03-08 16:59] franz-wohlkoenig commented on #883
@genr8r have tested after @Hils  report and it was loaded like wrote, now works. Siilar Report was yesterday i guess about cdn.

[2017-03-08 17:00] genr8r commented on #883
Thanks for double checking.

[2017-03-08 17:00] #883 closed

[2017-03-09 10:15] sebastienlapoux commented on #881
@genr8r thanks for your feedback.

Like described below with the screenshot, yes by clicking on the edit icon into the dark blue bar (now white bar -> better :-)).
The error is always here.
If you need take the hand on my account by changing the password and send me an email when I can change again my password.

the same on Chrome or Firefox.

[2017-03-09 10:18] sebastienlapoux commented on #878
Thanks. Showcase site has all these features too. SEBLOD natively propose Random or Shuffle or Random + Shuffle.

[2017-03-09 10:23] sebastienlapoux commented on #750
Thanks!
If I click on the https://resources.joomla.org/en/item/sebastien-lapoux and then on edit item link
![image](https://cloud.githubusercontent.com/assets/13470265/23745955/82160592-04ba-11e7-9dcb-5c09057d6b83.png)
I have the message
![image](https://cloud.githubusercontent.com/assets/13470265/23745983/9d5eab9c-04ba-11e7-978a-7e453f23530a.png)

Do you alert the user that some information from

[2017-03-09 10:24] sebastienlapoux commented on #880
Lot better like this
![image](https://cloud.githubusercontent.com/assets/13470265/23746084/f5c0aa42-04ba-11e7-8880-cee38c290ba8.png)

Thanks!

[2017-03-10 21:42] MATsxm opened #885 "[josm] [DISCUSSION] - interest of keeping the OSM site alive?"
We all know that maintaining a site is an expenditure of energy and time not negligible and which, following our philosophy of volunteerism are two things of great value we can not waste.

Now that we are back to the first "vocation" of OSM to hold and protect the name Joomla! (not a decision board), I think that the site http://opensourcematters.org/  is no more intended to exist or if this is th

[2017-03-11 09:52] jeckodevelopment commented on #885
We must keep the "domain name" and at least one page including all the needed information and references for legal reasons.
By the way, this item will be discussed at the first Board Meeting.
Be sure that i don't want to do double work :)

[2017-03-11 11:16] MATsxm commented on #885
Great thanks

I'm really curious to know where, it is writtent that legal stuff **MUST** be on a specific (who and what are criteria to decides the domain name?) domain name that **MUST** be `opensourcematters.org` and that the legal info "needed" (thanks for the text for the legal mentions) can't be on a "legal section" on org?

Anyway, if someone can proove me there's no other choice as they are

[2017-03-11 11:41] jeckodevelopment commented on #885
will do MAT.
I have to go through a lot of documents :)

[2017-03-12 01:55] sam-suresh opened #886 "[joomla.org] No listing of Officers"
It seems no listing of officers in org and OSM site.
However both sites have listing of Board of Directors.

https://www.joomla.org/about-joomla/the-project/leadership-team.html
http://www.opensourcematters.org/about/organization/directors.html

[2017-03-12 01:57] mbabker commented on #886
https://www.joomla.org/about-joomla/the-project/leadership-team.html does list the officers.  If anything, the page/article title is misleading on what is actually included.

[2017-03-12 02:00] sam-suresh commented on #886
Yes. Treasurer is there.
So I guess it better renamed "Joomla! Officers and Board of Director"

[2017-03-12 02:01] Joomv commented on #886
Currently working on the OSM site.  Many duplicated items are being pointed at their proper source bear with me

[2017-03-12 02:03] sam-suresh commented on #886
Thank you Rowan!

[2017-03-12 02:03] #886 closed

[2017-03-12 03:06] Joomv commented on #885
Work has been done to remove the duplicated content.  Those links now point to the main sources on other properties.  The offering on the site has been significantly scaled down with prominent signposting to .org throughout.

Liaison is needed with TM on the remaining legal items.  Minutes and News now point to other sources and are in archive mode.  This is a start.

[2017-03-12 03:07] #847 closed

[2017-03-12 03:09] Joomv commented on #168
Need to sort out the linkage with demo and also conference.  Will sort that in the next few days then return to close.

[2017-03-12 03:09] #844 closed

[2017-03-12 03:09] #630 closed

[2017-03-12 03:10] Joomv commented on #127
Vel was done a while ago unless they have switched it back

[2017-03-12 03:15] Joomv commented on #486
This should be done shortly, will return to close when it is.

[2017-03-12 09:04] jeckodevelopment commented on #885
Thank you Rowan

[2017-03-12 10:09] Sandra97 commented on #886
Note that I updated this page on jorg on March 3rd, just after the name of the VP has been announced. Officers are there since then.
Joomla! Officers are part of the Board of Directors so it does not make sense to me rename it "Joomla! Officers and Board of Director".

[2017-03-12 12:59] Joomv commented on #885
I was thinking about this overnight.  With the site trimmed down and providing either archives or links to the proper content.  I think this is pretty much there apart from some wording needs attention.
I think we should keep the by-laws, financial filings and policy on this site.  I personally have secured discounts and other incentives by directing potential partners to those pages.  When we're

[2017-03-12 13:40] sam-suresh commented on #886
@Sandra97 Thank you for updating that page.

As I can read in ByLaws;
J. “Director” means a Department Coordinator (as defined in Sections 3.01(C) and
5.01)

S. “Officers” means the President, Vice President, Secretary and Treasurer (as
defined in Section 6.01).

So it make sense to have have renamed or at least have officers then board of directors unless you have a reason behind the ordering you

[2017-03-12 15:00] Sandra97 commented on #886
So it means this picture posted for each announcement is giving false information:
![index](https://cloud.githubusercontent.com/assets/4682328/23832788/ade29bf4-0712-11e7-8c8d-689d73af4dcf.png)
as well as the announcements
"The Officers sit on the Board of Directors""
"The Department Coordinator Team Leaders sit on the Board of Directors "

[2017-03-13 11:36] brianteeman opened #887 "[forum.joomla.org] recaptcha"
I cant log in to the forum as it says I must complete the captcha but no captcha is displayed

<img width="932" alt="screenshotr11-35-37" src="https://cloud.githubusercontent.com/assets/1296369/23852761/4a7925ea-07e1-11e7-8ad9-223e895e5b2c.png">

[2017-03-13 11:43] zero-24 commented on #887
Works for me:
![image](https://cloud.githubusercontent.com/assets/2596554/23852930/959a04dc-07ea-11e7-937d-03f381588a48.png)

Can you try again?

[2017-03-13 11:47] MATsxm commented on #887
@ooffick - thanks

[2017-03-13 11:48] brianteeman commented on #887
i tried 5 times in chrome for windows with no joy

just tried in Edge and it worked

Weird

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On 13 March 2017

[2017-03-13 11:55] zero-24 commented on #887
hmm i have also no Problem in Chrome + Windows 10.

[2017-03-13 11:56] ooffick commented on #887
Hi Brian,

Can you try again to see if that makes a difference for your Chrome?

Kind Regards
Olaf

[2017-03-13 12:02] ooffick commented on #863
This is fixed now

[2017-03-13 12:08] brianteeman commented on #887
Not sure how i can force it to display the recaptcha again?

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On 13 March 2017 at 11:56, ooffick <notification

[2017-03-13 12:19] #863 closed

[2017-03-13 12:19] jeckodevelopment commented on #863
Thanks

[2017-03-13 12:55] zero-24 commented on #863
:+1: @ooffick

[2017-03-13 12:56] zero-24 commented on #887
@brianteeman just try to login with a random account and PW. as it is wrong the captcha comes to you :)

[2017-03-13 13:09] brianteeman commented on #887
it appears now - can be closed

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On 13 March 2017 at 12:56, zero-24 <notifications@github.com> wrote:

--
Bria

[2017-03-13 13:14] MATsxm commented on #887
closed on demand

[2017-03-13 13:14] #887 closed

[2017-03-13 20:59] mbabker commented on #856
Punchlist:

- [ ] Move https://developer.joomla.org/cms/contribute.html to https://developer.joomla.org/contribute.html (this is the JCA page, it's not specific to any single aspect of Joomla)
- [ ] Update https://developer.joomla.org/cms/roadmap.html (there needs to be one canonical source for this info, I know there's a page on the docs wiki too)
- [ ] Move https://developer.joomla.org/cms/devel

[2017-03-13 22:08] Joomv commented on #127
joom.la redirects to JCM this is the last on the list @MATsxm  - I think this can close now.

[2017-03-13 22:09] #732 closed

[2017-03-13 22:12] Sandra97 commented on #856
For the Framework, we could already redirect:

- https://developer.joomla.org/framework/contribute.html -> https://framework.joomla.org/contribute
- https://developer.joomla.org/framework/support.html -> https://framework.joomla.org/#involved
- https://developer.joomla.org/framework/downloads.html -> https://framework.joomla.org/#go

For https://developer.joomla.org/framework/report-an-issue.html

[2017-03-13 22:19] MATsxm commented on #127
WOOHOO!
Thanks @Joomv
closing - reopen if needed

[2017-03-13 22:19] #127 closed

[2017-03-13 22:22] brianteeman opened #888 "joom.la"
You need to update ASAP the yourls software to 1.7.1 and make sure it is  on https by adding the following line in the config

Not posting why in public ;)

[2017-03-13 22:31] Joomv commented on #888
@Radek-Suski

[2017-03-13 22:40] mbabker commented on #856
The GitHub link is https://github.com/joomla-framework (that's the best link to give, each individual package has its own issues/PRs, there isn't a single repo to direct to)

[2017-03-13 22:53] Sandra97 commented on #856
Link added.

[2017-03-14 08:33] Radek-Suski commented on #888
Thanks. Updated to 1.7.1
I can't however force SSL for two reasons; we do not have SSL certificate for this domain and which is worse, for some reason when you try to access joom.la through 443 you are being redirected to cjo. I have no idea why,

[2017-03-14 09:04] brianteeman commented on #888
I strongly recommend that the ssl issue is resolved. (again not posting exact details in public)

[2017-03-14 19:33] Joomv commented on #888
It will be.  I am sorting out a lets encrypt license.
48 hours tops.

[2017-03-14 19:39] brianteeman commented on #888
good luck with 48 hours (again not posting why its so urgent in public)

[2017-03-15 12:25] Joomv commented on #888
License is sorted waiting in engineer queue for it to be applied to the server.  Should still be within the 48 hour timeframe.

@Radek-Suski  non www i.e. http://joom.la renders fine.  www.joom.la redirects to the magazine - could there be a url in the db doing this?  Do you have access to the domain provider if not do you know who does?  This domain needs bringing into the master domain account.

[2017-03-15 13:03] brianteeman commented on #888
i really would push them hard to reduce that timescale

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On 15 March 2017 at 12:25, Rowan Hoskyns Abrahall <no

[2017-03-15 16:21] Joomv commented on #888
@Radek-Suski Lets Encrypt is now available in the cpanel for joom.la - I can confirm it is working on the server as have installed one for OSM without issue.  If you need any help applying it ping me.

[2017-03-15 16:26] Joomv commented on #486
This is done!

[2017-03-15 16:26] #486 closed

[2017-03-15 16:26] Joomv commented on #231
OpenSource Matters - is now serving SSL.

[2017-03-15 17:56] Joomv commented on #888
I've gone ahead and just done this.
SSL Cert installed.
SSL Switches added.
Other stuff from their wiki added to htaccess to also tighten things.
All urls and admin interface appear to be working normally.
Closing.

[2017-03-15 17:56] #888 closed

[2017-03-15 17:58] brianteeman commented on #888
thank you for upgrading the timescale - i can now inform those that cannot
be mentioned that it has been done

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

[2017-03-16 06:50] franz-wohlkoenig opened #889 "[jorg] Feed not found"
![bildschirmfoto 2017-03-16 um 07 49 43](https://cloud.githubusercontent.com/assets/8235763/23985076/416066c4-0a1d-11e7-9ac7-661f3266d8b8.JPG)

[2017-03-16 06:59] sanderpotjer commented on #889
Looks like they are back:
<img width="1085" alt="screen shot 2017-03-16 at 07 58 10" src="https://cloud.githubusercontent.com/assets/522834/23985267/60273fc8-0a1e-11e7-8e37-0e4f005cc5e7.png">

[2017-03-16 07:16] franz-wohlkoenig commented on #889
not on my Side. Propably CDN-Issue.

[2017-03-16 10:16] Sandra97 commented on #889
They are displayed for me.
@franz-wohlkoenig Could you tell me if it's ok or not for you?
If yes, please close this issue.
Thank you.

[2017-03-16 10:36] jeckodevelopment commented on #889
same issue here from Slovakia.

[2017-03-16 10:40] Sandra97 commented on #889
@jeckodevelopment Could you check again now?

[2017-03-16 10:44] jeckodevelopment commented on #889
it works now, thanks

[2017-03-16 10:53] franz-wohlkoenig commented on #889
works again.

[2017-03-16 11:47] Radek-Suski commented on #888
Thanks @Joomv for jumping in.

[2017-03-16 11:58] franz-wohlkoenig commented on #889
"Feed not found" again.

[2017-03-16 12:04] mbabker commented on #889
The only thing that's ever a CDN issue is template media, the sites themselves aren't served behind a CDN (architecturally we aren't at a point where this needs to be hooked up).  The feeds do get cached though, the same as all other content on the site.  For whatever reason though, seems that server/site is having a hard time connecting over to the other subdomains to pull the feeds (it's working

[2017-03-16 12:23] franz-wohlkoenig commented on #889
@mbabker close and no more reporting?

[2017-03-16 14:17] franz-wohlkoenig opened #890 "[jorg] No Authors Picture in Feed"
In News-Feed Authors-Picture is a joomla-Logo:
![bildschirmfoto 2017-03-16 um 15 15 53](https://cloud.githubusercontent.com/assets/8235763/24000457/92c9f1e0-0a5b-11e7-8db9-d5ed8424dd90.JPG)
In Report Authors-Picture is shown:
![bildschirmfoto 2017-03-16 um 15 16 04](https://cloud.githubusercontent.com/assets/8235763/24000488/a43b680a-0a5b-11e7-87fe-714b530dd741.JPG)

[2017-03-16 14:19] mbabker commented on #890
This is a user option in the volunteer portal.  As it requires the user exposing their email in the RSS feed which is used to fetch their avatar from Gravatar.  FWIW, the avatars go away on the redesigned homepage.

![screen shot 2017-03-16 at 9 18 44 am](https://cloud.githubusercontent.com/assets/368545/24000574/957b6cde-0a29-11e7-88cd-b81111c63828.png)

[2017-03-16 14:20] franz-wohlkoenig commented on #890
thanks for Info @mbabker

[2017-03-16 14:20] #890 closed

[2017-03-16 14:55] sanderpotjer commented on #890
And for volunteers that don't have the option set to allowed do see a notice when posting a report.

[2017-03-17 07:38] franz-wohlkoenig opened #891 "[jorg] Broken Link in "The next version of Joomla! is just around the corner""
at the End of Article https://www.joomla.org/announcements/release-news/5699-the-next-version-of-joomla-is-just-around-the-corner.html is:

We have a wide range of teaser imagery available for sharing, which can be found here, as well as a teaser video **here**.

The Link for "here" is broken.

[2017-03-17 07:41] AlexRed commented on #891
I can confirm the problem

[2017-03-17 07:43] Joomv commented on #891
This has been fixed

[2017-03-17 07:44] #891 closed

[2017-03-17 07:53] franz-wohlkoenig commented on #891
thanks @Joomv

[2017-03-17 17:22] mbabker commented on #871
We've reacquired access into the server.  I'm still trying to find my way around the system, but I've managed to find the base template file and comment out the loading of the AdSense JavaScript in the head, so ads are no longer loading into the site.

[2017-03-17 18:11] mbabker commented on #871
Managed to elevate my user account to a site admin.  Deleted the spam content.

Closing, task complete.

[2017-03-17 18:11] #871 closed

[2017-03-17 18:30] Sandra97 commented on #889
As it seems the feeds are now correctly displayed, I'm closing this issue.
Re-open if needed.

[2017-03-17 18:47] mbabker opened #892 "[jcode] Implement Redirects in PHP"
We've tried and failed to implement redirects for the Joomla project on the site over to the new sources.  So, we're going to have to do this within the application using PHP, unless someone gets smart on that hunk of crap architecture.

The basic needs are for the trackers and downloads:

[code]

https://docs.google.com/spreadsheets/d/11eqHWrY69YC4gPUBZr8OFdJl0XVStyjcAmmv3tET6c8/edit?usp=sharing

[2017-03-18 02:28] sam-suresh commented on #889
Feeds not found here from Asia.
![screen shot 2017-03-18 at 10 27 38 am](https://cloud.githubusercontent.com/assets/5198092/24068269/97231eea-0bc5-11e7-8c82-616c7fd555c5.png)

[2017-03-18 03:15] mbabker commented on #889
The location does not matter.  The site content itself does not differ based on location nor is it served over a CDN, the only things on the CDN are the base template CSS and a few images.

This issue does not need to be opened and closed every time the "Feed not found." message is displayed.  Either keep it open and someone do a root cause analysis why it is reoccurring or close it and keep it cl

[2017-03-18 03:26] sam-suresh commented on #889
I can see its loading now.
I agree to keep this open until someone find the cause or it stop occurs.

[2017-03-18 03:52] zero-24 commented on #889
What about adding logging here: https://github.com/joomla/joomla-cms/blob/3.6.5/modules/mod_feed/helper.php#L41 As this are the two places where this is set.

Maybe the expection message can help to understand what is hapening if we write it to a log file?

[2017-03-18 08:20] ssnobben opened #893 "[joomla.org] Feed not found."
HI

on Joomla front page the Feeds is missing here:

This is what missing:

Volunteer Reports
Feed not found.

Leadership Blog
Feed not found.

Community News
Feed not found

This have happened 2 times now so better check up whats the error cause..

Cheers!

[2017-03-18 08:22] ssnobben commented on #893
Hmmm after a cache refresh I got it to work som it seems to be something from old cache issues then..

So close this if it work for others..

[2017-03-18 10:40] franz-wohlkoenig commented on #893
Known Issue #889

[2017-03-18 10:42] Sandra97 commented on #893
Closing this issue as it's a duplicate

[2017-03-18 10:42] #893 closed

[2017-03-18 10:54] franz-wohlkoenig commented on #889
Feed "Developer News" is always found. Whats the Difference to other 3 Feeds?

[2017-03-18 11:10] Sandra97 commented on #889
The 4 feeds are set up in the same way on jorg.

[2017-03-18 11:58] mbabker commented on #889
The developer subdomain is on a different server than the other two subdomains (www is on yet another server separate from those).

[2017-03-18 12:00] Joomv commented on #889
Leave it open and I will have a thwack at it over the weekend

On Sat, Mar 18, 2017 at 12:58 PM +0100, "Michael Babker" <notifications@github.com> wrote:

The developer subdomain is on a different server than the other two subdomains (www is on yet another server separate from those).

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitH

[2017-03-19 17:45] mbabker commented on #889
The Exception's message is "SSL connect error".

[2017-03-19 18:08] mbabker commented on #874
Seeded the repo with the main site's custom stuff.  Will do `/3` after the 3.7 page launches.

[2017-03-19 18:48] brianteeman opened #894 "[jcomm] JET form"
We are going to publish a list of all selected recognised community members and we your permission for it.

==>
We are going to publish a list of all selected ~~recognised~~ community members and we **need** your permission for it.

[2017-03-19 20:56] Joomv commented on #894
Will sort in a couple of hours thanks for the spot

[2017-03-20 09:21] Joomv commented on #894
Done

[2017-03-20 09:21] #894 closed

[2017-03-20 20:55] chavab1 opened #895 "A ban has been issued on your IP address[jcomm]"
I'm new to Joomla! and I'm trying to register for the developer forums. I've tried a couple of times to register with my work email address but I keep on getting denied with the reason being that my email address in the Spam database. I assure you that I am not a spammer. I work for a non-profit national organizations. Our organizations has several Joomla! sites that I now must maintain. I tried l

[2017-03-20 22:12] MATsxm commented on #895
@ooffick ? - thanks

[2017-03-20 23:01] brianteeman opened #896 "[jdocs] SSL-Docs"
What are SSL Docs - visible in the search results. Seems to be the same as Documentation but the number of results is different so there must be a hidden difference

<img width="372" alt="screenshotr23-00-09" src="https://cloud.githubusercontent.com/assets/1296369/24125535/0ed4d882-0dc1-11e7-8f20-0076830420c3.png">

[2017-03-21 06:02] ooffick commented on #895
Hi,

Would you mind filling out the following form :

https://community.joomla.org/helpdesk/forum-un-ban-request.html

Thanks.

Kind regards
Olaf

[2017-03-21 18:37] mbabker opened #897 "[jdev] Roadmap/Project Dashboard"
Replace https://docs.joomla.org/Joomla_CMS_Development_Roadmap and https://developer.joomla.org/cms/roadmap.html with a single canonical roadmap source.

This should become a dashboard type system that can be used to indicate items in different phases (planning, development, testing, etc.), show team(s) working on items, have some sort of loose timeline mapping releases to dates, show the release

[2017-03-21 18:44] nibra commented on #897
Would be a perfect home for the RfCs (currently working on a procedure proposal).

[2017-03-21 19:49] Sandra97 commented on #897
Temporary page for updating the roadmap:
https://docs.joomla.org/User:Sandra97/roadmap

Anyone is invited to edit, update this page and help providing clear information.
It's currently just a draft.
When ready, the content will be merged on JDocs or Dev, and this page will be deleted.

[2017-03-23 03:31] mbabker commented on #897
I've gone through Sandra's page and given it some structure, basically the very high level things I think we should be communicating at a minimum (doesn't necessarily need to be this verbose or repeated in some cases, but hopefully the general idea is conveyed).  We can worry about looks and content next; looks is going to be dependent on our Bootstrap template versus the one in use on the wiki an

[2017-03-23 11:39] aDaneInSpain opened #898 "[jconf] https://conference.joomla.org/venue gives too many redirects"
Attempting to access https://conference.joomla.org/venue returns an error of too many redirects

[2017-03-23 13:05] Warolf opened #899 "[jforum] Log issue"
Hi,

I have a account in the https://forum.joomla.org/ but when i try to login ou rest it say that it does not exist but if i create whit the same user and e-mail it say that the account exist.

[2017-03-23 13:17] Joomv commented on #898
Bear with me on this, I need to strip it out.  Design starts next week, I have trimmed down the elements and fixed this issue alongside hiding some other menu items.  Thanks for spotting this.
Rowan

[2017-03-23 13:17] #898 closed

[2017-03-23 13:27] MATsxm commented on #899
@ooffick ? - thanks

[2017-03-23 13:39] ooffick commented on #899
Hi Warolf,

Would you mind submitting the following form:
https://community.joomla.org/helpdesk/forum-un-ban-request.html

I say you have to choose a different username as the one you have chosen already exists, but I can give you more feedback once I know your username, email address and IP address. So your best option is to fill out the form.

Kind Regards
Olaf

[2017-03-23 13:43] MATsxm commented on #899
thanks... I will add this then to my auto-responder ;)

[2017-03-23 14:24] MATsxm commented on #899
closing - reopen if needed

[2017-03-23 14:24] #899 closed

[2017-03-23 15:38] mbabker commented on #856
One more simple item.  I think the homepage uses one of the articles modules to show the latest news and the top block is a single article.  Let's either turn this into a category blog view and have the three product boxes be a custom module so we have an "adequately" cached component view or at least change the module to not use sliders and probably limit it to the latest 2 or 3 news items (also,

[2017-03-23 15:45] Sandra97 commented on #856
I don't like the accordions. Keeping the 2/3 last news is enough. Agree for a title. And I wanted to try to improve also the look of the top 3 blocks, they are really not nice.
I'll look at it as soon as you'll keep me less busy ;)

[2017-03-23 15:46] mbabker commented on #856
Well, the intent isn't just for you to do all the busy work 😉

[2017-03-23 15:48] Sandra97 commented on #856
But the end... Well, you know

[2017-03-24 00:12] Hutchy68 commented on #896
SSL - Docs was a way to force CSE and then track population the links when we went from http to https only. Any differences could be from filtering. I removed it and made other tweaks.

[2017-03-24 09:21] brianteeman commented on #896
Closing

[2017-03-24 09:21] #896 closed

[2017-03-24 18:33] CreateWebNZ opened #900 "[jdocs]"
On the page: https://docs.joomla.org/Supporting_plugins_in_your_component the link:  https://api.joomla.org/Joomla-Platform/Plugin/JPlugin.html in the paragraph "Joomla! Observer Implementation" is dead (404)

[2017-03-24 19:30] Sandra97 commented on #900
JDocs is a wiki, so feel free to edit the page and correct this dead link.
Thank you!

[2017-03-25 22:15] richardh9935 opened #901 "[jdocs] View did not respond to browser window size"
Using  Safari 10.0.3 (12602.4.8), the Jdocs page did not respond to the window size.

When zoomed a very long way out, the menu occupies one row and the search bar occupies the next.  At that zoom, almost 50% of the screen width is not used.  (And I can't read the text easily.)

When zoomed in, the menu occupies two rows and obscures the search bar.
![joomla docs menu zoomed out](https://cloud.git

[2017-03-26 01:43] Hutchy68 commented on #901
Sorry, I can't replicate this on any other browser, Chrome, Firefox, Opera, or IE. It might be a Safari specific issue. Please verify the issue persists in Chrome or Firefox. There is a small window of about 10px where the overlap will occur because of a breakpoint vs long menu bar at top.

If it is Safari only related or in that really small breakpoint window, this reported issue would be a "wont

[2017-03-26 02:38] richardh9935 commented on #901
Agree it works better on Chrome.

OK to mark "Wontfix" & close.

On Sun, 26 Mar 2017 at 12:43 Tom Hutchison <notifications@github.com> wrote:

--
richard horobin.

[2017-03-26 11:09] MATsxm commented on #901
Closed as requested - thanks

[2017-03-26 11:09] #901 closed

[2017-03-26 13:56] jeckodevelopment opened #902 "[jorg] Too much white space before the CTA"
The sponsorship page has a long white space before the CTA to apply as Sponsor
https://www.joomla.org/sponsor.html

I guess we can reduce the space between the note and the button.

![sponsorship](https://cloud.githubusercontent.com/assets/733133/24331845/bba8b2d4-123c-11e7-9cc0-670bc6b6820c.PNG)

[2017-03-26 15:01] Sandra97 commented on #902
It wasn't a problem of too much blank space but a background image not displayed.
It's corrected now.
Please check.

[2017-03-26 15:56] mbabker opened #903 "[joom.la] Short URLs not being generated"
None of the sites using the social sharing plugin are getting short URLs back, so the sharing actions have the full page URLs.

[2017-03-26 16:19] zero-24 commented on #903
Did the plugin switched to HTTPS? Iirc there was a change like this?

[2017-03-26 16:20] mbabker commented on #903
Shouldn't matter because a properly configured server would redirect the request from HTTP to HTTPS.

Yes, the config is updated at least on the dev site to explicitly use HTTPS and that still is busted.

[2017-03-26 16:21] zero-24 commented on #903
Thanks for checking 👍  it was just my first idea.

[2017-03-26 16:46] jeckodevelopment commented on #902
thank you

[2017-03-26 16:49] jeckodevelopment opened #904 "[jdev] Issues with blog post images"
The image should be resized when displayed in two columns layout

![jdev](https://cloud.githubusercontent.com/assets/733133/24333250/e48e9ff2-1254-11e7-92c7-f7992b4eced1.PNG)

[2017-03-26 16:52] Sandra97 commented on #904
I can't reproduce. Clean your cache Luca, it should solved the issue

[2017-03-26 17:54] Hutchy68 commented on #868
Since no one answered me... I made the following adjustments.

- all API pages are now locked from editing unless you are a sysop
- updated message at top... It exists only as a historical reference, it will not be improved and its content may be incomplete and/or contain broken links. Even made it orange for @wilsonge
- all transclusions into those pages have been subst with hard text so they are

[2017-03-26 17:56] Sandra97 commented on #868
Thank you Tom!!! The orange notice is great ;)
I'm closing this issue.
Re-open if needed.

[2017-03-26 17:56] #868 closed

[2017-03-26 18:11] Hutchy68 commented on #900
Fixed

[2017-03-26 18:11] #900 closed

[2017-03-26 20:22] Hutchy68 commented on #303
https://docs.joomla.org/Joomla:The_Joomla_Websites

Transformation from Desktop to Mobile views.

**Desktop**

![capturereportjwebsitedesktop](https://cloud.githubusercontent.com/assets/3527469/24334837/fb1e9552-123f-11e7-98f0-cdf5da162667.PNG)

**Mobile**

![capturereportjwebsitemobile](https://cloud.githubusercontent.com/assets/3527469/24334840/07fc37c0-1240-11e7-823a-8266fa30cbba.PNG)

[2017-03-26 20:36] Sandra97 commented on #303
Thank you Tom!!!

[2017-03-26 20:45] Sandra97 commented on #303
Display on my phone is perfect!

[2017-03-27 10:32] brianteeman opened #905 "[joomla.org] Team News"
On the Joomla.org home page select News
At the bottom you will see links to three categories

<img width="576" alt="screenshotr11-30-48" src="https://cloud.githubusercontent.com/assets/1296369/24352293/e8aebf90-12e0-11e7-81d8-8bade21a9338.png">

The most recent article in the Team category is from **2008**

[2017-03-27 11:04] Sandra97 commented on #905
I know :(
One thing I could do would be to merge them into General News and manage the 404.
If anyone has a better suggestion, don't hesitate

[2017-03-27 11:25] franz-wohlkoenig commented on #905
@Sandra97 the Split in 3 different Categories isn't neccessary.

[2017-03-27 11:34] mbabker commented on #905
We can't just completely drop the three subcategories.  It would completely kill the rankings for .org to have that much content redirect.

The only person that was presumably around when the site was set up was Brian.  And at that point the team were using that area for personnel announcements.  Obviously the number of subdomains has blown up since then and that category isn't used anymore.  I tr

[2017-03-27 11:39] mbabker commented on #905
All of the articles are archived and the news menu item configured to not show empty subcategories, effectively hiding that category from navigation without breaking anything.

Considering this fixed.

[2017-03-27 11:39] #905 closed

[2017-03-27 11:46] Radek-Suski commented on #903
The site redirects to https but AFAIR it (redirects) won't be supported by the plugin. Apparently also the token has been changed after latest update (face palm).
I am sending the new token in webmaster team

[2017-03-27 12:18] Sandra97 commented on #903
Updated on jorg, repo, repo/3, all good on these ones.
Done also on /3 but it doesn't work.

[2017-03-27 13:56] #904 closed

[2017-03-27 13:56] jeckodevelopment commented on #904
Thanks

[2017-03-27 15:51] sebastienlapoux commented on #877
![image](https://cloud.githubusercontent.com/assets/13470265/24365267/a593a92a-1315-11e7-917b-e2488898e804.png)
Always the same, even if using incognito windows on Chrome. Same on chrome, firefox, safari (wifi). Same on smartphone with 4g connection.

[2017-03-27 15:52] Sandra97 commented on #877
I can confirm, same issue for me
Note that the <head> is totally empty

[2017-03-27 16:56] Hutchy68 commented on #877
[code]

[2017-03-27 17:30] Sandra97 opened #906 "[jdown] Bottom ads not displayed anymore"
Hello!
The bottom ads is not displayed anymore on the homepage of the Downloads site.
@aDaneInSpain could you take a look at this please?

[2017-03-27 17:34] mbabker commented on #906
It's still working.  Just "funny".

I've seen a bunch of "advertise here" ads the last week.  Just now on one of four requests I got an ad.

[2017-03-27 17:40] Sandra97 commented on #906
I noticed it on other properties too.
The ad is displayed sometimes for me too.

[2017-03-27 19:10] Joomv commented on #889
Could everyone who experienced this please check now?  It looks like this has been fixed, but would love more reports from the wild to confirm.  Thanks

[2017-03-27 19:15] Sandra97 commented on #889
I didn't have the issue in the last couple of days.

[2017-03-27 19:25] Hutchy68 commented on #906
because when ads display they have valid returning json

[code]

and when they don't it is because the json returning is invalid

[code]

[2017-03-27 19:29] Joomv commented on #889
@franz-wohlkoenig @zero-24 @jeckodevelopment @sanderpotjer @sam-suresh

Could you please let me know too?  I have left the ticket with Rochen open until I have several confirmations.
Thanks

[2017-03-27 20:01] sanderpotjer commented on #889
@joomv never had the issue, so can't check. Sorry :)

[2017-03-27 22:32] brianteeman opened #907 "[forum.joomla.org] Breadcrumbs"
As you can see the breadcrumbs are being truncated which makes them useless

I am not much of a css expert but it looks like its related to the breadcrumbs class

<img width="562" alt="screenshotr23-31-34" src="https://cloud.githubusercontent.com/assets/1296369/24380927/a2dc09fe-1345-11e7-995b-69fad0bcb31a.png">

[2017-03-27 23:04] sam-suresh commented on #889
All loading now

[2017-03-28 03:13] Sandra97 commented on #649
As we don't have any release with just one download, I think we can consider this issue as solved.
Closing it.
Re-open if needed.

[2017-03-28 03:13] #649 closed

[2017-03-28 05:44] franz-wohlkoenig commented on #889
in last 3-4 days had it several Times, minimum 1 time a Day. Not now.

[2017-03-28 07:19] Joomv commented on #889
Thanks everyone.  Going to close this now.

[2017-03-28 07:19] #889 closed

[2017-03-28 10:26] aDaneInSpain commented on #906
The ads are served through BuySellAds. I will get them involved to figure out what is going on.

[2017-03-28 14:59] chrsm commented on #906
Hi folks - Chris from BuySellAds here.

Can you paste the entire output you get when you see invalid JSON? Pastebin or a gist would work great.

I've disabled the "advertise here" ads for your site (it's a setting on each zone), so you should no longer see them in a few minutes.

Thanks,
Chris

[2017-03-28 15:23] Hutchy68 commented on #906
no ad resource link

https://srv.buysellads.com/ads/get/ids/CVAIKK7E/?r=1490713200000

[code]

[2017-03-28 15:55] chrsm commented on #906
Thanks, Hutchy. Sometimes our system takes a bit longer to get things pushed - from the serving percentages, I can say that we should no longer be seeing "advertise here" banners.

If you do continue to see these, please let me know.

[2017-03-28 16:02] presona100 opened #908 "[joomla.org]"
www.presonatravel.com

the host for my website  123-reg.co.uk has reported the following

Dear david,

I am writing to advise you that your site has been hacked to host malicious content that is sending spam through our servers.  We take such incidents very seriously as they can not only affect your own account but can also affect other accounts on the same server by resulting in its IP address be

[2017-03-28 16:56] jeckodevelopment commented on #908
Hi,
This repository is ONLY for reporting issues with the *.joomla.org websites, not the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page
-https://issues.joomla.org/

Regards,
Thanks

[2017-03-28 16:56] #908 closed

[2017-03-29 11:39] ghost opened #909 "[jorg]"
please update the release date for joomla 3.7 in "road to joomla 3.7"-document

https://www.joomla.org/announcements/release-news/5692-road-to-joomla-3-7.html

[2017-03-29 12:02] Sandra97 commented on #909
We don't edit already published article (except of course any typo or broken link). It was the scheduled release date when the article has been published last November.
Even if the dates are not valid anymore, I don't think it's a good idea to apply changes in published articles.

[2017-03-29 12:14] dneukirchen commented on #909
Perhaps a small update below the text (with a link to the Statement about the router) would be good in this case. We dont have to change the text.

I agree with sandra, but this is an important information for many users and companies and we should keep them up2date.

[code]

[2017-03-29 12:25] genr8r opened #910 "old joomlacode links are broken"
The links in the
Joomla 1.5 > File Upload Security Patch
are pointing to joomlacode (broken)

https://docs.joomla.org/Security_hotfixes_for_Joomla_EOL_versions

I would have used the wiki to update or correct them, but I am not sure where the links should be pointing and if the security patch in question is still needed (I am guessing yes) or available.

[2017-03-29 12:42] zero-24 commented on #910
What about linking to: https://github.com/PhilETaylor/Joomla1.5.999/commit/0f795894aa10e78a430a83591ed4a1b3f1df677c and
https://github.com/PhilETaylor/Joomla1.5.999/commit/8328ddb5068d951d21e8d5449167a36dcf40c5fd

?

[2017-03-29 12:48] mbabker commented on #910
The wiki can point to that, we aren't issuing official releases.

See https://github.com/joomla/joomla-websites/issues/892 for the broken links thing.  That server is such a hunk of crap it's pretty much impossible to do anything with it in the Apache config for some reason.  Sad face.

[2017-03-29 12:51] mbabker commented on #909
It does not need an update banner.  It should have been published with our standard notice about release dates being subject to change.  Add that to the text and it is fine.  Otherwise we find ourselves editing every date on every blog post every time something slips.

[2017-03-29 13:54] laoneo commented on #909
IMO it is absolutely valid to add update notices for old posts as long as it is clearly marked. It doesn't mean we always have to scan all posts, but when we get a hint from some community members, we should listen to them.

[2017-03-29 13:57] brianteeman commented on #909
Not as if Joomla doesnt have the functionality to display a modified date on the article by default ;)

[2017-03-29 13:57] mbabker commented on #909
It is supposed to always be said in these types of posts that the timelines are not final.  That simple statement (quoted above) eliminates the need for someone to go back in and add update notices to old posts.  Otherwise we basically need to have a full time content manager for the websites.

If we'd do the job right the first time we wouldn't be having this discussion at all.

[2017-03-29 14:03] ot2sen commented on #909
Wouldn´t take much effort to post a brand new blog item with revised
schedule. Then people know and all are happy.
Better than a 50 arguments pro/con thread here :)

On Wed, Mar 29, 2017 at 3:57 PM, Michael Babker <notifications@github.com>
wrote:

[2017-03-29 14:07] mbabker commented on #909
Part of what we're doing with https://github.com/joomla/joomla-websites/issues/897 (which should have the first version published over the weekend) is making the roadmap page the canonical source for this type of information.  So even if a blog post with static dates does get out of sync, at that point all that would need to be said is "note, this schedule is subject to change, see the project roa

[2017-03-29 14:08] ahz66 commented on #909
Michael, just try:

https://www.google.de/search?q=joomla+3.7+release+date&ie=utf-8&oe=utf-8&client=firefox-b&gfe_rd=cr&ei=u7_bWJPNEYzb8Aeqy4GYDg

[2017-03-29 14:10] mbabker commented on #909
I've never seen Google do that kind of rich snippet before.  Even if the article were edited, that doesn't necessarily mean the snippet gets updated in a timely manner, or that the first result has something useful.

Out of curiosity, your -1 reaction on my last comment is for?

[2017-03-29 14:14] ahz66 commented on #909
my reaction is my opinion. if i use google to find out more about the release date of joomla! 3.7 -> i get the document, mentioned in the initial post. i will not search for articles and posts on other websites/blogs/whatever.

If you think: having wrong statements on the official website is the right way... go ahead with it, but dont expect supoort from people like me.

[2017-03-29 14:17] mbabker commented on #909
I'm not saying we should have wrong statements.  I'm saying that the blog post is a reflection of the plan as of the time it was published and that there should be a note saying "it may change" included in any post that has a timeline.  We don't have the resources to go into every post that has a timeline for every release and change it so it always lines up with whatever is happening in real time

[2017-03-29 14:22] mbabker commented on #909
The blog post is a reflection of how things were at the time it was published.  Things have changed.  Those changes should be reflected somewhere.  Preferably, in a living resource that contains the most up-to-date information.  We don't have that type of resource right now, we will this weekend.

I personally am not a fan of revising static texts after they're published.  If that page were the ma

[2017-03-29 14:27] dneukirchen commented on #909
Lets just add a 1-liner and everyone is happy (like a suggested ~100.000 words above).

That does not mean that anybody needs to update or scan older posts for the rest of his life and its not worth the bytes (and time) we spent here...

[2017-03-29 14:47] franz-wohlkoenig commented on #909
@mbabker 's solution start next Weekend, in the Meantime take @dneukirchen 's 1liner.

[2017-03-29 14:58] franz-wohlkoenig opened #911 "[josm] Joomla! currently powers 7.1% of content managed websites."
I guess we take Numbers by [https://w3techs.com/technologies/overview/content_management/all](https://w3techs.com)

If so, the Number drops to 7.0. I know this can change tomorrow, so we maybe write like "around 7%".

[2017-03-29 15:16] Joomv commented on #911
Done on OSM

[2017-03-29 15:16] #911 closed

[2017-03-30 09:46] dneukirchen commented on #909
[![Asterix: Public Services spoof (Obtaining Permit)](https://img.youtube.com/vi/TM9xZSJO4is/0.jpg)](https://www.youtube.com/watch?v=TM9xZSJO4is)

[2017-03-31 15:07] mbabker commented on #897
New page published.  We can work on it in iteration for continual improvements.

[2017-03-31 15:07] #897 closed

[2017-04-02 13:23] Sandra97 commented on #906
Ad is now correctly displayed since the last days.
Closing this issue.
Re-open if needed.

[2017-04-02 13:23] #906 closed

[2017-04-02 13:39] Sandra97 commented on #903
org, /3, repo, dev, cjo = works as expected.
Not working on VP, I told Sander.

[2017-04-02 13:53] Sandra97 commented on #303
Closing this issue as the table is responsive.
Re-open if needed.

[2017-04-02 13:53] #303 closed

[2017-04-02 13:54] Sandra97 commented on #6
For information, Armen is working on it. So we should be able to update this embarrassing page soon.

[2017-04-03 11:41] franz-wohlkoenig opened #912 "[jdocs] Bug_Tracking_Process isn't uptodate"
For Example:

- Article talks about "Open", "Open/New"-Status, shown in Tracker-Dropdown is "New".
- "Change status to Unable to confirm", Dropdown shows "Unconfirmed Report"

[2017-04-03 12:17] Sandra97 commented on #912
Hi Franz,
You didn't mention which page ;)
Anyway, if you see anything which needs to be updated, feel free to make the changes yourself. It's a wiki, everybody can apply changes/update.
Thanks!

[2017-04-03 12:20] franz-wohlkoenig commented on #912
its the "Bug_Tracking_Process"-Article, now i can do it by myself – haven't noticed about wiki.

[2017-04-03 12:20] #912 closed

[2017-04-03 14:56] aDaneInSpain commented on #881
Bump @genr8r

Was this ever resolved?

[2017-04-04 08:46] zero-24 opened #913 "[jcertif] JLP Form expected to be offline?"
https://certification.joomla.org/jlp/jlp-application-form

Maybe we want to add a message "this form is offline for reason xxx" or bring it back online ;)

[2017-04-04 08:46] zero-24 commented on #913
![image](https://cloud.githubusercontent.com/assets/2596554/24648466/fe72d9e4-1923-11e7-8ae7-3ec94d114d57.png)

[2017-04-04 09:00] franz-wohlkoenig commented on #913
works now.

[2017-04-04 09:45] #913 closed

[2017-04-04 09:48] zero-24 commented on #913
still offline for me?

[2017-04-04 09:49] sam-suresh commented on #913
working fine in my end too.
can you try in different browser?

[2017-04-04 09:50] Sandra97 commented on #913
Works fine for me

[2017-04-04 09:52] zero-24 commented on #913
same result in chrome incocnito mode and IE. But if it is just an issue on my end I'm fine :)

[2017-04-05 13:12] mbabker commented on #231
Everything except JoomlaCode is SSL enforced.  Closing this out.

[2017-04-05 13:12] #231 closed

[2017-04-05 13:27] jeckodevelopment commented on #913
Will look into it :) thanks

[2017-04-05 19:20] Henrieta23 opened #915 "[joomla.org]"
.

[2017-04-05 20:46] Sandra97 commented on #915
@Henrieta23 Ghost issue? ;)
Please describe your issue or I won't have any other choice than closing it
Thank you

[2017-04-05 22:35] #915 closed

[2017-04-06 04:05] Henrieta23 commented on #915
Lp,

Henrieta

2017-04-05 22:46 GMT+02:00 Sandra Decoux <notifications@github.com>:

[2017-04-06 05:18] franz-wohlkoenig commented on #915
@Henrieta23  Please ask help on the [forums](https://forum.joomla.org/). This repository concerns Joomla-Websites.

[2017-04-06 20:07] jraff1 opened #916 "[forum.joomla.org]"
In the Joomla Forum - How does one ask a question of the group?
I can find NO way to ask a question.
When I attempt to search for information about "creating a menu"
I get ridiculous comments of search too common!
I need to create a menu and Joomla will not let me with some comment about picking
"Please first make a selection from the list." - What selection from what list?!?!?!?!
----------------

[2017-04-06 20:09] jraff1 commented on #916
How does one exit the comment system!?!?!?

[2017-04-06 21:03] JorgeGama opened #917 "Joomla Docs - duplicate page Retrieving request data using JInput deleted"
I don't know if this is an issue or not, but when I try to visit https://docs.joomla.org/Retrieving_request_data_using_JInput the page has been deleted.

The problem is that I am unable to find the "original" page and using the provided link to search for the page title gives no relevant results. I have noticed that a few more pages have "disappeared" as well.

My question, where can I find this p

[2017-04-06 22:35] Hutchy68 commented on #917
Restored.

[2017-04-07 02:19] mbabker commented on #892
In the small miracles column, I finally got Apache to take redirects with this configuration:

[code]

And now the bad news.  The `.htaccess` directives we have in the downloads spreadsheet won't work as is.

[code]

So, all the package URLs have been fixed up and the redirects implemented.  I guess I'll work on the listing page URLs over the next couple of days.

[2017-04-07 09:33] brianteeman opened #918 "forum down and cdn?"
10:33 UK Time
### Forum
This site can’t be reached

The web page at https://forum.joomla.org/ might be temporarily down or it may have moved permanently to a new web address.

[2017-04-07 09:36] brianteeman commented on #918
All other sites are missing the footer - I see the following message
Could not load template section.

[2017-04-07 09:37] Sandra97 commented on #918
We are facing some CDN issues, all our properties are impacted

[2017-04-07 09:38] brianteeman commented on #918
ok - good to know you are on it. Its not so obvious on the non forum properties as they load

[2017-04-07 11:16] ciar4n opened #919 "[navigation - joomla.org] 'Could not load template section.'"
cdn.joomla.org is down?

![jorg1](https://cloud.githubusercontent.com/assets/2803503/24798038/e2929826-1b8b-11e7-85af-fb6627cff6f9.png)

Please describe the problem or your issue
It could be useful to include an URL of evidence.
Please use a consistent title for your issue.

[2017-04-07 11:19] aDaneInSpain commented on #918
Was this closed because it was resolved or because people are looking at it? The issue is still there (or back?)

[2017-04-07 11:19] MATsxm commented on #919
duplicate with #918

[2017-04-07 11:19] #919 closed

[2017-04-07 11:19] MATsxm commented on #918
reopen as still in progress

[2017-04-07 11:35] Sandra97 commented on #918
FYI we just tweeted this: https://twitter.com/joomla/status/850309547650682884

[2017-04-07 11:44] hvdmeer commented on #916
This repository is for only used for problems with the joomla.org websites. Regaring your problem, try reading this: https://docs.joomla.org/J3.x:Adding_a_new_menu
Again, your questions should be asked in forum.joomla.org, good luck.

@franz-wohlkoenig or anyone else, can you close this issue?

[2017-04-07 11:47] franz-wohlkoenig commented on #916
anyone else, have Rights for /tracker/joomla-cms

[2017-04-07 12:05] Joomv commented on #918
Both are back up - both were separate issues.
I am monitoring to ensure they stay that way.

[2017-04-07 12:18] MATsxm commented on #918
Merci @Joomv

[2017-04-07 12:21] #916 closed

[2017-04-07 17:08] brianteeman commented on #918
@aDaneInSpain I closed it as it was stated that it was known and was being dealt with.

[2017-04-07 17:11] brianteeman commented on #918
@joomv Right now the forum is faling to render correctly due to a 403 on https://cdn.joomla.org/template/css/v3_template.min.css?v1.3.3

 Failed to load resource: the server responded with a status of 403 ()

[2017-04-07 18:01] JorgeGama commented on #917
Thank you.

[2017-04-07 18:01] #917 closed

[2017-04-07 19:22] Joomv commented on #918
Sorry for delay stepped out for a couple of hours.
Showing fine now here.
Back to monitoring.

[2017-04-07 19:33] MATsxm commented on #918
thanks - closing
reopen if needed

[2017-04-07 19:33] #918 closed

[2017-04-07 19:35] Joomv commented on #907
Hi Brian, can you take a look now, this appears to have been fixed, I've navigated to the same path as shown in your screenshot and I am not seeing truncation.
Thanks

[2017-04-11 10:06] Open2logic opened #920 "Ramdom order for Articles"
When you create a menu item for Category Blog, in the Tab Blog layout, in Article Order,  it's possible to choose Random order, ok, but when you create a menu item for Featured articles, in the Tab Blog layout, in Article Order, NOT is possible to choose Random order.

[2017-04-11 10:20] MATsxm commented on #920
Hi,
This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page
or repport an issue on: https://issues.joomla.org/

Regards,
Thanks

[2017-04-11 10:20] #920 closed

[2017-04-11 21:46] simarock opened #921 "[jhelp]"
When i add new menu items i dont see them in front end. In menu manager anything is fine

[2017-04-11 21:48] zero-24 commented on #921
Please use the forum for support https://forum.joomla.org this is the place to report issues with the joomla.org websites not with your own website ;)

[2017-04-11 21:49] #921 closed

[2017-04-12 18:08] Joomill opened #922 "[jexam] Pagination"
When i view the CERTIFIED USERS DIRECTORY and select Country "The Netherlands"
I see 26 users.
The first page is 20 users, but when i go to page 2 the country filter is gone and i can't see the next 6 people.

[2017-04-12 21:56] MATsxm commented on #922
@sam-suresh if you can't help, thank you to tell me who I should ping fro it?

[2017-04-12 22:42] sam-suresh commented on #922
@MATsxm Do mind we all not living in same timezone. 😀.
I will look into it and update here.

[2017-04-13 10:11] sam-suresh commented on #922
@Joomill Thanks for reporting. This is now fixed.

[2017-04-13 10:11] #922 closed

[2017-04-13 10:53] MATsxm commented on #922
merci @sam-suresh

[2017-04-13 13:12] sam-suresh commented on #922
No mention @MATsxm!

[2017-04-14 00:36] Sandra97 commented on #895
@chavab1 Could you tell me if your issue is fixed? If yes, I'll close this issue.
Thank you!

[2017-04-14 00:49] Sandra97 commented on #856
What about merging the Development Status Page into the new roadmap page?
And, IMHO, we don't need anymore to keep 2.5 information.
We could have the menu renamed Developement Satus & Roadmap so that the roadmap could be found in an easiest way (and of course taking care of not creating too many 404)

[2017-04-14 00:54] Sandra97 commented on #141
After 1 year and a half, nothing....
Seems I'll have to take care of this...

[2017-04-14 05:09] chavab1 commented on #895
@Sandra97 Yes, @ooffick emailed me after I submitted the form to inform me of the problem and how it was fixed. I was then able to successfully register afterward.

Thank you very much to both of you for your help.

[2017-04-14 05:09] #895 closed

[2017-04-16 22:31] Joomv commented on #907
Closing this, if you still see it, please re-open

[2017-04-17 08:13] brianteeman commented on #907
It is still happening for me in Chrome on Windows 10 but maybe its a browser extension

[2017-04-18 22:36] simarock opened #923 "[jdocs]"
New menu items i created dont show up in frontend.
 I've tried fixing database, updating all the extensions possible, clearing cache, updating php from 5.3 to 5.6, updating Joomla version from 3.3. to 3.6.5, backing up any php file i ever touched, backing up "mod_menu" and "com_menus" folders.
Any ideas?

[2017-04-19 00:03] MATsxm commented on #923
Hi,
This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page
or repport an issue on: https://issues.joomla.org/

Regards,
Thanks

[2017-04-19 00:03] #923 closed

[2017-04-19 13:42] brianpeat opened #924 "[jrd]"
Please describe the problem or your issue
It could be useful to include an URL of evidence.
Please use a consistent title for your issue.

I'm trying to update my business profile in the JRD. First I tried to edit my personal profile, then I tried to edit my listing. Saving either one always hangs the site and it never saves. Can someone test this and see if it's just me or if there's something wr

[2017-04-19 13:46] brianpeat commented on #924
ARGH, It looks like this might just be a Safari issue. It worked fine in Chrome just now. I want to love Safari, I really do, but it continues to fail me.

[2017-04-21 23:06] zero-24 opened #925 "[jdev] Update nightly build script"
Please update the nightly build script exclusion array arcording to https://github.com/joomla/joomla-cms/pull/15470

[2017-04-22 10:51] Sandra97 commented on #909
As I added a link to the dev roadmap in this blogpost and as it's mentioned that the `schedule [..], as always this depends on availability of volunteers and the support of the community [..]`, I'm closing this issue.

[2017-04-22 10:51] #909 closed

[2017-04-22 10:56] Sandra97 commented on #903
Still not working on the Volunteers Portal, @sanderpotjer Could you give a look? Thank you!

[2017-04-22 10:57] Sandra97 commented on #885
As Rowan made a big cleaning and update of the site, I presume we can close this issue.
Re-open if needed.

[2017-04-22 10:57] #885 closed

[2017-04-22 11:01] Sandra97 commented on #141
New error page is ready and included in the upcoming update of the jdortorg template.
I'm closing this issue.
Re-open if needed.

[2017-04-22 11:01] #141 closed

[2017-04-22 11:02] zero-24 commented on #141
Thanks @sandra97 !

[2017-04-22 11:03] zero-24 commented on #141
Is there any site where we can see it already live?

[2017-04-22 11:04] Sandra97 commented on #141
Nope, it's gonna be a surprise ;)

[2017-04-22 11:17] MATsxm commented on #885
never mind @jeckodevelopment...
still waiting for
https://github.com/joomla/joomla-websites/issues/885#issuecomment-285860488

[2017-04-22 16:10] #925 closed

[2017-04-22 16:11] mbabker commented on #925
Done.

[2017-04-22 16:11] zero-24 commented on #925
Thanks!

[2017-04-22 17:29] mbabker commented on #877
The page is still returning a 500 error code...

[2017-04-23 06:10] franz-wohlkoenig opened #926 "[jcomm] Different "Upcoming Events" on different Sites"
#### On [community.joomla.org](https://community.joomla.org):
![community joomla org](https://cloud.githubusercontent.com/assets/8235763/25311165/0ad8b3ae-27fa-11e7-8352-c63758cef335.JPG)
No chronical order, not up to Date (Norway):

- Italy: 14 October
- Russia: 17 June
- Norway: 21 April
- NY: 23 April
- Poland: 23 September
#### On [joomla.org](https://joomla.org)
Wrong Header "April/May" where

[2017-04-23 08:19] Sandra97 commented on #926
For jorg, I removed yesterday JD Norway which was on April 21st and forgot to remove 'April' in the title. It's done now.

[2017-04-23 19:32] sanderpotjer commented on #903
The issue is now fixed on the Volunteers Portal. I thought the new key would be enough, but it seems there is no automatic redirect to the https version, so forced this now. Shorten links are working again.

[2017-04-23 19:32] #903 closed

[2017-04-25 17:39] MATsxm opened #927 "[jconf] Update the JWC logo on Facebook"
Like the title says: The logo should be  JJoomla! with the **!**
Thanks
![eee3b8b868665937657c4e324e48cb6f](https://cloud.githubusercontent.com/assets/1972717/25399199/97372772-29bc-11e7-8007-a10e6d0f14e9.png)

[2017-04-25 17:43] Sandra97 commented on #927
Go to the beach and leave me alone!!!! ;)

[2017-04-25 18:37] Sandra97 commented on #927
Same for Twitter & Instagram

[2017-04-26 00:06] jklaphake opened #928 "John Klaphake"
I have tried to update Joomla! from version 3.6.5 to 3.7.0 and also a fresh install when that produced the same error. It appears the install or update does not complete properly.

![screenshot-devel souvenirfactoryshop co nz-2017-04-26-12-04-11](https://cloud.githubusercontent.com/assets/7573294/25412663/8ab08c52-2a78-11e7-9181-686885b62daf.jpg)

john@hyperlink.net.nz

Thanks
john

[2017-04-26 00:27] Hutchy68 commented on #928
Please post your question in forum.joomla.org. This issue tracker is for *.joomla.org websites only.

[2017-04-26 00:27] #928 closed

[2017-04-26 06:18] dneukirchen opened #929 "[.org] Empty announcements pages & missing submenu"
Empty pages:
https://www.joomla.org/announcements.html
https://www.joomla.org/announcements/release-news/5703-joomla-3-7-is-here.html

Submenu is missing:
https://www.joomla.org/core-features.html

![bildschirmfoto 2017-04-26 um 08 18 53](https://cloud.githubusercontent.com/assets/1134007/25420580/0a2ae9a2-2a59-11e7-8484-c357b1caf7ed.png)
![bildschirmfoto 2017-04-26 um 08 19 00](https://cloud.gith

[2017-04-26 06:23] dneukirchen commented on #929
@m

[2017-04-26 07:14] dneukirchen commented on #929
Both issues are fixed.
thx

[2017-04-26 07:14] #929 closed

[2017-04-26 07:24] rdeutz opened #930 "[jorg] Clear Cache results in a 500"
Can't clear the cache, tpl_joomla has > 150000 files this seems odd

[2017-04-26 12:45] mbabker commented on #930
Template has been patched.

[2017-04-26 12:45] #930 closed

[2017-04-26 17:31] redbeorg opened #931 "[joomla.org]"
In Joomla 3.7 ->Extensions/modules
No longer added in search tools of modules, the filter does not appear: "Select Page"

[2017-04-26 18:42] Sandra97 commented on #931
Hi,
This repository is ONLY for reporting issues with the *.joomla.org websites, not the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page
-https://issues.joomla.org/

Regards,
Thanks

[2017-04-26 18:42] #931 closed

[2017-04-27 17:43] christmaslyric opened #932 "[joomla.org]"
I have a website goodnaturedohio.com that is in disrepair after I completed a Joomla update.  The site is hosted by Siteground who has tried to fix the problem but says I need to contact Joomla.  I really would like to speak to a person about this but cannot find a phone number.

[2017-04-27 17:48] franz-wohlkoenig commented on #932
Please ask help on the [forums](https://forum.joomla.org/). This repository concerns Joomla-Websites like http://joomla.org.

[2017-04-27 17:51] christmaslyric commented on #932
Is there a phone number for JOomla support?

[2017-04-27 17:55] Sandra97 commented on #932
No, there's no phone number.
Please, post your question on the forum as mentioned by Franz. I'm closing this issue as not related with the Joomla! properties

[2017-04-27 17:55] #932 closed

[2017-04-28 17:00] mavrosxristoforos opened #933 "[joomla.org] Serious security issue"
Just today, an issue arised with a Joomla 3.6.5 installation I have.

A user was seeing other connected users' details. Something went wrong with the session table (I suppose, because I checked and there were more records than I expected) and all of a sudden, this user was able to see and edit other user data, but only in specific pages.

It looked as if it went back and forth between this user's

[2017-04-28 17:04] franz-wohlkoenig commented on #933
Please ask help on the [forums](https://forum.joomla.org/). This repository concerns Joomla-Websites like joomla.org.

[2017-04-28 17:05] mavrosxristoforos commented on #933
I apologize. I thought the link was to report an issue with the CMS.

[2017-04-28 17:05] #933 closed

[2017-04-28 23:00] Joomv opened #934 "Training not connecting to API"
@stevejburge
Please could you look at this urgently.
![joomla training provided by os training](https://cloud.githubusercontent.com/assets/5618499/25550160/d68ad22a-2c6e-11e7-8107-08a4eb7a10c1.png)
Thanks

[2017-04-28 23:52] stevejburge commented on #934
Oh, yikes. Was this site update to Joomla 3.7?

Steve

On Fri, Apr 28, 2017 at 7:00 PM, Rowan Hoskyns Abrahall <
notifications@github.com> wrote:

[2017-04-29 00:01] Joomv commented on #934
No not yet, was about to when I saw Jay's post.
So this is unrelated to 3.7 could you take a look please?

[2017-04-29 00:16] stevejburge commented on #934
OK, should be fixed now.

What was the problem? ... it broke because we upgraded our site to Joomla
3.7. With 3.7, Joomla has implemented a class method that's almost exactly
the same as what we're doing at OSTraining, but it was also incompatible.

On Fri, Apr 28, 2017 at 8:01 PM, Rowan Hoskyns Abrahall <
notifications@github.com> wrote:

[2017-04-29 00:27] Joomv commented on #934
You star.
Thank you.

[2017-04-29 00:27] #934 closed

[2017-04-29 04:24] brianteeman opened #935 "[joomla.org] Demo site"
On demo-site https://demo.joomla.org/ click "Launch Test Drive".

https://github.com/joomla/joomla-cms/issues/15672

[2017-04-29 05:02] joo7 commented on #578
Direct http://ideas.joomla.org to https://forum.joomla.org/viewforum.php?f=575 ?

Or leave a notice:

Sorry, this ideas pool is no longer continued.
Please visit the [Joomla! Ideas Forum](https://forum.joomla.org/viewforum.php?f=575) for supporting the Joomla! project with your valued ideas.

[2017-04-29 08:23] dkivogtland opened #936 "[joomla.org]"
Hello,
after the update to version 3.7.0 I have the problem that articles with umlauts (ä/ö/ü) are no longer displayed. This seems to hang with the cache. The effect occurs only after 900 seconds. If you delete the Joomla cache, it goes again for 900 seconds. With the modules, the problem does not seem to exist

URL: https://www.die-kinderinsel.de/blog-die-kinderinsel/bücherflohmarkt
https://www.d

[2017-04-29 08:24] franz-wohlkoenig commented on #936
Please ask help on the [forums](https://forum.joomla.org/). This repository concerns Joomla-Websites like joomla.org.

[2017-04-29 08:25] franz-wohlkoenig commented on #936
theres a Thread also on github related to issue: [#15674](https://github.com/joomla/joomla-cms/issues/15674)

[2017-04-29 08:37] jeckodevelopment commented on #936
Hi,
This repository is ONLY for reporting issues with the *.joomla.org websites, not the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page
-https://issues.joomla.org/

Regards,
Thanks

[2017-04-29 08:37] #936 closed

[2017-04-29 13:39] mathandcs opened #937 "[forum.joomla.org]"
I registered for a forum account but never received an email.  I have tried to have it resend the email to me but I have not received it.  I tried to click on the Board Administrator link but it say The board administrator contact page has been disabled.  Please let me know how I can otherwise activate my account.  thanks.

[2017-05-01 02:51] JimGreiner opened #938 "[joomla.org]"
Menu items from front end now appearing under "Components" in back end after upgrade to Joomla 3.7... these menu items also still appear in the front end where they are supposed to.... Need a patch to be able to remove menu items that should not be routed to back end menus and without requiring us to delete out rebuild our front end menus...

[2017-05-01 06:03] jeckodevelopment commented on #938
Hi,
This repository is ONLY for reporting issues with the *.joomla.org websites, not the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page
-https://issues.joomla.org/

Regards,
Thanks

[2017-05-01 06:03] #938 closed

[2017-05-01 08:54] franz-wohlkoenig opened #939 "[jdev] Adapt Project Roadmap"
After Release of 3.7 [Roadmap](https://developer.joomla.org/roadmap.html) needs Update (3.7.1 coming or starting with 3.8).

[2017-05-01 09:14] Sandra97 commented on #939
We already applied some updates on April 25th
![1](https://cloud.githubusercontent.com/assets/4682328/25576401/aae0aed2-2e2c-11e7-9d9a-9e1526a67398.png)
![2](https://cloud.githubusercontent.com/assets/4682328/25576402/aae5d95c-2e2c-11e7-9752-fd7c3cc393e3.png)

[2017-05-01 09:26] franz-wohlkoenig commented on #939
Meant delete not neccessary Informations like "Schedule", "Release Lead", ... so its clear whats next (3.7.1 or 3.8) and when.

[2017-05-01 09:27] Sandra97 commented on #939
We will do more updates on the page soon.

[2017-05-01 09:32] franz-wohlkoenig commented on #939
thanks @Sandra97

[2017-05-01 09:32] #939 closed

[2017-05-01 12:33] mbabker opened #940 "[jdev] Nightly Builds Broken"
Nightly builds are failing due to the namespaced `JVersion` class in newer branches.  Fix the script...

[2017-05-01 23:23] #940 closed

[2017-05-02 09:09] Sandra97 commented on #935
Issue reported to SiteGround yesterday.

[2017-05-02 10:21] arobson13 opened #941 "[joomla.org] Maintenance mode displays no CSS"
When placing a site into "Maintenance mode", the page that the users will see no longer has any CSS included in the source code.  No CSS files appear to be loading with the "maintenance mode" screens.

[2017-05-02 11:11] sam-suresh commented on #941
Btw closing this and moving to template repo.

[2017-05-02 11:11] #941 closed

[2017-05-02 11:24] Joomill opened #942 "[jexam] photos"
https://exam.joomla.org/directory
The photos of all members are gone in the directory.
Can someone have a look at it?

[2017-05-02 11:26] Sandra97 commented on #935
Issue solved by SiteGround.

I also asked them if they can:
- Update to PHP 7: on their todo list, they will keep me informed. They already removed the backend warning
- Multilingual Section:  links to joomlacode will be remplaced by the right cjo links before the end of the week and we will see together for the multilingual demo which is currently a 2.5 install.

[2017-05-02 11:48] sam-suresh commented on #942
Hi.
This has been fixed. Do you still see no images? Can you try in private browser?

[2017-05-02 11:50] Joomill commented on #942
Now its fine.

Thank you
Jeroen

Op di 2 mei 2017 om 13:48 schreef Sam Suresh <notifications@github.com>

--
Met vriendelijke groet, Jeroen Moolenschot

[2017-05-02 11:50] sam-suresh commented on #942
Thank you

[2017-05-02 11:50] #942 closed

[2017-05-02 16:20] hoerby opened #943 "[jcomm]"
Tried to update my joomla to new release 3.7. from: administrator-component-update.
error: "The archive file is corrupt, truncated og archive parts are missing"

can anyone help
mogens H
hoerby2016@gmail.com

[2017-05-02 16:26] franz-wohlkoenig commented on #943
Please ask help on the [forums](https://forum.joomla.org/). This repository concerns Joomla-Websites like joomla.org.

[2017-05-02 17:12] MATsxm commented on #943
Hi,
This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page
or repport an issue on: https://issues.joomla.org/

Regards,
Thanks

[2017-05-02 17:12] #943 closed

[2017-05-02 20:43] joo7 opened #944 "[demo.joomla.org] Demo site: Help button"
On demo-site https://demo.joomla.org/ click "Launch Test Drive", click "New article", click "Help" button on the right: blank popup

[2017-05-02 22:02] Sandra97 commented on #944
Just sent a message to SiteGround. I'll keep you informed.

[2017-05-02 22:42] Sandra97 commented on #927
Ex-husband gonna be happy.
I added the bang to Joomla.
Ok now on Facebook and Twitter. Will change it on Instagram when I have access.
Closing this issue.
Re-open if needed.

[2017-05-02 22:42] #927 closed

[2017-05-06 20:00] brianteeman opened #945 "[joomla.org] optimise images"
joomla.org should be a showcase of the best that joomla can be.

unfortunately the images are far too large. just look at the showcase images which are massively scaled down in html

https://pageweight.imgix.com/jobs/3a9b2d8d-3f98-4183-ba0e-23894af405ef/

[2017-05-07 08:24] Sandra97 commented on #945
Don't fully agree.
The header image is covering the width of the screen so having a image of 1280px width can result in an 'ugly' display on large screen.
And if showcase images are resized to 270px, then the display on screen under 767px will be pixellised.
The other solution would be to have different images regarding the size of the screen for the showcase part, resulting in making my life just

[2017-05-07 09:30] brianteeman commented on #945
1. the showcase images are never displayed at the full native size unless I am missing something
2. the modern way to resolve this woulld be to use srcset

[2017-05-07 09:50] Sandra97 commented on #945
1. The showcase images are displayed full width
![capture-d ecran-2017-05-07-05 46](https://cloud.githubusercontent.com/assets/4682328/25779537/cf7fbc86-32e8-11e7-992d-6d3f1443ff33.jpg)
2. I've never used it, but it's never too late to start ;)

[2017-05-07 09:55] brianteeman commented on #945
ah I missed that one size ;)

there are a few plugins that will create the srcset immages - i think @dgt41 has one

[2017-05-07 09:58] Sandra97 commented on #945
Thanks Brian, I'll contact him.

[2017-05-07 10:02] #945 closed

[2017-05-08 18:39] brianteeman opened #946 "[jcomm] Typical language file headers"
I was on the page listing the translations and saw a link that I didnt know - Typical language file headers

When I followed it I ended up here
https://community.joomla.org/translations/593-typical-language-file-headers.html

As you can see there is something not correct about it. Looks like some wiki markup?

[2017-05-09 23:07] stavroszach opened #947 "[joomla.org] Joomla 3.7 and CACHE plugin problems"
Since the update to version 3.7, my own custom made "Contact Us" forms don't appear in any of my sites. Instead, completely blank pages appear <body></body> and nothing in between. Similarly my Phoca Guestbooks do present exactly the same problem.
The problem appears only when Joomla's CACHE plugin is enabled and the specific pages are set to be excluded. It goes away when either the CACHE is disa

[2017-05-09 23:18] mbabker commented on #947
Please only use this repository to report issues with `*.joomla.org` websites. For bug reports pertaining to the Joomla CMS, please report issues at https://github.com/joomla/joomla-cms/issues/new and for user support issues please post on the Joomla Forum at http://forum.joomla.org.

[2017-05-09 23:18] #947 closed

[2017-05-10 08:33] JorgeGama opened #948 "Joomla Docs - JFactory/getEditor page deleted"
The page https://docs.joomla.org/JFactory/getEditor has been deleted.

Unfortunately, I am unable to find the original of the duplicate. Would it be possible to restore this page?

[2017-05-10 15:03] zero-24 commented on #948
This should do the trick: https://api.joomla.org/cms-3/classes/JEditor.html As JFactory::getEditor is deprecated anyway :)

[2017-05-11 10:55] jesimon71 opened #949 "[joomla.org]"
I am the Board Chair of Kraft Tennis Partners.  I am not a techy, I'm a doc!  Our website, which I believe you host (Krafttennis.com) is operating EXTREMELY slowly.  The members of our club are screaming at me.  The volunteer who shepherds our website says that he has contacted Joomla but has not received any satisfaction.  Whoever is reading this please go to Krafttennis.com and note that there i

[2017-05-11 11:08] MATsxm commented on #949
Hi,
This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page
or repport an issue on: https://issues.joomla.org/

Regards,
Thanks

[2017-05-11 11:08] #949 closed

[2017-05-11 15:40] zero-24 commented on #949
Joomla itself do NOT host. Based on a whois it looks like your hoster is: lunarpages.com

[2017-05-12 19:10] brianteeman commented on #944
It is all the help pages that are returning a white page.
If you look at the url it is using
`https://help.joomla.org/proxy/index.php?option=com_help&amp;keyref=Help37:Content_Article_Manager_Edit`
and it should be

`https://help.joomla.org/proxy?keyref=Help37:Content_Article_Manager_Edit&lang=en
`
is there a redirect not happening ?

[2017-05-12 19:11] brianteeman commented on #935
PHP 7 upgrade still outstanding

[2017-05-12 19:13] zero-24 commented on #944
It is working just change `&amp;` => `&` and we got the result.

[2017-05-12 19:13] zero-24 commented on #944
https://help.joomla.org/proxy/index.php?option=com_help&keyref=Help37:Content_Article_Manager_Edit

[2017-05-12 19:19] brianteeman commented on #944
so its not working on the demo site ;)

[2017-05-12 19:22] Sandra97 commented on #944
I'll send a reminder to SiteGround.

[2017-05-13 21:47] kminor opened #950 "[joomla.org]"
Please describe the problem #404 Category not found

 or your issue

[2017-05-13 21:50] kminor commented on #950
sir/ madam,

kindly help re upload or sort the problem encountered on opening the west african college of surgeon surgery pass list for april 2017 membership examination.
it kept showing this message "#404 Category not found "
thank you

[2017-05-14 04:27] franz-wohlkoenig commented on #950
Please close this Issue and ask help on the [forums](https://forum.joomla.org/). This repository concerns Joomla Websites like https://www.joomla.org/.

[2017-05-14 06:29] MATsxm commented on #950
Hi,
This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page
or repport an issue on: https://issues.joomla.org/

Regards,
Thanks

[2017-05-14 06:29] #950 closed

[2017-05-14 23:56] Sandra97 commented on #937
@ooffick Could you help with this? Thanks!

[2017-05-15 00:06] Sandra97 commented on #881
@genr8r Any news about that? Is it solved?

[2017-05-15 00:08] Sandra97 commented on #879
@genr8r Could you please answer to Sebastien? Thanks!
True that it's strange for me to not have a search system on this site. Would be really useful.

[2017-05-15 00:12] Sandra97 opened #951 "[jrd] URLs rewriting not activated"
Hello,

@genr8r Is there any reason why SEF options are not activated on the site?
URLs look like this `https://resources.joomla.org/index.php?option=com_content&view=featured&Itemid=101&lang=en`

Thanks

[2017-05-15 04:47] davidcchapman opened #952 "[forum.joomla.org]"
After updating to Joomla! 3.7, we are seeing hundreds of thousands of messages in Apache's error_log of the form:

PHP Warning:  Illegal string offset 'relative' in /var/www/html/site/libraries/cms/html/html.php on line 620
PHP Warning:  Illegal string offset 'relative' in /var/www/html/site/libraries/cms/html/html.php on line 626
PHP Warning:  Illegal string offset 'detectBrowser' in /var/www/htm

[2017-05-15 05:01] sam-suresh commented on #952
Please post your question at forum.joomla.org
This repo is to post issues related to joomla official websites not the software itself.

[2017-05-15 05:01] #952 closed

[2017-05-15 05:38] ooffick commented on #937
Hi

Would you be able to fill out the following form:
https://community.joomla.org/helpdesk/forum-un-ban-request.html

Kind regards
Olaf

[2017-05-15 06:13] #937 closed

[2017-05-15 13:37] Hutchy68 commented on #910
Beyond JDocs control, noted link is dead on page. Repost for site where link is dead, i.e. Joomlacode.  Besides it's Monday and I am sure @mbabker needs a laugh. Closing.

[2017-05-15 13:37] #910 closed

[2017-05-15 19:47] genr8r commented on #951
Hey @Sandra97 thanks for the heads up. We have been troubleshooting some caching issues on the site. Must have forgot to flip it back on.

[2017-05-15 19:47] #951 closed

[2017-05-16 08:21] Joomv commented on #946
Sadly the translation team still haven't sorted out their section.
Will chase again

[2017-05-16 10:01] Sandra97 commented on #946
You're fulll of hope Rowan, not sure you'll ever get an answer...
Why about just killing this page as it's  "typical for 1.5.x files"?

[2017-05-16 21:03] brianteeman commented on #944
Still broken

[2017-05-17 08:29] brianteeman opened #953 "joomla.com 3.7"
on **some** of my sites on joomla.com the upgrade to 3.7 has not been completed successfully

<img width="639" alt="screenshotr09-28-56" src="https://cloud.githubusercontent.com/assets/1296369/26145142/487346d8-3ae3-11e7-93a9-23e8d069f92f.png">

[2017-05-17 09:35] Sandra97 commented on #953
I'll report it to SiteGround.

[2017-05-17 14:22] zero-24 opened #954 "[jupdate] Reduce the cache lifetime on the CDN nodes"
### Steps to reproduce the issue

@mbabker 17.05.2017

### Expected result

quicker refreshes

### Actual result

less quicker refreshes on update days

[2017-05-17 16:55] #926 closed

[2017-05-17 16:57] franz-wohlkoenig opened #955 "[jshop] Update Message "… before our next Joomla! release (3.7)""
At Joomla-Shop this Message is shown:
![bildschirmfoto 2017-05-17 um 18 53 38](https://cloud.githubusercontent.com/assets/8235763/26166087/aa64f0fe-3b32-11e7-861b-7fdf5302719d.JPG)
3.7 is out, so this Message needs an Update.

[2017-05-17 21:50] medator opened #956 "[jcomm] The Joomla! Shop Off"
The Joomla! Shop Off

![adsiz](https://cloud.githubusercontent.com/assets/519104/26177881/3e06d134-3b64-11e7-90f6-3fccb49b2501.png)

The Joomla! Shop is offline for a bit while we re-tool everything before our next Joomla! release (3.7)

[2017-05-18 04:32] franz-wohlkoenig commented on #956
Duplicate Report of #955. Please close Issue, thanks.

[2017-05-18 04:40] #956 closed

[2017-05-18 10:37] kirilhristov commented on #953
This has been fixed now. Thanks!

[2017-05-18 10:44] Sandra97 commented on #953
Thanks Kiril!
Closing this issue.
Re-open if needed.

[2017-05-18 10:44] #953 closed

[2017-05-18 11:06] nikolayt commented on #944
Can you confirm this is not an issue within Joomla itself. The &amp; is added by htmlspecialchars:

http://php.net/manual/en/function.htmlspecialchars.php

        $url = htmlspecialchars($url, ENT_QUOTES);

[2017-05-18 13:07] brianteeman commented on #944
Confirming that the help screens work perfectly on my site on siteground servers see movie (the wrong version number in the help is an unrelated bug)

![sg](https://cloud.githubusercontent.com/assets/1296369/26203446/391bfaea-3bd3-11e7-862d-432ae7466022.gif)

[2017-05-18 17:01] wojsmol opened #957 "[jdocs] Update from 3.7.x to 3.7.1 Timeout"
link: https://docs.joomla.org/J3.x:Update_from_3.7.x_to_3.7.1_Timeout
1. In How to fix package named names shoud be updatated and linked
2. https://github.com/joomla/joomla-cms/pull/11497 is closed so last sentece shoud be chenged or removed.

[2017-05-18 17:58] MATsxm commented on #957
The JDoc is a wiki then thank you to edit/update directly the content that needs to be updated

[2017-05-18 18:30] wojsmol commented on #957
@MATsxm I Cen't create account on JDoc. Additionaly this article is in Relase FAQ category wich can be protected.

[2017-05-19 06:50] nikolayt commented on #944
Thanks @brianteeman . Problem has been resolved.

[2017-05-19 07:45] kpriyacdac opened #958 "[joomla.org]"
I just moved my Joomla  website  from local  to server  and I get the following error, requesting Help in this

Warning: Attempt to modify property of non-object in /homepages/22/d285911174/htdocs/clickandbuilds/libraries/framework/Joomla/Registry/Registry.php on line 428

Warning: Attempt to modify property of non-object in /homepages/22/d285911174/htdocs/clickandbuilds/libraries/framework/Joomla

[2017-05-19 07:53] franz-wohlkoenig commented on #958
Please ask help on the [forums](https://forum.joomla.org/). This repository concerns Joomla coding.

[2017-05-19 07:53] #958 closed

[2017-05-19 08:42] brianteeman commented on #944
I can confirm that this is now working correctly and the problem has been resolved

[2017-05-19 09:15] Sandra97 commented on #944
Thanks!
Closing this issue.
Re-open if needed.

[2017-05-19 09:15] #944 closed

[2017-05-19 14:48] joo7 opened #959 "[demo.joomla.org] read on + url rewriting -> 404"
On demo-site https://demo.joomla.org/ click "Launch Test Drive",
create new article, set featured,
in global config set url rewriting on,
on frontend click read on -> 404

related to https://github.com/joomla/joomla-cms/issues/15343 ?

[2017-05-20 18:43] PhilETaylor opened #960 "[jdev] PhpStorm Code Style Scheme missing"
on this page

https://developer.joomla.org/coding-standards/analysis.html

There is a title of "PhpStorm Code Style Scheme" which is neither linked or has any description,

[2017-05-20 18:44] PhilETaylor opened #961 "[jdev] Missing content of examples page"
https://developer.joomla.org/coding-standards/examples.html

This page is blank

[2017-05-20 18:53] mbabker commented on #961
As weird as it sounds, that's correct.

The coding standards section is pulled from the manual folder on the coding-standards repo, and https://github.com/joomla/coding-standards/blob/master/manual/appendices/examples.md is empty.

[2017-05-20 18:54] mbabker commented on #960
No idea what the content is supposed to be, but anyone who has it can do a PR editing https://github.com/joomla/coding-standards/blob/master/manual/appendices/analysis.md

[2017-05-20 19:27] zero-24 commented on #960
see: https://github.com/joomla/coding-standards/pull/185

[2017-05-21 19:13] zero-24 commented on #960
Mabe we want close here as the PR is merged now?

[2017-05-21 19:13] #960 closed

[2017-05-21 19:14] zero-24 commented on #960
Thanks

[2017-05-23 12:12] brianteeman commented on #959
no nothing to do with that - its because there is no .htaccess file created which if you look at the tooltip needs to be created BEFORE enabling that option
<img width="339" alt="screenshotr13-11-55" src="https://cloud.githubusercontent.com/assets/1296369/26353677/738b4fac-3fb9-11e7-99ea-1d751b897bfc.png">

@Sandra97 this can be closed but you might want to talk to SG aboout having the .htaccess i

[2017-05-23 12:54] Sandra97 commented on #959
Thanks Brian. Yes, I'll see that with them.
Closing this issue.
Re-open if needed

[2017-05-23 12:54] #959 closed

[2017-05-26 16:41] zero-24 opened #962 "[jcertif] Learning Partners site broken"
Hello, for Certification Team, this link is broken : https://resources.joomla.org/en/joomla-learning-partners

![image](https://cloud.githubusercontent.com/assets/2596554/26503905/d50199fe-4242-11e7-920e-4a15f27684bc.png)

Reported by Eric Lamy in Glip.

[2017-05-26 16:43] mbabker commented on #962
Known issue - https://github.com/joomla/joomla-websites/issues/877

[2017-05-26 16:43] #962 closed

[2017-05-26 16:44] zero-24 commented on #877
We have just got another report see #962 thanks.

[2017-05-26 16:44] zero-24 commented on #962
thanks just added another coment.

[2017-05-26 17:09] genr8r commented on #877
Yes. The dev working on it does is not on github. He is the member of certifications that set up the page.  I will check status on this with him via email now. I am on the webmasters team and get pinged on all issues. So, I saw the full thread for #962

[2017-05-26 19:39] genr8r commented on #879
smart search is implemented in the main menu

[2017-05-26 19:39] #879 closed

[2017-05-26 19:50] genr8r commented on #881
@sebastienlapoux There was a field set incorrectly (Joomla contributions) on your listing that should have prevented it from showing altogether. Regardless, I set it correctly and it seems to have corrected the problem. I did reset your password to login so I could re-create the problem. I will send you the updated access.

[2017-05-26 19:50] #881 closed

[2017-05-26 19:58] genr8r commented on #877
I have converted this page to a standard Joomla article. I will let the certifications team know that they can either maintain the JLP information manually or correct the underlying issue on this page. I have retained the original external link menu item trying to pull zoo items by tag ala http://yootheme.com/support/question/22546

[2017-05-26 19:58] #877 closed

[2017-05-26 19:59] genr8r commented on #855
@sebastienlapoux is this still an issue for you? I believe this is addressed in #881 reopen if needed

[2017-05-26 20:08] genr8r commented on #924
Hi @brianpeat. I am sorry that I did not address your concern sooner. I just tested the process you outlined above in Safari and do not get the same behavior that you described. Perhaps a recent update in Safari addressed the concern??? Do you mind testing again in Safari on your end and letting me know if it is still a problem?
Thanks.

[2017-05-26 21:10] genr8r commented on #855
I was mistaken. This issue persists in spite of the fix for #881. I am reopening this until I fully resolve it.

[2017-05-27 16:41] mbabker opened #963 "[jorg] Refresh Privacy Policy"
https://www.joomla.org/privacy-policy.html is probably long overdue a review and refresh to be up-to-date with our current infrastructure.

[2017-05-30 14:49] brianpeat commented on #924
I haven't had a chance, but I'd still close this. Safari, especially in the beta of the OS, sometimes just fails until you restart it. I just forget that it has issues, so I hit a snag and freak out and then finally realize I need to just try Chrome instead. I doubt it's an issue with the site at all, it's completely a Safari thing and it comes and goes (and could be just an issue with the beta OS

[2017-05-30 14:49] #924 closed

[2017-05-30 15:42] genr8r commented on #924
Hey @brianpeat thanks for looping back on this.  I appreciate the extra info.

[2017-06-01 20:25] LukeDouglas2 commented on #749
I miss the Joomla Google Groups as that was a much better place to keep threads isolated. :(

[2017-06-04 09:20] Sandra97 commented on #963
Updated as I could.

[2017-06-04 10:40] zero-24 commented on #954
@mbabker should i remember you or did you did that already :P

[2017-06-05 15:18] andrepereiradasilva opened #964 "[jorg] How many languages? 68 or 74?"
In www.joomla.org says Joomla is available in 68 languages.

But in Joomla "Install Languages" says Joomla have 73 languages (not including en-GB) to install.

![image](https://cloud.githubusercontent.com/assets/9630530/26789667/eebedeec-4a08-11e7-87ab-b7a4c9a4c14c.png)

So in reallity seems Joomla is available in 74 languages (73 + en-GB).
If that's the case it needs to be updated in www.joomla.o

[2017-06-05 15:19] zero-24 commented on #964
This may come from the fact that e.g. german has a few copy of that language for de-DE de-CH etc. I'm not sure if that counts as language.

[2017-06-05 15:41] andrepereiradasilva commented on #964
If only counting the language itself, then as de-DE, de-LU, de-AT, de-CH, etc would be [German language](https://en.wikipedia.org/wiki/German_language) (de), pt-PT and pt-BR would be [Portuguese Language](https://en.wikipedia.org/wiki/Portuguese_language) (pt), as en-GB, en-US, en-AU, en-NZ, etc would be [English language](https://en.wikipedia.org/wiki/English_language) (en).

So if that logic wou

[2017-06-05 16:08] zero-24 commented on #964
hmm the thing about german is that all packages are containing the same translation. The reason is you don't need to package the language your self if you need multi language.

I'm not sure for the other ones. IIRC en-GB != en-US. Similiar to the other ones.

[2017-06-05 16:40] dcassone opened #965 "[jrd] Resources Directory Listing Request"
Please describe the problem or your issue
I submitted a listing request in the Joomla Resources Directory in February 2017 and have heard nothing.
I submitted a couple of tickets requesting the status and they have gone unanswered, none are even assigned.
It could be useful to include an URL of evidence.
resources.joomla.org My name is Dom Cassone
Please use a consistent title for your issue.

[2017-06-05 16:41] zero-24 commented on #965
Please see: https://github.com/joomla/joomla-cms/issues/16539 for more infos.

[2017-06-05 16:42] zero-24 commented on #965
the last message was not for you @dcassone ;) It was for the JRD admin ;)

[2017-06-05 16:50] andrepereiradasilva commented on #964
yes of course they are different.
so de-* are exactly the same? didn't know that

[2017-06-05 16:52] zero-24 commented on #964
Yes.

[2017-06-05 16:55] andrepereiradasilva commented on #964
ok the logic is the 5 de-* lang packs count as 1 language?

should be 70 them :smile_cat: . but i guess there are more cases like de-* in other languages

[2017-06-05 16:58] zero-24 commented on #964
Maybe. I have not come up with that count just with that kind of extra info ;)

For sure we can also count them as individual language. But this is not my decision ;)

[2017-06-05 17:01] andrepereiradasilva commented on #964
yes, sure just raised this issue because saw the difference in number.

doesn't mean that is really an issue if this was decided this way.

If it's not an issue can be closed.

[2017-06-05 17:07] Bakual commented on #964
I don't think there are other languages which are identical. THe german one is special here.
There website is likely off by the two or so languages we added recently.

[2017-06-06 20:05] PhilETaylor opened #966 ""My server cannot connect to update.joomla.org""
Dear @mbabker et al.

This Joomla Users server cannot connect for updates

I have uploaded a test script containing this code:

[code]

To his server here: https://winkelcentrumheinkenszand.nl/test-myjoomla.php

As you can see the error message is `Connection Refused`

You can see the servers IP address its coming from

Please can you check any firewall rules that might be blocking this customers

[2017-06-07 21:21] webdjam opened #967 "Name of the country is Algeria!"
Hello @jeckodevelopment ,
Can you please correct on the article 8 new Certified Administrators at JandBeyond the name of the country to Algeria, Algiers is the capital.
Best,
Djamel

[2017-06-07 23:24] webdjam commented on #967
I forgot to mention

[2017-06-08 11:22] umuehlbo opened #968 "not possible to create categories"
HEllo.
When I want to create a new category it's not possible to click save or save&leave.
Nothing happens.
Also the same for new posts.
thanks
Uwe

[2017-06-08 11:23] Radek-Suski commented on #968
Hi,
This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page
or repport an issue on: https://issues.joomla.org/

Regards,
Thanks

[2017-06-08 11:23] #968 closed

[2017-06-09 02:48] mbabker commented on #966
Can someone who can submit tickets take this on please?  Until I get the hardware failures in my laptop addressed, my availability is going to be severely limited.

[2017-06-09 02:50] #963 closed

[2017-06-09 09:55] Sandra97 commented on #966
@Joomv Could you submit a ticket please?

[2017-06-09 16:11] Sandra97 commented on #964
Seems we have 76 Joomla 3.x Accredited Translations packs on joomlacode (even if some are still Beta). + en-GB
We can use this number.
And don't forget that it's more marketing data than accurate ones in all this number section of jorg (we can't have accurate numbers for most of them).

[2017-06-10 01:41] Sandra97 commented on #955
Message has been updated.
Closing this issue.
Re-open if needed.

[2017-06-10 01:41] #955 closed

[2017-06-10 09:23] Django29 opened #969 "[forum.joomla.org] Impossible to connect"
Hi
On joomla.org, I can't loggin anymore.
The username and password are refused (same as I use on this forum).
In case I made a mistake on the password, I asked for an email to recover it : Username and/or email refused.
Then I tried to create another account, with another email. After 15mn, I haven't received any confirmation email.
Then I tried to connect by another login module (https://communi

[2017-06-10 10:16] Sandra97 commented on #969
Hi,

Community and Forum are separate websites, so that's normal you can't log in cjo with your forum credentials.
joomla.org is not open to user registration, so it's normal you can't login.

For forum.joomla.org, could you please fill the form: https://community.joomla.org/helpdesk/forum-un-ban-request.html

[2017-06-10 11:52] pe7er opened #970 "[jcm] "Register Now!" not working"
Please describe the problem or your issue
It could be useful to include an URL of evidence.
Please use a consistent title for your issue.

[2017-06-10 11:52] Radek-Suski commented on #970
??

[2017-06-10 11:53] pe7er commented on #970
There seems to be a problem with the JCM registration page: The "Register Now!" at https://magazine.joomla.org/authors redirects to https://magazine.joomla.org/login

Source: https://forum.joomla.org/viewtopic.php?f=573&t=951633
I was able to reproduce the issue.

[2017-06-10 11:58] pe7er commented on #970
@Radek-Suski Sorry for the confusion. I pressed "Comment" too early :-)

[2017-06-10 12:00] Radek-Suski commented on #970
Now it make sense 👍

[2017-06-10 12:00] Sandra97 commented on #970
True. You can login but you can't create an account.
@helvecio @JacquesR, could you please look at that?

[2017-06-10 17:08] JacquesR commented on #970
Thanks @pe7er
I'll have a look

[2017-06-10 21:57] JacquesR commented on #970
OK, Author registration page text updated, and duplicate Author registration module unpublished. I'll post a comment in the forum thread.
(re-open if you still find an issue)

[2017-06-10 21:57] #970 closed

[2017-06-11 14:36] zero-24 opened #971 "My Docs Language Plugin proposal for *joomla.org"
As previously discussed with @Sandra97 and @mbabker here is my plugin for the my Docs language thing.

https://github.com/zero-24/plg_content_mydocslanguage/releases/latest

This content plugin makes sure that all links to docs.joomla.org inlcude the `Special:MyLanguage` tag. We are currently using this on the offical german site maybe we can use it on the offical joomla sites too. This way the au

[2017-06-12 18:31] jpmdejonge commented on #966
Dear all, @Joomv ,

It is still not possible to make a connection to the update server. Is a ticket for this already created?
The IP address of our server is 79.170.88.108

[2017-06-14 10:06] Joomv commented on #966
Rochen have come back saying nothing their end of this IP.  I have referred them to this thread for more information.  When I have more feedback I will let you know.

[2017-06-14 10:07] Joomv commented on #969
Two Factor Authentication is enabled on CJO but it is optional.  All Super Users have it.  It is not required for registered users.

[2017-06-14 11:33] jpmdejonge commented on #966
Seems that our FW is blocking outgoing to Joomla update servers.

[2017-06-14 11:49] jpmdejonge commented on #966
Resolved, IP of Joomla update server was indeed blocked in CSF.

[2017-06-16 16:45] #966 closed

[2017-06-16 16:46] #967 closed

[2017-06-16 16:46] jeckodevelopment commented on #967
done several days ago. forgot to close this.

[2017-06-17 17:10] Sandra97 commented on #935
PHP 7.0.20 for Demo. At least, it's PHP 7 ;)
Closing this issue.
Re-open if needed.

[2017-06-17 17:10] #935 closed

[2017-06-22 12:52] mbabker commented on #971
I don't think we need to make it policy to use this, but it definitely seems like a good idea for the sites that are commonly referencing stuff in the docs wiki (so the main www site since we link there in every release announcement and probably the dev site since we do have a fair number of docs links there).

[2017-06-22 16:14] zero-24 commented on #971
Yes this was the intention ;)

[2017-06-25 10:49] Joomv commented on #969
I am closing this as no response from OP.

[2017-06-25 10:49] #969 closed

[2017-06-25 10:52] Joomv opened #972 "OSTraining - Invalid License Key"
@stevejburge  Sorry to bother you again, but I can't update the Ostraining Component, it says invalid license key.  Could you please take a look?  Thanks

[2017-06-25 18:23] uglyeoin opened #973 "[jdocs] I can't edit this page https://docs.joomla.org/Security_Checklist/Hosting_and_Server_Setup"
Please describe the problem or your issue
It could be useful to include an URL of evidence.
Please use a consistent title for your issue.
https://docs.joomla.org/Security_Checklist/Hosting_and_Server_Setup
I want to edit the part that says **use PHP 5** and change it to PHP7.  If someone from the security team is better placed to do this then please forward my request.

[2017-06-25 18:25] zero-24 commented on #973
Confirmed. There are also 404 / 503 Links on that page. 😄

[2017-06-25 18:29] zero-24 commented on #973
looks like this is expected see: `temporary until JSST group is created ([Edit=Allow only administrators] (indefinite) [Move=Allow only administrators] (indefinite)))`
https://docs.joomla.org/index.php?title=Security_Checklist/Hosting_and_Server_Setup&action=history

I don't know if a JSST Group is created until that day.

[2017-06-25 18:33] mbabker commented on #973
That entire page needs rewritten.  It's all geared toward Joomla! 1.5 at a quick glance.

[2017-06-25 18:44] uglyeoin commented on #973
I think someone more technical than I is better placed to do this, but it is a useful doc that we should be signposting I think.  Unless there's another newer version?

[2017-06-25 18:47] Sandra97 commented on #973
The page hasn't been updated in the last 4 years. If it's completely out of date and if nobody can update it, we'll archive it.

[2017-06-25 21:34] Sandra97 commented on #964
I'm sorry, but I don't see any real interest in this discussion.
Closing this issue.
Re-open if needed.

[2017-06-25 21:34] #964 closed

[2017-06-25 21:49] Sandra97 commented on #948
We don't restore obsolete pages, and Tobias mentioned a link which should do the job.
Closing this issue.
Re-open if needed.

[2017-06-25 21:49] #948 closed

[2017-06-25 22:12] Sandra97 commented on #971
@zero-24
Installed on https://www.joomla.org/3 and it works fine.

But I have a question...
Why for German the URL is  `https://docs.joomla.org/Special:MyLanguage/J3.x:Adding_custom_fields/de`?
It should just be `https://docs.joomla.org/Special:MyLanguage/J3.x:Adding_custom_fields` (it works with `/de` at the end but it's not correct)
(Note that the other languages I checked are ok, it happens onl

[2017-06-25 22:16] zero-24 commented on #971
hmm could it be that the link was already `https://docs.joomla.org/J3.x:Adding_custom_fields/de` before the plugin did run? The Plugin just adds the `Special:MyLanguage/` when not there. ;)

[2017-06-25 22:25] Sandra97 commented on #971
Let me check

[2017-06-25 22:28] Sandra97 commented on #971
You were right. It's ok now.
I'm gonna install it on org too.

[2017-06-25 22:37] zero-24 commented on #971
👍

[2017-06-26 00:08] Hutchy68 commented on #973
Lol it is or was under jsst. Then supposedly they moved to vel subdomain. I think Phil was supposed to be taking care of them because if any editor edited them a certain someone would freak out.

At this point, 4 years later, I would say they are abandoned. As abandoned property it is subject to seizure if jsst will not do their job and keep them updated.

[2017-06-26 19:27] andergmartins commented on #972
@Joomv Please, could you check what license key you are using? You can check on the OSMyLicensesManager plugin's settings. Please, could you send it to my email: anderson@ostraining.com. Thanks.

[2017-06-26 22:35] Joomv commented on #972
Emailed it to you.
Thank you!
Rowan

[2017-06-27 08:22] zero-24 opened #974 "[jdev] Update nightly build script"
Please update the nightly build script exclusion array arcording to https://github.com/joomla/joomla-cms/blob/staging/build/build.php#L101-L125

last change was: https://github.com/joomla/joomla-cms/commit/5b6abe821a02050dfaec30371d7b21fb9a8cdb5a

[2017-06-27 12:25] mbabker commented on #974
Done

[2017-06-27 12:25] #974 closed

[2017-06-27 15:57] pukero12 opened #975 "[joomla.org]"
Good morning.

I have the following problem:
- The super user, I have granted all the permissions and I have verified more than 100 times. But when I try to create an article or update some other element inside
Of the administrator of joomla and I can save it, the page is redirected to the base bone to the one already constructed, I explain myself better. The company in which I work already has a

[2017-06-27 15:59] Sandra97 commented on #975
Hi,
This repository is ONLY for reporting issues with the *.joomla.org websites, not the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page
-https://issues.joomla.org/

Regards,
Thanks

[2017-06-27 15:59] #975 closed

[2017-06-27 19:27] mandville commented on #973
inaccurate i am afraid. **JSST** are still the JSST who deal with **CORE** at https://developer.joomla.org/security.html
The **VEL** on vel.joomla.org deal with **vulnerable extensions.**

afaik Phild did work on it till he was asked to stop in prep' for updates re 2.5/3

[2017-06-27 20:18] PhilETaylor commented on #973
Two people have alerted me to this thread now, so I'll reply

To be clear, `Phil` doesnt mean @philetaylor here, it means, `[Phild](https://docs.joomla.org/User:Phild)` whoever that is!

First I have heard of it. I dont *do* wiki's I hate them.

If you mean me, I would only freak out when "idiots" pretend to be security experts. This happens daily on the Joomla Security Forums and elsewhere.

I do

[2017-06-27 21:59] Sandra97 commented on #973
Permissions of the page changed.
You can all edit it if you want.
If nobody wants to edit it, we will archive and block it.

[2017-06-28 01:51] Hutchy68 commented on #973
The VEL on vel.joomla.org deal with vulnerable extensions.

Based on all the communications of almost 5 years ago and the cross work you (@mandville) did I thought they basically worked in sync. My apologies, but all I knew was there were 2 people who always watched and sent me PMs(which I still have) on J! forum. The jist was do not edit those pages nor were they to be edited by "JDocs" editors.

[2017-06-28 06:57] smangipudigithub opened #976 "[jhelp] Unable to see API Manager Configuration and Email Templates in Joomla Global Configuration (Administrator > System)"
[jhelp] Unable to see API Manager Configuration and Email Templates in Joomla Global Configuration (Administrator > System)

[2017-06-28 06:57] smangipudigithub commented on #976
This is related to TIBCO API Exchange Manager - Developer Portal Configuration

[2017-06-28 07:37] zero-24 commented on #976
@smangipudigithub this sounds like a issue with the extension ? And had nothing to with the core help system?

[2017-06-28 07:39] smangipudigithub commented on #976
Thank you.

Installed these extensions - pkg_cobalt.j3.everything.v.8.542_patch08.zip, pkg_cobalt.j3.media.v.8.78.zip
They came as part of Cobalt extensions for TIBCO API Manager Portal Setup through Joomla.

[2017-06-28 08:37] Webdongle commented on #973
Apart from one broken link and a section called **Use PHP5** ... what is out of date in that page ?

imho

1. The page should be locked from general editing to stop everyone and their dog from mucking it up
2. Whoever is in charge of the wiki should find someone who is able to edit it with the correct information ... then allow them editing rights

This shows the weakness in using a wiki.  If Joom

[2017-06-28 08:45] Sandra97 commented on #973
@Webdongle Seems you don't know a lot about the Wiki. Anyway, I don't have time to waste in useless talk

[2017-06-28 08:50] Webdongle commented on #973
@Sandra97
My post was not useless talk and I feel strongly about who should be allowed to edit security pages in Joomla docs.  Please do not try to dismiss my concerns by using flippant comments.

[2017-06-28 08:56] Sandra97 commented on #973
We are checking every single edit on JDocs every single day and reverting them when needed.
If it wasn't the case, JDocs today would be just a site full of spam.
We opened this page yesterday so that Claire can update it (and she did some edits). We'll reprotect it when needed.
It's not because a page is open for edits that it means we will accept edits.
The principle of a wiki is to be open for a

[2017-06-28 09:10] Webdongle commented on #973
If it wasn't the case, JDocs today would be just a site full of spam
Great ... so you will know if an edit is factually correct and if the person editing it knows more than you about security ?

My point exactly ... with Joomla you could just have added her to a User Group.  That would negate the need to allow everyone and their dog to edit the page ... which would mean less (possible) edits to ch

[2017-06-28 09:30] anibalsanchez opened #977 "[jorg] Press Inquiries/ Contact for Press and Media only - First option"
In the Press Inquiries page, the alternative "Looking to get in touch with the Media & Marketing team" to the users that follow the right path is the last one in the list.

The option "Looking to get in touch with the Media & Marketing team" should be the first one of the list.

The rest of the alternatives are defined to guide users who don't find what they are looking for.

A

[2017-06-28 09:35] uglyeoin commented on #973
@Webdongle as they are the gatekeepers they should be able to judge whether the workload is too much.

Although I see where you're coming from, not everyone and their dog should be able to edit, I am everyone and his dog, I'm not a security expert.  But I wanted to update the PHP version to 7, which is a small change, but would have been helpful enough.

I think having and encouraging contributors

[2017-06-28 09:35] Sandra97 commented on #977
You already know I agree with you ;)
Let's wait for more feedback.

[2017-06-28 10:25] MATsxm commented on #977
+1

[2017-06-28 11:15] zero-24 commented on #976
Great. Than please contact the developer of that extension. As I don't know that extension nor is this extension shipped with the core cms :)

[2017-06-28 12:28] #976 closed

[2017-06-28 13:22] mandville commented on #973
clarification : the main page that was requested locked/restricted at the time was the checklist 7 and the original vel page (on docs.joomla.org)
currently i have altered the php 4/5 to 7 and removed the link that was leading to a 18+ website~
feel free to add in the discussions page any other suggestions if the page is locked

[2017-06-28 13:50] Webdongle commented on #973
@uglyeoin
I totally agree with Phil ... there are a lot of idiots who think they know when they don't.  I for one make many mistakes with my understanding of things but am aware that I do ... so I rarely edit the wiki.

It's the (accuracy of) method of moderating the edits that I question not the moderators themselves.    My point is that instead a a few people moderating all edits (including subj

[2017-06-28 13:59] mbabker commented on #973
Correcting some of the system ignorance, Mediawiki does indeed have user
groups and ACL so referencing those features and using that as a "Joomla is
better" argument is a mute point.
--
- Michael Please pardon any errors, this message was sent from my iPhone.

[2017-06-28 15:12] uglyeoin commented on #973
@Webdongle I'm not arguing that you and @PhilETaylor  have superior knowledge, I'm just saying it's impolite to call people idiots in an public forum.  It's very condescending, and probably against CoC.  That they are following official Joomla! documentation would seemingly make them educated fools, but we educated them. I guess that makes us idiots too.

I don't really understand your point, you

[2017-06-28 15:13] Hutchy68 commented on #973
First, I must apologize to @uglyeoin. Thanks for wanting to improve documentation. There are a lot of community members who should follow your initiative.

The recent [Open Source Survey](http://opensourcesurvey.org/2017/) spells it out plainly. **Incomplete or outdated documentation is a pervasive problem, observed by 93% of respondents, yet 60% of contributors say they rarely or never contribute

[2017-06-28 15:15] mbabker commented on #973
I can't speak for David, but personally I'd have no problem expanding the Security section on that site with more information.

[2017-06-28 15:21] Hutchy68 commented on #973
Perfect! When they are setup, all I need is the urls. I can archive those pages and do rewrites to send to JSST pages. Thanks @mbabker

[2017-06-28 16:02] coolcat-creations opened #978 "[jrd] Edit profile form is empty"
Hi! I wanted to edit my resources Profile since i changed my businessname last year. When i click on "edit" there are no input fields.
Thanks,
Elisa

[2017-06-28 16:23] genr8r commented on #978
Hi Elisa,
Are you clicking the pencil icon to edit? If you simply click the listing title it will open the listing and not allow you to edit. Clicking the pencil icon gives you access to the fields.

[2017-06-28 17:05] Webdongle commented on #973
@mbabker

Great ... then Claire can be given edit permission without everyone else being able to edit it ?  And newly created pages by new wiki users can be unpublished until checked thoroughly in order to prevent pages that advice updating with Release Candidates ?

@uglyeoin
Phil has superior knowledge of server/site security ... I don't but I don't

[2017-06-28 17:41] coolcat-creations commented on #978
Hi @genr8r thank you for your fast reaction. Now it worked. I tried to edit it through the link inside the listing:
![image](https://user-images.githubusercontent.com/828371/27651751-a9562160-5c39-11e7-84f4-50239cab1da0.png)

Maybe this link can be hidden, because it does not work :)

[2017-06-28 17:41] #978 closed

[2017-06-28 17:43] mbabker commented on #973
Right, if the docs team chooses to set that up.  It sounds like there's a nudge to consolidate security advice into the security center on the dev site, I'm personally OK with that but I think VEL & JSST need to work out what'll be best for that instead of either myself or the docs team trying to push it one way or another.

Theoretically if there's a publishing workflow in Mediawiki then yes, but

[2017-06-28 18:05] Webdongle commented on #973
@mbabker

That would be great because I for one would like to be assured that 'official Joomla security advice was written by (and/or reviewed by) someone who knows what they are doing when it comes to security.

'_publishing workflow'_ ... ahh that sums it up completely.  That is what is missing and that is something that would be easily implemented using Joomla without the need for extra reviewe

[2017-06-28 18:08] mbabker commented on #973
Not necessarily.  If we had a documentation site built on Joomla where any user could contribute, said users would still need to register an account, go to the create content area, write their page, and said page be saved in an unpublished state pending a editor/manager review and publishing it.  So again, the workflow is not much different, it is simply a different software stack.  The main diffe

[2017-06-28 19:21] Webdongle commented on #973
Big difference between an unchecked new page being held unpublished until reviewed fully by a person who understands that part of the subject ... and an unchecked new page being published immediately and sitting there while it is looked over by someone who might (or might not) be experienced in that area.  The latter allows more chance of incorrect information posing as 'Official documentation'.

[2017-06-28 19:26] PhilETaylor commented on #973
Other than "Joomla Best Practice" I don't believe its the role of the Joomla Project to educate Joomla users on general internet/web hosting/server security.

To quote someone else, **_"Stick to the code!"_**

[2017-06-28 19:27] mbabker commented on #973
My main point is the software is not the problem here, and you've made reference a couple of times that "Joomla would handle this more efficiently than Mediawiki" in essence.  The same types of workflow problems can exist whether we are using Mediawiki, Joomla, phpBB, or any other software stack in our inventory or at our disposal.

[2017-06-28 21:39] genr8r commented on #978
Thanks @coolcat-creations. Apparently, everyone has been happily using the "pencil" method on this as there wasn't a view setup for the submissions edit. I know you closed this already, but I setup a basic view and we will review it more extensively at the JRD team meeting next week. Thanks for letting us know. I am glad you got everything set with you listing.

[2017-06-28 22:14] coolcat-creations commented on #978
Thank you @genr8r :-)

[2017-06-29 02:56] andergmartins commented on #972
Hi, thank you.
Please, could you try again? I double checked your license and everything looks ok now.
Cheers,

[2017-06-30 05:31] jeffreygreenemetaldesigns opened #979 "Don't have access to the Super Admin account but want to use domain name registered to me"
the domain name is registered to my dad, but he had a friend design the website for him (she used joomla) she gave him basic instructions to upkeep the website by adding pictures but now he's asked me, to do more. I want to update the website to the newest version of joomla and run it myself. This is the only problem I've run into

[2017-06-30 06:05] franz-wohlkoenig commented on #979
Please ask help on the [forums](https://forum.joomla.org/). This repository concerns Joomla coding.

[2017-06-30 08:44] #979 closed

[2017-06-30 22:00] tsmitharts opened #980 "[jcomm] Training Site"
It seems like the Joomla Training videos are broken. I tried Safari and Chrome. I was using the yesterday. Thanks for any help -Tim
<img width="1123" alt="screen shot 2017-06-29 at 2 40 40 pm" src="https://user-images.githubusercontent.com/29805934/27755482-d0c97730-5da4-11e7-8fb1-a01702f0fdc8.png">
<img width="1084" alt="screen shot 2017-06-29 at 2 49 32 pm" src="https://user-images.githubusercon

[2017-06-30 22:12] Joomv commented on #972
Now the entire section is down with the following error message.
Fatal error: Call to undefined method Defuse\Crypto\Crypto::hexToBin() in /administrator/components/com_osteammatejoomla/library/osteammate/src/API/Client.php on line 206
I have replaced the component with an offline page in the meantime.
@andergmartins @stevejburge

[2017-06-30 22:14] stevejburge commented on #972
Guys, with the greatest respect, this stuff keeps getting reported at about
8pm on Friday nights when everyone is gone for the weekend.

I'll see what I can do.

On Fri, Jun 30, 2017 at 6:12 PM, Rowan Hoskyns Abrahall <
notifications@github.com> wrote:

[2017-06-30 22:14] stevejburge commented on #972
Guys, with the greatest respect, this stuff keeps getting reported at about 8pm on Friday night when everyone is gone for the weekend.

I'll see what I can do.

[2017-06-30 22:17] Sandra97 commented on #980
Hi Tony,
Thanks for your report.
We have had to take the training section down for maintenance.
Please try back shortly.

[2017-06-30 22:27] Joomv commented on #972
Hi Steve,
I completely understand where you are coming from, but I only report it when I see it.
Its 23:30 here and I just ended up with a cold dinner (first meal of my day too) so I really do understand where you are coming from.

[2017-06-30 22:29] stevejburge commented on #972
Is there a link we can use to verify it’s working? (avoiding the offline page)

[2017-06-30 22:33] Joomv commented on #972
https://community.joomla.org/train-test.html

[2017-06-30 22:43] stevejburge commented on #972
Thanks

It looks like a update from a while back was applied today. Friday updates :-0

We're working on it

[2017-06-30 23:11] billtomczak commented on #972
We've published a new release I'm hoping will correct the problem. Could you please update OSTeammateJoomla and let us know?

[2017-06-30 23:17] tsmitharts commented on #980
Thank you for working on it! -Tim

On Fri, Jun 30, 2017 at 3:17 PM, Sandra Decoux <notifications@github.com>
wrote:

[2017-06-30 23:22] Joomv commented on #972
HI @billtomczak  - sadly, doesn't appear to have fixed it.
We have an offline notice up, so there's a temporary solution in place.
Go enjoy your Friday night guys, we can pick this up in the morning or even Monday.
I really didn't mean to ruin your Friday, and am truly sorry for that.

[2017-06-30 23:25] stevejburge commented on #972
Ok, sorry about that, Rowan

[2017-06-30 23:25] Joomv commented on #977
It completely defeats the purpose of the form.  The purpose of the form is to reduce the 1000's of spam messages that account gets and to direct those who are not spam but looking in the wrong place to the right place, you put that choice first and people will ignore all the other options and just send a message.
No point in changing it if that's all you're going to do, might as well just keep it

[2017-06-30 23:40] Joomv commented on #946
I've archived the article and removed the accordion.
Closing

[2017-06-30 23:40] #946 closed

[2017-06-30 23:41] MATsxm commented on #977
then just delete it....
this is just crazy

[2017-07-01 10:51] Sandra97 commented on #977
To reduce spams, just add a reCAPTCHA.
But AFAIK, many messages are requests from Joomla users, do we consider our users as spammers? ;)
No need to mention the answer for these users is ready, and translated in many languages. Answering a user is never a lack of time. Some users can be a bit lost and don't know where to find the information they are looking for, it doesn't require so much time to

[2017-07-03 14:31] andergmartins commented on #972
Hi @Joomv, sorry for the inconvenience.
I just released a new package addressing this issue.
Please, could you try updating? Let me know how it goes.

Looking forward to helping.

[2017-07-04 09:56] Joomv commented on #972
@andergmartins  - We have a winner. Training is back and live! Thank you for your help!

[2017-07-04 09:56] #972 closed

[2017-07-04 09:57] Joomv commented on #980
@tsmitharts  This has been fixed by the provider and training is now live again.

[2017-07-04 09:57] #980 closed

[2017-07-04 10:07] Sandra97 commented on #972
And thank you Rowan for taking care of it!

[2017-07-04 10:48] musiclessonsinyourhouse opened #981 "Joomla log in"
Joomla: Experiencing issues with log-in to update website.
Doesn't recognize my email to reset password.
 Is there an 800-number for support ?

[2017-07-04 11:02] Sandra97 commented on #981
Hi,
This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page
or repport an issue on: https://issues.joomla.org/

Regards,
Thanks

[2017-07-04 11:02] #981 closed

[2017-07-04 12:50] andergmartins commented on #972
@Joomv Cool! You're more than welcome.

[2017-07-04 14:15] 2-49bespoke opened #982 "[joomla.org]"
I'm receiving intermittent 500 internal server error and couldn't find anyway to fix it.
Have browsed the web for answers and checked all the ones I could find, which mainly focus on htaccess file, to no avail.
I'm using joomla 3.7.2 with PHP 5.6.30

Any help would be appreciated

[2017-07-04 14:19] Sandra97 commented on #982
Hi,
This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page
or report an issue on: https://issues.joomla.org/

Regards,
Thanks

[2017-07-04 14:19] #982 closed

[2017-07-04 14:21] 2-49bespoke commented on #982
Sorry about that, did not know.

Can you please direct me to the right place?

Thanks in advance,

Helio

From: Sandra Decoux [mailto:notifications@github.com]
Sent: July 4, 2017 10:19 AM
To: joomla/joomla-websites <joomla-websites@noreply.github.com>
Cc: 2-49bespoke <2@49bespoke.com>; Author <author@noreply.github.com>
Subject: Re: [joomla/joomla-websites] [joomla.org] (#982)

Hi,
This repository

[2017-07-04 14:22] Sandra97 commented on #982
Best place is to ask for help on the forum: https://forum.joomla.org/

[2017-07-05 08:53] brianteeman opened #983 "[joomla.com] php version"
Some of my joomla.com sites are running on php5 and are getting the warning message (some are on php7)

<img width="941" alt="screenshotr09-52-09" src="https://user-images.githubusercontent.com/1296369/27856965-c1c0fada-6167-11e7-92b4-bedb25665a79.png">

[2017-07-05 09:22] Sandra97 commented on #983
I'll inform SiteGround and will let you know.

[2017-07-05 14:08] anibalsanchez opened #984 "Volunteers contact form is not working"
A volunteer tried to contact the JED team ... but the contact was never received.

I've just tested the contact form and I didn't receive an email either.

https://volunteers.joomla.org/teams/extensions-directory-team#contact

Please, confirm us if we should be receiving these emails or they are going to somewhere else.

A

[2017-07-05 15:24] Sandra97 commented on #984
You should edit the team and first check if you have set up the right email address.

[2017-07-05 16:04] franz-wohlkoenig opened #985 "[jforum] Contact Board Administrator has been disabled"
As i can't remember my Username  clicked on the Link:
![bildschirmfoto 2017-07-05 um 18 03 50](https://user-images.githubusercontent.com/8235763/27873420-58956c18-61ac-11e7-8f4e-35cf2cfc7997.jpg)
got:
![bildschirmfoto 2017-07-05 um 18 04 27](https://user-images.githubusercontent.com/8235763/27873435-6a3087a0-61ac-11e7-9110-31a3589af389.jpg)

[2017-07-05 16:06] mbabker commented on #985
There's an area on https://community.joomla.org that gets used for that (for the life of me I can't remember where), but it'd also be a good UX improvement to change that link to point to CJO.

[2017-07-05 16:12] PolishedGeek commented on #583
Hello - This is Deb, from the JRD team. I used to be active on both the Trademark team along with the JRD, and I used to be the official TM representative on this team. It is my understanding that the bang (!) and the TM only have to appear the FIRST time Joomla is used on a page. This was discussed at length back in the day with Duke Speer and it was agreed that overuse of the bang and TM only se

[2017-07-05 16:13] Sandra97 commented on #985
That area maybe: https://community.joomla.org/helpdesk/department/general-assistance.html

[2017-07-05 16:28] ooffick commented on #985
Would you mind submitting the following form:
https://community.joomla.org/helpdesk/forum-un-ban-request.html

Kind regards
Olaf

[2017-07-05 16:53] anibalsanchez commented on #984
Yes, it works in that way.

It should be better to warn that emails are not being sent... or configure a default address for all teams.

A

[2017-07-05 16:55] sanderpotjer commented on #984
It should use the team leader email as fall-back, but will double check that.

[2017-07-05 17:08] sanderpotjer commented on #984
@anibalsanchez Just checked it, and without the email specifically set the mail went to the team leader indeed. Also for the JED, so to Jaz.

[2017-07-05 17:11] anibalsanchez commented on #984
okok, Txs

[2017-07-05 17:11] #984 closed

[2017-07-05 17:50] zero-24 opened #986 "[jdev] Nightly Build script update"
Please update the nightly build script exclusion array arcording to https://github.com/joomla/joomla-cms/blob/staging/build/build.php#L101-L125 tother with https://github.com/joomla/joomla-cms/pull/16987

[2017-07-05 18:06] MATsxm commented on #583
@PolishedGeek
https://docs.joomla.org/Joomla:Proper_use_of_the_Joomla!_name
# ***BUT**
since then some decided to change it again then I guess tis issue should be closed...

Have fun!

[2017-07-05 19:36] pe7er commented on #985
Could you try **franzwohlkoenig** as username?

[2017-07-06 04:51] franz-wohlkoenig commented on #985
@pe7er thanks, works. Close this Issue?

[2017-07-06 07:13] pe7er commented on #985
@franz-wohlkoenig Ok, good to hear!
I suppose that you can close your own issue with the button below the comment box.

[2017-07-06 07:19] franz-wohlkoenig commented on #985
you're right ;-)

[2017-07-06 07:19] #985 closed

[2017-07-06 07:55] kirilhristov commented on #983
We are working on rolling out the PHP update to all servers.

Meanwhile, we have temporarily set the plugin that displays the error to disabled by default.

I will provide an update here when we are all done.

Thanks for reporting.

[2017-07-06 09:28] Sandra97 commented on #983
Thanks Kiril!

[2017-07-06 11:16] zero-24 commented on #986
Now that the PR is merged you can use the exclude files from the staging branch

[2017-07-06 15:04] Sandra97 opened #987 "[jshow] Can't select tags"
When submitting a site, I cannot select the tags I would like.
When I click in the box, some tags suddenly appear but I can't delete them.
![index](https://user-images.githubusercontent.com/4682328/27917680-179b51e0-6243-11e7-8a88-8eacb85757df.png)

@sebastienlapoux Could you give a look?

Merci !!!

[2017-07-06 22:57] Sandra97 opened #988 "[jshow] How to remove a site"
Hello,

I haven't seen any button in my account in order to delete a website.
It would be useful to be able to, at least, unpublished an entry when for example a site is rebuild with another CMS...

Thanks

[2017-07-06 23:09] Sandra97 opened #989 "[jshow] Instagram Icon not displayed - Template update"
Could you please update the template to its latest version?
At the same time, it will solve the Instagram icon issue
![index](https://user-images.githubusercontent.com/4682328/27936382-7c0509f6-627e-11e7-9ce4-0d5d0d057d19.png)

[2017-07-07 12:32] mbabker commented on #986
Done

[2017-07-07 12:32] #986 closed

[2017-07-07 16:19] Sardarbek1 opened #990 "Sado"
Please describe the problem or your issue
It could be useful to include an URL of evidence.
Please use a consistent title for your issue.

[2017-07-07 16:24] franz-wohlkoenig commented on #990
there is no Content given. Please add Content about one of the Websites of Joomla-Communtiy.

[2017-07-07 23:18] lumptolaughter opened #991 "[joomla.org]"
I am using 2.5 I believe of Joomla.  I turned on Force SSL and my site is completely gone.  I make changes in Joomla but host it with GoDaddy.  I can now not log in at all to change that back and I need assistance.  I need a backup of my site before the changes were made too.  the site is www.lumptolaughter.org    GoDaddy does not have a backup and cannot access the site.  My number is 910-617-445

[2017-07-07 23:58] zero-24 commented on #991
Please use the forum you can find here: https://forum.joomla.org This repo is about the joomla org sites ;)

[2017-07-08 09:09] #991 closed

[2017-07-09 18:47] Sandra97 commented on #990
Closing this issue.
Re-open if needed.

[2017-07-09 18:47] #990 closed

[2017-07-09 18:53] Sandra97 commented on #977
I've reordered the dropdown list and put the Media Contact first.
It's a page for Media Requests so Media should be logically first.

[2017-07-12 11:03] clivepinchbeck opened #992 "Contact Us Page v3.7.3"
After updating to Joomla 3.7.3 our 'contact us' page has lost the address and post cost code information.
Can anyone advise how to resolve please - I have compared and checked all settings.

After Update
https://www.baby-bouquets.co.uk/contact

Before Update
https://www.dev.baby-bouquets.co.uk/contact-us

[2017-07-12 11:33] Sandra97 commented on #992
Hello,

It's a known issue with 3.7.3 : https://github.com/joomla/joomla-cms/issues/16968
Here is the PR: https://github.com/joomla/joomla-cms/pull/16971
Or you can just wait for 3.7.4 for the fix.

[2017-07-12 12:09] clivepinchbeck commented on #992
Hi Sandra, thanks I will wait rather than edit any code, I am pleased to hear it is a known issue and will be fixed in next release though.

[2017-07-12 12:25] brianteeman commented on #907
Re-opening as it is a confirmed issue in common.css at very high resolutions

[code]

[2017-07-12 12:29] Joomv commented on #907
I can confirm this happens, to replicate zoom in on Chrome to 150% or above and you will see the truncation.

The css above is only part of it, as it is also manipulated by JavaScript in these classes which are just below.

.breadcrumbs .crumb.wrapped-max a { max-width: 120px; }
.breadcrumbs .crumb.wrapped-wide a { max-width: 100px; }
.breadcrumbs .crumb.wrapped-medium a { max-width: 80px; }
.brea

[2017-07-12 13:03] ooffick commented on #907
I have changed this now, so that it is no longer truncated.

[2017-07-12 13:25] Joomv commented on #907
Thank you, can confirm that this is now fixed!
Another mystery solved!

[2017-07-12 13:25] #907 closed

[2017-07-12 13:27] brianteeman commented on #907
Thanks - its all cool now

[2017-07-12 13:45] #992 closed

[2017-07-12 15:33] dustenharward commented on #983
We have migrated all of our dedicated servers to PHP 7.0 and everything is running great for us. We tried to take a few sites to 7.1 and it caused some issues with plugins not being compatible so I wouldn't advise going that far.

[2017-07-12 15:38] brianteeman commented on #983
That's not relevant to joomla.com

[2017-07-12 20:31] uglyeoin opened #993 "[jforum]"
https://forum.joomla.org/ this page has a title of Joomla - index page.  I think someone should speak to the SEO team about renaming this page and seeing if there are any other tweaks that could help.

[2017-07-12 21:04] webdjam opened #994 "[Joomla.com] PHP and languages outdated"
Hello @Sandra97
I would  like to report two issue on Joomla.com, the first one is the php version who is out of date, the php version running on joomla.com is 5.5.22, this version is not more supported and can cause some security issue, please can you ask Siteground to update the php version at least to the version 5.6, the same happen with the languages pack who don’t match the current version of

[2017-07-12 21:51] Sandra97 commented on #994
Hi Djamel,

Regardin the PHP version, it has already been reported and they are working on it. See #983

I'll inform SiteGround  for the language packs.

[2017-07-13 12:13] brianteeman opened #995 "JED down"
http://downforeveryoneorjustme.com/extensions.joomla.org

It's not just you! extensions.joomla.org looks down from here.

[2017-07-13 13:48] zero-24 commented on #995
Looks like it is up again?
![image](https://user-images.githubusercontent.com/2596554/28169462-abb77f30-67e2-11e7-9241-7389efd2b75b.png)

[2017-07-13 13:56] Sandra97 commented on #995
Yes it's back online

[2017-07-13 14:12] #995 closed

[2017-07-13 19:25] webdjam commented on #994
Hi Sandra,
Thank you for reporting the issue on the language packs.

[2017-07-15 17:16] #954 closed

[2017-07-17 08:22] ufuk-avcu opened #996 "[jshow] Can't upload image"
Hi everyone,

this is not verified by me. I got a mail from a guy, who try to add his own site to the showcase.

Best regards

[2017-07-17 10:17] Sandra97 commented on #996
Sébastien is not available for the next 2 weeks, he will look at Showcase issues when he is back.

I just checked if I can reproduce. I confirm when you upload a picture, you have each time an `Unknown error`

[2017-07-17 10:29] zero-24 commented on #996
Is there a special error or just `Unknown error` ? As the new mime type checks may force to check the allowed mime types in the backed.

[2017-07-17 10:35] Sandra97 commented on #996
Just Error: Unknown Error, nothing else displayed.

[2017-07-17 10:45] zero-24 commented on #996
hmm do you have a login for the backed? If yes can you check the com_media upload settings? And try to upload the same file using com_media? If that is working it could be something else.

[2017-07-17 10:47] Sandra97 commented on #996
Nope I don't have access. Can't help with that.

[2017-07-17 10:49] Sandra97 commented on #996
@alexandrelapoux @oliviernolbert Would it be possible for one of you to look at that issue?

[2017-07-17 21:39] AMurray2016 opened #997 "[jforum] Problem with forum.jooma.org"
I don't know if this is the correct place to report this but I cannot get into https://forum,joomla.org  it is giving me "time out" errors.  All other Joomla.org sites work and my internet connection generally is working fine.  The forum site's been down for a couple of days.

[2017-07-17 21:46] AMurray2016 commented on #997
This is occurring in multiple browsers ex: firefox, Chrome etc.  I thought it might be my firewall at first blocking the site, but can't identify any issues there, and the forum site/domain is in my "trusted sites" list in the Windows Control Panel internet options settings.

[2017-07-17 21:54] Sandra97 commented on #997
Hello,
For forum.joomla.org, maybe better to fill the form: https://community.joomla.org/helpdesk/forum-un-ban-request.html

[2017-07-17 21:57] Sandra97 commented on #993
@ooffick Could you give a look?
Thanks!

[2017-07-17 21:59] Sandra97 commented on #977
No need to keep this issue opened.
I'm closing it.
Re-open if needed.

[2017-07-17 21:59] #977 closed

[2017-07-17 22:02] Sandra97 commented on #858
@nileshprasad137
Is this issue still valid?

[2017-07-17 22:02] AMurray2016 commented on #997
Have submitted the help ticket.
Thanks

[2017-07-17 22:02] #997 closed

[2017-07-17 22:04] Sandra97 commented on #583
I think we are supposed to keep the bang in graphics and trademarks.
But well, who knows ;)

[2017-07-17 22:15] MATsxm opened #998 "[jcomm] _blank the links please"
https://community.joomla.org/blogs/leadership/3122-project-budget-for-2017-18-finalised.html
could someone _blank the links please as if you play with tabs on google doc you have to back 10 times before reaching the original page.

[2017-07-17 22:20] Joomv commented on #998
done

[2017-07-17 23:02] MATsxm commented on #998
thanks and 😗

[2017-07-17 23:02] #998 closed

[2017-07-18 09:04] Hils commented on #583
https://volunteers.joomla.org/board-of-directors/reports/567-osm-inc-full-board-meeting-june-22-2017

I can't see a date on the doc that @MATsxm linked to, which I think is critical especially on policy documents which change over time.

[2017-07-18 19:22] ooffick commented on #993
Hi,

I have looked at this, and added temporarily a better title, what title/description would you or the SEO team suggest?

Kind Regards
Olaf

[2017-07-19 07:38] oliviernolbert commented on #996
Hi @Sandra97 We're checking this issue.

[2017-07-19 08:02] zero-24 opened #999 "[jforum] uptimereport IP got blocked by the forum on 15.07.2017"
It looks like the uptimereport IP got blocked by the forum on 15.07.2017: https://stats.uptimerobot.com/oVJJqSrX7/778232605

![image](https://user-images.githubusercontent.com/2596554/28356693-41a0041a-6c69-11e7-854d-7787bb618f92.png)

Here the current IP's from uptimereport can be found: https://uptimerobot.com/locations.php

As the page is reported to be down but it is not ;)

[2017-07-19 09:22] oliviernolbert commented on #996
@Sandra97 Maybe there's no disk space left on the server? Could someone with access to server info check this?

[2017-07-19 09:29] uglyeoin commented on #993
What you have used looks fine to me but I defer to the SEO team who may decide to change it.  I personally would remove "index page" if at all possible as it dilutes the message and is irrelevant.  In fact it's likely to be on many PHP BB or whatever forum software we're using.

[2017-07-19 09:48] Sandra97 commented on #996
Hi @oliviernolbert
Disk usage is ok so it's not the issue.
![cpanel - main](https://user-images.githubusercontent.com/4682328/28361162-e365bb2e-6c45-11e7-8e50-287f71357edf.png)

[2017-07-19 10:09] eliramalho opened #1000 "can't update my profile in joomler profile"
I can't update my profile in joomler profile at https://volunteers.joomla.org/
whith this data:

    foto,
    https://github.com/eliramalho,
    https://linkedin.com/in/eliramalho,
   etc...

I'm already registered, but when try update with the informations that you suggest give me ther 404 error.

Let me know any news about it.

[2017-07-19 10:48] Sandra97 commented on #1000
Hello!
Could you please post your issue in the Volunteers Repository:
https://github.com/joomla/volunteers.joomla.org/issues/new?body=Please%20describe%20the%20problem%20or%20your%20issue
Thank you!

[2017-07-19 11:08] sanderpotjer commented on #1000
@Sandra97 I can help from here, no problem.

@eliramalho could you give it another try? I think it should work now for you.

[2017-07-19 15:16] Joomv commented on #993
I would kill the second Joomla!

So - Joomla! Forum - community, help and support

Chris is still working with the JED, the forum is on our list for help, but until the JED is done, we don't have the capacity.

[2017-07-19 15:37] ooffick commented on #993
Thanks, I have changed this as requested.

[2017-07-22 18:43] zero-24 commented on #999
Just also reported it to: https://community.joomla.org/helpdesk/forum-un-ban-request.html

[2017-07-24 09:01] oliviernolbert commented on #996
Hi @Sandra97,

After several tests (not easy as we can not display errors on website), we've noticed the issue is coming from the Ajax POST call that tries to push the images on the server. Ajax GET calls work.

Can someone check if there was a configuration update or a new security rule done in the previous weeks because the code is still the same on our side for the image upload management.

Can

[2017-07-24 09:50] Sandra97 commented on #996
Hi @oliviernolbert

Do you know at which date you updated to 3.7.3?
Not that uploading pictures were working fine until July 6th (last time I submitted successfully a site).

[2017-07-24 10:12] Sandra97 commented on #996
It seems there's no restriction for the images folder.

There appears to be be a lot of extensions that are out of date.
Could you please make sure everything is up to date first including the template?
If that doesn't fix it, with a fully up to date system, we'll talk to Rochen.

[2017-07-24 12:55] genr8r commented on #583
Thanks for weighing in @Hils. Based on conversation from our team meeting last week and the feedback above, it sounds as though we are in compliance on this. Please reopen if I am in error.

[2017-07-24 12:55] #583 closed

[2017-07-24 12:58] genr8r commented on #878
Hey @sebastienlapoux, we included this concern in the working specification for the next iteration of the JRD. We will be posting the spec for review when it is completed. I am going to close this feature request. Feel free to let me know if you need anything further on this.

[2017-07-24 12:58] #878 closed

[2017-07-24 14:06] genr8r commented on #965
Hi @dcassone. I have a user account for you in our system but am not seeing a listing application or any support requests in our system.
You can login and go here... https://resources.joomla.org/en/my-jrd-listing to apply for a listing.
Please also report any concerns about listings or the approval process to our ticket system at https://resources.joomla.org/en/help-desk (again after logging in).

[2017-07-24 14:06] #965 closed

[2017-07-24 14:12] dcassone commented on #965
Hi,

I’m not sure where you are looking, or if I put it into the wrong area, but there is a listing listed in my account (djc1) for Zacaw Enterprises, Inc.

It was suggested to me that I contact this github because my listing has not been approved since February

thank you for your reply!
Dom

[2017-07-24 14:47] Hils commented on #583
Oh dear - we spoke too soon!

OSM, Inc - Full Board Meeting - July 20, 2017
https://volunteers.joomla.org/board-of-directors/reports/602-osm-inc-full-board-meeting-july-20-2017

@genr8r

[2017-07-24 15:15] MATsxm commented on #583
@Hils
OFC as it is a legal topic whatever some self-proclaimed jurists think...

[2017-07-24 15:32] Hils commented on #583
Let's just hope that we all stay awake long enough, or live long, enough to implement the !rulz!

[2017-07-24 16:50] genr8r commented on #583
I am good with whatever. Just seeking clarity. Thanks for the follow ups.

[2017-07-25 10:12] anibalsanchez opened #1001 "joomla-cms/releases - Deceptive Site!"
Hi,

Today, I'm finding that Chrome and Firefox are reporting that the download of a Joomla version from github https://github.com/joomla/joomla-cms/releases is coming from a **Deceptive Site**.

*Deceptive Site!

This web page at github-production-release-asset-2e65be.s3.amazonaws.com has been reported as a deceptive site and has been blocked based on your security preferences.

Deceptive sites a

[2017-07-25 11:38] mbabker commented on #1001
Contact GitHub.  All we can do is click that same link.

[2017-07-25 11:45] zero-24 commented on #1001
I have just contacted them via the contact form. Lets see what they respond.

[2017-07-25 12:24] zero-24 commented on #1001
This is the response so it is known and they are working on a fix.

[code]

[2017-07-25 15:30] zero-24 commented on #1001
I have just got response that is is working again. For me it does. IMO this can be closed than.

[2017-07-25 16:10] anibalsanchez commented on #1001
Yes, it works from my side too.

[2017-07-25 16:10] #1001 closed

[2017-07-26 06:16] franz-wohlkoenig opened #1002 "[jshow] Instagram-Logo not shown"
As Title say:
![bildschirmfoto 2017-07-26 um 08 14 55](https://user-images.githubusercontent.com/8235763/28607143-bc5d35ee-71da-11e7-8475-09e87b34d4ea.jpg)

[2017-07-26 08:44] brianteeman commented on #983
@kirilhristov I just checked and my sites on joomla.com are still displaying the php message. So neither the servers have been updated nor the plugin disabled

[2017-07-26 10:03] Sandra97 commented on #1002
It's because the template hasn't been updated since April.
Duplicate of #989

[2017-07-26 10:03] #1002 closed

[2017-07-26 10:52] kirilhristov commented on #983
@brianteeman We are still rolling out the php update on all servers. It's taking longer than expected.

As for the plugin, I am sorry for not being completely clear. By "disabled by default" I meant we disabled it for new activations by default, we did not alter the sites of existing users. However, since we need a bit more time for the update, we will disable the plugin for existing users later t

[2017-07-28 18:14] Rafael-Honorato opened #1003 "[joomla.org]"
Hey! I Think That theres an error on this page(https://docs.joomla.org/J3.x:Joomla_Standard_Icomoon_Fonts).

on 'Example for a light DatePicker XML field definition' theres two 'type=calendar' and it makes an error.
I Hope help with it. Sorry for my bad english o/.

[2017-07-28 18:28] zero-24 commented on #1003
HI,

thank you for reporting but i can not find the string you mention on that page? you may want to report a different page?

[2017-07-28 19:33] hvdmeer commented on #1003
I think he means this page: https://docs.joomla.org/Calendar_form_field_type

[2017-07-28 19:40] zero-24 commented on #1003
Please check that page again. I have just fixed that with the last change. Please let me know if you still see errors.

I'm closing here for now reopen if needed.

[2017-07-28 19:40] #1003 closed

[2017-08-01 11:13] samniosaki opened #1004 "[jrd] Broken Pages"
There are pages that fail to load the template.

http://resources.joomla.org/en/component/zoo/category/design-development/3

![mozilla_firefox](https://user-images.githubusercontent.com/30624126/28822846-b90f1c10-766f-11e7-88fd-d8307a4dfada.jpg)

[2017-08-01 19:22] coolcat-creations opened #1005 "[joomla.org]"
The OG Tag of the 3.7 Landingpage shows still Do more with Joomla 3.5

![image](https://user-images.githubusercontent.com/828371/28842841-78f04150-76ff-11e7-8d9a-326175e90a1c.png)

[2017-08-02 00:32] Sandra97 commented on #1005
Can't reproduce.

OG information are the right one.

![2](https://user-images.githubusercontent.com/4682328/28852605-748164a2-76f8-11e7-8b42-07eadfcff0b4.png)
![capture-d ecran-2017-08-01-20 30](https://user-images.githubusercontent.com/4682328/28852606-74820ce0-76f8-11e7-90e9-3b892623decf.png)

[2017-08-04 03:55] CelticHawaiian opened #1006 "[joomla.org]"
Hi,
I cannot get access to work on my site .
The 'Https' is not there, only 'Http' , so it's not a secure sign in .
Please help!
thank you,

[2017-08-04 04:23] franz-wohlkoenig commented on #1006
Please ask help on the [forums](https://forum.joomla.org/). This repository concerns Joomla websites like joomla.org.

[2017-08-04 09:50] #1006 closed

[2017-08-07 12:20] Sandra97 commented on #1005
As the OG tag is correct. I'm closing this issue.
Re-open if needed.

[2017-08-07 12:20] #1005 closed

[2017-08-07 13:58] coolcat-creations commented on #1005
Looks like it´s a caching issue in Skype. Thank you!

[2017-08-08 07:39] kirilhristov commented on #983
All joomla.com servers are now running PHP 7.1.

Please review and close the issue (it seems I can't). Thanks for your patience!

[2017-08-08 09:43] Sandra97 commented on #983
@brianteeman When you can, could you confirm it's ok for you? Thanks!

[2017-08-08 11:45] Sandra97 commented on #996
Uploading images work again.
I'm closing this issue.
Re-open if needed.

[2017-08-08 11:45] #996 closed

[2017-08-08 11:45] Sandra97 commented on #989
@sebastienlapoux Could you please update the template?
Thanks!

[2017-08-08 11:46] Sandra97 commented on #987
Issue is still there, I can't select tags properly.
@sebastienlapoux Coud you give a look? Thank you!

[2017-08-09 15:02] brianteeman commented on #983
all ok

[2017-08-09 15:02] #983 closed

[2017-08-09 17:58] brianteeman opened #1007 "[jcomm] event sharing"
it would be really useful if there were social sharing links on the events listings

[2017-08-09 21:27] Joomv commented on #1007
Agreed - added to to do list.

[2017-08-09 21:29] brianteeman commented on #1007
Thanks - should i close this here?

[2017-08-10 00:16] Joomv commented on #1007
No leave it open please so it reminds me.  Will close when I've done it.

[2017-08-10 16:46] chriswagner0815 opened #1008 "[jshow] - Links to categories on domain root are NOT put in"
Hi guys,
on the domain root of showcase.joomla.org, all the links to the categories on the bottom are gone. Earlier, one could click on those to see the category.

Please fix this :)
Kind regards
Chris
SEO-Team

[2017-08-10 16:47] Sandra97 commented on #1008
I confirm this issue. The "Browse Categories" elements don't have anymore links and is so totally useless

[2017-08-10 17:05] chriswagner0815 opened #1009 "[jshow] Directory-Index visible to outsiders (missing empty index.html?)"
The page: https://showcase.joomla.org/media/sourcecoast/ can be seen as directory listing in the browser.
Maybe it lacks an empty index.html or should be blocked by the server system (Error 403 by default?)

Chris
SEO-Team

[2017-08-10 17:06] Sandra97 commented on #1009
I can confirm.

[2017-08-10 17:13] chriswagner0815 opened #1010 "[jshow] No Sitemap.xml present, no link in robots.txt to sitemap.xml"
We need to have a sitemap for Google to avoid all the parameter pages getting into the index (have been blocked via Webmaster Tools by me today).

For this reason, I am attaching a current sitemap.xml file to make Google understand which pages are important to us.

Please also put in a link to the sitemap in the robots.txt file of the showcase-directory with the following content once you have upl

[2017-08-11 10:57] brianteeman commented on #1009
Thats a server configuration issue. The blank index.html where only in joomla to cope with bad server configurations. The correct response is to fix it at the server level or failing that to add O`ptions -Indexes`
 to the htaccess file. Note that this is in the default joomla htaccess anyway so this must have been removed :(

[2017-08-11 12:18] chriswagner0815 commented on #1009
Hey Brian,
neither Sandra nor I have access. Hope that someone with access can take care of that! :)

[2017-08-12 10:00] jeckodevelopment commented on #1009
@Joomv / @mbabker do you have access to it?

[2017-08-12 13:55] Joomv commented on #1009
Sorted.  Closing.

[2017-08-12 13:55] #1009 closed

[2017-08-12 14:25] Sandra97 commented on #1009
Thank you Rowan!!

[2017-08-13 16:35] jeckodevelopment opened #1011 "[jshow] Can't browse categories"
In the showcase homepage, browsing by category is not possible.

![image](https://user-images.githubusercontent.com/733133/29251517-1d10ecee-8056-11e7-8bfe-318d283f7c1b.png)

No active links in the categories list.

[2017-08-13 16:45] mbabker commented on #1011
Duplicate of #1008

[2017-08-13 16:45] #1011 closed

[2017-08-15 12:10] brianteeman opened #1012 "[joomla.org] subdomain.jooma.org"
Regularly I type download.joomla.org instead of downloads and this results in an ugly ERR_NAME_NOT_RESOLVED page

Is it possible to setup a wildcard redirect to www.joomla.org for all non-existent subdomains?

[2017-08-15 12:28] zero-24 commented on #1012
IIRC just subdomains don't cost anything so we can also do
download.joomla.org => downloads.joomla.org for that specific one for others a wildcard would be great sure ;)

[2017-08-15 13:02] Radek-Suski commented on #1012
As I remember @mbabker was against it 🤔

[2017-08-15 13:05] mbabker commented on #1012
As long as the aliases are proper redirects and not actually serving the same site under three separate subdomains (I'm staring at you, `(tm|trademark|license).joomla.org`), then let's get it set up.

[2017-08-16 12:18] brianteeman opened #1013 "[jcm] Share to Facebook"
If you try to share an article to facebook after you have pressed POST then you are redirected to a url `https://www.facebook.com/dialog/return/close#_=_` which I am sure is supposed to do something but it doesnt

[2017-08-16 17:20] JacquesR commented on #1013
That is the link that FB shows after you share the post, and before FB closes the share window.

The code on the JCM previously did not open the share page in a new window, and that may be why it gets stuck there.

I've updated the JCM share code to also open a new window. (similar to how it's done on the rest of the J sites)

[2017-08-16 17:38] brianteeman commented on #1013
its working now - thanks for the quick fix

[2017-08-16 17:38] #1013 closed

[2017-08-17 21:44] xgasser opened #1014 "[joomla.org]"
My webpage recently has these lines of text and trying to figure out if this is a Joomla issue or my web host issue?

hotshirtsonline.com

Has a bunch of text lines throughout similar to this:

Strict Standards: Non-static method mosMainFrame::sessionCookieValue() should not be called statically, assuming $this from incompatible context in /home/hotshirt/public_html/includes/joomla.php on line 349

[2017-08-17 21:59] zero-24 commented on #1014
Hi @xgasser You are using a version that is out of support atleast since 22 July 2009 it looks like your hoster or yourself updated the PHP Version where the old code did not work anymore without error messages.

Please contact the Joomla Forum at https://forum.joomla.org or better the company that have set up your site so that site can be migrated on the latest Joomla version.

You can find the l

[2017-08-17 21:59] #1014 closed

[2017-08-18 05:47] dev-yesapps opened #1015 "[joomla.org] - Your Logo has been misused"
On of the Biggest Bank in India "State Bank Of India" has been using Joomla Logo as "Usefull Links" ICON in their Account Dashboard

![screen shot 2017-08-18 at 11 13 28 am](https://user-images.githubusercontent.com/21323782/29445837-7552e25a-8406-11e7-8cb0-aeb8e62d1eb8.png)

[2017-08-18 09:12] zero-24 commented on #1015
Thanks for your report. I have just forwarded that to the Trandmark Team and got this as ticket ID: [REPORTS-XD7EZ8127K]

When I hear anything for them I come back to you. Thanks for the report.

[2017-08-18 18:10] Joomv commented on #1015
This is coming from Font Awesome.  Not too sure what we can do about that.

[2017-08-19 02:14] H3artAttk opened #1016 "[forum.joomla.org]"
Changed site to force HTTPS and clicked save and close and was kicked of site. Now I receive a 404 Error code and cannot login to admin page.

[2017-08-19 03:52] dev-yesapps commented on #1015
Your wish.. I think even it is "font awesome" icon they have to use it only for mentioning for joomla only.. I am just informing..
Thank you

[2017-08-19 04:50] franz-wohlkoenig commented on #1016
Please ask help on the [forums](https://forum.joomla.org/). This repository concerns Joomla Websites like joomla.joomla.org/.

[2017-08-19 07:28] #1016 closed

[2017-08-19 08:45] mrhossein2017 opened #1017 "[joomla.org] مشکل در کلاس دادن به عنوان و محتوای فیلدهای جوملا 3.7"
وقت بخیر
در جوملا 3.7 در کامپوننت فیلد نمی توان به  field value و field label در فیلدها کلاس اختصاص داد. لازم است در تنظیمات هر فیلد دو قسمت دیگر برای کلاس دادن به label و value  اختصاص داده شود. در حال حاضر تنها امکان اختصاص دادن کلاس به field-entry  وجود دارد.
ضمنا پلاگین درج فیلد در مطلب کلاس اختصاصی و سفارشی شده ی فیلدها را نمی تواند بارگزاری نماید و تنها کلاس های عمومی را نمایش می دهد. باید ا

[2017-08-19 08:49] zero-24 commented on #1017
Hi @mrhossein2017 ,

this is a tracker for issues with the *.joomla.org network. For support and help with your sites please use our forum you can find at https://forum.joomla.org

For issues with the CMS please fill out [this form](https://github.com/joomla/joomla-cms/issues/new) with all the infos and preferable in english.

As this is not touching the *.joomla.org network i'm going to close thi

[2017-08-19 08:49] #1017 closed

[2017-08-19 09:08] mrhossein2017 opened #1018 "Weakness in style customization of Joomla! Fields 3.7"
Good time
In the Joomla 3.7 custom class is applied to the field-entry and there is no possibility of custom-field-label and field-value for each field separately. This means you can not (for example) label your field blue and red its value. These two parts can not be designed separately

[2017-08-19 09:11] franz-wohlkoenig commented on #1018
Please ask help on the [forums](https://forum.joomla.org/). This repository concerns Joomla Websites like joomla.org.

[2017-08-19 10:06] zero-24 commented on #1018
hi. I guess it is the same request as https://github.com/joomla/joomla-websites/issues/1017 So please use the forum or use the issue tracker of the CMS: https://github.com/joomla/joomla-cms/issues/new

[2017-08-19 10:06] #1018 closed

[2017-08-22 18:59] culverpalmsumc opened #1019 "[forum.joomla.org]"
Website URL: www.culverpalmsumc.org
Contact: Linda at 310-390-7717 or culverpalmsumc@yahoo.com

This is what It gave me after updating a couple of weeks ago and won't let me update this part anymore.

Warning: Invalid argument supplied for foreach() in /home/content/81/9328481/html/components/com_roksprocket/lib/RokSprocket/Provider.php on line 123

Warning: Invalid argument supplied for foreach()

[2017-08-22 19:02] franz-wohlkoenig commented on #1019
Please ask help on the [forums](https://forum.joomla.org/). This repository concerns Joomla Websites like joomla.org.

[2017-08-22 19:08] culverpalmsumc opened #1020 "Won't let me update Rocsprocket"
Website: www.culverpalmsumc.org
Please contact: Linda 310-390-7717 or culverpalmsumc@yahoo.com

This is what I'm getting when I try to I go to Rocsprocket part of the backend. It wont let me update information.

Warning: Invalid argument supplied for foreach() in /home/content/81/9328481/html/components/com_roksprocket/lib/RokSprocket/Provider.php on line 123

Warning: Invalid argument supplied fo

[2017-08-22 19:08] #1020 closed

[2017-08-22 22:22] #1019 closed

[2017-08-24 12:05] brianteeman opened #1021 "[jconf] Text is overflowing container"
When following the link `https://conference.joomla.org/#bottom4` from the last tweet

<img width="930" alt="screenshotr13-03-13" src="https://user-images.githubusercontent.com/1296369/29665595-ab5aa1e2-88cc-11e7-9b66-5133825e9966.png">

[2017-08-24 13:59] Joomv commented on #1021
Check now please? Might need a hard refresh.  Open again if not fixed.  Thanks

[2017-08-24 13:59] #1021 closed

[2017-08-24 15:07] brianteeman commented on #1021
all good thanks

[2017-08-24 17:49] jeckodevelopment commented on #1015
Thanks for reporting.
As said by Rowan, we can't do too much in such case.
But we can try to contact them, asking to choose a proper icon for that.

[2017-08-27 09:21] brianteeman opened #1022 "[japi] old sites"
through google search I ended up on the following old sites. Do we still need them? If we do should the copyright and menus be updated?

https://api.joomla.org/1.5/
https://api.joomla.org/11.4/

[2017-08-27 15:59] mbabker commented on #1022
They are left online for reference purposes but [aren't indexed](https://api.joomla.org/robots.txt).

I also don't have access to the source template files to be able to recompile those areas using the existing templates and I'm honestly not sure what the result would be if we were to try and run the current phpDocumentor build against our current template source.

[2017-08-27 16:10] brianteeman commented on #1022
That only stops indexing from the date it was added. It doesn't remove existing indexes which is how I found it

[2017-08-27 16:19] mbabker commented on #1022
IMO there's no harm in keeping the content online.  If someone wants to try and recompile the CMS 1.5.26 and Platform 11.4 docs against the [current template](https://github.com/joomla/api.joomla.org) and make sure things are actually displayed OK, you basically need to configure the current phpDocumentor 2.x release using [this command](https://github.com/joomla/joomla-cms/blob/staging/build.xml#

[2017-08-29 23:11] ClareHF opened #1023 "[joomla.org]"
My website can't be read and has all the programming details;www.musicfunforeveryone.com.au
I can't access my email clare@musicfunforeveryone.com.au

[2017-08-30 01:30] Sandra97 commented on #1023
Hi,

This repository is ONLY for reporting issues with the *.joomla.org websites, not about the Joomla! CMS.

For user support issues, please go to:
-https://forum.joomla.org/
-https://docs.joomla.org/Main_Page
or repport an issue on: https://issues.joomla.org/

Regards,
Thanks

[2017-08-30 01:30] #1023 closed

[2017-08-30 05:55] ClareHF commented on #1023
Could you please have a look at these two items

[2017-08-30 08:53] Sandra97 commented on #1023
@ClareHF The official [Forum](https://forum.joomla.org/) is the right place to post your issue and get help with your site.

[2017-08-30 18:39] genr8r commented on #1004
Sorry I forgot to loop back on the issue here. I got this one taken care right after it was posted...

https://resources.joomla.org/en/category/design-development/3

Feel free to re-open if there are any further concerns.

[2017-08-30 18:39] #1004 closed

[2017-08-31 02:36] AndrewYoung1515 opened #1024 "I am trying to sign in to the portal and it won't take my username, email or password"
My website is ncstrategies.org and I am trying to log in to the portal for the first time.

It will not take my username, email or password and I cannot reset it. Can someone please help?

[2017-08-31 04:30] franz-wohlkoenig commented on #1024
Please ask help on the [forums](https://forum.joomla.org/). This repository concerns Joomla coding.

[2017-08-31 08:58] #1024 closed

[2017-08-31 09:12] sebastienlapoux commented on #1010
Hi @chriswagner0815 ,

done https://showcase.joomla.org/sitemap.xml
Sitemap: https://showcase.joomla.org/sitemap.xml added on https://showcase.joomla.org/robots.txt

Quick question: is it really useful to add the sitemap into the robots.txt? Who use it?

I don't see into robots.txt something about /showcase/

Thanks!

[2017-08-31 09:15] sebastienlapoux commented on #989
@Sandra97 , thanks will be done next week.

[2017-08-31 09:21] sebastienlapoux commented on #988
Hi @Sandra97 ,
Currently you can use the report button to request it.
Yes, can be an enhancement.

Maybe not delete definitively but more to change the state. How to manage the link (404 or other)? Redirection? Or we don't care.

Thanks

[2017-08-31 09:22] sebastienlapoux commented on #987
Thanks @Sandra97 .
Confirmed, working on it.

[2017-08-31 09:24] #1010 closed

[2017-08-31 09:24] sebastienlapoux commented on #1008
Thanks! in progress

[2017-08-31 09:39] Sandra97 commented on #988
Merci Sébastien !
We care about 404 ;)
Just use the com_redirect for them.

[2017-08-31 09:40] Sandra97 commented on #989
Thanks Sébastien!
When main issues are solved, we will start promoting again the Showcase on Social Media. Several posts are already ready.

[2017-08-31 12:47] ClareHF commented on #1023
I have registered for the Forum but it hasn't helped.  How do I post
something and get assistance?

On Wed, Aug 30, 2017 at 6:53 PM, Sandra Decoux <notifications@github.com>
wrote:

[2017-08-31 13:46] oliviernolbert commented on #1008
Hi, Should now be fixed.

[2017-08-31 14:43] Sandra97 commented on #1008
Yes it's fixed. Thank you!
Closing this issue.
Re-open if needed.

[2017-08-31 14:43] #1008 closed

[2017-08-31 20:56] brianteeman opened #1025 "[jcertif] map"
https://certification.joomla.org/exam/upcoming/list/calendar/date/at,2017.9

is the map supposed to show anything. i expected to see markers for the european events

<img width="972" alt="screenshotr21-55-40" src="https://user-images.githubusercontent.com/1296369/29944939-2b3f93b6-8e97-11e7-857d-392906afb9f9.png">

[2017-08-31 21:30] Joomv commented on #1025
I need to look at this further the dynamic view is breaking. I've turned it off so all upcoming exams show whilst I look to fixing it so it shows in line with the month.

[2017-08-31 21:36] Joomv commented on #989
@sebastienlapoux  Make sure when you update the template that you replace the helpers/template.php file with the one in the repo or your cache will explode.

[2017-08-31 21:48] Joomv commented on #1007
This is done.  Share this page; feature rolled out across all components replacing other, article only, plugin.

[2017-08-31 21:48] #1007 closed

[2017-08-31 21:52] brianteeman commented on #1007
Thanks but there is something not quite right as the text is wrong- for example

`The Joomla! Events Directory https://community.joomla.org/events/3577-summer-open-source-sprint-london.html via @joomla`

[2017-09-01 09:18] Joomv commented on #1007
Need to work the meta fields a bit.

[2017-09-01 12:51] Joomv commented on #1007
Ok this is much better now.
Pulls Event Title,  Date for Description, Event Image.
Scrapes well on Twitter and Facebook.

[2017-09-06 08:22] brianteeman opened #1026 "[jdocs] spam"
I was searching the docs site for "telephone" and i found a lot of spam posts

https://docs.joomla.org/index.php?search=telephone&fulltext=1

[2017-09-06 08:37] hvdmeer commented on #1026
@hutchy68 is this for you?

[2017-09-06 11:43] Hutchy68 commented on #1026
Yep. All those pages listed are deleted. Google should not be showing them. I'll make some tweaks to cse.

[2017-09-06 12:03] AndySDH opened #1027 "[jdocs] Can we have better documentation for Text Filters in Custom Fields?"
The current documentation (https://docs.joomla.org/Help37:Components_Fields_Fields_Edit) doesn't exactly explain much...

    No: Not.
    Raw: Raw.
    Safe html: Safe html.
    Text: Text.
    Alpha Numeric: Alpha Numeric.
    Integer: Integer.
    Float: Float.
    Telephone: Telephone.

Can we have a better documentation on how each of this selections differ from the others?

[2017-09-06 22:51] Hutchy68 commented on #1026
So this is going to take some time to figure out why in the heck Google is not obeying...

`<meta name="robots" content="noindex,nofollow">`

Google CSE is completely ignoring that meta tag which is embedded on all the pages shown in the search results.

[2017-09-07 12:43] Hutchy68 commented on #1027
It's a wiki, feel free to improve it. Or if someone else will step up, please do so.

You left out the key statement above each list, "Filter. Allow the system to save certain html tags or raw data." Filters could be used on different fields too depending on one selected.

Do a search on docs for "fields filter" to see more details per field type with examples.

[2017-09-07 12:51] Hutchy68 commented on #1026
Manually told Google to remove them. CSE is now tied to Search Console in Webmasters Tools only now. Almost 30 removed by this morning, added the last 16, so they should drop out today at some point. I'm just unsure if they will stay out. The pages are returning a 404 in the header besides being `noindex,nofollow` so they should stay gone.

Thanks for the heads up. Closing

[2017-09-07 12:51] #1026 closed

[2017-09-07 13:11] Hutchy68 opened #1028 "[help] help.joomla.org/proxy is being Search Indexed"
We don't have a Search Console setup (Webmaster Tools) for help.joomla.org? At least that is what Google is stating. [Link to site:help.joomla.org search](https://www.google.com/search?source=hp&q=site%3Ahelp.joomla.org%2Fproxy&oq=site%3Ahelp.joomla.org%2Fproxy&gs_l=psy-ab.3...65718.75386.0.75805.30.27.1.0.0.0.213.2009.24j1j1.26.0....0...1.1.64.psy-ab..3.5.567.0..0j46j0i131k1j0i46k1.J8Ak0u4e2u4)

[2017-09-07 13:12] mbabker commented on #1028
Send a PR to https://github.com/joomla/help.joomla.org with an appropriate robots.txt file and I'll deploy it.

Also seems https://help.joomla.org/robots.txt exists on the server but not in the repo...

[2017-09-07 14:29] Hutchy68 commented on #1028
So bigger question is robots.txt on server shows a disallow. Why are they indexed?

[2017-09-07 14:48] mbabker commented on #1028
No idea.  I just claimed Search Console on my account though so I've got that now.

[2017-09-07 16:05] brianteeman commented on #1026
Thanks a lot seems a lot better already

[2017-09-07 19:38] Hutchy68 commented on #1028
Ok, I see why. Disallow: /proxy/ as a folder and not Disallow: /proxy. URL is formed as `/proxy?keyref....`

I'll add robots.txt to repo and push a PR.

[2017-09-07 19:46] mbabker commented on #1028
The old URI schema was `/proxy/index.php?...`.  So both probably need to be in there to account for massively old site configs that would still use that schema and possibly make Google crawl those URLs.

[2017-09-08 09:03] AndySDH commented on #1027
@Hutchy68 I did, but I couldn't find explaination for what those individual options differ from each others.
`It's a wiki, feel free to improve it. Or if someone else will step up, please do so.`
I would have if I knew. That's why I'm asking :)

[2017-09-09 04:58] roicarl opened #1029 "[jdocs]"
https://docs.joomla.org/How_do_you_password_protect_directories_using_htaccess%3F

1. The htaccess link is broken.
2. Doesn't the standard htaccess included with Joomla prevent you from password protecting a directory?

[2017-09-09 07:40] anibalsanchez opened #1030 "Fake profiles on Volunteers"
Hi,

A JED user has reported in the forum that there is a fake profile on the site:

joomlers/2228-sizo

The profile is advertizing some kind of Yahoo service ...

A

[2017-09-09 10:44] pe7er commented on #1029
Thanks for reporting @roicarl !

The old link at the bottom http://www.webmaster-toolkit.com/htaccess-generator.shtml did not work anymore and I've changed it for https://www.htaccessredirect.net/

Joomla's default htaccess.txt that you enable on a Apache server by renaming to .htaccess, blocks on some common exploits and is used for Search Engine Friendly URLs.

[2017-09-09 10:44] #1029 closed

[2017-09-09 14:53] roicarl commented on #1029
2. Relative to 2 above. In trying to secure the Joomla Administrative folder with a cPanel generated password I was getting a 404 error. The following statement had to be added to the cPanel generated htaccess located in the Administrative folder: ErrorDocument 401 "Authorization required" - Perhaps this should be added to the documentation?

[2017-09-09 16:28] zero-24 commented on #1030
This is where the "report as spammer" button is for ;) I have just done that for that user.

[2017-09-09 16:38] anibalsanchez commented on #1030
Ahh, but the button is only shown when you are logged in. Most of the time is not visible.

[2017-09-09 16:40] zero-24 commented on #1030
Correct 😄 So we have no spammer in the "report as spammer" Button :P

[2017-09-09 16:59] anibalsanchez commented on #1030
Well, we have spammer profiles, so they are already in.

The button could be shown with a redirection to the login form.

[2017-09-10 13:03] pe7er commented on #1029
The docs.joomla.org website is a wiki. Which means that everybody can improve the documentation.
Feel free to improve it! Thanks!

[2017-09-12 05:26] franz-wohlkoenig opened #1031 "[jorg] Events from Past are shown"
Please delete gone Events from https://www.joomla.org/ like:

- JoomlaDay Gabon, September 8th-9th
- Summer Open Source Sprint London, September 9th

[2017-09-12 08:36] pctechnikch opened #1032 "[jhelp]"
When i go to help page, i have this error

RuntimeException

Error fetching page from MediaWiki API: The page you specified doesn't exist

Your Extension not working. I have only a button "administrator" with a blanc page.

Thanks

I have deinstalled.

[2017-09-12 11:45] mbabker commented on #1031
Updated.

[2017-09-12 11:45] #1031 closed

[2017-09-12 13:07] zero-24 commented on #1032
Please tell us which page you tryed to access maybe a scrennshot? Also which url did the popup open? Thanks.

[2017-09-12 14:06] pctechnikch commented on #1032
all forms

pctechnik.ch Herisau
René Grüter
Tobelackerstrasse
9100 Herisau
+41(0)71 351 58 05
+41(0)79 468 58 05
http://pctechnik.ch
________________________________
Von: zero-24 <notifications@github.com>
Gesendet: 12.09.2017 15:03
An: joomla/joomla-websites
Cc: pctechnik.ch Herisau; Author
Betreff: Re: [joomla/joomla-websites] [jhelp] (#1032)

Please tell us which page you tryed to access maybe

[2017-09-12 14:34] mbabker commented on #1032
From what area?  Is this with a core or third party extension?

All forms unfortunately isn't enough information to troubleshoot an issue.

It is a known issue that when you are on a component's options screen and click the help button, it does not work for third party extensions (we don't have help screens for third parties in our help system and there is still an effort to make that work correct

[2017-09-12 14:53] infograf768 commented on #1032
Which language do you use in backend?

[2017-09-13 20:58] Sandra97 commented on #1031
Thank you Michael!

[2017-09-15 12:07] coolcat-creations opened #1033 "[jtm] Can´t fill out a ticket"
The mandatory fields for company name and URL in the Trademark Complain Ticketsubmission Form are not editable.

Browser: Version 60.0.3112.113 (Official Build) (64-bit) macOS Sierra

[2017-09-16 11:15] violavzw opened #1034 "[jhelp]"
I have a website under joomla 2.5.11. since this week I'm getting problems.
1) captcha: on a form it wasn't possible to get a captcha code , so the forms were refused. I checked out the  capcha and then it worked again
2) I have a link with google agenda so people could make an online-appointment by clicking on a possibility en fill in the form. they can do all that ( joomla 2)except when they cli

[2017-09-16 11:20] zero-24 commented on #1034
@violavzw you are still using the very outdated and not longer supported version 2.5 Please ask for help in our forum: https://forum.joomla.org

This tracker is for issues with the joomla.org site network.

[2017-09-16 11:20] #1034 closed

[2017-09-17 05:29] franz-wohlkoenig opened #1035 "[jorg] Old Event is shown"
On the Frontpage of https://www.joomla.org/ an old Event is shown (JoomlaDay Mali, September 15th-16th).

Please delete it.

[2017-09-17 10:40] mandville commented on #1033
this now works.

[2017-09-17 11:07] coolcat-creations commented on #1033
Thank you! Worked. :)

[2017-09-17 11:07] #1033 closed

[2017-09-17 15:51] #1035 closed

[2017-09-18 16:44] kja8067 opened #1036 "[joomla.org]"
I am not able to log in to my admin account. It keeps coming back to the login page when I enter the correct information.

[2017-09-18 16:49] franz-wohlkoenig commented on #1036
Please ask help on the [forums](https://forum.joomla.org/). This repository concerns Joomla-Websites like joomla.org.